{% load msgs %}
{% load static %}

{% block modal_assets %}
{% endblock %}

<!-- Modal -->
<div class="modal fade {% block modal_classes %}{% endblock %}" id="modal" tabindex="-1" role="dialog" aria-labelledby="Form" aria-hidden="true">
    <div class="modal-dialog {% block modal_styles %}{% endblock %}">
        <div class="modal-content">
            <div class="modal-header bg-light text-dark">
                {% block modal_title_tools %}{% endblock %}
                <h4 class="modal-title">
                    {% block modal_title %}{% endblock %}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close">
                    <span class="ti ti-close p-1" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body"  id="modal-content">
                {% block modal_body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block modal_scripts %}
    <script>
    function initializeModal() {}
    $('#modal').on('shown.bs.modal', function() {
        initializeModal();
    });
    </script>
{% endblock %}
