{% extends "modal/content.html" %}

{% load msgs %}
{% load static %}
{% load crispy_forms_tags %}

{% block modal_assets %}
    <link rel="stylesheet" href="{% static "css/chosen.css" %}" media="screen"/>
    <link rel="stylesheet" href="{% static "css/select2.css" %}" media="screen"/>
    <script src="{% static "jquery/jquery.form.min.js" %}"></script>
    <script src="{% static "jquery/chosen.jquery.js" %}"></script>
    <script src="{% static "js/select2.full.min.js" %}"></script>
    <script src="{% static "jquery/repeatable-fields.js" %}"></script>
{% endblock %}

{% block modal_styles %}{% endblock %}
{% block modal_title %}{{ form.helper.title }}{% endblock %}
{% block modal_body %}{% crispy form form.helper %}{% endblock %}
