<form 
        method="post"
        id="lims-form" 
        class="objform_raw ajax"
        action='{{action}}' {% if enctype %}enctype='{{enctype}}' {% endif %}>
{% csrf_token %}
<ul class="form-body">
{% include "objforms/plain.html" %}
</ul>
<ul class="form-buttons">
<li class="submit-row">
<input id='btn0' type="button" value="Cancel" onclick="jQuery.fancybox.close();" />
{% if add_another %}
<input id='btn2' type="submit" value="{{ save_label|default:"Save" }}" class="default" name="_save" onclick="jQuery('#btn1').attr('disabled',true);" />
<input id='btn1' type="submit" value="{{ save_label|default:"Save" }} and add another" name="_addanother" onclick="jQuery('#btn2').attr('disabled',true);" />
{% else %}
{% if update_profile %}
<input id='btn2' type="submit" value="{{ save_label|default:"Save" }}" class="default" name="_save" onclick="jQuery('#btn1').attr('disabled',true);" />
<input id='btn1' type="submit" value="Update Profile" name="_updateprofile" onclick="jQuery('#btn2').attr('disabled',true);"/>
{% else %}
{% if not no_action %}
<input type="submit" value="{{ save_label|default:"Save" }}" name="_save" class="default" />
{% endif %}
{%endif%}{% endif %}
</li>
</ul>
</form>


