{% extends "modal/form.html" %}

{% load static %}

{% block form_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/live-forms.js' %}"></script>
    <script>
        jQuery(function() {
            {% if form.repeated_data %}
                setInitial({{ form.repeated_data|safe }});
            {% endif %}
        });
    </script>
{% endblock %}

{% block form_init %}
<script type="text/javascript">
function initForm() {
    var extra_modal = $('.extra-modal');
    extra_modal.each(function() {
       $(this).detach().appendTo($('#modal-target'));
    });
}
</script>
{% endblock %}