{% extends "forms/modal.html" %}

{% block form_init %}
<script type="text/javascript">
    function initForm() {
        $("#id_parent").change(function () {
            if ($(this).val()) {
                $("#id_location").chosen("destroy");
                var pk = $(this).val();
                $.ajax({
                    url: '{% url "update-locations" %}',
                    data: {
                        'pk': pk,
                    },
                    success: function (response) {
                        var  new_options = response;
                        $('#id_location').empty();
                        $.each(new_options, function(val, name) {
                            var selected = false;
                            if(name[0] == "{{ form.initial.location }}") {
                                var selected = true;
                            }
                            $('#id_location')
                                .append($('<option>', { value : name[0], selected: selected})
                                .text(name[1]));
                        });
                        $("#id_location").chosen({
                            placeholder_text_single: "Select an option",
                            search_contains: true,
                            allow_single_deselect: true,
                            disable_search_threshold: 8,
                        });
                        $("#id_location").trigger("change");
                    }
                });
            }
        });
        $("#id_parent").trigger("change");
    }
</script>
{% endblock %}


