{% extends "modal/modal.html" %}

{% block form_init %}
<script type="text/javascript">
    function initForm() {
        let parent =$("#id_parent");
        let location = $('#id_location');
        let url_template = '{% url "update-locations" pk=0 %}';
        let initial_location = "{{ form.initial.location }}";

        parent.change(function () {
            if ($(this).val()) {
                location.chosen("destroy");
                let pk = $(this).val();
                $.ajax({
                    url: url_template.replace(/\d+\//, pk),
                    success: function (response) {
                        let new_options = response;
                        let selected = false;
                        location.empty();
                        $.each(new_options, function(val, name) {

                            if(name[0] === initial_location ) {
                                selected = true;
                            }
                            $('#id_location')
                                .append($('<option>', { value : name[0], selected: selected})
                                .text(name[1]));
                        });
                        location.chosen({
                            placeholder_text_single: "Select an option",
                            search_contains: true,
                            allow_single_deselect: true,
                            disable_search_threshold: 8,
                        });
                        location.trigger("change");
                    }
                });
            }
        });
        parent.trigger("change");
    }
</script>
{% endblock %}


