{% load layout %}

{% block form_body %}
    {% if form.initial.shipment %}
        {% containers_from_queryset form.fields.containers.queryset as containers %}
    {% else %}
        {% containers_from_choices form.fields.locations.choices as containers %}
    {% endif %}
        <div id="layout-{{ field.name }}" class="layout-lg">
            <span class="group-name" style="display: none"></span>
            <div class="hidden">{{ field }}</div>
            <div class="col-xs-4">
                <ul class="nav nav-pills nav-stacked">
                    {% for container in containers %}
                        <li class="{% if forloop.first %}active{% endif %} overflow ellipsis">
                            <a data-toggle="pill" href="#form{{ container.0 }}"><strong>{{ container.1 }}</strong> | {{ container.2.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-8 tab-content">
                {% for container in containers %}
                    <div id="form{{ container.0 }}" class="tab-pane fade {% if forloop.first %}in active{% endif %}">
                    <div class="col-xs-12">
                        <div class="row">
                            <span class="col-xs-12 pull-right">
                                <a onclick="selectAll('{{ container.0 }}');" class="select-button btn btn-success">Select All</a>
                            </span>
                        </div><br>
                        <div id="formlayout-{{ container.0 }}"></div>
                        {% include "users/entries/layout-container.html" with selector="formlayout" object=container.0 kind=container.2 size=300 %}
                    </div>
                    </div>
                {% endfor %}
            </div>
            <br>
        </div>
<script>
    $(document).ready(function() {
        var group = "{{ object.name }}";
        openSelector(group);
    });
</script>
{% endblock %}

