{% extends "users/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/select2.min.css" %}" media="screen"/>
    <link rel="stylesheet" href="{% static "css/select2-bootstrap4.min.css" %}" media="screen"/>
    <script src="{% static "js/misc/jquery.form.min.js" %}"></script>
    <script src="{% static "js/misc/select2.full.min.js" %}"></script>
    <script src="{% static "js/jquery/jquery-ui.min.js" %}"></script>
{% endblock %}

{% block body_class %}survey{% endblock %}

{% block page_title %}{{ form.body.title }}{% endblock %}

{% block page_heading %}
    <h2 class="text-condensed">
        {{ form.body.title }}
    </h2>
{% endblock %}

{% block full %}
<form action="{{ form.body.form_action }}" method="post">
    {% if form.errors %}
        <div id="form-errors" class="alert alert-warning">
            <strong>It looks like there's a problem!</strong> Please correct the errors below.
            <hr class="my-2"/>
            <small>{{ form.errors }}</small>
        </div>
    {% endif %}
    {% crispy form form.body %}
    <hr/>
    {% crispy form form.footer %}
</form>
{% endblock %}