# git-ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.
*.py[oc]
*~
*.bk
*.cache
.pydevproject
.project
.~lock*
.settings
.idea
*.db
*.rpm
historical-*.json
test-*.json
*.sqlite?
junk
.dbinit
build.sh
settings_local.py
temp
tmp
/local/media/
/local/certs
/local/templates
/local/cache
/static/
