# git-ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.
*.py[oc]
*~
*.bak
*.cache
uploads/
attachments/
migrations/
junk/
/local/media/
/local/certs
/local/cache
/static/
mxlive.db
settings_local.py
