Django
asn1crypto
cryptography
django-crispy-forms
django-debug-toolbar-request-history
django-formtools
django-itemlist
django-memoize
django-model-utils
django-proxy
django-python3-ldap
jsonfield2
msgpack
numpy
pip-chill
psycopg2-binary
python-memcached
