table { border-collapse: collapse;  empty-cells: show;}
#content-title h2 {
    font-size: 20px;
    font-weight: bold;
    padding-right: 48px;
    line-height: 60px;
    display: block;
    float: left;
    
}


.object-tools a, .at a, .object-tools a:visited, .at a:visited { 
    color: #5b80b2; text-decoration: none !important;
}
.object-tools { 
    padding: 18px 0;
    position: relative;
    }

img { border: 0; }

/* Messaging System Popup */

.hidden {
    display: none;
}

.modal-content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 3px 10px #333;
    background: #eee;
    /*width: 700px;*/
    min-height: 250px;
    padding: 10px;}
.modal-content.wide {
    width: 900px !important;
}


.message-content {
  border: 1px solid #999;
  height: 21em;
  padding: 1em;
  background: #ccc;
  overflow: auto;
}

.message-body {
  font-family: serif;
  text-align: justify;
  font-size: 90%;
  border: 1px solid #000;
  background: #fff;
  line-height: 1.5em;
  min-height: 100%;
  padding: 3em;
  line-height: 1.5em;
}

.pagination { float: right; white-space: nowrap; line-height: 1.5em; padding: 0 0.5em; clear: both;}
.pagination a { margin-left: 0.3em; margin-right: 0.3em;}
.list-tools { min-height: 1.5em; clear: both; font-size: 90%;}
.tiny-list-tools { font-size: 90%; clear: both; padding-bottom: 2px; }

.entrysummary { vertical-align: top;}
.entrysummary th {
    text-align: left;
    font-style: italic;
    font-weight: normal;
    color: #666;
    padding-right: 0.5em;

}
.entrysummary td {
    text-align: left;
    font-weight: normal;
    font-size: 90%;
    width: 100%;
}

table.entrysummary {
    margin: 0.3em;
}


td.action {
    width: 20px;
}

.stats .category {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.stats .details em {
    font-weight: bold;
}

.stats .details {
    display: block;
    padding-left: 10px;
}

/* Clear Hack */
div.clearall { clear:both; }

div.toolbar {
    padding: 0.5em;
    text-align: right;
    opacity:.60;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    background-color: white;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}
.left-element {
   float: left;
   text-align: left;
   margin: 0px;
   padding: 3px 0px;
   }

.right-element {
   float:right;
   margin: 0px;
   margin-top: 8px;
   padding: 3px 0px;
   text-align: right; /* depends on element width */
}

.mid-element {
   float: left;
   padding-left: 10px;
   max-width: 405px;
}
.raise { margin-top: -5px; }

.back-tool, .edit-tool, .delete-tool, .remove-tool, .add-tool, .clone-tool, .send-tool, .close-tool, .pdf-tool, .xls-tool {
    background:transparent;
    cursor: pointer;
    padding: 2px;
    padding-top: 16px;
    color: #5b80b2;
    font-size: 90%;
    font-style: italic;
}
.back-tool:hover, .edit-tool:hover, .delete-tool:hover, .trash-tool:hover, .add-tool:hover, .clone-tool:hover, .send-tool:hover, .close-tool:hover, .pdf-tool:hover, .xls-tool:hover { color: #036; }
.edit-tool, .edit-tool:hover { background: url(/img/edit-icon.png) no-repeat top center; } 
.delete-tool, .delete-tool:hover { background: url(/img/delete-icon.gif) no-repeat center top; }
.remove-tool, .remove-tool:hover { background: url(/img/remove-icon.png) no-repeat center top; } 
.add-tool, .add-tool:hover { background: url("/img/button.add.png") no-repeat center top; }
.clone-tool, .clone-tool:hover{ background: url(/img/clone-icon.png) no-repeat center top; } 
.send-tool, .send-tool:hover{ background: url(/img/matrixcode.png) no-repeat center top; }
.close-tool, .close-tool:hover{ background: url(/img/close-icon.png) no-repeat center top; }
.pdf-tool, .pdf-tool:hover{ background: url(/img/pdf-icon.png) no-repeat center top; }
.xls-tool, .xls-tool:hover{ background: url(/img/xls-icon.png) no-repeat center top; }
.back-tool, .back-tool:hover { background: url(/img/back-icon.png) no-repeat center top; }

ul#contentmap
{
    list-style-type: none;
    background: url(/img/tree/dot.gif) repeat-y 3px 0;
    padding: 0;
    margin: 0;
}

ul#contentmap li
{
    margin-bottom: .5em;
}

ul#contentmap li a
{
    background: url(/img/tree/bullet1.gif) no-repeat 0 .4em;
    padding-left: 15px;
}

ul#contentmap li a.open, ul#contentmap li li a.open, ul#contentmap li li li a.open, ul#contentmap li li li li a.open
{
    background-image: url(/img/tree/bullet2.gif);
}

/* second level */
ul#contentmap ul
{
    margin: .5em 0 0 0;
    padding: 0;
    list-style-type: none;
}

ul#contentmap li li
{
    background: url(/img/tree/dot2.gif) no-repeat 2px .5em;
}

ul#contentmap li li a
{
    padding: 0 0 0 32px;
    background: url(/img/tree/bullet1.gif) no-repeat 22px .3em;
}

/* third level */
ul#contentmap ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 25px 0;
}

ul#contentmap li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 25px .5em;
}

ul#contentmap li li li a
{
    padding: 0 0 0 55px;
    background: url(/img/tree/bullet1.gif) no-repeat 45px .3em;
}

/* fourth level */
ul#contentmap ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 48px 0;
}

ul#contentmap li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 48px .5em;
}

ul#contentmap li li li li a
{
    padding: 0 0 0 78px;
    background: url(/img/tree/bullet1.gif) no-repeat 68px .3em;
}

/* fifth level */
ul#contentmap ul ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 71px 0;
}

ul#contentmap li li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 71px .5em;
}

ul#contentmap li li li li li a
{
    padding: 0 0 0 101px;
    background: url(/img/tree/bullet1.gif) no-repeat 91px .3em;
}

/* sixth level */
ul#contentmap ul ul ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 94px 0;
}

ul#contentmap li li li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 94px .5em;
}

ul#contentmap li li li li li li a
{
    padding: 0 0 0 124px;
    background: url(/img/tree/bullet1.gif) no-repeat 114px .3em;
}

/* seventh level */
ul#contentmap ul ul ul ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 117px 0;
}

ul#contentmap li li li li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 117px .5em;
}

ul#contentmap li li li li li li li a
{
    padding: 0 0 0 147px;
    background: url(/img/tree/bullet1.gif) no-repeat 137px .3em;
}

/* 8th level */
ul#contentmap ul ul ul ul ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 130px 0;
}

ul#contentmap li li li li li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 130px .5em;
}

ul#contentmap li li li li li li li li a
{
    padding: 0 0 0 170px;
    background: url(/img/tree/bullet1.gif) no-repeat 160px .3em;
}

ul#contentmap a {
    text-decoration: none;
}
ul#contentmap a:visited,ul#contentmap a {
    color: #369;
}

#minitabs table {
    border-collapse: separate;
    border-spacing: 0px;
}
#minitabs td {
    border-bottom: 1px solid #999;
    cursor:pointer;
    padding: 2px;
    padding-left:0.5em;
    padding-right:0.5em;
    font-size: 95%;
    text-align:center;
    white-space: nowrap;
}
#minitabs td.spacer {
    padding-right:2px;
    padding-left: 2px;
    cursor:default;
}

#minitabs td.active {
    /*border:1px solid #FF9900;*/
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    background-color:#FFFFFF;
    border-bottom-width:0px;
    font-weight:bold;
}

#minitabs a:link, #minitabs a:visited {
	font-weight: normal;
	display: block;
	text-decoration: none;
	color: #5b80b2;
	}

ul.tiny-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted #999;
    border-collapse: collapse;
    font-size: 90%;
}

ul.tiny-list li {
    list-style-type: none;
    padding: 5px 3px;
    border-top: 1px dotted #999;
}

li.list-empty {
    text-align: center;
}

body.login { background:#eee; font-size: 80%; }
.login #container { background:white; padding: 20px; border:1px solid #ccc; width:28em; height: 15em; min-width:300px; margin-left:auto; margin-right:auto; margin-top:100px; }
.login #content-main { width:100%; }
.login form { margin-top:1em; }
.login .form-row { padding:4px 0; float:left; width:100%; }
.login .form-row label { float:left; width:9em; padding-right:0.5em; line-height:2em; text-align:right; font-size:1em; color:#333; }
.login .form-row #id_username, .login .form-row #id_password { width:14em; }
.login span.help { font-size:10px; display:block; }
.login .submit-row { clear:both; padding:1em 0 0 9.4em; }


/* MESSAGES &amp; ERRORS */
ul.messagelist { font-size: 90%; padding:0 0 2px 0; margin:0; }
ul.messagelist li { display:block; padding:4px 5px 4px 25px; border-bottom:1px solid #ddd; color:#666; background:#ffc url(/img/admin/icon_success.gif) 5px .3em no-repeat; }
.errornote {display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:red;background:#ffc url(/img/admin/icon_error.gif) 5px .3em no-repeat; }
div.system-message { background: #ffc; margin: 10px; padding: 6px 8px; font-size: .8em; }
div.system-message p.system-message-title { padding:4px 5px 4px 25px; margin:0; color:red; background:#ffc url(/img/admin/icon_error.gif) 5px .3em no-repeat; }
.description { padding:5px 0 0 12px; }


.message-sender { float: left; }
.message-date { float: right; text-align: right; }
.message-subject { clear: left; float: left }

.message-unread .message-sender, .message-unread .message-date {
    font-weight: bold;
}
.message-read .message-subject {
    color: #999;
}

.message-subject { clear: both; }
li.list-empty {
    border: 0px !important;
}

div.left{
	display:inline;
	float:left;
	width:49%;
}
div.right{
	display:inline;
	float:right;
	width:49%;
}

table.listing {
    font-size:95%;
    margin:0pt;
    width:100%;
}

table.listing thead, table.listing thead th, table.listing tfoot tr {
    background-color:#FFFFFF;
    border:1px solid #D2D2D2;
}
thead {
    vertical-align:bottom;
}
table.listing, table.listing tbody {
    border-bottom:1px solid #D2D2D2;
}

table.listing td {
    border-color:#D2D2D2;
    border-style:dotted none none;
    border-width:1px;
}
table.listing th, table.listing td {
    padding:0.25em;
}

.help dt {
    font-weight: bold;
    color: #666;
}

.help dd br {
    margin-bottom: 1em;
}

div.help {
    font-size:95%;
}

#help-modal {
    width: 600px;
    font-family: Cantarell, sans-serif;
    font-size: 14px;
    line-height: 140%;
}

div.crystal.droppable {
  background: url(/img/samples-crystal.png) top left no-repeat;
  height: 200px;
  width: 135px;
  float: right;
  border: 1px solid #ccc;
  margin-top: 0;

}
div.crystal.droppable.lims-droppable-hover {
  background: url(/img/samples-crystal.png) top right no-repeat;
}


.lims-droppable-active, .lims-droppable-active td {
    //background-color: red !important;
    border-style:solid;
    border-width:1px;
    border-color:#999999;
}

.lims-droppable-hover, .lims-droppable-hover td {
    //background-color: green !important;
    border-style:solid;
    order-width:1px;
    border-color:#BB88D3;
}
.lims-droppable-hover.dewar-detail {
    background-color: #BB88D3;
}
 .lims-droppable-hover li {
	background-color:#c8b9d7 !important;
}
.lims-droppable-hover.Cassette, .lims-droppable-active.Cassette {
    border: none !important;
}
td.lims-droppable-hover.Cassette {
    background: url('/img/circle_purple.png') no-repeat center center;
}
td.lims-droppable-hover.Cane {
    background-color: #c8b9d7;
}
li.modify-log {
    background:url("/img/edit-icon.png") no-repeat scroll transparent;
    padding-left: 20px !important;
}

li.create-log {
    background:url("/img/in-icon.png") no-repeat scroll transparent;
    padding-left: 20px !important;
}
li.delete-log { 
    background: url(/img/delete_x.gif) no-repeat scroll transparent; 
    padding-left: 20px !important;
}
ul.filter-choices ul {
    padding-left: 0 !important;
}


