table { border-collapse: collapse;  empty-cells: show;}
#content-title h2 {
    font-size: 1.6em;
    font-weight: bold;
    padding-right: 48px;
    line-height: 60px;
    display: block;
    float: left;
    color: #555;
    text-shadow:#FFFFFF 0 1px 1px;    
}

#content-title h2 span.identity {
    border-right: 1px solid #ccc;
    color: #999;
    padding-right: 0.6em;
    margin-right: 0.2em;
}

#content-title h2 span.locked {
    background: url(/img/locked.png) no-repeat left center;
    padding-left: 32px;
}

img { border: 0; }

/* Messaging System Popup */

.hidden {
    display: none;
}

.modal-content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 3px 10px #333;
    background: #eee;
    /*width: 700px;*/
    min-height: 250px;
    padding: 10px;}
.modal-content.wide {
    width: 900px !important;
}

div.feedback {
    width: 250px;
    min-height: 100px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

h3.feedback {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.message-content {
  border: 1px solid #999;
  height: 21em;
  padding: 1em;
  background: #ccc;
  overflow: auto;
}

.message-body {
  font-family: serif;
  text-align: justify;
  font-size: 90%;
  border: 1px solid #000;
  background: #fff;
  line-height: 1.5em;
  min-height: 100%;
  padding: 3em;
  line-height: 1.5em;
}

.pagination { float: right; white-space: nowrap; line-height: 1.5em; padding: 0 0.5em; clear: both;}
.pagination a { margin-left: 0.3em; margin-right: 0.3em;}
.list-tools { min-height: 1.5em; clear: both; font-size: 90%;}
.tiny-list-tools { font-size: 90%; clear: both; padding-bottom: 2px; }

div.entrycomment {
    float: left;
    min-width: 180px;
    max-width: 210px;
    border: 1px solid #a38db6;
    min-height: 60px;
    padding: 14px;
    background-color: #faf7fc;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}


div.entrycomment h3 {
    color: #a38db6;
    border-bottom: 1px dotted #a38db6;
    margin-bottom: 0.5em;
}

div.entrycomment span.left-pointer {
    margin-left: -24px;
    padding-left: 24px;
    position: absolute;
    height: 40px;
    background: url(/img/pointer.png) left top no-repeat;

}

div.entrycomment .user {
    font-size: 90%;
    line-height: 1.1em;
    color: #000;
}

div.entrycomment .staff {
    font-size: 90%;
    line-height: 1.1em;
    color: #747e80;
}

div.entrycomment .errors {
    font-size: 90%;
    line-height: 1.1em;
    color: red;
}

div.entrycomment ul li {
    list-style-type: square;
    list-style-position: inside;
}

.entrysummary { 
    margin-bottom: 0.5em;
    width: 300px;
    float: left;
    clear: left;
}
.entrysummary th {
    text-align: left;
    font-weight: bold;
    color: #666;
    padding-right: 0.5em;

}
.entrysummary td {
    text-align: left;
    font-weight: normal;
    width: 100%;
}


td.action {
    width: 20px;
}

.stats .category {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.stats .details em {
    font-weight: bold;
}

.stats .details {
    display: block;
    padding-left: 10px;
}

/* Clear Hack */
div.clearall { clear:both; }


.left-element {
   float: left;
   text-align: left;
   margin: 0px;
   }

.right-element {
   float:right;
   margin: 0px;
   text-align: right; /* depends on element width */
}

.mid-element {
   float: left;
   margin: 0px;
   max-width: 405px;
}
.raise { margin-top: -5px; }

/* toolbar */


.object-tools {
    height: 60px;
}

.object-tools .left-element {
    line-height: 50px;
   padding: 5px 0px;
}

.object-tools .mid-element {
   padding: 5px 0px;
   display: table;
}

.object-tools .mid-element .filters {
   height: 50px;
   display: table-cell;
   vertical-align: middle;
   line-height: 12px;
   padding-left: 2em;
}

ul.toolbar {
	float: right;
	height: 44px;
	margin: 8px;
}

ul.toolbar li{
	float: left;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 0;
	border: none;
	height: 32px;
	min-width: 60px;
	text-align: center;
}

ul.toolbar li a {
	display: block;
	padding: 32px 2px 0 0;
	overflow: hidden;
    font-size: 85%;
    line-height: 1em;
    text-align: center;
    /*font-family: 'TelegramaRen', sans-serif;*/
}

ul.toolbar li.edit-tool {background-image: url(/img/edit-icon.png);}
ul.toolbar li.load-tool {background-image: url(/img/load-icon.png);}
ul.toolbar li.unload-tool {background-image: url(/img/unload-icon.png);}
ul.toolbar li.delete-tool {background-image: url(/img/delete-icon.png);}
ul.toolbar li.remove-tool {background-image: url(/img/remove-icon.png);}
ul.toolbar li.add-tool {background-image: url(/img/add-icon.png);}
ul.toolbar li.clone-tool {background-image: url(/img/clone-icon.png);}
ul.toolbar li.send-tool {background-image: url(/img/send-icon.png);}
ul.toolbar li.close-tool {background-image: url(/img/archive-icon.png);}
ul.toolbar li.pdf-tool {background-image: url(/img/pdf-icon.png);}
ul.toolbar li.upload-tool {background-image: url(/img/spreadsheet-icon.png);}
ul.toolbar li.back-tool {background-image: url(/img/list-icon.png);}
ul.toolbar li.profile-tool {background-image: url(/img/profile-icon.png);}
ul.toolbar li.feedback-tool {background-image: url(/img/feedback-icon.png);}
ul.toolbar li.print-tool {background-image: url(/img/print-icon.png);}
ul.toolbar li.template-tool {background-image: url(/img/template-icon.png);}
ul.toolbar li.receive-tool {background-image: url(/img/receive-icon.png);}
ul.toolbar li.return-tool {background-image: url(/img/return-icon.png);}
ul.toolbar li.help-tool {background-image: url(/img/help-icon.png);}
ul.toolbar li.review-tool {background-image: url(/img/emblem-success.png);}

/* -- end toolbar -- */

ul#contentmap
{
    list-style-type: none;
    background: url(/img/tree/dot.gif) repeat-y 3px 0;
    padding: 0;
    margin: 0;
}

ul#contentmap li
{
    margin-bottom: .5em;
}

ul#contentmap li a
{
    background: url(/img/tree/bullet1.gif) no-repeat 0 .4em;
    padding-left: 15px;
}

ul#contentmap li a.open, ul#contentmap li li a.open, ul#contentmap li li li a.open, ul#contentmap li li li li a.open
{
    background-image: url(/img/tree/bullet2.gif);
}

/* second level */
ul#contentmap ul
{
    margin: .5em 0 0 0;
    padding: 0;
    list-style-type: none;
}

ul#contentmap li li
{
    background: url(/img/tree/dot2.gif) no-repeat 2px .5em;
}

ul#contentmap li li a
{
    padding: 0 0 0 32px;
    background: url(/img/tree/bullet1.gif) no-repeat 22px .3em;
}

/* third level */
ul#contentmap ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 25px 0;
}

ul#contentmap li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 25px .5em;
}

ul#contentmap li li li a
{
    padding: 0 0 0 55px;
    background: url(/img/tree/bullet1.gif) no-repeat 45px .3em;
}

/* fourth level */
ul#contentmap ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 48px 0;
}

ul#contentmap li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 48px .5em;
}

ul#contentmap li li li li a
{
    padding: 0 0 0 78px;
    background: url(/img/tree/bullet1.gif) no-repeat 68px .3em;
}

/* fifth level */
ul#contentmap ul ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 71px 0;
}

ul#contentmap li li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 71px .5em;
}

ul#contentmap li li li li li a
{
    padding: 0 0 0 101px;
    background: url(/img/tree/bullet1.gif) no-repeat 91px .3em;
}

/* sixth level */
ul#contentmap ul ul ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 94px 0;
}

ul#contentmap li li li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 94px .5em;
}

ul#contentmap li li li li li li a
{
    padding: 0 0 0 124px;
    background: url(/img/tree/bullet1.gif) no-repeat 114px .3em;
}

/* seventh level */
ul#contentmap ul ul ul ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 117px 0;
}

ul#contentmap li li li li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 117px .5em;
}

ul#contentmap li li li li li li li a
{
    padding: 0 0 0 147px;
    background: url(/img/tree/bullet1.gif) no-repeat 137px .3em;
}

/* 8th level */
ul#contentmap ul ul ul ul ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 130px 0;
}

ul#contentmap li li li li li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 130px .5em;
}

ul#contentmap li li li li li li li li a
{
    padding: 0 0 0 170px;
    background: url(/img/tree/bullet1.gif) no-repeat 160px .3em;
}

ul#contentmap a {
    text-decoration: none;
}
ul#contentmap a:visited,ul#contentmap a {
    color: #369;
}

#minitabs table {
    border-collapse: separate;
    border-spacing: 0px;
}
#minitabs td {
    border-bottom: 1px solid #999;
    cursor:pointer;
    padding: 2px;
    padding-left:0.5em;
    padding-right:0.5em;
    font-size: 95%;
    text-align:center;
    white-space: nowrap;
}
#minitabs td.spacer {
    padding-right:2px;
    padding-left: 2px;
    cursor:default;
}

#minitabs td.active {
    /*border:1px solid #FF9900;*/
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    background-color:#FFFFFF;
    border-bottom-width:0px;
    font-weight:bold;
}

#minitabs a:link, #minitabs a:visited {
	font-weight: normal;
	display: block;
	text-decoration: none;
	color: #5b80b2;
	}

ul.tiny-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted #999;
    border-collapse: collapse;
    font-size: 90%;
}

ul.tiny-list li {
    list-style-type: none;
    padding: 5px 3px;
    border-top: 1px dotted #999;
}

li.list-empty {
    text-align: center;
}

body.login { background:#eee; font-size: 80%; }
.login #container { background:white; padding: 20px; border:1px solid #ccc; width:30em; height: 17em; min-width:320px; margin-left:auto; margin-right:auto; margin-top:80px; }
.login #content-main { width:100%; }
.login form { margin-top:1em; }
.login .form-row { padding:4px 0; float:left; width:100%; }
.login .form-row label { float:left; width:9em; padding-right:0.5em; line-height:2em; text-align:right; font-size:1em; color:#333; }
.login .form-row #id_username, .login .form-row #id_password { width:14em; }
.login span.help { font-size:10px; display:block; }
.login .submit-row { clear:both; padding:1em 0 0 9.4em; }


/* MESSAGES &amp; ERRORS */
ul.messagelist { font-size: 90%; padding:0 0 2px 0; margin:0; }
ul.messagelist li { display:block; padding:4px 5px 4px 25px; border-bottom:1px solid #ddd; color:#666; background:#ffc url(/img/icon_success.gif) 5px .3em no-repeat; }
.errornote {display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:red;background:#ffc url(/img/icon_error.gif) 5px .3em no-repeat; }
div.system-message { background: #ffc; margin: 10px; padding: 6px 8px; font-size: .8em; }
div.system-message p.system-message-title { padding:4px 5px 4px 25px; margin:0; color:red; background:#ffc url(/img/icon_error.gif) 5px .3em no-repeat; }
.description { padding:5px 0 0 12px; }


.message-sender { float: left; }
.message-date { float: right; text-align: right; }
.message-subject { clear: left; float: left }

.message-unread .message-sender, .message-unread .message-date {
    font-weight: bold;
}
.message-read .message-subject {
    color: #999;
}

.message-subject { clear: both; }
li.list-empty {
    border: 0px !important;
}

div.left{
	display:inline;
	float:left;
	width:49%;
}
div.right{
	display:inline;
	float:right;
	width:49%;
}

table.listing {
    font-size:95%;
    margin:0pt;
    width:100%;
}

table.listing thead, table.listing thead th, table.listing tfoot tr {
    background-color:#FFFFFF;
    border:1px solid #D2D2D2;
}
thead {
    vertical-align:bottom;
}
table.listing, table.listing tbody {
    border-bottom:1px solid #D2D2D2;
}

table.listing td {
    border-color:#D2D2D2;
    border-style:dotted none none;
    border-width:1px;
}
table.listing th, table.listing td {
    padding:0.25em;
}

.help dt {
    font-weight: bold;
    color: #666;
}

.help dd br {
    margin-bottom: 1em;
}

div.help {
    font-size:95%;
}

#help-modal {
    width: 600px;
    line-height: 140%;
}

.crystal-data-table, .crystal-report-table {
    float: left;
    width: 49%;
}
.crystal-report-table {
    float: right;
}
div.crystal.droppable, div.experiment.droppable, div.shipment.droppable, div.dewar-img.droppable, div.runlist.droppable {
  float: right;
  margin-top: 0;
  clear: right;
  margin: 0.5em;
}
div.crystal.droppable {
  background: url(/img/samples-crystal.png) top left no-repeat;
  height: 130px;
  width: 100px;
  margin-top: -10px;
}
div.experiment.droppable {
  background: url(/img/experiment.png) top left no-repeat;
  height: 148px;
  width: 120px;
}
div.shipment.droppable {
  background: url(/img/shipment.png) top left no-repeat;
  height: 75px;
  width: 53px;
  margin-right: 35px;
}
div.dewar-img.droppable {
  background: url(/img/dewar.png) top left no-repeat;
  height: 121px;
  width: 85px;
}
div.runlist.droppable {
    background: url(/img/runlist.png) top left no-repeat;
    height: 92px;
    width: 80px;
}
a.swf {
    background: url(/img/video-icon.png) center left no-repeat;
    padding-left: 16px;
    line-height: 16px;
}   

.ui-draggable-dragging {
    opacity: 0.5;
}
.draggable-link-parent a {
    width: 180px;
    cursor: move;
}

.lims-droppable-active, .lims-droppable-active td {
    border-style:solid;
    border-width: 0px;
    border-color:#999999;
    position: relative;
    background-color: #831e31;
    opacity: 0.8;
}

.lims-droppable-hover, .lims-droppable-hover td {
    border-style:solid;
    order-width:1px;
    border-color:#BB88D3;
    background-color: #ddd;
    opacity: 0.8;
}
.lims-droppable-hover.dewar-detail {
    background-color: #BB88D3;
}

.lims-droppable-active.crystal {
    background: url(/img/samples-crystal-bw.png) no-repeat top left !important;
    border: none;
}
.lims-droppable-hover.crystal {
    background: url(/img/samples-crystal-hover.png) no-repeat top left !important;
    border: none;
}
.lims-droppable-active.experiment {
    background: url(/img/experiment-bw.png) no-repeat top left !important;
    border: none;
}
.lims-droppable-hover.experiment {
    background: url(/img/experiment-hover.png) no-repeat top left !important;
    border: none;
}
.lims-droppable-active.shipment {
    background: url(/img/shipment-active.png) no-repeat top left !important;
    border: none;
}
.lims-droppable-hover.shipment {
    background: url(/img/shipment-hover.png) no-repeat top left !important;
    border: none;
}
.lims-droppable-active.runlist {
    background: url(/img/runlist_active.png) no-repeat top left !important;
    border: none;
}
.lims-droppable-hover.runlist {
    background: url(/img/runlist_hover.png) no-repeat top left !important;
    border: none;
}
.lims-droppable-active.dewar-img {
    background: url(/img/dewar-active.png) no-repeat top left !important;
    border: none;
}
.lims-droppable-hover.dewar-img {
    background: url(/img/dewar-hover.png) no-repeat top left !important;
    border: none;
}
#shiftzoomimg_ttip {
    z-index: 1003;
}
 .lims-droppable-hover li {
	background-color:#c8b9d7 !important;
}
.lims-droppable-hover.Cassette, .lims-droppable-active.Cassette, .lims-droppable-active.Uni-Puck, .lims-droppable-hover.Uni-Puck {
    border: none !important;
}
td.lims-droppable-hover.Cassette, .lims-droppable-hover.Uni-Puck {
    background: url('/img/circle_purple.png') no-repeat center center !important;
}
td.lims-droppable-hover.Cane {
    background-color: #c8b9d7;
}
li.modify-log {
    background:url("/img/activity-edit.png") no-repeat left center;
    padding-left: 20px !important;
}

li.create-log {
    background:url("/img/activity-add.png") no-repeat left center;
    padding-left: 20px !important;
}
li.delete-log { 
    background: url(/img/activity-delete.png) no-repeat left center; 
    padding-left: 20px !important;
}
ul.filter-choices ul {
    padding-left: 0 !important;
}

/* data viewer */
#data-viewer {
    width: 750px;
}

#data-viewer .heading h2 {
    text-shadow:#FFFFFF 0 1px 1px;    
}

#data-viewer .heading h2 span.identity {
    border-right: 1px solid #ccc;
    color: #999;
    padding-right: 0.6em;
    margin-right: 0.2em;
}


#data-viewer .meta-data {
    float: right;
    clear: right;
    width: 224px;
    margin: 0 0 7px 7px;
    background: #fff;
}

#data-viewer .frame-list {
    float: right;
    clear: right;
    width: 224px;
    margin: 0 0 0 7px;
}
#data-viewer .frame-list p,  #data-viewer .meta-data p{
    background: none repeat scroll 0 0 #747E80;
    display: block;
    clear: both;
    color: #F7F3E8;
    font-weight: bold;
    height: 20px;
    margin: 0;
    padding: 3px;
}

.data-image {
    float:left;
}

#data-viewer .image-wrapper {
    border: 1px solid #ccc !important;
    margin-bottom: 5px;
}

#data-viewer .image-nav {
    width: 512px;
}

#data-viewer .frame-list ul {
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 210px;
    padding: 5px;
    border: 1px solid #ccc;
}
#data-viewer .meta-data ul {
    background: #fff;
    padding: 5px;
    font-family: Consolas, Monaco, monospace;
    font-size: 85%;
}
#data-viewer .meta-data li.separator {
    border-top: 1px dotted #ccc;
    margin-top: 2px;
}

#data-viewer .frame-list li {
    line-height: 24px;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
}

#data-image-loading {
    cursor: pointer;
    display: none;
    height: 40px;
    left: 256px;
    margin-left: -20px;
    margin-top: -20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 1104;
}

#data-image-loading div {
    background-image: url("/img/fancybox/fancybox.png");
    height: 480px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}
