@import "/css/imm.css";
@import "/css/forms.css";
@import "/css/results.css";

#close_x {
    background:url("/img/modal.close.png") no-repeat scroll left top transparent;
    display:block;
    height:23px;
    overflow:hidden;
    position:absolute;
    right:5px;
    text-indent:-9999px;
    top:5px;
    width:24px;
}

/* LISTS */
div.filter-left { padding-right: 0.5em; margin: 0.5em; float:left; border-right: 1px dotted #5a9abe;}
div.list-filter { padding: 0.3em; }
ul.filter-choices { padding-left: 0.5em; margin: 0;}
ul.filter-choices li { display: inline; margin: 0; padding: 0;}
ul.filter-choices li.filter-title {font-weight: bold; color: #555; }
ul.filter-choices li a { border: none; margin: 2px; padding: 1px; }
ul.filter-choices li.selected a { font-weight: bold; color: #6c9 !important}
ul.filter-choices a:hover { color:#630; }

div.filters { font-size: 90%; background: #cccccc; padding: 0.3em; }
div.object-list {background: #dddddd; margin-top: 0.5em; padding: 2px 0;}

/* OBJLIST TABLES */
div.object-list td a { color: #00c ; text-decoration: none; }
div.object-list th{
    font-weight:normal;
    padding:3px 0.4em;
    border-bottom: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
    background: #eeeeee; 
    text-align: left;
    vertical-align: middle;
    /* white-space: nowrap; */
}
div.object-list th a { text-decoration:none;  display: block; padding-right: 12px; }
div.object-list th.sorted { background-color: #fff !important; }
div.object-list th.ascending a{ background: url(/img/arrow-down.png) right 50% no-repeat; }
div.object-list th.descending a{ background: url(/img/arrow-up.png) right 50% no-repeat; }
div.object-list td { 
    /* white-space: nowrap; */
    overflow: hidden;
    vertical-align:top;
    padding: 0.3em 0.3em;
    padding-left: 0.5em;
    border-bottom: 1px dotted #ccc;
    vertical-align: middle;
}
.link-row { cursor: pointer; color: #333; }
.link-row:hover { background: #c8b9d7; }
.link-no-pointer { cursor: default; }
.link-pointer { cursor: pointer; }

div.error{
	top:6em;
	left: 100%;
	z-index:900;
	margin:8px;
	padding:8px 10px 9px 10px;
	border:1px solid #e6c3c3;
	background:#f5d2d2;
	line-height:130%;
	font-size:100%;
	color:red;
}

td.first {
    background: url("/img/icon.expand.png") no-repeat scroll 5px 6px;
    width: 10px;
}

tr.expanded {
    border: 1px solid #999;
    border-bottom: 0px; }
    tr.expanded td.first {
        background: url("/img/icon.expanded.png") no-repeat scroll 4px 6px;}
    tr.expanded td {
        background-color: #C6AFDE !important;}

tr.expander {
    background: #e7e7e7;
    border: 1px solid #999;
    border-top: 0px; }
    tr.expander h3 {
        border-bottom: 1px dashed #999;
        clear: both;
    }

ul.treeview {
    list-style-type: none;
    padding-left: 5px; }
    ul.treeview li a {
    	background: url("/img/icon.expand.png") no-repeat scroll 0 0 transparent; 
        padding-left: 20px;
        height: 20px;
        display: inline-block;}
        ul.treeview li a.expanded {
            background: url("/img/icon.expanded.png") no-repeat scroll 0 0 transparent; }
    ul.treeview ul.treeview { /* this should handle all levels of depth */
        padding-left: 34px;
        background: url("/img/treeview.skeleton.png") repeat-y scroll 0 0 transparent;
    }

ul.reports {
    list-style-type: none;
    padding: 10px;
    margin: 0px;}
    ul.reports li a {
        width: 100%;
        background: url("/img/icon.resultset.png") no-repeat scroll left top transparent;
        display: inline-block;
        height: 20px;
        padding-left: 20px;
    }

.tools {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  float: right;
  *zoom: 1; }
  .tools li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    .tools li:first-child, .tools li.first {
      padding-left: 0px; }
    .tools li:last-child, .tools li.last {
      padding-right: 0px; }


tr.odd td {
    background-color: #ccc;
}

tr.even td {
    background-color: #dcdcdc;
}