
#result-page {
    border: 1px solid #ccc;
    margin-top: 1em;
    text-align:left;
    padding:1.5em 1.5em 1em;
}


#result-table td {
    border-top:1px solid #E8EDFF;
    color:#666699;
}

#result-table {
    font-size: 88%;
    border-collapse:collapse;
    text-align:left;
    width: 100%;
}
#result-table th {
    color:#003399;
    font-size: 1.2em;
    font-weight:normal;
    padding:8px 8px;
}

#result-table td {
    border-top:1px solid #eee;
    color:#666699;
    padding:5px 8px;
}

.result-labels {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#EFF6FF none repeat scroll 0 0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}

#result-table tr:hover td {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#EFF6FF none repeat scroll 0 0;
    color:#333399;
}

#result-summary {
    border-collapse:collapse;
    border:1px solid #9ce;
    float: left;
    width: 60%;
    margin-right:2%;
    text-align:left;
}



.size30 {
    width: 30%;
}

.size35 {
    width: 35%;
}

.size45 {
    width: 45%;
}

.size40 {
    width: 40%;
}

.size60 {
    width: 60%;
}

.tablenotes {
    font-size: 90%;
    background:#EFF6FF none repeat scroll 0 0;
    padding:0.3em 2em 1em;
}

dl.note-list dt { 
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    color: #666; 
}
dl.note-list dd { 
    margin: 0 0 0 2em;
    padding: 0 0 0.5em 0; 
}

h1, h2, h3, h4 {
    font-weight:normal;
    margin-top:1.4em;
}

#result-title {
    margin-right:2%;
}
#result-links {
    width: 36%;
    border: 1px solid #9ce; 
}

#result-links ul {
    list-style: none;
    padding:  1em 2em;
}

#result-title h2{
    font-size:190%;
    line-height:1.2em;
    margin-bottom:0.8em;
    margin-top: 1em;
}


div.hr hr {
  border:0;
  border-top: 1px solid #ccc;
  height: 0;
}

div.spacer {
    padding: 0.3em 0;
}

#result-page h3 {
    font-size: 140%;
    border-bottom: 1px dotted #ccc;
}


.rtable {
    border-collapse:collapse;
    text-align:left;
}

.rtable th {
    color:#003399;
    font-weight:normal;
    padding:8px 8px;
    text-align: right;
}

.rtable td {
    text-align: right;
    font-size: 1.2em;
    font-family: monospace;
    border-top:1px solid #eee;
    color:#666699;
    padding:5px 8px;
}

.full {
    width: 100%;
}

.half {
    width: 49%;
}

.quarter {
    width: 22%;
}

.twothird {
    width: 60%;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}
