/* The Reset ---------------------------------- */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h7
h6,pre,form,fieldset,input,p,blockquote,table,th,td
{
	margin:0;
	padding:0;
}
fieldset,img,abbr
{
	border:0;
}

address,caption,cite,code,dfn,h1,h2,h3,h4,h5,h6,h7,th,var
{
	font-style:normal;
	font-weight:400;
}

caption,th
{
	text-align:left;
}

q:before,q:after
{
	content:'';
}

a
{
	outline:0;
}

a
{
	text-decoration:none;
}

a img
{
	border:none;
}


dd {
    padding-left: 16px;
}

html
{
	font-variant:normal!important;
	text-align:left;
	overflow-y:scroll;
	height: 100%;
}

body
{
	font-size: 9.5pt;
	font-family: Ubuntu, Cantarell, Tahoma, sans-serif;
	line-height: 1.3em;
	color:#333;
	background-color:#fff;
	height: 100%;
    background: #fff;
}

table
{
	border-collapse:collapse;
	empty-cells:show;
}



.webkit *:focus{outline:none;}/* remove blue safari / yellow chrome input field border */

/* -------------------------------------------- */
a
{
	color: #2F637A;
}

a:hover,a:active,a:focus
{
	color:#06c;
}

p
{
	margin:0 0 5px;
}

h1
{
	font:bold 2.2em;
	padding:8px 0 0;
	margin:0;
	letter-spacing:-1px;
}

h2
{
	margin:0;
	padding:0;
	font:bold 1.8em;
	letter-spacing:-1px;
}

h1 a,h2 a
{
	color:#000;
	text-decoration:none;
}

ul
{
	margin:0;
	padding:0;
	list-style:none;
}

img
{
	border:0;
}

/* layout */
.wrapper
{
	clear:both;
	margin:0 auto;
	width:960px;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12
{
	float:left;
	margin:0 14px;
}

.col-1
{
	width:52px;
}

.col-2
{
	width:132px;
}

.col-3
{
	width:212px;
}

.col-4
{
	width:292px;
}

.col-5
{
	width:372px;
}

.col-6
{
	width:452px;
}

.col-7
{
	width:532px;
}

.col-8
{
	width:612px;
}

.col-9
{
	width:692px;
}

.col-10
{
	width:772px;
}

.col-11
{
	width:852px;
}

.col-12
{
	width:932px;
}
#main-wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0;
}

#header
{
	/*background:#ccc url(/img/header.gradient.png) top left repeat-x;*/
	background-color: #883a6a;
	min-width:932px;
}

#banner
{
	margin:0 auto;
	width:932px;
	height:60px;
	background:url(/img/cmcfbanner.png) top right no-repeat;
	clear:both;
}

#headline
{
	background:none repeat scroll 0 0 #F7F7F7;
	border-bottom:1px solid #DFDFDF;
	height:60px;
	min-width:960px;
	margin-bottom:7px;
}

#data-viewer .headline {
	background:none repeat scroll 0 0 #F7F7F7;
	border-bottom:1px solid #DFDFDF;
	height:40px;
}

#container
{
	margin:0 auto;
	width:960px;
}

#logo
{
	background:url(/img/clslogo-white.png) no-repeat left;
	min-height:50px;
	width:466px;
	float:left;
	padding:5px;
	color:#fff;
	text-shadow:#000 0 0 2px;

}

#logo h1
{
	font-size:140%;
	margin-left:72px;
	line-height: 0.9em;
}

#slogan
{
	margin:0 0 0 72px;
	padding:0;
}

#user-tools
{
	line-height:24px;
	float:right;
	margin:0;
	text-align:right;
	height:24px;
	color:#fff;
	text-shadow:#000 0 0 2px;
}

#user-tools a
{
	color:#fff;
	text-shadow:#000 0 0 2px;
}

#user-tools a:hover
{
	color:#ffc300;
}

/* MENU */
#nav
{
	margin:12px 0 0;
	float:left;
	height:24px;
	min-width:300px;
	max-width:456px;
	list-style:none;
}

#nav li
{
	float:left;
	position:relative;
}

#nav li a
{
    font-weight: bold;
	font-size:110%;
	line-height:24px;
	text-decoration:none;
	display:block;
	padding:0 12px;
	color:#f7f7f7;
	text-shadow:#000 0 0 2px;
	margin-right:2px;
}

#nav li.nav-menu > a
{
	background:#a6a6a6;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
}

#nav li a:hover
{
	color:#ffc300!important;
}

#nav li.active a:hover,#nav li.active a + ul li a:hover
{
	color:#d54e21!important;
}

#nav li.active > a
{
	color:#555;
	background:#f7f7f7;
	border:1px solid #f7f7f7;
	border-bottom:none;
	margin-top:-1px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	text-shadow:#bfbfbf 0 0 2px;
}

#nav .nav-submenu
{
	display:none;
	min-width:12em;
	-webkit-border-top-right-radius:0;
	-moz-border-radius-topright:0;
	border-top-right-radius:0;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	background:#a6a6a6;
	margin-top:-1px;
	border:#a6a6a6 solid 1px;
	border-top:0;
}

#nav li:hover .nav-submenu,#nav li .nav-submenu:hover
{
	display:block;
	position:absolute;
	top:24px;
	left:0;
	z-index:1;
}

#nav li.active a + .nav-submenu
{
	background:#f6f6f7;
	border:#c6c6c6 solid 1px;
	border-top:0;
}

#nav li.active a + .nav-submenu a
{
	text-shadow:none;
	color:#555;
}

#nav li .nav-submenu li
{
	float:none;
}

#nav li ul.nav-submenu li a
{
	line-height:26px;
	font-weight:400;
}

/* footer */
#footer {
    position: relative;
    background: none repeat scroll 0 0 #F7F7F7;
    border-top: 1px solid #DFDFDF;
    height: 99px;
    text-align: center;
    margin-top: -100px;
}

#footer p {
    color: #687061;
    padding-top: 1em;
    text-shadow:#FFFFFF 0 1px 1px;
    }

#footer p a {
    margin: 0;
    padding: 0 7px;
    color: #687061 !important;
    line-height: 35px;
}

#sidebar {
    width: 219px;
    float: left;
    margin: 0 0 14px 0;
    padding: 7px 0;
}
.push {
    height: 124px;
    clear: both;
}

/* sidebar */
* html #sidebar
{
	overflow-x:hidden;
}

#sidebar ul
{
	list-style-type:none;
}

#sidebar ul,#sidebar ul li
{
	margin:0;
	padding:0;
	display:block;
}

#sidebar ul li
{
	margin:10px 0;
}
li.Uni-Puck {
    background: url('/img/container-uni-puck-sm.png') no-repeat 5px center;
}
li.Cassette {
    background: url('/img/container-cassette-sm.png') no-repeat 5px center;
}
li.Cane {
    background: url('/img/container-cane-sm.png') no-repeat 5px center;
}


td.Cane {
    background: #f7f7f7;
    height: 50px;
    width: 15px;
    padding-left: 10px;
}
table.cane-detail td.occupied {
    background: #bee0bb !important;
}
td.Cassette {
    height: 50px;
    width: 58px;
    background: url('/img/circle_grey.png') no-repeat center center;
    text-align: center;
}
td.Cassette.occupied {
    background: url('/img/circle_green.png') no-repeat center center;
}
th.Cassette {
    text-align: center;
    background: none;
}
a.remove, a.receive {
    background: url('/img/small-remove-icon.png') no-repeat center center;
    width: 8px;
    display: inline;
    padding: 8px;
    float: right;
}
a.receive {
    background: url('/img/receive-icon.png') no-repeat center center;
    padding: 0 10px 0 10px;
}
a.delete {
    background: url('/img/trash-icon.gif') no-repeat center center;
    width: 8px;
    display: inline;
    padding: 8px;
    float: right;
}

div#unipuck {
    background: url('/img/unipuck.png') no-repeat center center;
    width: 300px;
    height: 300px;
    float: right;
}
div#unipuck p{
    background: none;   
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    line-height: 50px;
}
div#unipuck .occupied {
    background: url('/img/circle_green.png') no-repeat center center;   
}
.object-list.uni-puck-detail {
    float: left;
    width: 350px;
}
.object-list.cassette-detail {
    width: 690px;
}
.object-list.cane-detail {
    float: left;
    width: 600px;
}

.object-list input.checkbox, .object-list input.radio {
    display: inline;
    margin: 3px 4px;
}

table.cane-detail {
    float: right;
    margin-right: 20px;
    border-collapse: separate;
    border: 1px solid #ccc;
}
table.cane-detail td {
    border: 1px dotted #bbb;
}

.dewar-detail ul, .runlist-detail ul
{
	background:#f7f7f7;
}
.runlist-detail div.runlist-column1 ul 
{
    background: #ccc;
}
.runlist-detail div.runlist-column1 li
{
    border-right: 1px solid #999;
}
.runlist-detail li.empty
{
    background: #fff;
}

.runlist-detail li.lims-droppable-active {
    border-top: none;    
}

.runlist-detail li.lims-droppable-hover {
    border-style:solid;
    order-width:1px;
    border-color:#BB88D3;
    background-color: #bb88d3;
    opacity: 0.8;
    border-top: none;
}

.dewar-detail ul {
    margin-bottom: 5px;
}

.dewar-detail li
{
    padding-left: 35px;
    line-height: 45px;
	border-bottom:1px solid #ccc;
}
.runlist-detail li
{
    padding-left: 10px;
    line-height: 35px;
    border-bottom: 1px solid #bbb;
    min-height: 35px;
}
.runlist-column1
{
    width: 30px; 
    min-height: 120px; 
    float: left;
}
.dewar-detail img {
    float: left;
    margin-right: 10px;
    max-height: 40px;
}
.runlist-column2
{
    width: 175px;
    height: 120px;
    float: left;
}
.runlist-column2 ul li, .runlist-cassette ul li {
    padding-left: 35px;
}

.dewar-detail, .runlist-detail
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border:1px solid #999;
	margin-bottom:10px;
    width: 205px;
    min-height: 150px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.runlist-detail {
    margin-right: 35px;
}
#right.runlist-detail {
    margin-right: 0px;
}
.runlist-detail ul li.Uni-Puck:hover {
    background: url('/img/container-uni-puck-sm.png') no-repeat 5px center;
}
.dewar-detail li a
{
    display: inline;
    line-height: 45px;
    height: 45px;
    width: 60%;
}
.runlist-cassette li a, .runlist-detail li a
{
    display: inline;
    line-height: 35px;
    height: 35px;
}
.dewar-detail li a.remove, .runlist-detail li a.remove
{
    display: inline;
    float: right;
    width: 24px;
    padding: 0;
}

.runlist-cassette ul, .runlist-cassette li a.remove {
    height: 144px;
}
.runlist-cassette ul li {
    line-height: 144px;
}

.runlist-detail div.title {
    height: 20px;
}
.dewar-detail div.title p {
    background:url(/img/dewar-sm.png) no-repeat scroll 3px center;
    font-weight: bold;
    line-height: 32px; 
    height: 32px;
    margin: 0;
    padding: 0;
    padding-left: 36px;
    text-align: center;
}

.dewar-detail div.title a.dewar-title {
    float: left;
    height: 32px;
    line-height: 32px;
    width: 80%;
    color: #fff;
}

.dewar-detail div.title a.remove {
    float: right;
    height: 32px;
    line-height: 32px;
    padding: 0;
    width: 15%;
    color: #fff;
}

.dewar-detail div.title, #sidebar .widget h3, .runlist-detail div.title
{
	margin:0;
	color:#FFF;
	background:#999;
}

p.list-empty 
{
    color: #aaa;
    line-height: 8em;
    text-align: center;
    width: 100%;
}

td.list-empty {
    color: #aaa;
    padding: 3em !important;
    text-align: center;

}

/* Widgets */
#sidebar .widget
{
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    background-color: #eaefff;
    background-image: -moz-linear-gradient(top, #cceeff, #fff);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cceeff), color-stop(1, #fff));
    padding: 2px 2px 6px;
	margin-bottom:1em;
}

#sidebar .widget ul
{
	min-height:100px;
	max-height:140px;
	overflow-y:scroll;
	overflow-x:hidden;
}

#sidebar .widget li
{
	margin:0;
	border-bottom:1px solid #ccc;
	background:url(/img/grippy.png) no-repeat scroll 3px center;	
}

#sidebar .widget li a
{
	display:block;
	padding:4px 18px;
	color:#666;
}

#sidebar .widget li:hover
{
	/*background:#c8b9d7;*/
}

#sidebar .widget li:hover a:after {
    content: ' (drag me)';
    white-space: nowrap;
    color: green;
}

#sidebar .widget a.action
{
	color:#333;
	line-height:1.2em;
	display:block;
}


#sidebar .widget a.add
{
	background:url(/img/small-add-icon.png) no-repeat scroll 5px center #ccc;
	border-top:1px solid #999;
	padding-left: 30px;
}

#sidebar .widget a.add-action
{
	color:#333;
	display:block;
	line-height: 20px;
	float: right;
	padding: 2px;
}

#sidebar .widget .widget-title {
	margin:0;
	height: 20px;
	padding: 5px;
	color:#F7F3E8;
	background:#747E80;
	clear: both;
	font-size: 130%;
}

#sidebar .widget .widget-title span {
    float: left;
    line-height: 20px;
}

#sidebar .widget a.add:hover
{
	background-color:#c8b9d7;
}

#sidebar-activity-log {
    line-height: 1.2em;
    min-height: 170px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    background-color: #fffeda;
    background-image: -moz-linear-gradient(top, #fefcaf, #fffeee);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefcaf), color-stop(1, #fffeee));
    padding: 1.2em;
}

#sidebar-activity-log li {
    font-size: 90%;
}

#sidebar-activity-log h2 {
    line-height: 1.2em;
    border-bottom: 1px dotted #999;
}

#sidebar-activity-log li.list-empty {
    padding: 5em 0;
    color: #ccc;
}



/* Activity Log */
#activity-search
{
    float: left;
    margin: 0;
    text-align: left;
    padding-right 24px;
    height: 23px;
    width: 164px;
}

#activity-log h2 {
    text-align: center;
    display: block;
    background: #cfc6d7;
    padding: 0.2em;
    margin-bottom: 2px;
    font-size: 120%;
}

/* FILTERS */
div.filters
{
	font-size: 85%;
	line-height: 1em;
}

ul.filter-choices li
{
	display:inline;
	margin:0;
	padding:0;
}

ul.filter-choices li.filter-title
{
	font-weight:700;
	color:#555;
}

ul.filter-choices li a
{
	border:none;
}

ul.filter-choices li.selected a
{
	font-weight:bold;
	color:#6c9!important;
}

ul.filter-choices a:hover
{
	color:#630;
}

#activity-filters
{
    float: right;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 768px;
}

ul.weekly-filter {
    display: table;
    width: 100%;
}

ul.weekly-filter li {
	display: table-cell;
	margin:0;
    height: 23px;
	padding:0;
	width: 30%;
    border-bottom: 1px solid #ccc;
}

ul.weekly-filter li {
    font-weight: bold;
}

ul.weekly-filter li.previous {
    text-align: left;
    background:url("/img/arrow.prev.gif") no-repeat left center;
    padding-left: 20px !important;
}
ul.weekly-filter li.current {
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
ul.weekly-filter li.next {
    background:url("/img/arrow.next.gif") no-repeat right center;
    padding-right: 20px !important;
    text-align: right;
}

/*OBJLISTS */

div.object-list
{
	background:#eee;
	margin-top:.5em;
}

div.object-list th
{
	font-weight: bold;
	padding:3px .4em;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	background:#EEE;
	text-align:center;
	vertical-align:middle;
}

div.object-list td
{
	padding:.3em;
	padding-left:.5em;	
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    height: 1.5em;
    overflow: hidden;
    text-align: center;
    padding: 3px 0 1px;
    vertical-align: middle; 
    white-space: nowrap;
}
table.subtable td, table.subtable th {
    border: 0 !important;
    text-align: left;
    padding: 0 5px 0 5px;
    max-width: 200px;
    white-space: normal;
    vertical-align: top;
}
table.subtable th {
    font-weight: 200;
    background: none;
    padding-left: 0;
    white-space: nowrap;
    max-width: 250px;
}
div.object-list td.prose
{
    text-align: left;
    white-space: normal;
    vertical-align: top;
}
div.object-list a.stress
{
    font-weight: bold;
}
div.object-list th a
{
	text-decoration:none;
	display:block;
	padding-right:12px;
}

div.object-list th + th {
    border-left:1px dotted #ccc;
}

div.object-list th.sorted
{
	/*background-color:#fff!important;*/
}

div.object-list th.ascending a
{
	background:url(/img/arrow-down.png) right 50% no-repeat;
}

div.object-list th.descending a
{
	background:url(/img/arrow-up.png) right 50% no-repeat;
}

div.object-list h3
{
    padding: 6px;
    font-weight: bold;
}

div.object-list .table-notes
{
    padding: 1em;
}
tr.even td
{
	background-color:#f7f7f7;
}

tr.odd td
{
	background-color:#fff;
}

.link-cell
{
	cursor:pointer;
	/*color:#333;*/
}

.link-row:hover, .link-row:hover td, .redirect:hover
{
    color: #0066cc;
}

.link-row, .redirect
{
	cursor:pointer;
}
tr.loaded-row td
{
    background-color: #f4e6ef;
}
tr.complete-row td
{
    color: #737373;
}
tr.complete-row a
{
    color: #3d819e;
}
tr.complete-row a:active, tr.complete-row a:hover, tr.complete-row a:focus
{
    color: #0066cc;
}
td.first, th.first
{
	width:10px;
	border-left: none !important;
}

td.prioritize {
	background: url(/img/grippy.png) no-repeat 4px center;
    cursor: move;
}

.drag-helper {
    background: #9cf;
    border: 1px solid #06c;
    padding: 4px 8px 4px 8px;
    cursor: move;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

tr.expanded
{
	border:1px solid #999;
	border-bottom:0;
}

tr.expanded td.first
{
	background:url(/img/icon.expanded.png) no-repeat scroll 4px 6px;
}

tr.expanded td
{
	background-color:#C6AFDE!important;
}

tr.expander
{
	background:#e7e7e7;
	border:1px solid #999;
	border-top:0;
}

tr.expander h3
{
	border-bottom:1px dashed #999;
	clear:both;
}

ul.treeview
{
	list-style-type:none;
	padding-left:5px;
}

ul.treeview li a
{
	background:url(/img/icon.expand.png) no-repeat scroll 0 0 transparent;
	padding-left:20px;
	height:20px;
	display:inline-block;
}

ul.treeview li a.expanded
{
	background:url(/img/icon.expanded.png) no-repeat scroll 0 0 transparent;
}

ul.treeview ul.treeview
{
/* this should handle all levels of depth */
	padding-left:34px;
	background:url(/img/treeview.skeleton.png) repeat-y scroll 0 0 transparent;
}

ul.reports
{
	list-style-type:none;
	padding:10px;
	margin:0;
}

ul.reports li a
{
	width:100%;
	background:url(/img/icon.resultset.png) no-repeat scroll left top transparent;
	display:inline-block;
	height:20px;
	padding-left:20px;
}

.tools
{
	margin:0;
	padding:0;
    padding-top: 16px;
	border:0;
	outline:0;
	float:right;
	zoom:1;
}

.tools li
{
	list-style-image:none;
	list-style-type:none;
	margin-left:0;
	white-space:nowrap;
	display:inline;
	float:left;
	padding-left:10px !important;
	padding-right:10px !important;
    line-height: 10px;
}

.tools li:first-child,.tools li.first
{
	padding-left:0;
}

.tools li:last-child,.tools li.last
{
	padding-right:0;
}

/* RESULTS */
#result-page
{
	text-align:left;
}

#result-table
{
	border-collapse:collapse;
	text-align:left;
	width:100%;

}

#result-table td
{
	border-bottom:1px solid #eee;
	padding:5px 8px;
}

#strategy-table
{
	border-collapse:collapse;
	text-align:left;
	width:45%;
}

#strategy-table td
{
	border-top:1px solid #eee;
	padding:5px 8px;
}

.result-labels
{
	font-weight:700;
}

#result-summary
{
	border-collapse:collapse;
	border:1px solid #ccc;
	float:left;
	text-align:left;
	width: 500px;
}

#summary-notes
{
	border-collapse:collapse;
	border:1px solid #ccc;
	float:right;
	text-align:left;
	width: 320px;
	margin: 0;
	margin-left: 14px;
}

#result-links {
    font-weight: bold;
    border-bottom: 0.5em solid #ccc;
    padding-bottom: 1em;
}

div.tablenotes
{
    background: none repeat scroll 0 0 #eef;
    border: 1px solid #ccc;	
	padding:20px;
	margin-bottom:10px;
}

div.tablenotes h3
{
	padding:0;
	margin:0;
	font-size: 130% !important;
	color:#000 !important;;
}

dl.note-list
{
	margin-bottom:0;
}

dl.note-list dt
{
	float:left;
	clear:left;
	text-align:right;
	font-weight:700;
	color:#000;
}

dl.note-list dd
{
	margin:0 0 0 3em;
	padding:0 0 .5em;
}

#result-page h1, #result-page h2, #result-page h3, #result-page h4
{
	display:block;
	font-weight:400;
	margin-top:1.4em;
	page-break-after:avoid;
}

#result-title h2
{
	font-size:190%;
	line-height:1.2em;
	margin-bottom:.8em;
	margin-top:1.2em;
	color:#666;
}

#result-page div.spacer
{
	padding:5px 0;
}

#result-page .clear
{
	clear:both!important;
}

#result-page .pagebreak
{
	clear:both!important;
	display:block;
	page-break-after:always;
}

#result-page p
{
	margin:.7em 0;
}

#result-page h3
{
	font-size:170%;
	line-height: 1.5em;
	font-weight: normal;
	border-bottom:1px dotted #ccc;
	color: #666;
	margin-top: 1.0em;
	margin-bottom: 0.5em;
	page-break-after:avoid;
}

#result-page .full
{
	width:100%!important;
}

.rtable
{
	border-collapse:collapse;
	text-align:left;
	border:solid 1px #ccc;
	margin:8px 0;
}

.rtable th
{
	color:#69C;
	font-weight:700;
	padding:4px;
	text-align:right;
}

.rtable td
{
	text-align:right;
	font-family: Consolas, monospace;
	border-top:1px solid #eee;
	color:#669;
	padding:5px 8px;
}

#result-page .floatleft
{
	float:left;
}

#result-page .floatright
{
	float:right;
}

#result-page img
{
	display:block;
	margin:0 auto;
	page-break-inside:avoid;
	float:none;
}

/* MODAL POPUP */
#close_x
{
	background:url(/img/modal.close.png) no-repeat scroll left top transparent;
	display:block;
	height:23px;
	overflow:hidden;
	position:absolute;
	right:5px;
	text-indent:-9999px;
	top:5px;
	width:24px;
}


/*--------------------------- FORMS -----------------------------------------*/
form.objform
{
	display:block;

}
body.multi-form {
    background-color: #eee;
}
.objform ul.form-body
{
	width:550px;
	min-height:150px;
}

.objform li.field
{
	width:64%;
	display: block;
}

form#lims-form ul
{
	margin:0;
	padding:0;
	list-style-type:none;
	display: block;
	width:550px;
}

form li
{
	margin:0;
	padding:0 4px 6px 6px;
	position:relative; 
	clear:both;
}

form li:after,.buttons:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

form li,.buttons
{
	display:inline-block;
}

* html form li{height: 1%;margin-bottom:-3px;}
*+html form li{height: 1%;margin-bottom:-3px;}
* html form li div{display:inline-block;}
*+html form ul, *+html form li div{display:inline-block;}

form li,.buttons
{
	display:block;
}

* html form li div
{
	display:inline-block;
}

form li div,form li span
{
	margin:0;
	padding:2px 4px 0 0;
	color:#444;
}

form li span
{
	float:left;
}

form li div.address
{
	padding-bottom:0;
}

form li div.left
{
	display:inline;
	float:left;
	width:47%;
}

form li div.right
{
	display:inline;
	float:right;
	width:47%;
}

.clear
{
	clear:both!important;
}

.spacer
{
    padding: 5px;
}
/* ----- HEADING ----- */
.heading
{
	display:inline-block;
	width: 100%;
	clear:both;
	border-bottom:1px dotted #ccc;
	margin:0;
	padding-bottom:.5em;
	margin-bottom:.5em;
}

.heading[class]
{
	display:block;
}

.heading h2
{
	font-weight: bold;
	font-size:150%;
	margin:.5em .2em;
	clear:left;
}

.heading p
{
	font-size:90%;
	margin:0;
}

/* ----- SECTIONS ----- */
form hr
{
	display:none;
}

form li.section
{
	border-top:1px dotted #ccc;
	margin-top:9px;
	padding-top:13px;
	padding-bottom:0;
	padding-left:9px;
	width:97%!important;
}

form ul li.first
{
	border-top:none!important;
	margin-top:0!important;
	padding-top:0!important;
}

form .section h3
{
	font-weight:400;
	font-size:110%;
	line-height:135%;
	margin:0 0 2px;
}

form .section p
{
	margin:0 0 10px;
}

/* ----- FIELDS AND LABELS ----- */
form li div label,form li span label
{
	font-weight:400;
	margin:0;
	padding-top:3px;
	clear:both;
	text-align:left;
	color:#000;
}

label.desc
{
	padding:0 0 1px;
	border:none;
	color:#666;
	display:block;
	font-weight:400;
}

form li label
{
	margin:0;
	text-align:left;
}


#action_form button, #action_form select {
    font-size: 85%;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

#action_form div.action_form_tools {
    padding: 2px;
}

/* ----- SIZES ----- */
.third
{
	width:16%!important;
}

.half
{
	width:48%!important;
}

.full
{
	width:100%!important;
}

input.small,select.small
{
	width:50%;
}

input.medium,select.medium
{
	width:50%;
}

input.large,select.large,textarea.textarea
{
	width:100%;
}

textarea.small
{
	height:2.5em;
}

textarea.medium
{
	height:5.5em;
}

textarea.large
{
	height:20em;
}

input.text,input.file,textarea.textarea,select.select,input.barcode,input.matrixcode,input.search,input.barcode-return
{
	margin:0;
	font-size:100%;
	color:#333;
}

input.text, input.search, textarea.field, input.barcode, input.matrixcode, input.barcode-return
{
/*border-color: #7C7C7C #CECECE #C3C3C3 #7C7C7C;
	border-color:#abc;
	border-style:solid;
	border-width:1px;*/
    background: white; 
    border: 0; 
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5); 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
    font-size: 13px;
    line-height: 15px;
}

#inline-form textarea.field {
    font-family: monospace;
    font-size: 90%;
    background: #ffffef;
}

input.text,input.file,input.barcode,textarea.textarea,input.matrixcode,input.search, input.barcode-return
{
	padding:3px;
}

.firefox select.select
{
}

input.barcode, input.barcode-return
{
	background:#fff url(/img/barcode-bg.png) no-repeat top right;
}

input.matrixcode
{
	background:#fff url(/img/matrixcode-bg.png) no-repeat scroll right center;
}

input.search
{
	background:#fff url(/img/searchbox-bg.png) no-repeat scroll right center;
	max-width: 150px;
}

div.choice label
{
	font-size:100%;
	display:block;
	line-height:1.5em;
	margin:-1.65em 0 0 25px;
	padding:.44em 0 .5em;
	color:#222;
	width:90%;
}

input.checkbox,input.radio
{
	display:block;
	line-height:1.5em;
	margin:.6em 0 0 3px;
	width:13px!important;
	height:13px!important;
}

select.select
{
	margin:1px 0;
	padding: 1px 0 0;
}

select.select[class]
{
	margin:0;
}

:first-child+html select.select[class]
{
	margin:1px 0;
}

.webkit select.select
{
	margin: 0 0 1px;
	font-size: 110%;
	padding: 2px;
}

select.select[multiple]
{
	height:10em;
}

span.symbol
{
	font-size:115%;
	line-height:130%;
}

form li .datepicker
{
	float:left;
	margin:.1em 5px 0 0;
	padding:0;
	width:16px;
	height:16px;
	cursor:pointer!important;
}

/* ----- BUTTONS ----- */
input.btTxt
{
	padding:0 7px;
	width:auto;
	overflow:visible;
}

.buttons
{
	clear:both;
	margin-top:10px;
}

.buttons input
{
	font-size:120%;
	margin-right:5px;
}


/* ----- ERRORS ----- */
#errorLi
{
	width:99%;
	margin:0 auto;
	background:#fff;
	border:1px dotted red;
	margin-bottom:1em;
	text-align:center;
	padding-top:4px;
	padding-left:0;
	padding-right:0;
}

#errorMsgLbl
{
	margin:7px 0 5px;
	padding:0;
	font-size:125%;
	color:#DF0000;
}

#errorMsg
{
	margin:0 0 .8em;
	color:#000;
	font-size:100%;
}

#errorMsg strong
{
	background-color:#FFDFDF;
	padding:2px 3px;
	color:red;
}

form .warning
{
	z-index:900;
	margin:0;
	padding:8px 10px 9px;
	border:1px solid #e6c3c3;
	background:#f5d2d2;
	line-height:130%;
	color:#800000;
}

form li.error label
{
	color:#DF0000!important;
}

/*
form p.error{
	display:none;
	color:red;
	font-weight:bold;
	font-size:10px;
	margin:-2px 0 5px 0;
	clear:both;
}
*/
form li.error p.error
{
	display:block;
}

.leftLabel p.error,.rightLabel p.error
{
	margin-left:30%;
	padding-left:15px;
}

.noI .leftLabel p.error,.noI .rightLabel p.error
{
	margin-left:35%;
	padding-left:15px;
}

ul.errorlist
{
	padding:0;
	color:red!important;
}

ul.errorlist li
{
	padding:0;
	width:100%;
}

/* ----- REQUIRED ----- */
form .req
{
	float:none;
	color:red!important;
	font-weight:700;
	margin:0;
}

/* ----- INSTRUCTIONS and ERRORS ----- */
form li.focused
{
	background-color:#cce;
}

form .instruct,form .error
{
	position:absolute;
	top:0;
	left:100%;
	z-index:1001;
	width:150px;
	margin:0 0 0 8px;
	padding:8px 10px 9px;
	border:1px solid #ccc;
	background:#e5e5e5;
	line-height:130%;
	color:#666;
	visibility:hidden;
}

form .error
{
	top:6em;
	z-index:900;
	border:1px solid #e6c3c3;
	background:#f5d2d2;
	color:#800000;
	visibility:visible;
}
form .warning-error
{
    top: 12px;
    color:#000080;
    background:#d2d2f5;
    border:1px solid #eee;
}
li.leftHalf .instruct,li.middleThird .instruct
{
	left:200%;
}

li.leftThird .instruct
{
	left:300%;
}

form .instruct small
{
	font-size:105%;
}

form li.focused .instruct,form li:hover .instruct
{
	visibility:visible;
}

/* ----- LABEL LAYOUT ----- */
.leftLabel li,.rightLabel li,li.leftLabel,li.rightLabel
{
	width:74%!important;
	padding-top:9px;
}

.leftLabel .small,.rightLabel .small
{
	width:17%;
}

.leftLabel .medium,.rightLabel .medium
{
	width:35%;
}

.leftLabel .large,.leftLabel textarea.textarea,.rightLabel .large,.rightLabel textarea.textarea,.leftLabel .address,.rightLabel .address
{
	width:64%;
}

* html .leftLabel .small,* html .rightLabel .small
{
	width:23%;
}

* html .leftLabel .medium,* html .rightLabel .medium
{
	width:55%;
}

* html .leftLabel .large,* html .leftLabel textarea.textarea,* html .rightLabel .large,* html .rightLabel textarea.textarea
{
	width:97%;
}

.leftLabel label.desc,.rightLabel label.desc
{
	float:left;
	width:30%;
	margin:2px 15px 0 0;
}

.rightLabel label.desc
{
	text-align:right;
}

.leftLabel .address,.rightLabel .address
{
	float:left;
}

.leftLabel p.instruct,.rightLabel p.instruct
{
	width:27%;
	margin-left:5px;
}

.leftLabel .altInstruct .instruct,.rightLabel .altInstruct .instruct
{
	margin-left:30%!important;
	padding-left:15px;
	width:65%;
}

.leftLabel .buttons,.rightLabel .buttons
{
	margin-left:15px;
}

.leftLabel .buttons input,.rightLabel .buttons input
{
	margin-left:30%;
}

/* ----- NO INSTRUCTIONS ----- */
.noI .instruct
{
	display:none!important;
}

.noI form li,.noI form li.buttons
{
	width:97%!important;
}

.noI form li.section
{
	padding-left:9px!important;
}

/* ----- NO INSTRUCTIONS LABEL LAYOUT ----- */
.noI .leftLabel .large,.noI .leftLabel textarea.textarea,.noI .rightLabel .large,.noI .rightLabel textarea.textarea,.noI .leftLabel .address,.noI .rightLabel .address
{
	width:60%;
}

* html .noI .leftLabel .small,* html .noI .rightLabel .small
{
	width:23%;
}

* html .noI .leftLabel .medium,* html .noI .rightLabel .medium
{
	width:55%;
}

* html .noI .leftLabel .large,* html .noI .leftLabel textarea.textarea,* html .noI .rightLabel .large,* html .noI .rightLabel textarea.textarea
{
	width:97%;
}

.noI .leftLabel label.desc,.noI .rightLabel label.desc
{
	width:35%;
}

.noI .leftLabel .buttons input,.noI .rightLabel .buttons input
{
	margin-left:35%;
}

/* ----- FIELD FLOATING ----- */
form li.leftHalf,form li.rightHalf
{
	width:31%!important;
}

form li.leftThird,form li.middleThird,form li.rightThird
{
	width:20%!important;
}

li.leftHalf, li.leftThird
{
	clear:left;
	float:left;
}

li.middleThird
{
	clear:none;
	float:left;
}

li.rightHalf,li.rightThird
{
	clear:none;
	float:left;
}

li.leftHalf .field,li.rightHalf .field, li.leftThird .field, li.middleThird .field, li.rightThird .field
{
	width:100%;
}

.rightHalf div,.rightThird div
{
	text-align:left;
}

form li div.leftSelect
{
	display:inline;
	float:left;
	width:45%;
}

form li div.rightSelect
{
	display:inline;
	float:right;
	width:45%;
}

form li div.selectTools
{
	float:left;
	display:block;
	min-width:16px;
	padding-top:3em;
	text-align:center;
	margin:0 auto;
}

.selectAddTool,.selectDelTool
{
	text-align:center;
	display:block;
	margin:0;
}

img.topshadow,img.bottomshadow
{
	height:10px!important;
	margin:0 auto;
	padding:0;
	display:block!important;
}

/* SUBMIT ROW */
.submit-row
{
	padding:5px 0;
	margin:5px 0;
}

.submit-row input
{
    display: block;
    float: left;
    max-width: 150px;
}

.submit-row p
{
	margin-top:.3em;
}

li.submit-row
{
	border-top:solid 1px #ccc;
}

input[type=submit],input[type=button],.submit-row input
{
	padding:3px 10px;
	margin:4px 0;
}

input.default[type=submit],.submit-row input.default
{
	font-weight:700;
}

input[type=submit]
{
	float: right;
}


/* LOGIN FORM */
div.login-error
{
	color:red;
}

div.login-field-error
{
	margin-left:9.5em;
}

/* SCORE COLORING */

span.excellent-score {
    color: #0c0 !important;
}

span.good-score {
    color: #9c0 !important;
}

span.fair-score {
    color: #cc0 !important;
}

span.usable-score {
    color: #a96 !important;
}
span.unusable-score {
    color: #933 !important;
}

/* HOME PAGE */
dl.intro {
    margin: 0;
	padding: 0;
}

.intro dt {
	margin: 0;
	padding: 0;
	font-weight: bold;

}
.intro dd {
	margin: 0 0 1em 0;
	padding: 0;
}

table.stats {
	margin: 0;
	padding: 0;
}

table.stats th {
    padding: 0.2em;
    font-size: 120%;
    /*color: #fff;
    background-color: #555;*/
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.stats td {
	padding: 0.4em;
    border-bottom: 1px solid #ccc;
}

table.stats p.nothing {
    color: #aaa;
}


td.incoming, td.outgoing, td.on-site, td.new {
    font-size: 85%;
    padding-top: 24px;
    text-align: center;
    border-right: 1px solid #ddd;
    color: #666;
}

.stats td.links {    
	text-align: center;
	line-height: 0.9em;
	padding: 0
}

.stats td.links a {
    font-weight: bold;
}

td.incoming {
    background:url("/img/incoming.png") no-repeat center 3px;
}

td.outgoing {
    background:url("/img/outgoing.png") no-repeat center 3px;
}
td.on-site {
    background:url("/img/onsite.png") no-repeat center 3px;
}

td.new {
    background:url("/img/new-recent.png") no-repeat center 3px;
}

#news li, #help li {
    padding: 0.2em 0;
    line-height: 100%;
}


#feedback-list li {
    padding: 0.5em 0;
    line-height: 100%;
}

#feedback-list li +  li {
    border-top: 1px solid #cfc6d7;
}
#feedback-list li.title +  li {
    border-top: none;
}

#feedback-list li.list-empty {
    padding: 5em;
    color: #ccc;
}

#feedback-list li.title, #news li.title, #help li.title {
    font-size: 120%;
    border-bottom: 1px dotted #ccc;
}

#feedback-list span.highlight {
    color: #777;
}

#news {
    margin-bottom: 1em;
}

#no-javascript {
    display: block;
    margin: 14px;
    padding: 1.5em;
    border: 1px solid  #e99;
    background-color: #fee;
}

body.login #no-javascript {
    font-size: 11px;
    line-height: 13px;
    padding: 4px;
    margin: 0;
}

p#vtip { 
    display: none; 
    position: absolute; 
    padding: 10px; 
    left: 5px; 
    font-size: 0.9em; 
    background-color: #fff1c4; 
    border: 1px solid #e2c66c; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    z-index: 9999
    height: 50px;
}
p#vtip #vtipArrow { 
    position: absolute; 
    top: -10px; 
    left: 5px
}
 
