ul.nav { 
text-align: left; 
list-style-type: none;
margin: 0px;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul.nav li { 
display: inline;
}

ul.nav li.tab { 
background-color: #fff; 
}

ul.nav li a { 
padding: 3px 10px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
background-color: #e0eefb; 
color: #666;
text-decoration: none;
border-bottom: none;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
border-radius: 5px 0px;
}

ul.nav li.active a { 
background-color: #c3d9ff; 
color: #000; 
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul.nav a:hover { 
background: #eeeeee; 
}


ul.subnav { 
text-align: left; 
border-bottom: 1px solid #5a9abe; 
list-style-type: none;
background-color: #c3d9ff;
margin: 0;
padding: 6px 10px 3px 10px; 
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
font-size: 90%
}

div.navinfo { 
text-align: left; 
border-bottom: 1px solid #5a9abe; 
background-color: #c3d9ff;
margin: 0;
padding: 6px 10px 3px 10px; 
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
}

ul.subnav li { 
display: inline;
}

ul.subnav li.tab { 
border-bottom: 1px solid #5a9abe; 
background-color: #fff; 
}

ul.subnav li a { 
padding: 3px 10px; 
background-color: #c3d9ff; 
color: #666;
text-decoration: none;
border-bottom: none;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
border-radius: 3px 0px;
}

ul.subnav li.active a {
background-color: #fff; 
color: #000;
position: relative;
top: 2px;
padding-top: 4px; 
border-bottom: none;
}

ul.subnav a:hover { 
background: #eff6ff; 
}
