{% extends "base.html" %}

{% load stats_extras %}

{% block headline %}
<h2>Usage Statistics - {{month.0|date:"F Y" }}</h2>
{% endblock %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="toolbar">
            <li class="pie-tool"><a href="{% url "stats-shifts" month.0.year %}" title="View {{month.0.year}} Statistics"> Stats</a>
            <li class="hist-tool"><a href="{% url "stats-params" month.0.year %}" title="View {{month.0.year}} Parameter Statistics"> Params</a>
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content %}
<div class="object-list">
	<div class="list-tools">
	    <h3 class="current">
	        <a class="prev" href='{% url "stats-calendar-any" month=month.1 %}' title="Previous Month">
	            <img src="/static/img/prev.png" alt="Previous Month"></a>
	        <a class="current" href='{% url "stats-calendar-now" %}'>
	            Back to Current Month</a>
	        <a class="next" href='{% url "stats-calendar-any" month=month.2 %}' title="Next Month">
	            <img src="/static/img/next.png" alt="Next Month"></a>
	    </h3>
	</div>

    <h3>{{month.0|date:"F Y" }}</h3>

<table id="calendar">
    <thead>
        <tr>
		    <th></th>
		    <th class="weekday">Monday</th>
		    <th class="weekday">Tuesday</th>
		    <th class="weekday">Wednesday</th>
		    <th class="weekday">Thursday</th>
		    <th class="weekday">Friday</th>
		    <th class="weekday">Saturday</th>
		    <th class="weekday">Sunday</th>
        </tr>
    </thead>
    <tbody>
    	{% for week in dates %}
			<tr>
    			{% for day in week.dates %}
	                {% if forloop.first %}<td class="date header"></td>{% endif %}
	                <td class="date
	                    {% ifequal month.0.month day.month %}current-month 
	                    {% ifequal current_date day %}today{% endifequal %}{% endifequal %}">{{day.day}}</td>
	    		{% endfor %}
    		</tr>
    		{% for bl, blinfo in week.info.items %}
    		<tr>
    			<td class="blabel header"><span>{{bl}}</span></td>
    			{% for item in blinfo %}
	                <td class="stats
	                    {% ifequal month.0.month item.0.month %}current-month 
	                    {% ifequal current_date item.0 %}today{% endifequal %}{% endifequal %}
	                    {% if item.1 %}link-cell modal"
	                    href="{% url "stats-data-list" %}?beamline={{forloop.parentloop.counter}}&created__gte={{item.0|date:'Y-m-d'}}+00%3A00%3A00%2B00%3A00&created__lte={{item.0|date:'Y-m-d'}}+23%3A59%3A59%2B00%3A00&ot=asc&o=6" 
	                    {% else %}"{% endif %}>
	                    	{% for user in item.1 %}
		                        <b>{{ user.0|truncatechars:8 }}</b>({{ user.1 }})- 
	                               {{user.2|date:"H:i" }}{% ifnotequal user.2 user.3 %}-{{ user.3|date:"H:i" }}{% endifnotequal %}
		                        <br>
		                    {% endfor %}    			
    			{% endfor %}
    		{% endfor %}
    		
    	{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block sidebar %}
<div class="widget statistics" style="height:auto;" data="{% url "stats-monthly" month.0.year month.0.month %}">
    <div class="widget-title"><span>{{month.0|date:"N Y" }} Usage</span></div>
    <ul><p class="list-empty"> ( Data not loaded ) </p></ul>
</div>
{% endblock %}
