{% extends "base.html" %}
{% load math_filters %}
{% load stats_extras %}

{% block headline %}
    <h2>Beamline Stats</h2>
{% endblock %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="toolbar">
            <li class="pie-tool"><a href="{% url "stats-shifts" years.0 %}" title="View {{years.0}} Statistics">{{ month.2 }} Stats</a>
            <li class="stats-tool"><a href='{% url "stats-calendar-now" %}' title="View Usage Statistics">Usage</a></li>
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content-override %}
<div id="result-page" class="stat">   
  <div class="list-tools">
    <h3 class="current">
      {% if not cumulative %}<a class="prev" href='{% url "stats-params" years.2 %}' title="Previous Year">
        <img src="/img/prev.png" alt="Previous Year"></a>{% endif %}
      <a class="current" href='{% url "stats-params" years.0 %}'>
        Back to {{ years.0 }} Statistics</a>
      {% if not cumulative %}<a class="next" href='{% url "stats-params" years.1 %}' title="Next Year">
        <img src="/img/next.png" alt="Next Year"></a>{% endif %}
      {% if not cumulative %}  (<a class="current" href='{% url "stats-params-all" %}' title="View All Years Together">
        View All Years</a>){% endif %}
    </h3>
  </div>
  {% for bl in exp_data.keys %}
      <div class="col-6">
          <h2>{% if not cumulative %}{{years.3}}{% endif %} Usage Metrics on {{bl}}</h2>
          <div id="exposure_time-{{bl}}" class="placeholder half">hello</div>
          <div id="delta_angle-{{bl}}" class="placeholder half">world</div>
          <div id="resolution-{{bl}}" class="placeholder half"></div>
          <div id="wavelength-{{bl}}" class="placeholder half"></div>
          <div id="scan_attenuation-{{bl}}" class="placeholder half"></div>
      </div>
  {% endfor %}  
</div>
{% endblock %}

{% block script %}
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.stack.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.axislabels.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.navigate.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var exp_data = {};
            {% for bl, data in exp_data.items %}
                exp_data['{{bl}}'] = {}, ytitle = '', col = '#000000';
                {% for type, dat in data.items %}
                    exp_data['{{bl}}']['{{type}}'] = {{ dat }};
                    {% ifequal type 'delta_angle' %}ytitle = 'Delta Angle (deg)', col = '#FF6461';{% endifequal %}
                    {% ifequal type 'wavelength' %}ytitle = 'Energy (keV)', col = '#FFDD57';{% endifequal %}
                    {% ifequal type 'exposure_time' %}ytitle = 'Exposure Time (s)', col = '#7DCF7D';{% endifequal %}
                    {% ifequal type 'resolution' %}ytitle = 'Max Resolution (A)', col = '#57A8FF';{% endifequal %}
                    {% ifequal type 'scan_attenuation' %}ytitle = 'Scan Attenuation (%)', col = '#A857FF';{% endifequal %}
                    var max = 0;
                    var ylabel = {% ifequal type 'scan_attenuation' %}'Number of Scans'{% else %}'Number of Datasets'{% endifequal %};
                    for (var i=0; i < exp_data['{{bl}}']['{{type}}'].length; ++i) {
                        if (exp_data['{{bl}}']['{{type}}'][i][0] > max) max = exp_data['{{bl}}']['{{type}}'][i][0]
                    }
                    $.plot($("#{{type}}-{{bl}}"), [{data: exp_data['{{bl}}']['{{type}}'], color: col}], {
                           series: { 
                                stack: 0, 
                                lines: {show: false, fill: true, steps: false }, 
                                bars: { show: true, barWidth: max/exp_data['{{bl}}']['{{type}}'].length, fill: 0.9, lineWidth: 0 },
                                shadowSize: 10,                            
                            },
                            xaxes: [{min: 0 }],
                            xaxis: { axisLabel: ytitle },
                            yaxis: { axisLabel: {% if forloop.counter0|divisibleby:2 %}ylabel{% else %}''{% endif %} },
                            grid: { borderWidth: 0 },
                            pan: {interactive: true },
                            zoom: {interactive: true },
                    }); 
                {% endfor %}
            {% endfor %}
        });
    </script>
{% endblock %}
