{% extends "base.html" %}

{% block content %}
    <h2>Run Lists</h2>
    <div class="content-list datalist parent-stop runlist" id="runlist-list" data="{% url staff-runlist-list %}">
        {% comment %}
            The content for this div is loaded via ajax in the script block below.
        {% endcomment %}
    </div>
    
    <div id="add-runlist" class="hidden modal-content"></div>
{% endblock %}

{% block sidebar %}
	<div id="experiments" class="widget droppable droppable-remove parent-stop" accept="experiment" data="{% url staff-experiment-basic-list %}">
        <h3>Experiments</h3>
        <ul>
            <li><a href="#">Content Not Loaded.</a></li>
        </ul>
    </div>
    <div id="containers" class="widget droppable droppable-remove parent-stop" accept="container" data='{% url staff-container-basic-list 0 %}'>
    	<h3>Containers</h3>
    	<ul>
    		<li><a href="#">Content Not Loaded.</a></li>
    	</ul>
    </div>


{{ block.super }}
{% endblock %}

{% block script %}
{{ block.super }}
    <script>
    jQuery(function() {
        jQuery("#runlist-list").load("{% url staff-runlist-list %}{% if request.META.QUERY_STRING %}?{{request.META.QUERY_STRING}}{% endif %}", function() { 
			// update the runlist table in this case to be single
			jQuery(".expander").addClass("single"); 
		});
    });
    
    // handles all the '+ add' buttons.
    jQuery("a.modal").live("click", function() {
        var $button = jQuery(this);
        var contentURL = $button.attr("href");
        var $modal = jQuery($button.attr("rel"));
        // this attempts to preload the content
        if(!$modal.find("a.close").length) {
            $modal.append("<div class='content'></div>");
            $modal.append('<a href="#" class="close" id="close_x">close</a>');
        }

        $modal.find('.content').load(contentURL, function(e, status) {
            if(status === "success") {
                $modal.lightbox_me({
                    centered: true,
                    destroyOnClose: false,
                    overlaySpeed: "fast",
                    overlayDisappearSpeed: "fast",
                    lightboxSpeed: "fast",
                    lightboxdisappearSpeed: "fast",
                    onLoad: function() {
                        // FIXME: find a better place for this
                        jQuery(".slideview").slideView();
                    },
                    onClose: function() {
                        // reload the relevant forms that have been updated
                        loadWidgets();
                        refreshDatalist();
                        //loadDatalists();
                    }
                });
            }
        });
        return false;
    });
    
    // attach another function to the link-row live click event to reload the container widget with the active runlist
    jQuery(".link-row").live("click", function() {
    	// just reload the data for the widget, with the arg of this items id
    	var $id = jQuery(this).attr("id");
    	var $widget = jQuery("#containers");
    	$widget.attr("data", "{% url staff-container-basic-list 0 %}../" + $id);
    	loadWidgets();
    });
    
    
    </script>
{% endblock %}

