<table class="stats" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr><th colspan="10">Status Overview</th></tr>
    <tr><td class="outgoing" title="In-coming items">Sent items</td>
    <td class="links">
        {% if statistics.shipments.outgoing %}
        <p>({{statistics.shipments.outgoing}})<br/><a href="{% url staff-shipment-list %}?status__exact=1">Shipment{{statistics.shipments.outgoing|pluralize}}</a></p>
        {% else %}<p class="nothing">No<br/>Shipments</p>{% endif %}
    </td>
    <td class="links">
        {% if statistics.crystals.outgoing %}
        <p>({{statistics.crystals.outgoing}})<br>Crystal{{statistics.crystals.outgoing|pluralize}}</p>
        {% else %}<p class="nothing">No<br/>Crystals</p>{% endif %}
    </td>
    <td>&nbsp;</td>
    </tr>

    <tr><td class="incoming" title="Out-going items">Returned</td>
    <td class="links">
        {% if statistics.shipments.incoming %}
        <p>({{statistics.shipments.incoming}})<br/><a href="{% url staff-shipment-list %}?status__exact=1">Shipment{{statistics.shipments.incoming|pluralize}}</a></p>
        {% else %}<p class="nothing">No<br/>Shipments</p>{% endif %}
    </td> 
    <td class="links">
        {% if statistics.crystals.incoming %}
        <p>({{statistics.crystals.incoming}})<br/>Crystal{{statistics.crystals.incoming|pluralize}}</p>
        {% else %}<p class="nothing">No<br/>Crystals</p>{% endif %}
    </td>
    <td>&nbsp;</td>
    </tr>

    <tr><td class="on-site" title="On-site items">On-site</td>
    <td class="links">
        {% if statistics.dewars.on_site %}
        <p>({{statistics.dewars.on_site}})<br/><a href="{% url staff-dewar-list %}?status__exact=2">Dewar{{statistics.dewars.on_site|pluralize}}</a></p>
        {% else %}<p class="nothing">No<br/>Shipments</p>{% endif %}
    </td> 
    <td class="links">
        {% if statistics.crystals.on_site %}
        <p>({{statistics.crystals.on_site}})<br/>Crystal{{statistics.crystals.on_site|pluralize}}</p>
        {% else %}<p class="nothing">No<br/>Crystals</p>{% endif %}
    </td>
    <td class="links" title="Active Experiment Requests">
        {% if statistics.experiments.active %}
        <p>({{statistics.experiments.active}})<br/><a href="{% url staff-experiment-list %}?status__in=5,6,7,8">Request{{statistics.experiments.active|pluralize}}</a></p>
        {% else %}<p class="nothing">No<br/>Requests</p>{% endif %}
    </td>
    </tr>
    <tr><td class="new" title="Run lists loaded and those completed since the last login or in the past week">Run lists</td>
    <td class="links">
        {% if statistics.runlists.loaded %}
        <p>({{statistics.runlists.loaded}})<br/><a href="{% url staff-runlist-list %}?status__exact=1">Loaded</a></p>
        {% else %}<p class="nothing">None<br/>Loaded</p>{% endif %}
    </td> 
    <td class="links">
        {% if statistics.runlists.completed %}
        <p>({{statistics.runlists.completed}})<br/><a href="{% url staff-runlist-list %}?status__exact=2&modified__gte={{statistics.runlists.start_date|date:'Y-m-d'}}">Completed</a></p>
        {% else %}<p class="nothing">None<br/>Completed</p>{% endif %}
    </td>
    <td>&nbsp;</td>
    </tr>
</table>
