<ul class="toolbar">
    {% if object.is_loadable %}
        <li class="load-tool">
            <a href="{{ handler }}load/" class="action modal-form">
                Load
            </a>
        </li>
    {% endif %}
    {% if object.is_unloadable %}
        <li class="unload-tool">
            <a href="{{ handler }}unload/"  class="action modal-form">
                Unload
            </a>
        </li>
    {% endif %}
    {% if object.is_pdfable %}
        <li class="pdf-tool">
            <a href="{{handler}}protocol/">
                Protocol
            </a>
        </li>
    {% endif %}
    {% comment %}
    {% if object.is_acceptable %}
        <li class="accept-tool">
            <a href="{{ handler }}accept/"  class="action modal-form">
                Accept
            </a>
        </li>
    {% endif %}
    {% if object.is_rejectable %}
        <li class="reject-tool">
            <a href="{{ handler }}reject/"  class="action modal-form">
                Reject
            </a>
        </li>
    {% endif %}
    {% endcomment %}
    {% if object.is_editable %}
        <li class="edit-tool">
            <a href="{{ handler }}edit/"  class="action modal-form">
                Edit
            </a>
        </li>
    {% endif %}
    {% if object.is_deletable %}
        <li class="delete-tool">
            <a href="{{ handler }}delete/"  class="action modal-form">
                Delete
            </a>
        </li>
    {% endif %}
</ul>
