<div id="load-runlist" class="hidden modal-content"></div>
<div id="unload-runlist" class="hidden modal-content"></div>
<div id="accept-runlist" class="hidden modal-content"></div>
<div id="reject-runlist" class="hidden modal-content"></div>
<div id="edit-runlist" class="hidden modal-content"></div>
<div id="delete-runlist" class="hidden modal-content"></div>

<ul class="tools">
    {% if object.is_loadable %}
        <li>
            <a href="{{ handler }}load/" rel="#load-runlist" class="action modal edit-tool">
                Load
            </a>
        </li>
    {% endif %}
    {% if object.is_unloadable %}
        <li>
            <a href="{{ handler }}unload/" rel="#unload-runlist" class="action modal edit-tool">
                Unload
            </a>
        </li>
    {% endif %}
    {% if object.is_acceptable %}
        <li>
            <a href="{{ handler }}accept/" rel="#accept-runlist" class="action modal edit-tool">
                Accept
            </a>
        </li>
    {% endif %}
    {% if object.is_rejectable %}
        <li>
            <a href="{{ handler }}reject/" rel="#reject-runlist" class="action modal edit-tool">
                Reject
            </a>
        </li>
    {% endif %}
    {% if object.is_editable %}
        <li>
            <a href="{{ handler }}edit/" rel="#edit-runlist" class="action modal edit-tool">
                Edit
            </a>
        </li>
    {% endif %}
    {% if object.is_deletable %}
        <li>
            <a href="{{ handler }}delete/" rel="#delete-runlist" class="action modal edit-tool">
                Delete
            </a>
        </li>
    {% endif %}
</ul>