{% load objforms %}
<div class="heading">
    <h2>{{info.title}}</h2>
</div>
{% if info.message %}
    <div class="info">
    <p>{{info.sub_title}}.</p>
    {{info.message}}
    </div>
{% endif %}
{% if form.get_message %}
    <div>{{form.get_message}}</div>
{% endif %}
{% if info.update %}
    <img src="/img/blank.png" width=1 height 1 onload='load_page("{{info.update.target}}","{{info.update.url}}","");' />
{% endif %}
{% if form %}
{% block form_display %}
    {% show_form form info %}
{% endblock %}
{% endif %}

