<form 
        method="post"
        id="lims-form" 
        class="objform ajax"
        action='{{action}}'
{% if enctype %}
        enctype='{{enctype}}'
{% endif %}
>{% csrf_token %}
<ul>
{% include "objforms/plain.html" %}
<li class="submit-row">
{% if info.add_another %}
<input id='btn1' type="submit" value="{{ save_label|default:"Save" }} and add another" name="_addanother" onclick="$('btn2').disable();" />
<input id='btn2' type="submit" value="{{ save_label|default:"Save" }}" class="default" name="_save" onclick="$('btn1').disable();" /></li>
{% else %}
<input type="submit" value="{{ save_label|default:"Save" }}" name="_save" class="default" /></li>
{%endif%}
</ul>
</form>
<img src="/img/blank.png" width=1 height=1 onload="init_form('lims-form'); " />

<script>
    jQuery(function() { // form plugin bindings
        jQuery("form.ajax").ajaxForm(function(response) {
            var $modal = jQuery(".modal-content").not(":hidden"); // at this point, the modal will be visible
            var error = response.indexOf("error") > -1; // given an error there will be an error string present
            var $close = $modal.find('a.close');

            if(error) {
                $modal.find('.content').html(response); // the response includes the full html of the form as well as errors
            } else {
                // close the modal, show confirmation, reload affected panes in the sidebar).
                $close.trigger("click");
                jQuery.jGrowl(response);
            }
        });
    });
</script>

