<form 
        method="post"
        id="lims-form" 
        class="objform_raw ajax"
        action='{{action}}' {% if enctype %}enctype='{{enctype}}' {% endif %}>
{% csrf_token %}
<ul class="form-body">
{% include "objforms/plain.html" %}
</ul>
<ul class="form-buttons">
<li class="submit-row">
{% if info.add_another %}
<input id='btn1' type="submit" value="{{ save_label|default:"Save" }} and add another" name="_addanother" onclick="$('btn2').disable();" />
<input id='btn2' type="submit" value="{{ save_label|default:"Save" }}" class="default" name="_save" onclick="$('btn1').disable();" /></li>
{% else %}
<input type="submit" value="{{ save_label|default:"Save" }}" name="_save" class="default" /></li>
{%endif%}
</ul>
</form>

<script>
    initForms(); //initialize form and transform any select boxes into multi-select widgets
    jQuery(function() { // form plugin bindings
        jQuery("form.ajax").ajaxForm(function(response) {
            var $modal = jQuery(".modal-content").not(":hidden"); // at this point, the modal will be visible
            var error = response.indexOf("error") > -1; // given an error there will be an error string present
            var $close = $modal.find('a.close');
            
            if(error) {
                $modal.find('.content').html(response); // the response includes the full html of the form as well as errors
            } else {
                // close the modal, show confirmation, reload affected panes in the sidebar).
                $close.trigger("click");
                if(jQuery("input.default").attr('value') == 'Delete') { history.go(-1); }
                else { window.location.reload(); }
            }
        });
    });
</script>

