{% extends "reporter/base.html" %}
{% load static %}
{% load icons %}
{% load reporter %}
{% block page_heading %}
    <h3 class="mr-3"><strong class="text-muted">Reports</strong></h3>
{% endblock %}
{% block object_tools %}
    {% if user.is_superuser %}
    <a href="#!" data-form-link="{% url "new-report" %}">
        {% tool_icon label='Add Report' icon='icon-md bi-file-earmark-plus' %}
    </a>
    {% endif %}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block full %}
<div class="container-fluid">
        {% include "itemlist/filters.html" %}
        <div class="row">
        <ul class="list-group list-group-flush list-sm col border-top">
            {% for report in object_list %}
                <li class="list-group-item d-flex align-items-center justify-content-between">
                    <div>
                        <i class="text-info bi-file-richtext mr-2"></i>
                        <a href="{% url "report-view" slug=report.slug %}">{{ report.title }}</a>{% if report.description %} &mdash;
                        <span class="text-muted text-md">{{ report.description }}</span>{% endif %}
                    </div>
                    {% if user.is_superuser %}
                    <div class="toolbox">
                        <a href="{% url 'report-editor' report.pk %}" title="Edit Report">
                          {% tool_icon icon='bi-pencil' %}
                        </a>
                    </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        </div>
{% include "itemlist/pagination.html" %}
</div>
{% endblock %}