{% extends "reporter/base.html" %}
{% load humanize %}
{% load markup %}
{% load reporter %}
{% load static %}
{% load icons %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'reporter/builder.min.css' %}" rel="stylesheet" media="screen"/>
    <style>
        {% pigments_css "friendly" %}
    </style>
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed">
        <strong class="text-muted">{{ object.title }}</strong>
    </h3>
    <span class="text-muted">
        {{ object.description }}
    </span>
{% endblock %}

{% block object_tools %}
    <a href="{% url "report-list" %}">
        {% tool_icon label='Reports' icon='icon-md bi-list-task' %}
    </a>
    <a href="{% url "data-source-list" %}">
        {% tool_icon label='Data Sources' icon='icon-md bi-database icon-md' %}
    </a>
    <a href="{% url "report-view" slug=report.slug %}">
        {% tool_icon label='Preview' icon='icon-md bi-eye' %}
    </a>
    <a href="#!" data-form-link="{% url "edit-report" report.pk %}">
        {% tool_icon label='Edit' icon='icon-md bi-pencil' %}
    </a>
    <a href="#!" data-form-link="{% url "delete-report" report.pk %}">
        {% tool_icon label='Delete' icon='icon-md bi-trash3' %}
    </a>
    <a href="#!" data-form-link="{% url "add-report-entry" report=report.pk %}">
        {% tool_icon label='Add Entry' icon='icon-md bi-plus-square-dotted' %}
    </a>
{% endblock %}

{% block full %}
    <div class="row report-editor ">
            <div class="col-12">
            <div class="card alert-info bg-info-subtle mb-4">
                <div class="card-header py-2 d-flex align-items-center">
                    HELP
                </div>
                <div class="card-body">
                    Add entries to the report and then configure them to select the fields to display. The entry position,
                    specifies the ordering of entries within the report. The entry style can be used to control the layout.
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
            {% for entry in entries %}
            <div class="entry pb-3 {{ entry.style|default:'col-12' }}">
                <div class="card">
                    <div class="card-header py-2 d-flex align-items-center justify-content-between entry-{{ entry.kind }}">
                        {{ entry.title }}
                        <div class="toolbox ml-auto pr-0">
                            <a href="#!" data-form-link="{% url 'configure-report-entry' report=report.pk pk=entry.pk %}" title="Configure">
                                {% tool_icon icon='bi-sliders icon-sm' %}
                            </a>
                            {% if entry.source %}
                            <a href="{% url 'source-editor' pk=entry.source.pk %}" title="Edit Source">
                                {% tool_icon icon='bi-database icon-sm' %}
                            </a>
                            {% endif %}
                            <a href="#!" data-form-link="{% url 'edit-report-entry' report=report.pk pk=entry.pk %}" title="Edit Entry">
                                {% tool_icon icon='bi-pencil icon-sm' %}
                            </a>
                            <a href="#!" data-form-link="{% url 'delete-report-entry' report=report.pk pk=entry.pk %}" title="Delete">
                                {% tool_icon icon='bi-trash3 icon-sm' %}
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ entry | entry_html }}
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
