{% extends "reporter/base.html" %}
{% load humanize %}
{% load markup %}
{% load reporter %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
          integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="{% static 'reporter/builder.min.css' %}" rel="stylesheet" media="screen"/>
    <style>
        {% pigments_css "friendly" %}
    </style>
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed">
        <strong class="text-muted">Data Source - {{ object.name }}</strong>
    </h3>
{% endblock %}

{% block object_tools %}
    <a href="{% url "report-list" %}">
        {% tool_icon label='Reports' icon='icon-md bi-list-task' %}
    </a>
    <a href="{% url "data-source-list" %}">
        {% tool_icon label='Data Sources' icon='icon-md bi-database' %}
    </a>
    <a href="#!" data-form-link="{% url "edit-data-source" source.pk %}">
        {% tool_icon label='Edit' icon='icon-md bi-pencil' %}
    </a>
    <a href="#!" data-form-link="{% url "delete-data-source" source.pk %}">
        {% tool_icon label='Delete' icon='icon-md bi-trash3' %}
    </a>
    <a href="#!" data-form-link="{% url "add-source-model" source=source.pk %}">
        {% tool_icon label='Add Model' icon='icon-md bi-database-add' %}
    </a>
    <a href="#!" data-form-link="{% url "add-source-field" source=source.pk %}">
        {% tool_icon label='Add Field' icon='icon-md bi-node-plus' %}
    </a>
{% endblock %}

{% block full %}
    <div class="row report-editor ">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-header py-2 d-flex align-items-center">
                            <h4 class="my-0"><span class="text-muted">Models</span></h4>
                        </div>
                        <table class="table table-sm table-ruled">
                            <thead>
                            <tr>
                                <th class="col-2 pl-3">App</th>
                                <th class="col-3">Model</th>
                                {% for group_field in source.group_by %}
                                    <th>{{ group_field|title }}<span class="hidden-xs text-muted">&nbsp;&middot;&nbsp;Group</span></th>
                                {% endfor %}
                                <th class="col-1">Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for src_model in source.models.all %}
                                <tr>
                                    <td class="col-2 pl-3">{{ src_model.model.app_label }}</td>
                                    <td>{{ src_model.model.model }}</td>
                                    {% for field_name, group_field in src_model.get_group_fields.items %}
                                        {% if group_field %}
                                        <td class="text-monospace text-md">{{ group_field.expression }}</td>
                                        {% else %}
                                        <td class="text-danger"><a href="#!" data-form-link="{% url 'add-group-field' source=source.pk group=field_name %}">Undefined</a></td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        <div class="tools-box ml-auto pr-0">
                                            <a href="#!"
                                               data-form-link="{% url 'edit-source-model' source=source.pk pk=src_model.pk %}"
                                               title="Edit">
                                                {% tool_icon icon='bi-pencil' %}
                                            </a>
                                            <a href="#!"
                                               data-form-link="{% url 'delete-source-model' source=source.pk pk=src_model.pk %}"
                                               title="Delete">
                                                {% tool_icon icon='bi-x-lg' %}
                                            </a>
                                        </div>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No models defined</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                        <div class="card mb-3">
                            <div class="card-header py-2 d-flex align-items-center">
                                <h4 class="my-0"><span class="text-muted">Fields</span></h4>
                            </div>
                            <table class="table table-sm table-ruled">
                                <thead>
                                <tr>
                                    <th class="col-2 pl-3">Name</th>
                                    <th class="col-2">Label</th>
                                    <th class="col-2">Model</th>
                                    <th>Expression</th>
                                    <th class="col-1">Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for field in source.non_group_fields %}
                                    <tr>
                                        <td class="text-monospace text-md pl-3">{{ field.name }}</td>
                                        <td>{{ field.label }}</td>
                                        <td>{{ field.model }}</td>
                                        <td class="text-monospace text-md">{{ field.expression }}</td>
                                        <td>
                                            <div class="tools-box ml-auto pr-0">
                                                <a href="#!"
                                                   data-form-link="{% url 'edit-source-field' source=source.pk pk=field.pk %}"
                                                   title="Edit">
                                                    {% tool_icon icon='bi-pencil' %}
                                                </a>
                                                <a href="#!"
                                                   data-form-link="{% url 'delete-source-field' source=source.pk pk=field.pk %}"
                                                   title="Delete">
                                                    {% tool_icon icon='bi-x-lg' %}
                                                </a>
                                            </div>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
