{% load icons %}
<div class="list-group">
    {% for a in announcements %}
        <div class="list-group-item">
            {% if request.user.is_superuser or a.has_document %}
                <span class="tools-box float-right">
                    {% if a.has_document %}<a href="{{ a.attachment.url }}" title="Download File"><i class="ti ti-download"></i></a>{% endif %}
                    {% if request.user.is_superuser %}
                        <a href="#!" data-link="{% url "announcement-edit" a.pk %}" title="Edit Announcement" style="padding-left: 0; padding-right: 0;">
                            {% show_icon icon='ti ti-md ti-pencil' %}
                        </a>
                        <a href="#!" data-link="{% url "announcement-delete" a.pk %}" title="Delete Announcement">
                            {% show_icon icon='ti ti-md ti-trash' %}
                        </a>
                    {% endif %}
                </span>
            {% endif %}
            <h5 class="text-condensed pb-4">
                <strong>
                    {% if a.url %}
                        <a href="{{ a.url }}" target="_blank">{{ a.title }}</a>
                    {% else %}
                        <span class="text-muted">{{ a.title }}</span>
                    {% endif %}
                </strong>
            </h5>
            {% if a.has_image %}
                    <img style="max-width: 100%;" src="{{ a.attachment.url }}" />
            {% endif %}
            <span class="text-condensed">{{ a.description }}</span>
        </div>
    {% endfor %}
</div>
