{% load icons %}
{% load markup %}

<div class="accordion" id="guide-accordion">
    <div class="card">
        <div class="card-header p-1 text-center text-wide text-muted"><small>USER GUIDE</small></div>
    </div>
    {% for a in announcements %}
        {% if not a.staff_only or a.staff_only and not user.is_superuser%}
        <div class="card">
            <div class="card-header {% if a.staff_only %}alert-warning{% endif %} overflow-ellipsis w-100 p-2">
                <a href="#!" data-toggle="collapse"
                   data-target="#collapse-{{ forloop.counter }}"
                   aria-controls="collapse-{{ forloop.counter }}"
                   aria-expanded="false"
                   id="heading-{{ forloop.counter }}"
                   class="d-flex flex-row"
                >
                    <i class="ti ti-sm ti-agenda text-muted"></i>
                    <span>&nbsp;&nbsp;{{ a.title }}</span>
                </a>
            </div>

            <div id="collapse-{{ forloop.counter }}" class="collapse" aria-labelledby="heading-{{ forloop.counter }}"
                 data-parent="#guide-accordion">
                <div class="card-body p-3">
                    <h5 class="text-condensed">
                        <strong>
                            {% if a.url %}
                                <a {% if a.modal %}
                                    href="#!" data-link="{{ a.url }}"
                                   {% else %}
                                    href="{{ a.url }}" target="_blank"
                                   {% endif %}
                                >{{ a.title }}</a>
                            {% else %}
                                <span class="text-muted">{{ a.title }}</span>
                            {% endif %}
                        </strong>
                    </h5>
                    {% if a.has_image %}
                        {% if a.url %}
                            <a {% if a.modal %}
                                 href="#!" data-link="{{ a.url }}"
                               {% else %}
                                 href="{{ a.url }}" target="_blank"
                               {% endif %}
                            >
                                <img style="max-width: 100%;" src="{{ a.attachment.url }}"/>
                            </a>
                        {% else %}
                            <img style="max-width: 100%;" src="{{ a.attachment.url }}"/>
                        {% endif %}
                    {% endif %}
                    <div class="text-condensed guide-snippet">{{ a.description | markdown }}</div>
                </div>
                    {% if request.user.is_superuser or a.has_document %}
                        <div class="tools-box float-right pr-0">
                            {% if a.has_document %}<a href="{{ a.attachment.url }}" title="Download File"><i
                            class="ti ti-download"></i></a>{% endif %}
                            {% if request.user.is_superuser %}
                                <a href="#!" data-form-link="{% url "announcement-edit" a.pk %}" title="Edit Announcement"
                                   style="padding-left: 0; padding-right: 0;">
                            {% show_icon icon='ti ti-md ti-pencil' %}
                        </a>
                                <a href="#!" data-form-link="{% url "announcement-delete" a.pk %}"
                                   title="Delete Announcement">
                            {% show_icon icon='ti ti-md ti-trash' %}
                        </a>
                            {% endif %}
                        </div>
                    {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<script>
    /*
    $(document).ready(function () {
        $(".accordion [data-toggle]").mouseover(function () {
            $(this).trigger("click");
        });
    });
    */
</script>
