{% load msgs %}
<script type="text/javascript" src="/static/js/toastr.min.js"></script>
<script type="text/javascript">
toastr.options = {
	"closeButton": true,
	"debug": true,
	"progressBar": true,
	"preventDuplicates": false,
	"positionClass": "toast-top-right",
	"onclick": null,
	"showDuration": "1200",
	"hideDuration": "800",
	"timeOut": "3000",
	"extendedTimeOut": "3000",
	"showEasing": "swing",
	"hideEasing": "linear",
	"showMethod": "fadeIn",
	"hideMethod": "fadeOut"
}
function generate(type, message) {
    toastr[type](message);
}
{% if messages %}
$(function() {
	{% for message in messages %}
		generate("{{message.level|msg_type}}", "{{message}}");
	{% endfor %}
});
{% endif %}
</script>