{% extends "users/base.html" %}
{% load icons %}
{% load link_list %}
{% load msgs %}

{% block page_heading %}
<h3 class="overflow ellipsis narrow-heading text-condensed"> <span class="text-muted">{{ user.username|upper }} |</span> User</h3>
    <span class="text-muted hidden-xs">
        Start here to manage and monitor shipments, review recent sessions, view and download data, and much more.
    </span>
{% endblock %}

{% block object_tools %}
    <span class="tools-box">
        <a href="#!"  data-link="{% url "shipment-new" %}">
            {% show_icon label='New Shipment' icon='ti ti-1x ti-plus' %}
        </a>
        <a  href="{% url "session-list" %}">
            {% show_icon label='Sessions' icon='ti ti-1x ti-time' %}
        </a>
        <a  href="{% url "project-statistics" username=user.username %}">
            {% show_icon label='Usage Stats' icon='ti ti-1x ti-stats-up' %}
        </a>
    </span>
{% endblock %}

{% block full %}
<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header"><h5 class="text-center text-wide text-muted m-0">SHIPMENTS</h5></div>
            <div class="list-group list-group-flush">
                {{ show_info }}
                <div class="list-group-item empty">
                    <div class="row">
                        <div class="col">
                            <a href="#!" data-link="{% url "shipment-new" %}">
                                <div class="box-status pull-left">
                                    <div class="text-center text-muted">
                                        <div title="Create a Shipment" class="ti ti-2 ti-plus"></div>
                                        <div><small>Start Now</small></div>
                                    </div>
                                </div>
                                <div class="box-info">
                                    <h4 class="text-condensed narrow-heading overflow ellipsis">Click here to start a
                                        new shipment!</h4>
                                    <span class="overflow ellipsis">Follow the steps to enter your sample information</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% for shipment, stats in shipments %}
                    {% include "users/entries/shipment-list-item.html"%}
                {% endfor %}
            </div>
        </div>

        {% if sessions %}
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="text-center text-wide text-muted m-0">RECENT SESSIONS</h5>
            </div>
            <div class="list-group list-group-flush">
                {% for session, stats in sessions %}
                    {% include "users/entries/session-list-item.html"%}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <!-- right region -->
    <div class="col-sm-12 col-md-4">
        {% load_announcements %}
    </div>

</div>

{% endblock %}	


