{% extends "users/base.html" %}

{% block page_heading %}
<h2>Welcome, {{ user|title }}</h2>
{% endblock %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="toolbar">
            {% comment %}<li class="template-tool"><a href="/static/doc/spreadsheet_blank.xls" title="Download spreadsheet template" download="download" target="_blank">Get Template</a>
            <li class="upload-tool"><a class="modal-upload-form"  href="{% url "users-shipment-upload" %}" title="Upload shipment from spreadsheet">Upload</a>
            <li class="feedback-tool"><a class="modal-form"  href="{% url "users-feedback-new" %}" title="Send us feedback">Feedback</a></li>
            <li class="profile-tool"><a class="modal-form"  href="{% url "users-profile-edit" %}" title="Edit your profile">Profile</a>{% endcomment %}
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block full %}
    <!-- left region -->
	<div id="left-content" class="col-4">
	<p>MxLIVE is organized into sections accessible through the tabbed navigation above. 
    The <em>Samples</em> section enables you to manage crystals, and their contents.
    You can organize crystals to send to the sychrotron in Containers and Dewars in the <em>Shipping</em> section. In the
    <em>Experiments</em> section, you can enter experiment requests, and view datasets and results from already performed experiments.</p>
    </div>
    <!--left region -->
    <!-- middle region -->
	<div id="middle-content" class="col-4">
    {% include "users/status_overview.html" %}   
	</div>
	<!-- end middle region -->
    <!-- right region -->
	<div id="right-content" class="col-4">
    {% load link_list %}
    {% link_list %}
	</div>
	<div class="clear spacer"></div>
    <!-- bottom region -->
	<div id="bottom-content" class="col-12">
	{% with activity_log as ol %}
    {% include "users/activity_history.html" %}
    {% endwith %}
	</div>
	<!-- end bottom region -->

{% endblock %}	


