{% load nav %}

<ul id="nav">
<li class='nav-menu {% active request.path "^/(users/)?$" %}'><a href="/users/">Project&nbsp;Home</a></li>
<li class='nav-menu {% active request.path "^/users/samples/" %}'><a href="{% url "users-crystal-list" %}">Samples</a>
    <ul class="nav-submenu">
        <li><a href="{% url "users-crystal-list" %}">Crystals</a></li>
        <li><a href="{% url "users-cocktail-list" %}">Cocktails</a></li>
        <li><a href="{% url "users-crystalform-list" %}">Crystal Forms</a></li>
    </ul>
</li>
<li class='nav-menu {% active request.path "^/users/shipping/" %}'><a href="{% url "users-shipment-list" %}">Shipping</a>
    <ul class="nav-submenu">
        <li><a href="{% url "users-shipment-list" %}">Shipments</a></li>
        <li><a href="{% url "users-dewar-list" %}">Dewars</a></li>
        <li><a href="{% url "users-container-list" %}">Containers</a></li>
    </ul>
</li>
<li class='nav-menu {% active request.path "^/users/experiment/" %}'><a href="{% url "users-experiment-list" %}">Experiments</a>
    <ul class="nav-submenu">
        <li><a href="{% url "users-experiment-list" %}">Experiments</a></li>
        <li><a href="{% url "users-data-list" %}">Datasets</a></li>
        <li><a href="{% url "users-result-list" %}">Reports</a></li>
        <li><a href="{% url "users-scanresult-list" %}">Scans</a></li>
    </ul>
</li>
</ul>

