<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#live-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> </a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard </a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" rol="button" aria-haspopup="true" aria-expanded="false">Sample Prep <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Crystals</a></li>
                <li><a href="#">Groups</a></li>
                <li><a href="#">Cocktails</a></li>
                <li><a href="#">Crystal Forms</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Containers</a></li>
                <li><a href='{% url "shipment-list" %}'>Shipments</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" rol="button" aria-haspopup="true" aria-expanded="false">Data & Results <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Datasets</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Scans</a></li>
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% comment %}
{% load nav %}
<ul id="nav">
<li class='nav-menu {% active request.path "^/(staff/)?$" %}'><a href="/staff/">Staff&nbsp;Home</a></li>
<li class='nav-menu {% active request.path "^/users/shipping/" %}'><a href="{% url "staff-shipment-list" %}">Shipping</a>
    <ul class="nav-submenu">
        <li><a href="{% url "staff-shipment-list" %}">Shipments</a></li>
        <li><a href="{% url "staff-dewar-list" %}">Dewars</a></li>
        <li><a href="{% url "staff-container-list" %}">Containers</a></li>
    </ul>
</li>
<li class='nav-menu {% active request.path "^/staff/experiment/" %}'><a href="{% url "staff-experiment-list" %}">Experiments</a>
    <ul class="nav-submenu">
        <li><a href="{% url "staff-experiment-list" %}">Experiments</a></li>
        <li><a href="{% url "staff-data-list" %}">Datasets</a></li>
        <li><a href="{% url "staff-result-list" %}">Reports</a></li>
        <li><a href="{% url "staff-scanresult-list" %}">Scans</a></li>
    </ul>
</li>
<li class='nav-menu {% active request.path "^/staff/runlist/" %}'><a href="{% url "staff-runlist-list" %}?status__lte=4">Run Lists</a></li>
</ul>

{% endcomment %}