{% extends "users/base.html" %}

{% load link_list %}

{% block page_heading %}
<h3 class="overflow ellipsis narrow-heading text-condensed">Welcome, Staff</h3>
    <span class="text-muted text-condensed hidden-xs">Start here to manage shipments, load containers on a beamline, view data, and more.</span>
{% endblock %}

{% block object_tools %}
    <span class="box-tools pull-right">
        <a class="pull-right" data-url="{% url "new-announcement" %}" title="Create Announcement">
            <span class="fa-stack">
                <i class="fa fa-stack-2x fa-2 fa-bullhorn"></i>
            </span><br/>
            <span class="tool-label"><i class="fa fa-plus"></i> Info</span>
        </a>
        <a class="pull-right" href="{% url "session-list" %}">
            <span class="fa-stack">
                <i class="fa fa-stack-2x fa-2 fa-clock-o"></i>
            </span><br/>
            <span class="tool-label">Sessions</span>
        </a>
        <a class="pull-right" href="{% url "user-list" %}">
            <span class="fa-stack">
                <i class="fa fa-stack-2x fa-2 fa-group"></i>
            </span><br/>
            <span class="tool-label">Users</span>
        </a>
        <a class="pull-right" href="{% url "access-list" %}">
            <span class="fa-stack">
                <i class="fa fa-stack-2x fa-2 ti ti-rss-alt"></i>
            </span><br/>
            <span class="tool-label">Remote</span>
        </a>
    </span>
{% endblock %}

{% block full %}
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div class="list-group">
                {% for am in automounters %}
                    <a href="{% url "beamline-detail" pk=am.pk %}" class="text-center list-group-item" style="overflow: auto;">
                        <div class="col-xs12">
                            <div id="layout-{{ am.container.pk }}" class="layout-lg">
                                <h4 class="text-condensed">
                                    <strong><span class="text-muted">{{ am.beamline.acronym }}</span></strong> | {{ am.container.kind }}
                                </h4>
                                <hr/>
                            </div>
                            {% include "users/entries/layout-container.html" with object=am.container.pk kind=am.container.kind %}
                        </div>
                    </a>
                {% endfor %}
            </div>
            <h3 class="underline">Loadable Containers</h3>
            {% for container in containers %}
                {% include "users/entries/container-item.html" %}
            {% endfor %}
        </div>
        <div class="col-xs-6 col-sm-6">
            <div class="list-group">
                {% for object in shipments %}
                    {% include "users/entries/shipment-list-item.html" with object=object %}
                {% endfor %}
                <a data-url="{% url "shipment-new" %}" class="list-group-item empty">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-status pull-left">
                                <div class="text-center text-muted">
                                    <div title="Create a Shipment" class="fa fa-2x fa-plus"></div>
                                    <div><small>Start Now</small></div>
                                </div>
                            </div>
                            <div class="box-info">
                                <h4 class="text-condensed narrow-heading overflow ellipsis">Click here to start a new shipment!</h4>
                                <span class="overflow ellipsis">Follow the steps to enter your sample information</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <h3 class="underline">Active Beamline Sessions</h3>
                <div class="list-group list-group-hover">
                    {% for session in sessions %}
                        {% include "users/entries/session-list-item.html" with session=session %}
                    {% empty %}
                        <div class="list-group-item empty">
                            No active sessions at the moment.
                        </div>
                    {% endfor %}
                </div>

        </div>

        <div class="col-xs-12 col-sm-3">
            {% load_announcements %}
        </div>
    </div>
{% endblock %}

