{% extends "users/base.html" %}

{% load link_list %}

{% block page_heading %}
<h2>Welcome, Staff</h2>
{% endblock %}

{% block object_tools %}
    <span class="box-tools pull-right">
        <a class="pull-right" href="{% url "access-list" %}">
            <i class="fa fa-2 ti ti-rss-alt"></i><br>
            <span class="tool-label">Remote</span>
        </a>
        <a class="pull-right" href="{% url "session-list" %}">
            <i class="fa fa-2 fa-clock-o"></i><br>
            <span class="tool-label">Sessions</span>
        </a>
        <a class="pull-right" href="{% url "user-list" %}">
            <i class="fa fa-2 fa-user"></i><br>
            <span class="tool-label">Users</span>
        </a>
    </span>
{% endblock %}

{% block full %}
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="list-group">
                <a data-url="{% url "shipment-new" %}" class="list-group-item empty">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-status pull-left">
                                <div class="text-center text-muted">
                                    <div title="Create a Shipment" class="fa fa-2x fa-plus"></div>
                                    <div><small>Start Now</small></div>
                                </div>
                            </div>
                            <div class="box-info pull-left">
                                <h4 class="text-condensed narrow-heading overflow ellipsis">Click here to start a new shipment!</h4>
                                <span>Follow the steps to enter your sample information</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% for object in shipments %}
                {% include "users/entries/shipment-list-item.html" with object=object %}
            {% endfor %}
            </div>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="list-group">
                {% for am in automounters %}
                    <a href="{% url "beamline-detail" pk=am.pk %}" class="text-center list-group-item" style="overflow: auto;">
                        <div class="col-xs12">
                            <div id="layout-{{ am.container.pk }}" class="layout-lg">
                                <h4>
                                    <strong><span class="text-muted">{{ am.beamline.acronym }}</span></strong> | {{ am.container.kind }}
                                </h4>
                                <hr/>
                            </div>
                            {% include "users/entries/layout-container.html" with object=am.container.pk kind=am.container.kind %}
                        </div>
                    </a>
                {% endfor %}
            </div>

            {% load_announcements %}
        </div>
    </div>
{% endblock %}

