
:root {
  --max-font-size: 13px;
  --min-font-size: 7px;
}


@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 300px;
$max_width: 1200px;
$min_font: 7px;
$max_font: 13px;
$main-font: "Fira Sans";
$mono-font: "Fira Code";

:root {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.c3 svg {
	font-family: $main-font, sans-serif;
}

body, .tooltip, .popover {
  font-family: $main-font, sans-serif !important;
  font-weight: 400;
}

pre, code, kbd, samp {
  font-family: $mono-font, monospace;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

pre:has(code) {
    background: var(--light);
    border: 1px solid var(--border-color);
    border-left: 3px solid var(--info);
    color: var(--bs-dark);
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

h1 {
  border-bottom: 1px solid var(--gray-alpha);
}

caption, figcaption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

.report-viewer figure {
  width: 100%;
  counter-increment: figures;
  margin-bottom: 0;
}

.report-viewer figcaption:before {
  content: 'Figure ' counter(figures) ' - ';
}

.report-viewer .table caption:before {
  content: 'Table ' counter(tables) ' - ';
}

.report-viewer svg * {
  font-family: $main-font, sans-serif !important;
}

#report-builder {
  max-width: 60rem;
  margin: 1rem auto;
}

.first-col-left table tr > td:first-child {
  text-align: left;
}

.report-viewer {
  counter-reset: figures tables;

  .section-title {
    font-weight: 200;
    font-size: 2rem;
  }

  .description {
    display: block;
  }

  .table {
    counter-increment: tables;

    tbody {
      td {
        text-align: right;
      }

      border-bottom: 1px solid #bbb;
      border-top: 1px solid #bbb;
    }

    thead {
      th {
        text-align: right;

        &:first-child {
          text-align: left;
        }
      }
    }
  }

  .notes {
    background: #eee;
    background: rgba(0, 0, 0, 0.05);
    padding: 1rem;
    color: #333;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    ol {
      margin-block-start: 1rem;
      margin-block-end: 1rem;
      padding-inline-start: 2rem;
    }
  }
}

g.tick {
  text {
    font-size: 0.9rem;
    fill: #333;
  }

  line {
    fill: none !important;
    stroke: var(--secondary);
    //stroke: rgba(0,0,0,0.3);
    //stroke-width: 1pt;
  }
}

path {
  &.domain {
    fill: none !important;
    stroke: var(--secondary);
    //stroke-width: 1pt;
  }

  &.line {
    //stroke-width: 1pt;

  }
}

g.axis {
  font-size: 0.95rem;
}

.table-heading {
  text-align: center;
}

div.section-entry {
  margin-bottom: 1rem;
}

.report-table {
  max-width: 80%;
  margin: auto;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px #ddd;
}

table {
  + {
    .caption {
      max-width: 80%;
      margin: auto;
      border: 1px solid #ddd;
      box-shadow: 2px 2px 10px #ddd;
    }
  }
}

.report-viewer {
  .c3-axis-y-label, .c3-axis-y2-label, .c3-axis-x-label {
    font-size: 1rem;
  }
}

.c3-line {
  stroke-width: 1.5px;
}

.report-viewer table.table tbody td {
  font-family: $mono-font, sans-serif;
  font-size: 0.85rem;
}

/* override styles when printing */
@media print {

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
  :root {
    @include fluid-type($min_width, $max_width, $max_font, $max_font * 1.5);
  }

}