<table>
<tr>
    <td>
    <b>Message</b>
    </td>
    <td style="cursor:hand; text-align: right; padding: 3px; " valign="top">
    [<a href="javascript:ModalPopup.Close('popup-window');"> close window </a>]
    </td>
</tr>
<tr>
  <td colspan="2">
  <table>
  <tr>
  <td>
<table class="message-info"">
	<tr>
		<td class="label">From</td>
		<td class="field">{{ message.sender }}</td>
	</tr>
	<tr>
		<td class="label">Date</td>
		<td class="field">{{ message.date_sent}}</td>
	</tr>
	<tr>
		<td class="label">Subject</td>
		<td class="field">{{ message.subject|escape}}</td>
	</tr>
</table>
<div class="message-content">
{{ message.body|safe }}
</div>
  </td>
  </tr>
  </table>
</td>
</tr>
</table>

