{% extends "base.html" %}
{% load math_filters %}

{% block headline %}
    <h2>CMCF Beamline Stats</h2>
{% endblock %}

{% block content-override %}
<div id="result-page">   
  <div class="list-tools">
    <h3 class="current">
      <a class="prev" href='{% url stats-yearly years.2 %}' title="Previous Year">
        <img src="/img/prev.png" alt="Previous Year"></a>
      <a class="current" href='{% url stats-yearly years.0 %}'>
        Back to {{ years.0 }} Statistics</a>
      <a class="next" href='{% url stats-yearly years.1 %}' title="Next Year">
        <img src="/img/next.png" alt="Next Year"></a>
    </h3>
  </div>
  <h3>{{ years.3 }} Beamline "N" Shift Usage {% ifequal years.3 years.0 %}(up to today){% endifequal %}</h3>
  <!-- img src="usage.png" /-->

    {% for bl, val in users.items reversed %}
        <div class="half">
            <h2>{{bl}} Beam Usage in {{years.3}} {% ifequal years.3 years.0 %}(so far){% endifequal %}</h2>
        </div>
    {% endfor %}  

    <div id="pie-08B1-1" class="placeholder nolegend"></div>
    <div id="pie-08ID-1" class="placeholder nolegend"></div>

	<h4 id="usage-hover-08B1-1" class="half"></h4>
	<h4 id="usage-hover-08ID-1" class="half"></h4>

    <div style="clear:both"></div><br/><br/>

    {% for bl, val in users.items reversed %}
        <div class="half">
            <h2>{{bl}} Beam Usage by Month ({{years.3}})</h2>
        </div>
    {% endfor %}  
    <div id="usage-08B1-1" class="placeholder"></div>
    <div id="usage-08ID-1" class="placeholder"></div>
	{% for bl, shifts in shift_usage.items reversed %}
	    <div class="object-list statistics" style="width:47%; float:left; margin-left:17px; margin-right:8px;">
	            <table id="calendar">
	                <thead>
	                    <tr>
	                    {% for mon in shift_usage_labels %}
	                       <th style="padding-left: 0; padding-right: 0;">{{mon.1}}</th>
	                    {% endfor %}
	                    </tr>
	                </thead>
	                <tbody>
	                {% for type in type_labels reversed %}{% for key, val in shifts.items %}
	                   {% ifequal type key %}
	                       <tr>
	                           {% for dat in val.0 %}
	                               <td {% if dat.1 %}style="background-color: {{val.1}};"{% endif %}>{{dat.1}}</td>
	                           {% endfor %}
	                       </tr>
	                   {% endifequal %}
	                {% endfor %}{% endfor %}
	                </tbody>
	            </table>
	    </div>
	{% endfor %}
    <div style="clear: both;"></div><br/><br/>

  
  
<h3>{{ years.3 }} CMCF Users by Location* - <a id="plotshift" style="cursor: pointer;" title="Show Number of Shifts Allocated per Province">Shifts</a> - <a id="plotvisit" style="cursor: pointer;" title="Show Number of Visits by Province">Visits</a></h3>
{% for bl, val in users.items reversed %}
    <div class="half">
        <h2><var class="type"></var> Users Groups on {{ bl }}</h2>
    </div>
{% endfor %}
<div id="placeholder-08B1-1" class="placeholder nolegend"></div>
<div id="placeholder-08ID-1" class="placeholder nolegend"></div>

<h4 id="hover-08B1-1" class="half"></h4>
<h4 id="hover-08ID-1" class="half"></h4>
  
{% for bl, val in users.items reversed %}
    <div class="object-list statistics" style="width:48%; float:left; margin-left:17px;">
        <h3>{{years.3}} - {{ bl }} User Groups</h3>
		{% for prov, group in val.items %}{% if group %}
		    {% for g, u in group.items %}{% if u.0 or u.1 or u.2 %}			
		        {% if forloop.first %}
                <table id="calendar">
                    <h4>{{ prov }}</h4>
                    <thead>
                        <tr>
		                     <th>User Group</th>
		                     {% ifequal prov 'Other' %}<th>Location</th>{% endifequal %}
		                     <th>Visits</th>
		                     <th>Shifts<br>Sched</th>  
		                     <th>Shifts<br>Used</th>  
                        </tr>
                    </thead>
                    <tbody>
		        {% endif %}	        
				    <tr>
					    <td>{% if g.name %}{{ g.name }}{% else %}{{ g.display }}{% endif %}<!-- {{u.0}}<br>{{u.1}} --></td>
					    {% ifequal prov 'Other' %}<td>{{g.country|default_if_none:""}}</td>{% endifequal %}
					    <td>{{u.0}}<!-- {{u.4}}--></td>
					    <td>{{u.1}}<!-- {{u.5}}--><!-- /{{u.6}} --></td>
					    <td>{{u.2}}</td>
				    </tr>
			    {% if forloop.last %}{% ifnotequal forloop.counter 1 %}
                    <tr class="summary">
                      <td>Total</td>
                      <td>{{ group|sum_dict:0 }}</td>
                      {% ifequal prov 'Other' %}<td></td>{% endifequal %}
                      <td>{{ group|sum_dict:1 }}</td>
                      <td>{{ group|sum_dict:2 }}</td>
                    </tr>                
                {% endifnotequal %}</tbody></table>{% endif %}{% endif %}
			    {% endfor %}
		{% endif %}{% endfor %}
    </div>
    
{% endfor %}

<div style="clear: both;"></div>
{% for bl, val in visits.items reversed %}
    {% ifnotequal val.0 val.1 %}
	<div class="object-list statistics" style="width:48%; float:left; margin-left:17px;"><table>
	    <p>*The above data are based on {{val.1}} out of {{val.0}} visits this 
	       year that were associated with a proposal. The following are not 
	       accounted for.</p>
	    <thead>
	        <tr><th width="50%">Description</th>
	            <th width="33%">Start</th>
	            <th width="33%">Shifts</th></tr>
	    </thead>
	    <tbody>
	        {% for v in val.2 %}
	        <tr><td style="text-align: left;">{{v.description}}</td>
	            <td style="text-align: left;">{{v.start_date}} - {{v.get_first_shift_display}}</td>
	            <td>{{v.get_num_shifts}}</td></tr>
                {% if forloop.last %}
                <tr class="summary">
                    <td style="text-align: right;">Total</td>
                    <td></td>
                    <td>{{ val.2|sum_shifts }}</td></tr>
                {% endif %}
	        {% endfor %}
	    </tbody>
	</table></div>
	{% endifnotequal %}
{% endfor %}
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.stack.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.type').text('Shifts Allocated to');
            plot_data(beamline='08B1-1', hfunc=pieHoverBM, visit=false);
            plot_data(beamline='08ID-1', hfunc=pieHoverID, visit=false);  
            var data_labels = [];
            var width = 0.4;
            {% for val in shift_usage_labels %}
                data_labels.push([{{val.0}}+(width/2), '{{val.1}}']);
            {% endfor %}
            var datasets = {};
            var data = {};
            var piedata = {};
            {% for bl, shifts in shift_usage.items %}
                piedata['{{bl}}'] = []
                data['{{bl}}'] = []
                {% for lab in type_labels %}
                    {% for key, val in shifts.items %}{% ifequal lab key %}
                        datasets['{{key}}'] = {label: '{{key}}', data: {{val.0}}, color: '{{val.1}}' };
                        data['{{bl}}'].push(datasets['{{key}}']);
                        piedata['{{bl}}'].push({label: '{{key}}', data: {{val.0|sum_index:1}}, color: '{{val.1}}'});
                    {% endifequal %}{% endfor %}
                {% endfor %}
                $.plot($("#usage-{{bl}}"), data['{{bl}}'], 
                    {   series: { 
                            stack: 0, 
                            lines: {show: false, fill: true, steps: false }, 
                            bars: { show: true, barWidth: width, fill: 0.9 },
                            shadowSize: 10,                            
                        },
                        xaxis: { ticks: data_labels },
                        xaxes: [{min: -width/2, max: {{ shift_usage_labels|length }}-width }],
                        grid: { borderWidth: 0 }
                }); 

                $.plot($("#pie-{{bl}}"), piedata['{{bl}}'], {
                    series: {
                      pie: { 
                        show: true,
                        radius: 1,
                        label: { 
                            show: true, 
                            radius: 2/3,
                            formatter: function(label, series){
                                return '<div style="font-size:8pt; text-align: center; padding:2px; color: #333;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                            },
                            threshold: 0.05
                         }
                        }
                      },
                    grid: { hoverable: true }
                 });                
                jQuery("#usage-{{bl}} div.legend div").css({ opacity: 0.5 });
                jQuery("#usage-{{bl}} div.legend div + table div").css({ opacity: 1 });
            {% endfor %}
            $("#pie-08B1-1").bind("plothover", usageHoverBM);
            $("#pie-08ID-1").bind("plothover", usageHoverID);
             $("#plotshift").click(function plot_shifts() {
	             jQuery('.type').text('Shifts Allocated to');
	             plot_data(beamline='08B1-1', hfunc=pieHoverBM, visit=false);
	             plot_data(beamline='08ID-1', hfunc=pieHoverID, visit=false);        
	         });
	         
	         $("#plotvisit").click(function plot_visits() {
	             jQuery('.type').text('Visits from');
	             plot_data(beamline='08B1-1', hfunc=pieHoverBM, visit=true);
	             plot_data(beamline='08ID-1', hfunc=pieHoverID, visit=true);        
	         });
        });

        function get_shift_data(beamline) {
            var data = [];
            {% for bl, provs in users.items %}
                var i = 0;
                if (beamline == '{{bl}}' ) { 
                    {% for lab, vals in provs.items %}
                        data[i] = {label: "{{lab}}", data: {{vals|sum_dict:1}} }
                        i++;
                    {% endfor %}
                }
            {% endfor %}
            return data;
        }
        
        function get_visit_data(beamline) {
            var data = [];
            {% for bl, provs in users.items %}
                var i = 0;
                if (beamline == '{{bl}}' ) {
                    {% for lab, vals in provs.items %}
                        data[i] = {label: "{{lab}}", data: {{vals|sum_dict:0}} }
                        i++;
                     {% endfor %}
                 }
             {% endfor %}
            return data;
        }
        
        function plot_data(beamline, hfunc, visit) {
            if (visit) {
                var data = get_visit_data(beamline=beamline);
            } else {
                var data = get_shift_data(beamline=beamline);
            }
	        $.plot($("#placeholder-"+beamline), data, {
	                series: {
	                  pie: { 
	                    show: true,
	                    radius: 1,
	                    label: { 
	                        show: true, 
	                        radius: 2/3,
	                        formatter: function(label, series){
	                            return '<div style="font-size:8pt; text-align: center; padding:2px; color: white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
	                        },
	                        threshold: 0.09
	                     }
	                    }
	                  },
	                grid: { hoverable: true }
	             });
	             
             $("#placeholder-"+beamline).bind("plothover", hfunc);
         }
         
	    function pieHoverBM(event, pos, obj)
	    {
	        if (!obj)
	           return;
            percent = parseFloat(obj.series.percent).toFixed(2);
            $("#hover-08B1-1").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
        } 
        function pieHoverID(event, pos, obj)
        {
            if (!obj)
               return;
            percent = parseFloat(obj.series.percent).toFixed(2);
            $("#hover-08ID-1").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
        } 
        function usageHoverBM(event, pos, obj)
        {
            if (!obj)
               return;
            percent = parseFloat(obj.series.percent).toFixed(2);
            $("#usage-hover-08B1-1").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
        } 
        function usageHoverID(event, pos, obj)
        {
            if (!obj)
               return;
            percent = parseFloat(obj.series.percent).toFixed(2);
            $("#usage-hover-08ID-1").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
        } 
        
    </script>
{% endblock %}