{% extends "base.html" %}

{% load stats_extras %}
{% load truncate_filters %}

{% block headline %}
<h2>Usage Statistics - {{month.1}} {{ month.2 }}</h2>
{% endblock %}

{% block content %}

<div class="object-list">
	<div class="list-tools">
	    <h3 class="current">
	        <a class="prev" href='{% url stats-calendar-any month=month.3 %}' title="Previous Month">
	            <img src="/img/prev.png" alt="Previous Month"></a>
	        <a class="current" href='{% url stats-calendar-now %}'>
	            Back to Current Month</a>
	        <a class="next" href='{% url stats-calendar-any month=month.4 %}' title="Next Month">
	            <img src="/img/next.png" alt="Next Month"></a>
	    </h3>
	</div>

    <h3>{{month.1}} {{ month.2 }}</h3>

<table id="calendar">
    <thead>
        <tr>
		    <th></th>
		    <th class="weekday">Monday</th>
		    <th class="weekday">Tuesday</th>
		    <th class="weekday">Wednesday</th>
		    <th class="weekday">Thursday</th>
		    <th class="weekday">Friday</th>
		    <th class="weekday">Saturday</th>
		    <th class="weekday">Sunday</th>
        </tr>
    </thead>
    <tbody>
        {% for week in dates %}
            {% for name in display %}
	            {% if forloop.first %}
	            <tr>
	                <td class="date header"></td>
	                {% for day in week %}
	                <td class="date
	                    {% ifequal month.0 day.1 %}current-month{% endifequal %} 
	                    {% ifequal current_date day.0 %}today{% endifequal %}">{{day.0}}</td>
	                {% endfor %}
	            </tr>
	            {% endif %}
	            <tr>
	                <td class="blabel header">
	                    <span>{{ name|bl_name }}</span></td>
	                {% for day in week %}
	                <td class="stats
	                    {% ifequal month.0 day.1 %}current-month{% endifequal %} 
	                    {% ifequal current_date day.0 %}today{% endifequal %}">
		                {% with day.2|format_data:name as data %}
		                    {% for item in data %}
		                        <b>{{ item.0|truncate_chars:8 }}</b>({{ item.1 }})- 
		                            {% ifequal item.2 item.3 %}
		                                ({{ item.2 }})
		                            {%else %} 
		                                ({{item.2 }}-{{ item.3 }})
		                            {% endifequal %}
		                        <br>
		                    {% endfor %}
		                {% endwith %}</td>
	                {% endfor %}
	            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block sidebar %}
<div class="statistics"><h3 class="current"><a href="{% url stats-yearly month.2 %}">View {{month.2}} Statistics</a></h3></div>
<div class="widget statistics" style="height:auto;" data="{% url stats-monthly month.2 month.0 %}">
    <div class="widget-title"><span>{{ month.1 }} {{ month.2 }} Usage</span></div>
    <ul><p class="list-empty"> ( Data not loaded ) </p></ul>
</div>
{% endblock %}
