{%  extends "forms/form_base.html" %}
{% block form_display %}
<form 
        method="post"
        id="lims-form" 
        class="wufoo"
{% if info.target %}
        action='javascript:post_and_load("{{info.target}}","{{info.action}}", "lims-form");'
{% else %}
        action='{{info.action}}'
{% endif %}    
>
<ul>
{% if form.errors %}
<li><p class="error">Submitted data is invalid. Please Correct the highlighted errors!</p></li>
{% endif %}
<li>{{form.project}}</li>
<li>
{{form.name.label_tag}}{% if form.name.field.required %}<span class="req">*</span>{% endif %}
    <div>{{form.name}}</div>
{% if  form.name.help_text %}
    <p class="instruct"><small>{{form.name.help_text}}</small></p>
{% endif %}
{% if  form.name.errors %}
    <small>{{form.name.errors}}</small>
{% endif %}
</li>

<li>
{{form.code.label_tag}}{% if form.code.field.required %}<span class="req">*</span>{% endif %}
    <div>{{form.code}}</div>
{% if  form.code.help_text %}
    <p class="instruct"><small>{{form.code.help_text}}</small></p>
{% endif %}
{% if  form.code.errors %}
    <small>{{form.code.errors}}</small>
{% endif %}
</li>

<li>
    <label>Crystal Parameters</label>
    <div class="left">
    {{form.cocktail}}
    {{form.cocktail.label_tag}}{% if form.cocktail.field.required %}<span class="req">*</span>{% endif %}
    {% if  form.cocktail.help_text %}<p class="instruct"><small>{{form.cocktail.help_text}}</small></p>
{% endif %}
{% if  form.cocktail.errors %}
    <small>{{form.cocktail.errors}}</small>
{% endif %}
    </div>

    <div class="right">{{form.crystal_form}}
    {{form.crystal_form.label_tag}}{% if form.crystal_form.field.required %}<span class="req">*</span>{% endif %}
    {% if  form.crystal_form.help_text %}
    <p class="instruct"><small>{{form.crystal_form.help_text}}</small></p>
{% endif %}
{% if  form.crystal_form.errors %}
    <small>{{form.crystal_form.errors}}</small>
{% endif %}
    </div>
</li>

<li>
    <div class="left">
    {{form.pin_length}}
    {{form.pin_length.label_tag}}{% if form.pin_length.field.required %}<span class="req">*</span>{% endif %}
    {% if  form.pin_length.help_text %}<p class="instruct"><small>{{form.pin_length.help_text}}</small></p>
{% endif %}
{% if  form.pin_length.errors %}
    <small>{{form.pin_length.errors}}</small>
{% endif %}
    </div>

    <div class="right">
    {{form.loop_size}}
    {{form.loop_size.label_tag}}{% if form.loop_size.field.required %}<span class="req">*</span>{% endif %}
    {% if  form.loop_size.help_text %}
    <p class="instruct"><small>{{form.loop_size.help_text}}</small></p>
{% endif %}
{% if  form.loop_size.errors %}
    <small>{{form.loop_size.errors}}</small>
{% endif %}
    </div>
</li>

<li>
    <label>Crystal puck</label>
    <div class="left">
    {{form.puck}}
    {{form.puck.label_tag}}{% if form.puck.field.required %}<span class="req">*</span>{% endif %}
    {% if  form.puck.help_text %}<p class="instruct"><small>{{form.puck.help_text}}</small></p>
{% endif %}
{% if  form.puck.errors %}
    <small>{{form.puck.errors}}</small>
{% endif %}
    </div>

    <div class="right">
    {{form.puck_location}}
    {{form.puck_location.label_tag}}{% if form.puck_location.field.required %}<span class="req">*</span>{% endif %}
    {% if  form.puck_position.help_text %}
    <p class="instruct"><small>{{form.puck_location.help_text}}</small></p>
{% endif %}
{% if  form.puck_position.errors %}
    <small>{{form.puck_position.errors}}</small>
{% endif %}
    </div>
</li>

<li>
{{form.comments.label_tag}}{% if form.comments.field.required %}<span class="req">*</span>{% endif %}
    <div>{{form.comments}}</div>
{% if  form.comments.help_text %}
    <p class="instruct"><small>{{form.comments.help_text}}</small></p>
{% endif %}
{% if  form.comments.errors %}
    <small>{{form.comments.errors}}</small>
{% endif %}
</li>
	
<li class="submit-row">
<input type="submit" value="Save and add another" name="_addanother"  />
<input type="submit" value="Save" class="default" /></li>
</ul>
</form>
<img src="/img/blank.png" width=1 height=1 onload="init_form('lims-form');" />
{% endblock %}
