{% load static %}
{% load get_version %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1063, initial-scale=1">
    <title>Ship to {{ "BL_NAME"|get_from_settings }}</title>

    <link href="{{ "BASE_DIR"|get_from_settings }}{% static "img/logo.ico" %}" rel="SHORTCUT ICON">
    <link href="{{ "BASE_DIR"|get_from_settings }}{% static "css/reset.css" %}" rel="stylesheet"> <!-- CSS reset -->
    <link href="{{ "BASE_DIR"|get_from_settings }}{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{{ "BASE_DIR"|get_from_settings }}{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{{ "BASE_DIR"|get_from_settings }}{% static "css/mxlive.css" %}" rel="stylesheet">
    <link href="{{ "BASE_DIR"|get_from_settings }}{% static "css/pdfs.css" %}" rel="stylesheet">

</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>