{% extends "users/pdf/doc_base.html" %}

{% load static %}
{% load settings %}

{% block content %}

<div class="container">
    <div class="row">
        <h2 class="heading text-condensed">
            <img src="{% get_setting 'BASE_DIR' %}{% static "img/bl_logo.svg" %}" style="width: 300px;"/>
            <span class="pull-right">SHIPPING LABEL</span>
        </h2>
        <p>Print this document and cut out the label to affix to the outside of your transport container (dewar) for shipment.</p>
        <div class="panel panel-main">
            <div class="label-sidebar">
                <img src="{% get_setting 'BASE_DIR' %}{% static "img/bl_logo-min.svg" %}"/>
                <br><br>
                <img src="{% get_setting 'BASE_DIR' %}{% static "img/fragile_sign.svg" %}"/>
                <br><br>
                <strong class="emphasize">Non-Hazardous Frozen Samples In Dry-Shipper</strong>
            </div>
            <table class="table table-sm">
                <tr><td>To:</td><td>{{ admin_project.contact_person|default:"" }}</td></tr>
                <tr><td></td><td>c/o Shipping and Receiving</td></tr>
                <tr><td></td><td>{{ admin_project.organisation|default:"" }}</td></tr>
                <tr><td></td><td>{{ admin_project.address|default:"" }}</td></tr>
                <tr><td></td><td>{{ admin_project.city|default:"" }}</td></tr>
                <tr><td></td><td>{{ admin_project.country|default:"" }}</td></tr>
                <tr><td></td><td>Phone: {{admin_project.contact_phone|default:""}}</td></tr>
                {% if admin_project.contact_fax %}
                    <tr><td></td><td>Fax: {{admin_project.contact_fax|default:""}}</td></tr>
                {% endif %}
            </table>
            <div class="panel panel-default">
                <table class="table table-sm">
                    <tr class="border-bottom"><td>ID:</td><td>{{project.first_name}} {{project.last_name}} ({{shipment.name}})</td></tr>
                    <tr><td>From:</td><td>{{ project.contact_person|default:"" }}</td></tr>
                    {% if project.department %}<tr><td></td><td>{{ project.department|default:"" }}</td></tr>{% endif %}
                    <tr><td></td><td>{{ project.organisation|default:"" }}</td></tr>
                    <tr><td></td><td>{{ project.address|default:"" }}</td></tr>
                    <tr><td></td><td>{{ project.city|default:"" }}, {{ project.province|default:"" }}  {{project.postal_code|default:"" }}</td></tr>
                    <tr><td></td><td>{{ project.country|default:"" }}</td></tr>
                    <tr><td></td><td>Phone: {{ project.contact_phone|default:"" }}</td></tr>
                    {% if project.contact_fax %}<tr><td></td><td>Fax: {{ project.contact_fax|default:"" }}</td></tr>{% endif %}
                </table>
            </div>
        <span class="emphasize">Not restricted, as per Special Provision A152</span>
        </div>
    </div>
</div>

{% endblock %}