<div id="edit-object" class="hidden modal-content"></div>

{% for object in ol.object_list %}
    {# object.name or object.label will be displayed, as no models have both a name and a label #}   
    {# had a href in the below code. This directed to the style-less page, so it was removed. #}
    {# should likely point to an ajax style popup #} 
    	<li id="{{object.id}}" class="draggable-link-parent {{ type }}" rel="{{ handler }}{{object.pk}}" ondragstart="setupDragAndDrop()">
    		<a href="{{ handler }}{{object.pk}}/edit/" rel="#edit-object" class="{{ type }} action modal">{{ object.name }}</a>
    	</li>
{% endfor %}
