{% load objlist %}

{% if ol.has_filters %}
    <div class="filters">
    	<table cellspacing="0" cellpadding="2" border="0">
	        <tr class="filter-left link-row">
	            Show Filters
	        </tr>
	        <tr class="list-filter hidden expander static">
	            <ul class="filter-choices">
	                {% for spec in ol.filter_specs %}<ul>{% show_one_filter ol spec url %}</ul>{% endfor %}
	            </ul>
	        </tr>
        </table>
        <div class="clear"></div>
    </div>
{% endif %}
