{% extends "base.html" %}
{% load objlist %}
{% block headline %}
    <div id="content-title" class="{{ol.object_type}}">
        <h2>{{ol.object_type}}s</h2>
    </div>
    <div class="object-tools">
        <div class="left-element">
            <form class="search-object-list" style="display: inline;" action="{{ handler }}" method="get">
                <input class="field search" type="text" size="20" name="q" id="searchbar" value="Search . . ." id="searchbar" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
            </form>
        </div>
        <div class="mid-element">
            {% show_all_filters ol handler %}
        </div>
        <div class="right-element" style="padding: 3px;">
            {% if can_receive %}<a class="edit-tool modal" rel="#edit-modal" href='{{ handler }}receive/' >Receive {{ ol.object_type }}</a>{% endif %}
            {% if can_upload %}<a class="xls-tool modal" rel="#xls-modal" href='{{ handler }}upload/' >Upload {{ ol.object_type }}</a>{% endif %}
            {% if can_add %}<a class="add-tool modal" rel="#add-modal" href='{{ handler }}new/' >Add {{ ol.object_type }}</a>{% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
{% block content %}
    {% include "objlist/basic_list.html" %}
{% endblock %}
