{% extends "base.html" %}
{% load objlist %}
{% block headline %}<h2 class="{{ol.object_type}}">{{ ol.opts.verbose_name_plural|capfirst }}</h2>{% endblock %}
{% block object-tools %}
    <div class="object-tools">
        <div class="left-element">
            <form class="search-object-list" style="display: inline;" action="{{ handler }}" method="get">
                <input class="field search" type="text" size="20" name="q" id="searchbar" value="Search . . ." id="searchbar" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
            </form>
        </div>
        <div class="mid-element">
            {% show_all_filters ol handler %}
        </div>
        <ul class="toolbar">
            {% if can_add %}<li class="add-tool"><a class="modal-{% if modal_upload %}upload-{% endif %}form"  href='{{ handler }}new/'>Add {{ol.object_type}}</a></li>{% endif %}
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}
{% block content %}
    {% include "objlist/object_list.html" %}
{% endblock %}

{% block sidebar %}
    {% if modal_upload %}
        <h2>As the Users see it...</h2>
            {% load link_list %}
            {% link_list %}
        <br>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

