<tr {% if is_individual %}
        class="link-row action redirect {{ row_state }} {{ type|lower }}"
        href="{{ handler }}{{ object.pk }}/"
        title="Go to {{type}} {{object.pk}}"
    {% else %}{% if object.is_editable %}
        class="link-row action modal-form {{ row_state }} {{ type|lower }}"        
        href="{{handler}}{{object.pk}}/edit/"
        title="Edit {{object.pk}}"
    {% else %}{% if type == 'Data' %}
        class="link-row action modal {{ row_state }} {{ type|lower }}"
        href="{% url lims-dataset-detail object.pk %}"
        title="View dataset {{object.pk}}"
    {% endif %}{% endif %}{% endif %}>
    {% if request.user.is_superuser %} 
        <td class="first"></td>
    {% endif %}

    {# should add a check here for maximum size. Don't want something like a long label ruining everything #}
    {% load truncate_filters %}
    
    {% for field in fields %}
 		<td class="link-cell">
     	{% if field == object.id %}
            {{ object.identity }}
    	{% else %}
        {% if field|make_list == object.score|make_list %}
            {{ field|floatformat:3 }}
    	{% else %}
    		{{ field|truncate_chars:30 }}
    	{% endif %}
    	{% endif %}
        </td>
    {% endfor %}

    {% if form %}
        <td><input type="checkbox" name="{{object.get_form_field}}" value="{{object.pk}}" {{checked|yesno:"checked='checked',,"}}/></td>
    {% endif %}
    {% if not is_individual %}
        {% if object.is_deletable %}
            <td class="action link-cell">
                <a href="{{ handler }}{{object.pk}}/delete/" rel="#modal-popup" class="action modal delete-tool" title="Delete"></a>
            </td>
        {% endif %}
    {% endif %}
</tr>

