 <tr {% if link %}
        class="link-row {{ row_state }} droppable droppable-add"
         {% if object.is_strategy_type %}
            rel="../result/{{ object.pk }}/"
         {% else %}
            rel="{{ handler }}{{ object.pk }}/"
         {% endif %}
     {% endif %} 
     accept="{{object.accept}}"
     title="{{ object.comments|escape }}"
     id="{{object.pk}}">
    <td class="first"></td>
    {% if can_prioritize %}
    <td>
        {% if request.user.is_superuser %}
            {{ object.staff_priority }}
        {% else %}
            {{ object.priority }}
        {% endif %}
    </td>
    {% endif %}
    {% for field in fields %}
        <td>{{ field }}</td>
    {% endfor %}
    {% if form %}
        <td><input type="checkbox" name="{{object.get_form_field}}" value="{{object.pk}}" {{checked|yesno:"checked='checked',,"}}/></td>
    {% endif %}
 </tr>
<tr id="{{object.pk}}" accept="{{object.accept}}" class='expander hidden droppable droppable-add' rel="{{ handler }}{{ object.pk }}/">
    {# We add 2 because the priority field isn't included in fields|length, and there is a spacer at the beginning #}
    <td colspan="{{ fields|length|add:"2" }}">
        This should be replaced by an AJAX query when the tr.link-row is clicked
    </td>
</tr>

