{% load objlist %}
<div class="bubble_bg"><div class="rounded_lr"><div class="rounded_ll">              
<div class="object-tools">
    <div class="left-element">
        <form style="display: inline;" action="" method="get">
        <input class="field search" type="text" size="20" name="q" value="" id="searchbar" />
        </form>
    </div>
    <div class="right-element" style="padding: 3px;">
        {% if can_add %}<a class="add-tool" href='new/' >Add {{ ol.object_type }}</a>{% endif %}
    </div>
    <div class="clearall"></div>
</div>
 
{% show_all_filters ol %}
<div class="list-tools">
{% if ol.is_paginated %}
    {% include "objlist/pagination.html" %}
{% endif %}
{% if ol.has_search %}
    Showing {{ol.paginator.count}} of {{ol.total_count}} total | <a href="?all=">Show all</a>
{% endif %}
</div>

<div class="object-list">
    <table cellspacing="0" cellpadding="2" border="0" id="resultstable" class="results" width="100%">
    <thead>
    <tr class="headingrow">
    <th style="border-left: 0pt none; width: 0.1em;"></th>
    {% for header in ol.header_list %}<th{{ header.class_attrib }}>
    {% if header.sortable %}<a href="{{ header.url }}">{% endif %}
    {{ header.text|capfirst }}
    {% if header.sortable %}</a>{% endif %}</th>{% endfor %}
    </tr>
    </thead>
    <tbody>
{% if ol.object_list %}
    {% for object in ol.object_list %}
        {% list_entry object %}
    {% endfor %}
{% else %}
    <td colspan="20" align="center" style="padding: 3em; background: #fff;">No {{ol.object_type}} to show</td>
{% endif %}
    </tbody>
    </table>
</div>

<div class="list-tools">
{% if ol.is_paginated %}
    {% include "objlist/pagination.html" %}
{% endif %}
</div>
</div></div></div>

