{% load boxes %}
{% load objlist %}
{% contentbox "Inbox" "box4" %} 
<div class="tiny-list-tools">
    {% include "objlist/pagination.html" %}
        <form style="display: inline;" action="" method="get">
        <input class="search field" type="text" size="15" name="q" value="" id="searchbar" />
        </form>
{% if not ol.all_shown %}
    {{ol.result_count}} of {{ol.total_count}} total | <a href="?all=">All</a>
{% endif %}
</div>

<div class="object-list">
    <table width="100%">
{% block tiny-list %}
{% endblock %}
    </table>
</div>

{% show_all_filters ol %}

{% endcontentbox %}
