@charset "utf-8";
{% load dcss %}
{% var as col %}
{
    "shades": [
        {"l":"#c3d9ff", "d": "#e5ecf9"},
        {"d":"#fad163", "l": "#fff7d7"},
        {"d":"#74dd82", "l": "#b5edbc"},
        {"d":"#c3d9ff", "l": "#e5ecf9"},
        {"l":"#fff", "d":"#ccc"},
        {"l":"#e0eefb", "d":"#1c2742"}
    ],
    "inactive_tab": "#ddd",
    "link": "#5b80b2",
    "link_alt": "#369",
    "link_hover": "#036"
     
}
{% endvar %}

a { color: {{col.link}}; text-decoration: none; }
a:link, a:visited { color: {{col.link}}; text-decoration:none; }
a:hover { color: {{col.link_hover}}; text-decoration: underline;}
a img { border:none; }

body { background: #fff; margin: 3px 8px;}
body, select, input { font-family: "Candara", sans-serif; }
body { font-size: 83%;}
td td, th th, th td, td th { font-size: 100%;}
pre { font-size: 110%;}
form { padding:0; margin:0;}

table { border-collapse: collapse;  empty-cells: show;}

.labellist { list-style-type:none; padding:0; margin:0; display:inline; }
.labellist li { margin-left:0.2em; display:inline; }

.pmeta_bubble_bg { background: {{col.shades.0.d}}; margin-bottom: 0.6em;}
.pmeta { text-align:left;}
.pmeta th, .pmeta td { vertical-align:top; }
.pmeta ul { padding:0; margin:0; }
.pmeta li { padding: 0 0 2px 0; list-style-type:none; }

.feed {
  width: 36px;
  height: 14px;
  border: 0;
  position: relative;
  top: 2px;
  padding-left: 0.5em;
}

#mt { margin-top: 0.5ex; }

.bubble_bg { background: {{col.shades.0.l}}; margin-bottom: 0.6em; }
.rounded_ul { background: url(/img/ul.png) no-repeat top left; }
.rounded_ur { background: url(/img/ur.png) no-repeat top right; }
.rounded_ll { background: url(/img/ll.png) no-repeat bottom left; }
.rounded_lr { background: url(/img/lr.png) no-repeat bottom right; }
.bubble { padding: 2px; }

table#mt div.tc1 {
  height: 4px;
  background: url(/img/ul.png) no-repeat top left;
}
table#mt div.tc2 {
  height: 4px;
  background: url(/img/ur.png) no-repeat top right;
  padding: 0 4px;
}
table#mt div.tT{
  font-size: small;
}
table#mt div.tT a{
  display: block;
  padding: 0px 1em 2px 1em; 
}
.t1 table#mt .int1 div.tc1,
.t2 table#mt .int2 div.tc1,
.t3 table#mt .int3 div.tc1,
.t4 table#mt .int4 div.tc1,
.t5 table#mt .int5 div.tc1,
.t6 table#mt .int6 div.tc1,
.t7 table#mt .int7 div.tc1 {
  height: 4px;
  background: url(/img/ul.png) no-repeat top left;
}

.t1 table#mt .int1 div.tc2,
.t2 table#mt .int2 div.tc2,
.t3 table#mt .int3 div.tc2,
.t4 table#mt .int4 div.tc2,
.t5 table#mt .int5 div.tc2,
.t6 table#mt .int6 div.tc2,
.t7 table#mt .int7 div.tc2 {
  height: 4px;
  background: url(/img/ur.png) no-repeat top right;
  padding: 1px 6px;
}

table#mt th {
  cursor:pointer;
  text-align:center;
  background-color:{{col.shades.0.d}};
  font-weight:bold;
}

table#mt th.active {
  cursor:pointer;
  text-align:center;
  background-color:{{col.shades.0.l}};
  font-weight:bold;
}

.t1 table#mt th.int1,
.t2 table#mt th.int2,
.t3 table#mt th.int3,
.t4 table#mt th.int4,
.t5 table#mt th.int5,
.t6 table#mt th.int6,
.t7 table#mt th.int7 { background-color: {{col.shades.0.l}}; }

table#mt th a { text-decoration:none; color: black; }

.t5 h4 {
  background-color: {{col.shades.0.d}};
  margin: 4px 4px 0 4px;
  border-top: 1px solid #3366cc;
  padding:2px;
}

.t5 .section { margin: 0 4px 1.6em 4px; padding:4px; }
.t5 .section .submit { margin: 8px; }

.section .explanation { width: 500px; }

table.links th { text-align: left; }
.linkexample { color: #777; font-size: 83%; font-weight: bold; }

table.st { background-color: {{col.shades.0.l}};}
table.st span { padding: 0 4px 0 4px; }

table.st div.stur {
  height: 2px;
  background: url(/img/ur.png) no-repeat top right;
  padding: 1px 4px;
}

.object-tools, .at { padding:4px 3px 3px 4px; }
.object-tools a, .at a, .object-tools a:visited, .at a:visited { color:{{col.link}};}

.linkpreview { border-bottom: 1px dotted black; }
#wikipreview { background: {{col.shades.0.d}}; padding: 1em; margin-right: 2.5em; }

.st1 .inst1 a,
.st2 .inst2 a,
.st3 .inst3 a,
.st4 .inst4 a,
.st5 .inst5 a,
.st6 .inst6 a,
.st7 .inst7 a { color:black; font-weight:bold; text-decoration:none; }

.debug, .debug a { color: #444; font-size: x-small;}
.debug td, .debug th { background: #ddf; }
.debug th { text-align: left; font-family: courier; font-size: small}

.notice { background:#fad163; }
.error { background:#fad163; }
.notice b, .error b { padding:3px 1.2em 3px 1.2em;}

.fieldhelp { color:grey;}
.fielderror { color:red; font-weight:bold; padding:4px;}

.tip { background:{{col.shades.0.d}}; font-size:92%; margin:5px; width:14em; }

#pname { font-size:120%; font-weight:bold; margin-top:0;}
#psum { font-style:italic; margin-top:3px;}
#license { padding: 0 0 0.5em 6px;}

.vt { 
    white-space: nowrap;
    overflow: hidden;
    vertical-align:top;
}
div.h4, table.h4 {
  background-color: {{col.shades.0.d}};
  margin-bottom: 2px;
  border-top: 1px solid #3366cc;
  padding:2px;
  font-weight: bold;
  position: relative;
  margin-top: 2px;
}

.mainhdr {
  background-color: {{col.shades.0.d}};
  border-top: 1px solid #3366cc;
  font-weight: bold;
  font-size: 133%;
  padding: 2px;
}

div#serp { margin:0 20em 0 0;}
div#serp .labels a:link { color: #080 }
div#serp .labels a:visited { color: #080 }
div#serp .labels a:active { color: #f00 }
div#serp .name { margin-top: 2ex; font-size: 120% }

/* From base.css */
h1 { font-size: x-large; margin-top: 0px; }
h2 { font-size: large; }
h3 { font-size: medium; }
h4 { font-size: small; }

img { border: 0; }

#user-tools { text-align: right; font-size: 90%; }

#header {
  position: relative;
  height: 55px;
  padding-top: 6px;
  margin-bottom: -9px;
}

#logo { padding-right: 10px; position: absolute; top: 0; left: 0; }

#logo img { width: 153px; height: 55px; }

#title, #breadcrumbs { margin-left: 171px; padding-left: 3px; }

#title {
  border-top: 1px solid #3366cc;
  background-color: {{col.shades.0.d}};
  font-size: large;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
}

#breadcrumbs { margin-top: 3px; }

/* Side panel section */

#side { width: 167px; margin-bottom: 3em; float: left; }

/* Menu */

#menu ul { margin: 0; padding: 0; list-style-type: none; margin-bottom: 1em; }
#menu ul ul { margin-left: 10px; margin-bottom: 0; }
#menu li { margin-top: 4px; }
#menu h4 { margin: 0; padding: 0; margin-bottom: 1em; }

/* Search box */

#search { margin-top: 2em; }
#search .header { font-weight: bold; font-size: 93%; margin-bottom: 1px; }
#search .button { margin-top: 1px; font-size: 115%; }
#search .button input { font-family: sans; }
#search .input input { width: 130px; font-size: 115%; }

/* Main body section */

#body {
  border-left: 1px dotted silver;
  margin-left: 169px;
  margin-right: 25px;
  padding-left: 18px;
  padding-bottom: 25px;
  margin-top: -7px;
}

/* Footer section */

#footer {
  clear: both;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  height: 53px;
  background-repeat: no-repeat;
  background-position: left center;
}
#footer .text { padding-top: 20px; }

#footer p {
    border-top:1px solid {{col.shades.0.l}};
    color:#666;
    font-size:90%;
    padding:0.8em 0pt 0pt;
}

#downloadbox { padding: 6px; }
#downloadbox a {
  margin: 6px 0 0 3em;
  display: block;
  padding-left: 18px;
  background: url(/img/dl_arrow.gif) no-repeat bottom left;
}

#wikicontent h3, #wikipreview h3 {
  background: none;
  border: 0;
  padding-left:0;
  margin: 0;
}

#wikicontent p, #wikicontent li, #wikicontent blockquote { max-width: 65em; }

table.wikitable { border-collapse: collapse; }
.wikitable th { background: {{col.shades.0.d}}; }
.wikitable th, .wikitable td { border: 1px solid #aaa; padding: 5px; }

/* Source code highlighting */
/* Pretty printing styles. Used with prettify.js. */

pre.prettyprint {
  margin-left: 2em;
  padding: 0.5em;
  border-left: 3px solid #ccc;
}

.prettyprint .str { color: #080; }
.prettyprint .kwd { color: #008; }
.prettyprint .com { color: #800; }
.prettyprint .typ { color: #606; }
.prettyprint .lit { color: #066; }
.prettyprint .pun { color: #660; }
.prettyprint .pln { color: #000; }
.prettyprint .tag { color: #008; }
.prettyprint .atn { color: #606; }
.prettyprint .atv { color: #080; }
.prettyprint .dec { color: #606; }

@media print {
  .prettyprint .str { color: #060; }
  .prettyprint .kwd { color: #006; font-weight: bold; }
  .prettyprint .com { color: #600; font-style: italic; }
  .prettyprint .typ { color: #404; font-weight: bold; }
  .prettyprint .lit { color: #044; }
  .prettyprint .pun { color: #440; }
  .prettyprint .pln { color: #000; }
  .prettyprint .tag { color: #006; font-weight: bold; }
  .prettyprint .atn { color: #404; }
  .prettyprint .atv { color: #060; }
}

/* Auto-links */
.closed_ref { text-decoration: line-through }

.twocol th,.twocol td { border-bottom: 1px solid #ccc; padding: 1px 5px 0 5px }
.twocol th { border-left: 1px solid #ccc }
.results td { padding: 4px; }
.results caption { text-align: left; font-weight: bold; font-size: 110%;}
.results td a { color: #00c ; text-decoration: none; }
.results td.id a { color: {{col.link}}; text-decoration: underline;}
.results td.id { text-align:right;}
.results td.id a:visited { color: purple; text-decoration: underline; }
.results td.id a:hover { color: red; text-decoration: underline; }

.headingrow th, .results th {
    border-bottom: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
    background: #eee; 
    text-align: left;
    vertical-align: middle;
    padding-right: 0.4em;
    padding-left: 0.4em;
}
.headingrow th a, .results th a { text-decoration:none; display: block; padding-right: 12px; }
.headingrow th a:visited {color: {{col.link_hover}} !important;}
.headingrow th, .results th { white-space: nowrap;}

/* SORTABLE TABLES */
.headingrow th.sorted { background-color: {{col.shades.0.d}} !important; }
.headingrow th.ascending a{ background: url(/img/arrow-down.png) right 50% no-repeat; }
.headingrow th.descending a{ background: url(/img/arrow-up.png) right 50% no-repeat; }


.bodyrow td, .results td { 
    white-space: nowrap;
    overflow: hidden;
    vertical-align:top;
    padding-left: 0.5em;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.bodyrow td.first {
    border-left: none;
}

.p1 { background-color: #fcc; }
.notes {
  background: #ffc;
  border: 1px solid #999;
  border-width: 0 1px 1px 0;
  padding: 2px; width: 818px;
}

#popup-window {
  display: none;
  border: 1px solid #000;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  width: 60%;
  height: 30em;
  padding: 2px;
  background: {{col.shades.3.l}};
  margin: auto;
}

#popup-window .title {
  background: {{col.shades.3.d}};
  font-weight: bold;
}

#popup-window .title a {
  text-decoration: none;
}

#popup-window .message-info {
  padding: 0.5em 1em;
}

#popup-window .message-info th {
   text-align: left;
   width: 5em;
}

.message-content {
  border: 1px solid #999;
  height: 21em;
  padding: 1em;
  background: #ccc;
  overflow: auto;
}


.message-body {
  font-family: serif;
  text-align: justify;
  font-size: 90%;
  border: 1px solid #000;
  background: #fff;
  line-height: 1.5em;
  min-height: 100%;
  padding: 3em;
  line-height: 1.5em;
}

.popup a { text-decoration: none; cursor: pointer; }
.popup td, .popup th {
  font-weight: normal;
  text-align: left;
  cursor: pointer;
}
.popup td { color: {{col.link}}; padding: 2px; }
.popup tr.hover { background: {{col.shades.0.l}}; }
.subpopup { border-width: 1px 2px 2px 1px; }

.dialog {
  background: #eee;
  border: 2px solid #66a;
  border-width: 2px 4px 4px 2px;
  position:absolute;
  padding: 0;
}
.dialog h3 {
  background: #66a;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 3px;
  padding-left: 6px;
}
.dialogBody { padding: 4px; }

.issueref { text-decoration: none; }
.issueref_closed { text-decoration: line-through; }

.label { text-decoration: none; color: green !important; }
.labelediting input { color: #060; }
.results .label { font-size: 80% }
.label:hover { text-decoration: underline;}

.twocol td { border-left: 1px solid #bbb; width: 50%}
.rowmajor th { text-align: right;}
.labelediting input { margin: 0 3px 4px 0; }
table.twocol {
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  width: 40em;
}
div.twocol { width: 46em; }
.read td, .read th { background: #eef; }
.results .selected td { background: #ffc; }

.closed .ifOpened { display: none }
.closed .opened span.ifOpened { display: inline }
.opened .ifClosed { display: none }
.opened .closed span.ifClosed { display: inline }

.collapse .ifExpand { display: none }
.expand .ifCollapse { display: none }

.historywidget {
  float: right;
  border: 1px solid #669;
  background: white;
  font-weight: normal;
  padding: 1px;
}
#makechangesarea { margin-top: 0; padding: 5px;}
.inplace input { width: 100%; }
.inplace td { border: 0; }
.h3 { font-size: 130%; font-weight: bolder; }
input { padding-left: 1px; padding-right: 1px; }
textarea { padding-left: 1px; padding-right: 1px; }

#issueheader {
  margin: 0.5em 0 0em 0;
  border: 3px solid {{col.shades.0.l}};
  background: {{col.shades.0.l}};
}
#issueheader td { background: {{col.shades.0.l}}; }

.pagination { float: right; white-space: nowrap;}
.pagination a { margin-left: 0.3em; margin-right: 0.3em;}
.list-tools { font-size: 90%; min-height: 1.1em; padding: 0.3em 0.5em; clear: both}
.tiny-list-tools { font-size: 90%; clear: both; padding-bottom: 2px; }

.entrytitle th { 
    border-right: 1px solid #999; 
    text-align: left;
    padding-right: 0.5em; 
    color: #333; 
    white-space: nowrap;
}
.entrytitle td { 
    vertical-align: middle; 
    padding-left: 0.5em; 
    width: 100%;
    white-space: nowrap;
}

.entrysummary { vertical-align: top;}
.entrysummary th { 
    text-align: left; 
    font-style: italic; 
    font-weight: normal; 
    color: #666; 
    padding-right: 0.5em;

}
.entrysummary td { 
    text-align: left; 
    font-weight: normal; 
    font-size: 90%; 
    width: 100%;
}

table.entrysummary {
    margin: 0.3em;
}

#entry-main {
    width: 55%;
}

.issuecomment { border-top: 3px solid {{col.shades.0.l}};}

.issuedescription pre, .issuecomment pre { overflow: hidden;}

.issuedescription pre b, .issuecomment pre b {
  font-size: 110%;
  font-weight: bolder;
  padding: 3px 0 3px 0;
}

.author { margin-bottom: 1em; }

#issuemeta {
  width: 12em;
  border-right: 3px solid {{col.shades.0.l}};
  font-size: 95%;
  vertical-align: top;
}

#issuemeta table tr.hover a { text-decoration: underline }
#issuemeta table td, #issuemeta table th {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.updates { margin-top: 1em; background: {{col.shades.0.l}}; width: 80%; font-size: 90%; }

.fakelink {color: {{col.link}}; cursor: pointer; white-space: nowrap;}
.undef { color: #666; }

td.col_ID { text-align: right }
td.searchoptions { font-size: 80% }

.results td tt { color: #999; font-style: italic; font-weight: bold; }

.notify {
  background: #ec6;
  font-weight: bolder;
  -moz-border-radius: 6px;
  padding: 2px 1em 2px 1em;
  text-align: center;
}

table.advquery,
table.issueimport { border: 3px solid {{col.shades.0.l}};}
table.advquery td,
table.issueimport td { white-space: nowrap; padding: 2px; }
.focus td { background: {{col.shades.0.l}}; }

#ac-list {
  border: 1px solid #666;
  background: #E0ECFF;
  color: #00C;
  padding: 0 0 1px 0;
  z-index: 10;
}
#ac-list { font-size: 95%; }
#ac-list { padding: 2px; }
#ac-list tr { margin: 1px; cursor: pointer; padding: 0 10px; }
#ac-list th { color: #333; text-align: left; }
#ac-list .selected,
#ac-list .selected td { background: {{col.shades.0.l}}; }

#ac-list td, #ac-list th { white-space: nowrap; }

#searchrow td { padding: 0 4px 0 0; }

.eg { color: #666; font-size: 90%; }

#searchtips { padding-left: 2em; }
#searchtips p { margin-left: 2em; }

div td .novel { color: #430;}
div td .exclconflict { color: #a03;}

#submit { font-weight: bold; }

table.attachment { margin-bottom: 0.75em; }
table.attachment tr td { padding: 0; margin: 0; font-size: 95%; }

.issueEntry .inIssueEntry a,
.issueList .inIssueList span,
.issueAdvSearch .inIssueAdvSearch a,
.issueSearchTips .inIssueSearchTips a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.grid td, .grid th { border-left: 1px solid #bbb; }
.grid .idcount { text-align: left }
.grid .idcount a, .results .id a { color: {{col.link}}; text-decoration: underline;}
.grid .idcount a { margin-right: 0.6em; }
.grid .bubble { padding: 3px;}

div.gridtile { background:{{col.shades.0.l}}; width:10em; float:left; margin: 2px; }
.gridtile table { width:100%; table-layout:fixed;}
.gridtile td { border:0; padding:2px; overflow:hidden;}
.gridtile td div { height:5.5ex; font-size:90%; line-height: 100%;}

.numberentry { text-align: right; }

#container { margin: auto; width: 64em; }
#maincol { margin-top:3px; padding:0px; min-height: 30em;}
.t5 #maincol { padding:0; }
.link-row { cursor: pointer; color: {{col.link_alt}}; }
.link-row:hover{ color: {{col.link_hover}}; }

div.clearall { clear:both; }

.tabs a {
    display: block;
    text-decoration: none;
    padding: 2px 1em;
    color: #666;
}
div.tabs th {
    white-space: nowrap;
    background: url(/img/ul.png) no-repeat top left {{col.inactive_tab}};
}

.tabs th.active a {
    color: #000;
    font-weight: bold;
}

.object-tools {
    padding: 2px;
}
div.toolbar {
    padding: 0.5em;
    text-align: right;
    opacity:.60;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    background-color: white;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}

.left-element {
   float: left;
   text-align: left;
   width: 39%;
   margin: 0px;
   }

.right-element {
   float:right;
   width: 49%;
   margin: 0px;
   text-align: right; /* depends on element width */
   }
   
.edit-tool, .delete-tool, .remove-tool, .add-tool, .clone-tool {
    background:transparent;
    cursor: pointer;
    padding: 2px;   
    padding-left: 18px;
    margin-right: 10px;
    color: {{col.link}};
    font-size: 90%;
    font-style: italic;
}
.edit-tool:hover, .delete-tool:hover, .trash-tool:hover, .add-tool:hover, .clone-tool:hover { color: {{col.link_hover}}; }
.edit-tool { background: url(/img/edit-icon.png) no-repeat top left; }
.delete-tool { background: url(/img/delete-icon.gif) no-repeat left top; }
.remove-tool { background: url(/img/remove-icon.png) no-repeat left top; }
.add-tool { background: url(/img/add-icon.png) no-repeat left bottom; }
.clone-tool{ background: url(/img/clone-icon.png) no-repeat left bottom; }

{% for shade in col.shades %}
.box{{forloop.counter}} { 
    background: {{shade.l}}; 
    border: 1px solid {{shade.d}}; 
    font-size: 95%; 
    margin: 3px 0px; 
    padding: 0px;
    -moz-border-radius: 6px;
}
.box{{forloop.counter}} div.title { 
    font-weight: bold; background: {{shade.d}}; 
    padding: 0.3em;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    margin: 0px;
}
.box{{forloop.counter}} div.header { 
    background: {{shade.d}}; 
    padding: 3px; 
    margin: 0px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}
.box{{forloop.counter}} div.boxcontent { 
    margin: 0px; 
    padding: 3px; 
    overflow: auto;
}
.box{{forloop.counter}} .list td { vertical-align: middle; }
.box{{forloop.counter}} td.rule { border-bottom: 1px solid {{shade.d}}; }
.box{{forloop.counter}} div.tabs th.active {
    white-space: nowrap;
    background: url(/img/ul.png) no-repeat top left {{shade.d}};
}
{% endfor %}

.simplebox {
    background: {{shade.l}}; 
    border: 1px solid {{shade.d}}; 
    font-size: 95%; 
    margin: 3px 0px; 
    padding: 0px;
}

.info {
    background: url(/img/success-icon.png) no-repeat left 0.75em;
    margin: 4em;
    padding: 1em;;
    padding-left: 0.5em;
    text-align: center;
}


ul#contentmap
{
    list-style-type: none;
    background: url(/img/tree/dot.gif) repeat-y 3px 0;
    padding: 0;
    margin: 0;
}

ul#contentmap li
{
    margin-bottom: .5em;
}

ul#contentmap li a
{
    background: url(/img/tree/bullet1.gif) no-repeat 0 .4em;
    padding-left: 15px;
}

ul#contentmap li a.open, ul#contentmap li li a.open, ul#contentmap li li li a.open, ul#contentmap li li li li a.open
{
    background-image: url(/img/tree/bullet2.gif);
}

/* second level */
ul#contentmap ul
{
    margin: .5em 0 0 0;
    padding: 0;
    list-style-type: none;
}

ul#contentmap li li
{
    background: url(/img/tree/dot2.gif) no-repeat 2px .5em;
}

ul#contentmap li li a
{
    padding: 0 0 0 32px;
    background: url(/img/tree/bullet1.gif) no-repeat 22px .3em;
}

/* third level */
ul#contentmap ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 25px 0;
}

ul#contentmap li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 25px .5em;
}

ul#contentmap li li li a
{
    padding: 0 0 0 55px;
    background: url(/img/tree/bullet1.gif) no-repeat 45px .3em;
}

/* fourth level */
ul#contentmap ul ul ul
{
    background: url(/img/tree/dot.gif) repeat-y 48px 0;
}

ul#contentmap li li li li
{
    background: url(/img/tree/dot2.gif) no-repeat 48px .5em;
}

ul#contentmap li li li li a
{
    padding: 0 0 0 78px;
    background: url(/img/tree/bullet1.gif) no-repeat 68px .3em;
}

ul#contentmap a {
    text-decoration: none;
}
ul#contentmap a:visited,ul#contentmap a {
    color: {{col.link_alt}};
}

#minitabs table {
    border-collapse: separate;
    border-spacing: 0px;
}
#minitabs td {
    border-bottom: 1px solid #999;
    cursor:pointer;
    padding: 2px;
    padding-left:0.5em;
    padding-right:0.5em;
    font-size: 95%;
    text-align:center;
    white-space: nowrap;	
}	
#minitabs td.spacer {
    padding-right:2px;
    padding-left: 2px;
    cursor:default;
}

#minitabs td.active {
    /*border:1px solid #FF9900;*/
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    background-color:#FFFFFF;
    border-bottom-width:0px;
    font-weight:bold;
}

#minitabs a:link, #minitabs a:visited {
	font-weight: normal;
	display: block;
	text-decoration: none;
	color: {{col.link}};
	}

/*  FILTER COLUMN  */
.object-list { margin-top: 2px;}
.list-filter { font-size: 90%; background: {{col.shades.3.l}}; padding: 3px 3px; }
.list-filter h2 { padding:2px 5px; border-bottom:1px solid #000; }
.list-filter h3 { margin-bottom:0; }
.list-filter ul { padding-left:0;margin-left:10px; }
.list-filter b { margin-left:0.3em; padding-left:0; white-space: nowrap; color: #666;}
.list-filter a { color:#369; text-decoration: none; }
.list-filter a:hover { color:#630; }
.list-filter .selected a { color: #396 !important; }

ul.tiny-list {
    margin: 0;
    padding: 0; 
    border-bottom: 1px dotted #999;
    border-collapse: collapse;
    font-size: 90%;
}

ul.tiny-list li {
    list-style-type: none;
    padding: 5px 3px;
    border-top: 1px dotted #999;
}

li.list-empty {
    text-align: center;
}

li.create-log {
    background: transparent url(/img/add-icon.png) no-repeat scroll left 0.3em;
    padding-left: 18px !important;
}
li.modify-log {
    background: transparent url(/img/edit-icon.png) no-repeat scroll left 0.3em;
    padding-left: 18px !important;
}
li.delete-log {
    background: transparent url(/img/delete-icon.png) no-repeat scroll left 0.3em;
    padding-left: 18px !important;
}

li.unread-message {
    background: transparent url(/img/mail-unread.png) no-repeat scroll left 2px;
    padding-left: 20px !important;
    
}

li.read-message {
    background: transparent url(/img/mail-read.png) no-repeat scroll left 2px;
    padding-left: 20px !important;
    
}

li.incoming-shipment {
    background: transparent url(/img/in-icon.png) no-repeat scroll left 0.3em;
    padding-left: 20px !important;  
}

li.outgoing-shipment {
    background: transparent url(/img/out-icon.png) no-repeat scroll left 0.3em;
    padding-left: 20px !important;   
}

body.login { background:#eee; font-size: 80%; }
.login #container { background:white; padding: 20px; border:1px solid #ccc; width:28em; height: 15em; min-width:300px; margin-left:auto; margin-right:auto; margin-top:100px; }
.login #content-main { width:100%; }
.login form { margin-top:1em; }
.login .form-row { padding:4px 0; float:left; width:100%; }
.login .form-row label { float:left; width:9em; padding-right:0.5em; line-height:2em; text-align:right; font-size:1em; color:#333; }
.login .form-row #id_username, .login .form-row #id_password { width:14em; }
.login span.help { font-size:10px; display:block; }
.login .submit-row { clear:both; padding:1em 0 0 9.4em; }


/* MESSAGES & ERRORS */
ul.messagelist { font-size: 90%; padding:0 0 2px 0; margin:0; }
ul.messagelist li { display:block; padding:4px 5px 4px 25px; border-bottom:1px solid #ddd; color:#666; background:#ffc url(/img/admin/icon_success.gif) 5px .3em no-repeat; }
.errornote {display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:red;background:#ffc url(/img/admin/icon_error.gif) 5px .3em no-repeat; }
div.system-message { background: #ffc; margin: 10px; padding: 6px 8px; font-size: .8em; }
div.system-message p.system-message-title { padding:4px 5px 4px 25px; margin:0; color:red; background:#ffc url(/img/admin/icon_error.gif) 5px .3em no-repeat; }
.description { padding:5px 0 0 12px; }


.message-sender { float: left; }
.message-date { float: right; text-align: right; }
.message-subject { clear: left; float: left }

.message-unread .message-sender, .message-unread .message-date {
    font-weight: bold;
}
.message-read .message-subject {
    color: #999;
}

.message-subject { clear: both; }
li.list-empty {
    border: 0px !important;
}

div.left{
	display:inline;
	float:left;
	width:49%;
}
div.right{
	display:inline;
	float:right;
	width:49%;
}

table.listing {
    font-size:95%;
    margin:0pt;
    width:100%;
}

table.listing thead, table.listing thead th, table.listing tfoot tr {
    background-color:#FFFFFF;
    border:1px solid #D2D2D2;
}
thead {
    vertical-align:bottom;
}
table.listing, table.listing tbody {
    border-bottom:1px solid #D2D2D2;
}

table.listing td {
    border-color:#D2D2D2;
    border-style:dotted none none;
    border-width:1px;
}
table.listing th, table.listing td {
    padding:0.25em;
}

.help dt {
    font-weight: bold;
    color: #666;
}

.help dd br {
    margin-bottom: 1em;
}

div.help {
    font-size:95%;
}
