@charset "utf-8";
{% load dcss %}{% var as el %}{
    "cols": ["#ff9999","#ff99ff","#9999ff","#cc99ff","#99ccff","#99ffff","#99ff99","#ccff99","#ffcc99","#ff6666", "#cccccc", "#ffff99"],
    "colsd": ["#cc6666","#cc66cc","#6666cc","#9966cc","#6699cc","#66cccc","#66cc66","#99cc66","#cc9966","#cc3333", "#999999", "#cccc66"],
    "prds": [0,2,4,6,8,10,12,14,16],
    "grps": [0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34]
}{% endvar %}

.element {
    font-family: 'Trebuchet MS';
    font-size: 10px;
    position: absolute;
    text-align: center;
    width: 19px;
    height: 19px;
    cursor: pointer;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
}

.symb {
    margin: 2px;
}

.body {
    min-height: 40em;
}

#ptable {
    position: relative;
    width: 360px;
    height: 180px;
    margin: auto;
    display: block;
    clear: both;
    
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    background: #eee;
}

.select_edge {
    position: absolute;
    z-index: 90000;
    background: #ffffff;
    width: 10em;
    height: 3em;
    top: 0.1em;
    left: 0.1em;
    border: 1px solid #999;
	visibility:hidden;
	font-size:90%;
}

.name {
  font-weight: normal;
  color: black;
  text-align: right;
}

.bigsymbol {
  font-size: 250% ;
  font-weight: bold;
  text-align: center;
  color: blue;

}

.number {
  font-weight: normal;
  text-align: right;
  color: black;
}

.edges { 
  font-size: 120%;
  font-weight: bold;
  text-align: right;
  color: black;
}

.edge {
  text-decoration: none;
}

div.element:hover .select_edge {
    visibility: visible;
}

{% for col in el.cols %}.T{{forloop.counter0}} { background: {{col}}; }
{% endfor %}
{% for prd in el.prds %}.P{{forloop.counter}} { top: {{prd}}0px; }
{% endfor %}
{% for grp in el.grps %}.G{{forloop.counter}} { left: {{grp}}0px; }
{% endfor %}

