{% extends "base.html" %}
{% load score_colors %}
{% load progress_extras %}

{% block headline %}
<h2><span class="identity {% if not object.is_editable %}locked{% endif %}">{{object.identity}}</span> {{object.name}}</h2>
{% endblock %}

{% block object-tools %}
<div class="object-tools">
    <ul class="toolbar">
        <li class="print-tool" >
            <a href="javascript:window.print();">Print</a>
        </li>
        <li class="toolbar-separator"></li>
        <li class="back-tool" title="Show the {{object|get_obj_type }} details">
            <a href="{{ handler|object_url }}">
                {{ object|get_obj_type }} Details
            </a>
        </li>
        <li class="help-tool" title="Show user guide">
            <a class="modal-iframe" href="/help/index.html">
            Help
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content-override %}
<!-- maincol -->
<div id="content" class="col-12">

{% with object as shipment %}   
<div class="object-list">
    <h3>Crystals</h3>
    <table cellspacing="0" cellpadding="2" border="0" width="100%" id="objlist-list-table">
        <thead>
            <tr> 
                <th>Crystal</th>  
                <th>Location</th>
                <th>Datasets</th>
                <th>Best Statistics*</th>
                <th width=225px>Dataset Comments*</th>
            </tr>
        </thead>
        <tbody>
            {% for crystal in shipment|get_crystal_set %}
                <tr class="{% cycle 'odd' 'even'%}{% if crystal.status == Crystal.STATES.LOADED %} loaded-row{% endif %}
                 {% if crystal.is_complete %} complete-row{% endif %}">
                    <td class="prose"><a class="redirect" title="Go to Crystal {{crystal.name}}"
                        href="{% url "lims-crystal-detail" crystal.pk %}">{{ crystal.name }}</a> ({{ crystal.experiment.get_kind_display }})<br>
                        {% if crystal.staff_comments %}<em>Comments:</em> {{crystal.staff_comments }}{% endif %}</td>
    
                    <td class="prose">{{ crystal.container.name }}({{ crystal.container_location }})</td>
                    <td class="prose">
                        <table class="subtable">
                            {% if crystal.best_screening %}<tr><td>Screening:</td> 
                                <td>{% for data in crystal|get_data_set:0 %}
                                    <a href="{% url "lims-data-detail" data.pk %}" 
                                       class="modal {% ifequal data crystal.best_overall.data %}stress{% endifequal %}">
                                        {{ data.name }}
                                    </a>{% if data.score_label %}
                                    <a href="{% url "lims-result-detail" data.result.pk %}"
                                       class="{% ifequal data crystal.best_overall.data %}stress{%endifequal %}">
                                       ({{ data.score_label|color_score:2}})</a>{% endif %}<br> {% endfor %}
                                </td>
                            </tr>{% endif %}

                            {% if crystal.best_collection %}<tr><td>Collection:</td> 
                                <td>{% for data in crystal|get_data_set:1 %}
                                    <a href="{% url "lims-data-detail" data.pk %}" 
                                       class="modal {% ifequal data crystal.best_overall.data %}stress{% endifequal %}">
                                        {{ data.name }}{% if crystal.experiment.get_kind_display == 'MAD' %}({{ data.energy|floatformat:2}}keV){% endif %}
                                    </a>{% if data.score_label %}
                                    <a href="{% url "lims-result-detail" 1 %}"
                                       class="{% ifequal data crystal.best_overall.data %}stress{%endifequal %}">
                                       ({{ data.score_label|color_score:2}})</a>{% endif %}<br> {% endfor %}
                                </td>
                            </tr>{% endif %}
                        </table>
                    </td>                

                    {% if crystal.best_overall %}{% with crystal.best_overall as stat %}
                    <td class="prose">
                        {% if crystal.best_overall.report %}
                        <strong>{{ stat.data.name }} - score {% if stat.report.score %}{{ stat.report.score|color_score:2 }}{% else %}unavailable{% endif %}</strong>
                        {% if stat.report.kind == 1 %}{% with stat.report as stat %}
                            <table class="subtable">
                                <tr><th>Spacegroup:</th> 
                                    <th>{{ stat.space_group }} {% if crystal.crystal_form %}<em>(expected {{ crystal.crystal_form.space_group }})</em>{% endif %}</th></tr>
                                <tr><th>Unit Cell:</th> 
                                    <th>{{ stat.cell_a }} {{ stat.cell_b }} {{ stat.cell_c }} {{ stat.cell_alpha }} {{ stat.cell_beta }} {{ stat.cell_gamma }}</th></tr>
                                <tr><th>Resolution:</th> 
                                    <th>{{ stat.resolution }} {% if crystal.experiment.resolution %}<em>(wanted {{ crystal.experiment.resolution }})</em>{% endif %}</th></tr>
                                <tr><th>Completeness:</th> 
                                    <th>{{ stat.completeness }}% </th></tr>
                                <tr><th>R-meas:</th> 
                                    <th>{{ stat.r_meas }} {% if crystal.experiment.r_meas %}<em>(wanted {{ crystal.experiment.r_meas }})</em>{% endif %}</th></tr>
                                <tr><th>I/Sigma:</th> 
                                    <th>{{ stat.i_sigma }} {% if crystal.experiment.i_sigma %}<em>(wanted {{ crystal.experiment.i_sigma }})</em>{% endif %}</th></tr>
                            </table>{% endwith %}
                        {% else %}{% with stat.report as stat %}
                            <table class="subtable">
                                <tr><th>Spacegroup:</th> 
                                    <th>{{ stat.space_group }} </th></tr>
                                <tr><th>Unit Cell:</th> 
                                    <th>{{ stat.cell_a }} {{ stat.cell_b }} {{ stat.cell_c }} {{ stat.cell_alpha }} {{ stat.cell_beta }} {{ stat.cell_gamma }}</th></tr>
                                <tr><th>Resolution:</th> 
                                    <th>{{ stat.resolution }} <em>(predicted)</em></th></tr>
                                <tr><th>Completeness:</th> 
                                    <th>{{ stat.completeness }}% <em>(predicted)</em></th></tr>
                                <tr><th>R-factor:</th> 
                                    <th>{{ stat.r_meas }} <em>(predicted)</em></th></tr>
                                <tr><th>I/Sigma:</th> 
                                    <th>{{ stat.i_sigma }} <em>(predicted)</em></th></tr>
                            </table>
                        {% endwith %}{% endif %}
                    </td>
                    {% endif %}
                    <td class="prose">{{ stat.data.staff_comments|default:"" }}</td>
                    {% endwith %}{% else %}<td></td><td></td>{% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <p class="table-notes">* The information shown applies to the best collection dataset (determined by score), or where no data has been collected, to the best screening dataset available for each crystal.</p>
</div>
{% endwith %}

</div>
{% endblock %}


