{% load truncate_filters %}
{% load runlist_extras %}
{% for object in ol.object_list %}
    	<li id="{{object.id}}" 
    	    class="draggable-link-parent {{ type }} runlist-project" 
    	    rel="{{ handler }}{{object.pk}}" 
    	    project="{{ object.name|capfirst }}'s Containers"
    	    ondragstart="setupDragAndDrop()" 
    	    {# onclick="setupRunlist() #}">
    		<a class="{{ type }}"  href="{% url 'staff-runlist-detail' id=runlist %}?project={{ object.pk }}">{{ object.name }} - {{ object|num_containers:runlist }} containers</a>
    	</li>
{% endfor %}
