{% extends "users/base.html" %}

{% load static %}
{% load json_to_dict %}
{% load stats %}
{% load icons %}

{% block page_heading %}
    <h3 class="text-condensed">
        <strong class="text-muted"> {{ beamline }}</strong> | {{ view.page_title }}
    </h3>
    <span class="text-muted">
        {{ object.name }}
    </span>
{% endblock %}

{% block object_tools %}
    {% now "Y" as yr %}
    <a href="{% url "usage-statistics" object.pk %}">
        {% show_icon label='Usage' icon='ti ti-md ti-stats-up' %}
    </a>
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">
            <h4 class="col-11">
                Year:
                {% for yr in object|get_years %}
                    <a href="{% url "yearly-statistics" object.pk yr %}"><span class="badge badge-info">{{ yr }}</span></a>
                {% endfor %}
            </h4>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link href="{% static "css/reports.min.css" %}" rel="stylesheet">
{% endblock %}

{% block full %}
    <div class="row">
        <div id="data-stats" class="col-12"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static "js/d3/d3.v5.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3/d3.legend.js" %}"></script>
    <script type="text/javascript" src="{% static "js/misc/showdown.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/mxlive-reports.min.js" %}"></script>
    <script type="text/javascript">
        var json = {% get_data_stats object year %};
        build_report('#data-stats', json);
    </script>
{% endblock %}