{% extends "users/base.html" %}
{% load humanize %}
{% load markup %}
{% load static %}

{% load container_table %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <strong class="text-muted">{{ object.acronym }}</strong> | {{ object.active_automounter.kind }}
    </h3>
    <span class="text-muted">
        {{ object.name }}
    </span>
{% endblock %}

{% block object_tools %}
    {% if object.is_editable or object.is_deletable %}
        <div class="object-tools">
            <span class="box-tools pull-right">
                {% if object.is_editable %}
                    <a class="pull-right" data-url="{{ handler }}edit/">
                        <i class="fa fa-2 fa-fw fa-pencil"></i><br>
                        <span class="tool-label">Edit</span>
                    </a>
                {% endif %}
                {% if object.is_deletable %}
                    <a class="pull-right" data-url="{{ handler }}delete/">
                        <i class="fa fa-2 fa-fw fa-remove"></i><br>
                        <span class="tool-label">Delete</span>
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <h3 class="no-vmargin">
                    <span class="label label-info">{{ object.contact_phone }}</span>
                </h3>
            </div>
            <div class="col-xs-3 col-sm-4">
                <small class="text-muted text-condensed">Energy Range:</small><br>
                {{ object.energy_lo }} - {{ object.energy_hi }}
            </div>
            <div class="col-xs-3 col-sm-4 pull-right text-right">
                <small class="text-muted text-condensed">Comments:</small><br>
                {{ object.active_automounter.staff_comments }}
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}
    {% with object.active_automounter as automounter %}
        <div id="admin-assign" class="col-sm-7">
            <h3>Automounter Layout</h3>
            <hr />
            <div id="layout-{{ automounter.pk }}" class="layout-lg"></div>
            {% include "users/entries/layout-container.html" with object=automounter.pk kind=automounter.kind %}
        </div>


    <div class="col-sm-5 col-xs-12">
        {% include "users/entries/container_load_list.html" with object=automounter %}
    </div>

    {% endwith %}
{% endblock %}

{% block extra_js %}

{% endblock %}