{% extends "users/base.html" %}

{% load static %}
{% load json_to_dict %}
{% load stats %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <strong class="text-muted">{{ object.acronym }}</strong> | {{ year }} Usage Statistics
    </h3>
    <span class="text-muted">
        {{ object.name }}
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-1">
                Yearly Statistics:
            </div>
            <div class="col-11">
                {% for yr in object|get_years %}
                    <a href="{% url "usage-yearly-statistics" object.pk yr %}"><span class="badge badge-info">{{ yr }}</span></a>&nbsp;
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block full %}

<div class="row">
    <div id="data-stats" class="col-12"></div>
</div>


<link href="{% static "css/reports.css" %}" rel="stylesheet">

<script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.legend.js" %}"></script>
<script type="text/javascript" src="{% static "js/showdown.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/live-reports.js" %}"></script>

<script>
    var json = {% get_usage_stats object year %};
    build_report('#data-stats', json);

    $(document).ready(function() {
        $('.hover-label').hover(function(e) {
            $.each($("rect[style*='" + $(this).css('background-color') + "']"), function() {
                $(this).css('stroke', '#ff0000').css('stroke-width', '3px');
            })
        }, function(e) {
            $.each($("rect[style*='" + $(this).css('background-color') + "']"), function() {
                $(this).css('stroke', 'none');
            });
        });
    });
</script>
{% endblock %}