{% extends "users/base.html" %}

{% load static %}
{% load json_to_dict %}
{% load stats %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <strong class="text-muted">{{ object.acronym }}</strong> | {{ object.active_automounter.kind }}
    </h3>
    <span class="text-muted">
        {{ object.name }}
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <h3 class="no-vmargin">
                    <span class="label label-info">{{ object.contact_phone }}</span>
                </h3>
            </div>
            <div class="col-xs-3 col-sm-4">
                <small class="text-muted text-condensed">Energy Range:</small><br>
                {{ object.energy_lo }} - {{ object.energy_hi }}
            </div>
            <div class="col-xs-3 col-sm-4 pull-right text-right">
                <small class="text-muted text-condensed">Staff Comments:</small><br>
                {{ object.active_dewar.staff_comments|safe }}
            </div>
        </div>
    </div>
{% endblock %}


{% block full %}

<div class="row">
    <div id="data-stats" class="col-xs-7"></div>
    <div id="data-plot" class="col-xs-5"></div>


</div>


<link href="{% static "css/reports.css" %}" rel="stylesheet">

<script type="text/javascript" src="{% static "js/d3.v4.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.legend.js" %}"></script>
<script type="text/javascript" src="{% static "js/showdown.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/live-reports.js" %}"></script>

<script>
    var json = {% get_data_stats object %};
    build_report('#data-stats', json);

    var raw = json.details[0].content[0].data
    var data = []
    $.each(raw[0], function(i, year) {
       var row = {"Year": year}
       if (year && year !== "All") {
           for (j = 1; j < raw.length; j++) {
               if (raw[j][0] !== "Total") {
                   row[raw[j][0]] = raw[j][i];
               }
           }
           data.push(row);
       }
    });

    //Draw Stack Chart
    var margin = { top: 20, right: 20, bottom: 30, left: 40 },
        width = 500 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    var x = d3.scaleBand().range([0, width]).padding(0.1);
    var y = d3.scaleLinear().range([height, 0]);
    var colors = d3.scaleOrdinal(["#883A6A", "#C27844", "#551863", "#CBEFB6", "#5BC0DE"])

    var canvas = d3.select("#data-plot").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    drawStackChart(data, canvas, colors, x, y, height);
</script>
{% endblock %}