{% extends "users/base.html" %}
{% load humanize %}
{% load markup %}
{% load static %}
{% load icons %}

{% block pre_js %}
    <script src="{% static 'js/d3.v5.min.js' %}"></script>
    <script src="{% static 'js/d3-selection-multi.v1.min.js' %}"></script>
    <script src="{% static "js/mxlive-layouts.min.js" %}"></script>
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <strong class="text-muted">{{ object.acronym }}</strong> | {{ object.active_automounter.kind }}
    </h3>
    <span class="text-muted">
        {{ object.name }}
    </span>
{% endblock %}

{% block object_tools %}
    {% if object.active_dewar.container.children_history.all %}
    <a href="#!" data-link="{% url "automounter-history" object.active_dewar.container.pk %}">
        {% show_icon label='History' icon='ti ti-md ti-timer' %}
    </a>
    {% endif %}
    {% now "Y" as current_year %}
    <a href="{% url "beamline-statistics" object.pk current_year %}">
        {% show_icon label='Stats' icon='ti ti-md ti-bar-chart' %}
    </a>
    <a href="{% url "usage-statistics" object.pk %}">
        {% show_icon label='Usage' icon='ti ti-md ti-stats-up' %}
    </a>
    <a href="{% url "beamline-history" pk=object.pk %}">
        {% show_icon label='Sessions' icon='ti ti-md ti-time' %}
    </a>
    <a href="#!" data-link="{% url "dewar-edit" pk=object.active_dewar.pk %}">
        {% show_icon label='Comment' icon='ti ti-md ti-comment-alt' %}
    </a>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-6 col-sm-4">
                <h3 class="no-vmargin">
                    <span class="badge badge-info">{{ object.contact_phone }}</span>
                </h3>
            </div>
            <div class="col-3 col-sm-4">
                <small class="text-muted text-condensed">Energy Range:</small><br>
                {{ object.energy_lo }} - {{ object.energy_hi }}
            </div>
            <div class="col-3 col-sm-4 pull-right text-right">
                <small class="text-muted text-condensed">Staff Comments:</small><br>
                {{ object.active_dewar.staff_comments|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}
    {% with object.active_automounter as automounter %}
        <div class="row">
            <div {% if user.is_superuser %}id="admin-assign"{% endif %} class="col-sm-7 p-4">
                {% include "users/entries/container-layout.html" with container=automounter show_samples=True loadable=True %}
            </div>

            <div class="col-sm-5 col-12">
                {% include "users/entries/loaded.html" %}
            </div>
        </div>
    {% endwith %}
{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function(){
        $(document).on('click', '.project-list-tools [data-form-url]', function () {
            $('#modal-target').asyncForm({
                url: $(this).data('form-url'),
                complete: function(info){
                    let cnt_id = '#cnt-' + info.id;
                    $(cnt_id).empty();
                    drawContainers(cnt_id, info);
                    listLoaded('#loaded-projects', '#loaded-containers', info);
                }
            });

        });
    });

    </script>
{% endblock %}