{% extends "users/base.html" %}
{% load humanize %}
{% load markup %}
{% load static %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <strong class="text-muted">{{ object.acronym }}</strong> | {{ object.active_automounter.kind }}
    </h3>
    <span class="text-muted">
        {{ object.name }}
    </span>
{% endblock %}

{% block object_tools %}
    <div class="object-tools">
        <span class="box-tools pull-right">
            <a class="pull-right" data-url="{% url "dewar-edit" pk=object.active_dewar.pk %}">
                <span class="pull-right">
                    <span class="fa-stack">
                        <i class="fa-stack-2x fa fa-2 fa-fw fa-commenting-o"></i>
                    </span><br>
                    <span class="tool-label">Add Comment</span>
                </span>
            </a>
        </span>
        <span class="box-tools pull-right">
            <a class="pull-right" href="{% url "beamline-history" pk=object.pk %}">
                <span class="pull-right">
                    <span class="fa-stack">
                        <i class="fa-stack-2x fa fa-2 fa-fw fa-clock-o"></i>
                    </span><br>
                    <span class="tool-label">Sessions</span>
                </span>
            </a>
            {% now "Y" as current_year %}
            <a class="pull-right" href="{% url "usage-statistics" object.pk current_year %}">
                <span class="pull-right">
                    <span class="fa-stack">
                        <i class="fa-stack-2x fa fa-2 fa-fw fa-calendar-check-o"></i>
                    </span><br>
                    <span class="tool-label">Usage Stats</span>
                </span>
            </a>
            <a class="pull-right" href="{% url "beamline-statistics" object.pk current_year %}">
                <span class="pull-right">
                    <span class="fa-stack">
                        <i class="fa-stack-2x fa fa-2 fa-fw fa-bar-chart"></i>
                    </span><br>
                    <span class="tool-label">Beam Stats</span>
                </span>
            </a>
            {% if object.active_dewar.container.children_history.all %}
                <a class="pull-right" data-url="{% url "automounter-history" object.active_dewar.container.pk %}">
                    <span class="pull-right">
                        <span class="fa-stack">
                            <i class="fa-stack-2x fa fa-2 fa-fw fa-history"></i>
                        </span><br>
                        <span class="tool-label">History</span>
                    </span>
                </a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <h3 class="no-vmargin">
                    <span class="label label-info">{{ object.contact_phone }}</span>
                </h3>
            </div>
            <div class="col-xs-3 col-sm-4">
                <small class="text-muted text-condensed">Energy Range:</small><br>
                {{ object.energy_lo }} - {{ object.energy_hi }}
            </div>
            <div class="col-xs-3 col-sm-4 pull-right text-right">
                <small class="text-muted text-condensed">Staff Comments:</small><br>
                {{ object.active_dewar.staff_comments|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}
    {% with object.active_automounter as automounter %}
        <div class="row">
            <div {% if user.is_superuser %}id="admin-assign"{% endif %} class="col-sm-7">
                <h3>Automounter Layout</h3>
                <hr />
                <div id="layout-{{ automounter.pk }}" class="layout-lg"></div>
                {% include "users/entries/layout-container.html" with object=automounter.pk kind=automounter.kind %}
            </div>

            <div class="col-sm-5 col-xs-12">
                {% include "users/entries/loaded-list.html" with object=automounter %}
            </div>
        </div>
    {% endwith %}
{% endblock %}
