{% extends "forms/modal.html" %}

{% load converter %}

{% block modal_size %}modal-lg{% endblock %}

{% block form_title %}
    {{ object.kind }} <strong>{{ object.name }}</strong> | History
{% endblock %}

{% block form_body %}
    <div class="row">
        <div class="col-12">
            <table>
                <tr>
                    <th class="col-3">Location</th>
                    <th class="col-3">Start</th>
                    <th class="col-3 text-right">End</th>
                    <th class="col-3 text-right">Loaded Time</th></tr>
                {% for stretch in object.parent_history.active %}
                    <tr>
                        <td class="col-3">{{ stretch.parent.name }} <strong>{{ stretch.location }}</strong></td>
                        <td class="col-3">{{ stretch.start }}</td>
                        <td class="col-3 text-right">{{ stretch.end }}</td>
                        <td class="col-3 text-right">{{ stretch.duration|default:"Active" }} {% if stretch.duration %}minutes{% endif %}</td>
                    </tr>
                {% endfor %}
                {% for stretch in object.parent_history.with_duration %}
                    <tr>
                        <td class="col-3">{{ stretch.parent.name }} <strong>{{ stretch.location }}</strong></td>
                        <td class="col-3">{{ stretch.start }}</td>
                        <td class="col-3 text-right">{{ stretch.end }}</td>
                        <td class="col-3 text-right">{{ stretch.duration|humanize_duration|default:"0 minutes" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

