<div id="svglayout-{{ container.pk }}"
     data-layout-url= "{% url 'fetch-layout' pk=container.pk %}"
     data-pk="{{ container.pk }}"
     class="p-0">
</div>
<script>
    $(document).ready(function() {
        $('#svglayout-{{ container.pk }}').layoutContainer({
            detailed: {% if show_samples %}true{% else %}false{% endif %},
            labelled: {% if label_samples %}true{% else %}false{% endif %},
            loadable: {% if loadable %}true{% else %}false{% endif %},
            prefix: "cntld"
        })
    });
</script>