{% extends "users/base.html" %}
{% load humanize %}
{% load markup %}

{% load container_table %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <strong class="text-muted">{{ object.identity }}</strong> | {{ object.name }}
    </h3>
    <span class="text-muted">
        {% if object.shipment %}
            {{ object.get_kind_display }} in Shipment <a href="{% url "shipment-detail" object.shipment.pk %}">{{object.shipment.name}}</a>
        {% else %}
            {{ object.get_kind_display }} not in a shipment.
        {% endif %}
    </span>
{% endblock %}

{% block object_tools %}
<div class="object-tools">
    {% include "users/tools.html" %}
</div>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-2">
                <h3 class="no-vmargin">
                    <span class="label label-{% if object.status == object.STATES.ON_SITE %}info
                                {% elif object.status == object.STATES.DRAFT %}warning
                                {% elif object.status == object.STATES.SENT %}success
                                {% elif object.status == object.STATES.RETURNED and not user.is_superuser %}success
                                {% else %}default{% endif %}">{{ object.get_status_display }}</span>
                </h3>
            </div>
            {% if user.is_superuser %}<div class="col-xs-1">
                <small class="text-muted text-condensed">Project:</small><br>
                {{ object.project }}
            </div>{% endif %}
            <div class="col-xs-8 pull-right text-right">
                <small class="text-muted text-condensed">Number of Crystals:</small><br>
                <strong>{{ object.num_samples }}</strong>
            </div>
        </div>
    </div>
{% endblock %}




{% block full %}
<div class="row">
    <div class="col-sm-6">
        {% if object.comments or object.staff_comments %}
        <div class="entrycomment {% if object.get_kind_display != 'Cane' %}container{% endif %}">
            <span class="{% if object.get_kind_display == 'Cane' %}left-pointer{% else %}up-pointer{% endif %}"></span>
            <h3>Comments</h3>
            <div class="user">{{ object.comments|default:""|restructuredtext}}</div>
            <div class="staff">{{ object.staff_comments|default:""|restructuredtext}}</div>
        </div>
    {% endif %}
    {% ifnotequal object.json_dict.type "Cane" %}<div class="clear"></div>{% endifnotequal %}

    {% container_table object request.user.is_superuser %}
    </div>
    <div class="col-sm-6">
        {% ifequal object.json_dict.type "Cane" %}
            {% include "users/entries/layout-cane.html" %}
        {% endifequal %}

        {% ifequal object.json_dict.type "Cassette" %}
            {% include "users/entries/layout-cassette.html" %}
        {% endifequal %}

        {% ifequal object.json_dict.type "Uni-Puck" %}
            {% include "users/entries/layout-unipuck.html" %}
        {% endifequal %}

        {% ifequal object.json_dict.type "Basket" %}
            {% include "users/entries/layout-basket.html" %}
        {% endifequal %}
    </div>
</div>

{% endblock %}
{% comment %}
{% block sidebar %}
	{% if not user.is_superuser %}
        {% if object.is_editable %}
		    <div id="crystals" class="widget droppable-remove parent-stop" data="{% url "users-crystal-basic-list" %}?orphan_field=container">
		       <div class="widget-title">
		       <span>Crystals</span><a href="{% url "users-crystal-new" %}" class="modal-form add-action" title="Add New Crystal" ><img src="/static/img/small-add-icon.png" /></a>
		       </div>
		        <ul>
                    <p class="list-empty">( Not loaded )</p>
		        </ul>
		    </div>
        {% else %}
            {% include "users/entries/comments_form.html" %}
        {% endif %}
    {% else %}
        {% include "staff/entries/comments_form.html" %}
    {% endif %}
    {% include "users/individual_history.html" %}
{% endblock %}


{% endcomment %}