{% load truncate_filters %}
{% for object in object_list %}
    {# object.name or object.label will be displayed, as no models have both a name and a label #}
    {# had a href in the below code. This directed to the style-less page, so it was removed. #}
    {# should likely point to an ajax style popup #}
    	<li id="{{object.id}}" class="draggable ui-widget-content {{ type }}" rel="{{ handler }}{{object.pk}}">
    		<a {% if object.is_editable %} data-url="{% url "container-edit" object.pk %}" class="{{ type }}"
               {% else %} class="{{ type}}"{% endif %}>
               {{ object.name }}
            </a>
    	</li>
{% endfor %}

