{% extends "users/base.html" %}
{% load humanize %}
{% load markup %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <strong class="text-muted">{{ object.identity }}</strong> | {{ object.name }}
    </h3>
    <span class="text-muted">
        {% if object.shipment %}
            {{ object.kind }} in Shipment <a href="{% url "shipment-detail" object.shipment.pk %}">{{object.shipment.name}}</a>
        {% else %}
            {{ object.kind }} not in a shipment.
        {% endif %}
    </span>
{% endblock %}

{% block object_tools %}
    {% if object.is_editable or object.is_deletable or object.comments or object.staff_comments %}
        <div class="object-tools">
            <span class="box-tools pull-right">
                {% if object.is_editable %}
                    <a class="pull-right" data-url="{{ handler }}edit/">
                        <i class="fa fa-2 fa-fw fa-pencil"></i><br>
                        <span class="tool-label">Edit</span>
                    </a>
                {% endif %}
                {% if object.is_deletable %}
                    <a class="pull-right" data-url="{{ handler }}delete/">
                        <i class="fa fa-2 fa-fw fa-remove"></i><br>
                        <span class="tool-label">Delete</span>
                    </a>
                {% endif %}
                {% if object.comments or object.staff_comments %}

        <a data-toggle="collapse" href="#comments-{{ object.pk }}">
            <span class="pull-right">
                <span class="fa-stack">
                    <i class="fa-stack-2x fa fa-fw fa-comments-o"></i>
                    {% if object.comments or object.staff_comments %}
                        <span class="fa-stack-1x superscript">
                            <span class="badge progress-bar-info">{% if object.comments and object.staff_comments %}2{% else %}1{% endif %}</span>
                        </span>
                    {% endif %}
                </span><br>
                <span class="tool-label">Comments</span>
            </span>
        </a>
    {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-2">
                <h3 class="no-vmargin">
                    <span class="label label-{% if object.status == object.STATES.ON_SITE %}info
                                {% elif object.status == object.STATES.DRAFT %}warning
                                {% elif object.status == object.STATES.SENT %}success
                                {% elif object.status == object.STATES.RETURNED and not user.is_superuser %}success
                                {% else %}default{% endif %}">{{ object.get_status_display }}</span>
                </h3>
            </div>
            {% if user.is_superuser %}<div class="col-xs-1">
                <small class="text-muted text-condensed">Project:</small><br>
                {{ object.project }}
            </div>{% endif %}
            <div class="col-xs-2 pull-right text-right">
                <small class="text-muted text-condensed">Number of Samples:</small><br>
                <strong>{{ object.num_samples }}</strong>
            </div>
            <div class="col-xs-2 pull-right text-right">
                <small class="text-muted text-condensed">Capacity:</small><br>
                {{ object.kind.container_locations.count }}
            </div>
            <div class="col-xs-2 pull-left">
                <small class="text-muted text-condensed">Type:</small><br>
                {{ object.kind }}
            </div>

        </div>
    </div>
    {% include "users/comments.html" with object=object %}
{% endblock %}

{% block full %}

<div class="row">
    <div {% if object.has_children %}id="admin-assign"{% endif %} class="col-sm-5 pull-right">
        <div id="layout-{{ object.pk }}" class="layout-lg"></div>
        {% include "users/entries/layout-container.html" with object=object.pk kind=object.kind %}
    </div>
    <div class="col-sm-7">
        {% if object.has_children %}
            {% include "users/entries/container_load_list.html" %}
        {% else %}
            {% include "objlist/object_list.html" with object_list=object.sample_set.all %}
        {% endif %}
    </div>

</div>

{% endblock %}
