{% extends "users/base.html" %}

{% load humanize %}
{% load markup %}

{% block page_heading %}
<h2><span class="identity {% if not object.is_editable %}locked{% endif %}">{{object.identity}}</span> {{object.name}}</h2>
{% endblock %}

{% block object-tools %}
<div class="object-tools">
    {% include "users/tools.html" %}
</div>
{% endblock %}

{% block full %}
<div class="crystal droppable droppable-replace" {% if object.is_editable %}accept="crystalform cocktail" title="Drag and drop onto this image"{% else %}accept=""{% endif %}></div>

<table class="entrysummary" cellpadding="2" cellspacing="0" border="0">
    {% if request.user.is_superuser %}
        <tr valign="top"><th>Project:</th><td>{{ object.project }}</td></tr>
    {% endif %}
    <tr valign="top"><th>Status:</th><td>{{ object.get_status_display }}</td></tr>
	{% if object.screen_status != 0 %}
		<tr valign="top"><th NOWRAP>Screen Status:</th><td>{{ object.get_screen_status_display }}</td></tr>
	{% endif %}
	{% if object.collect_status != 0 %}
		<tr valign="top"><th NOWRAP>Collect Status:</th><td>{{ object.get_collect_status_display }}</td></tr>
	{% endif %}
	<tr valign="top"><th>Barcode:</th><td>{{ object.barcode }}</td></tr>
	<tr valign="top"><th>Loop-size:</th><td>{{ object.loop_size }}</td></tr>
	<tr valign="top"><th>Pin-length:</th><td>{{ object.pin_length }}</td></tr>
	<tr valign="top"><th NOWRAP>Crystal Form:</th><td>{{ object.crystal_form }}</td></tr>
	<tr valign="top"><th>Cocktail:</th><td>{{ object.cocktail }}</td></tr>
	    <tr valign="top">
            <th>Container:</th>
            <td>{% if object.container %}<a href="{% url "container-detail" object.container.pk %}">{{ object.container }} ({{ object.container_location }})</a>{% endif %}</td>
        </tr>
	    <tr valign="top">
            <th>Shipment:</th>
            <td>{% if object.container.shipment %}<a href="{% url "shipment-detail" object.container.shipment.pk %}">{{object.container.shipment}}</a>{% endif %}</td>
        </tr>
	{% if object.experiment %}
	<tr valign="top"><th>Experiment:</th><td><a href="{% url "group-detail" object.experiment.pk %}">{{object.experiment}}</a></td></tr>
	{% else %}
	<tr valign="top"><th>Experiment:</th><td>None</td></tr>
	{% endif %}
</table>
{% if object.comments or object.staff_comments %}
    <div class="entrycomment">
    <span class="left-pointer"></span>
    <h3>Comments</h3>
    <div class="user">{{ object.comments|default:""|restructuredtext}}</div>
    <div class="staff">{{ object.staff_comments|default:""|restructuredtext}}</div>
    </div>
{% endif %}
<div class="clear"></div>
{% include "users/entries/data_report_table.html" %}
{% endblock %}
{% comment %}
{% block sidebar %}
	{% if not user.is_superuser %}
        {% if object.is_editable %}
            <div id="cocktails" class="widget droppable-remove parent-stop" data="{% url "users-cocktail-basic-list" %}">
	            <div class="widget-title">
	                <span>Cocktails</span>
                    <a href="{% url "users-cocktail-new" %}" class="modal-form add-action" title="Add New Cocktail">
                        <img src="/static/img/small-add-icon.png" />
                    </a>
	            </div>
                <ul>
                    <p class="list-empty">( Not loaded )</p>
                </ul>
            </div>
            <div id="crystalforms" class="widget droppable droppable-remove parent-stop" accept="crystal_form" data="{% url "users-crystalform-basic-list" %}">
	            <div class="widget-title">
	                <span>Crystal Forms</span>
                    <a href="{% url "users-crystalform-new" %}" class="modal-form add-action" title="Add Crystal Form" >
                        <img src="/static/img/small-add-icon.png" />
                    </a>
	            </div>
                <ul>
                    <p class="list-empty">( Not loaded )</p>
                </ul>
            </div>
        {% else %}
            {% include "users/entries/comments_form.html" %}
        {% endif %}
    {% else %}
        {% include "staff/entries/comments_form.html" %}
    {% endif %}
    {% include "users/individual_history.html" %}
{% endblock %}
{% endcomment %}
