{% load data_server %}
{% load static %}
{% load json_to_dict %}

{% if object.url %}
    {% get_xrf_data object as data %}
    <div class="row">
        {% if data.data %}
            <div class="col-7">
                <div id="xrf-{{ object.pk }}" style="padding-top: 15px;"></div>
            </div>
        {% endif %}
        {% if data.assignments %}
            <div class="col-5">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th class="col-2"></th>
                        <th class="col-4">Element</th>
                        <th class="col-6">Contribution (%)</th>
                    </tr>
                    </thead>
                </table>
                <div class="scrollbar-inner scroll-sidebar">
                    <table class="table table-hover table-sm">
                        {% for e in data.assignments %}
                            <tr style="color: {{ e.color }};">
                                <td>
                                    <input type="checkbox"
                                           onclick="$('.{{ e.label }}').toggleClass('hidden').toggleClass('visible');"
                                           {% if e.reliability > 2 %}checked{% endif %}/>
                                </td>
                                <td>{{ e.label }}</td>
                                <td>{{ e.reliability|floatformat:1 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            </div>
            {% comment %}
        <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs text-condensed">
                <li class="active"><a data-toggle="pill" href="#summary">Detailed Summary</a></li>
                <li><a data-toggle="pill" href="#meta-data">Meta-Data</a></li>
            </ul>
        </div>
        <div class="col-12">
            <div class="tab-content">
                <div id="summary" class="tab-pane fade active in">
                    <div class="scroll-details scrollbar-inner">
                        <table class="table table-hover table-condensed">
                            <tr>
                                <th>Element</th>
                                <th>Contribution (%)</th>
                                <th>Edge <span class="pull-right">Energy (keV)</span></th>
                            </tr>
                            {% for e in data.assignments %}
                                <tr>
                                    <td class="text-medium" style="vertical-align: middle;">{{ e.label }}</td>
                                    <td class="text-medium" style="vertical-align: middle;">{{ e.reliability|floatformat:2 }}</td>
                                    <td>
                                        {% for edge in e.edges %}
                                            {{ edge.label }} <span class="pull-right">{{ edge.energy }}</span><br/>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div id="meta-data" class="tab-pane fade">
                    <ul class="scrollbar-inner {% if not snapshot %}tall{% endif %}">
                        {% with object|get_meta_data as meta_data %}
                            {% for k, v in meta_data.items %}
                                <li><strong>{{ k|title }}: </strong> {{ v }}</li>
                            {% endfor %}
                        {% endwith %}
                    </ul>
                </div>
            </div>
        </div>
{% endcomment %}
        {% endif %}

    </div>

    <link href="{% static "css/reports.css" %}" rel="stylesheet">

    <script type="text/javascript" src="{% static "js/d3/d3.v5.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3/d3.legend.js" %}"></script>
    <script type="text/javascript" src="{% static "js/mxlive-reports.js" %}"></script>
    <script>
        var data = {{ data|dict_to_dict }};
        var annotations = [];
        for (i = 0; i < data['assignments'].length; i++) {
            for (j = 0; j < data['assignments'][i]['edges'].length; j++) {
                annotations.push({
                    'class': data['assignments'][i]['label'],
                    'label': data['assignments'][i]['edges'][j]['label'],
                    'x': data['assignments'][i]['edges'][j]['energy'],
                    'ystart': data['assignments'][i]['edges'][j]['amplitude'],
                    'color': data['assignments'][i]['color'] || '#883a6a',
                    'display': data['assignments'][i]['reliability'] > 2 && true || false
                });
            }
        }
        var xy_chart = draw_xy_chart()
            .width(600)
            .height(400)
            .xlabel("{{ data.xlabel }}")
            .y1label("{{ data.y1label }}")
            .y2label("{{ data.y2label }}")
            .xscale('linear')
            .xlimits([null, {{ object.energy }}])
            .y1limits([null, null])
            .y2limits([null, null])
            .interpolation('linear')
            .notes(annotations)
            .scatter('line');
        var svg = d3.select('#xrf-{{ object.pk }}').append("svg")
            .datum(data.data)
            .call(xy_chart);
    </script>
{% endif %}