{% load data_server %}
{% load static %}
{% load json_to_dict %}

{% if object.url %}
{% get_mad_data object as data %}

<div class="row">
    {% if data.data %}
        <div class="col-12">
            <div id="mad-{{ object.pk }}"></div>
        </div>
    {% endif %}
</div>
<div class="row">
    {% if data.choices %}
        <div class="col-12">
            <ul class="nav nav-tabs text-condensed">
                <li class="active"><a data-toggle="pill" href="#choices">Analysis</a></li>
                <li><a data-toggle="pill" href="#meta-data">Meta-Data</a></li>
            </ul>
        </div>
        <div class="col-12">
            <div class="tab-content">
                <div id="choices" class="tab-pane fade active in">
                    <table class="pull-right table table-hover table-condensed">
                        {% for e in data.choices %}
                            {% if forloop.first %}
                                <thead>
                                    <tr>
                                        <th></th>
                                        {% for k in e.keys %}
                                            <th>{{ k|title }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                            {% endif %}
                            <tr>
                                <td>
                                    <input type="checkbox" onclick="$('.{{ e.label }}').toggleClass('hidden').toggleClass('visible');" checked />
                                </td>
                                {% for v in e.values %}
                                    <td>{{ v }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="meta-data" class="tab-pane fade">
                    <ul class="scrollbar-inner {% if not snapshot %}tall{% endif %}">
                        {% with object|get_meta_data as meta_data %}
                            {% for k, v in meta_data.items %}
                                <li><strong>{{ k|title }}: </strong> {{ v }}</li>
                            {% endfor %}
                        {% endwith %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<link href="{% static "css/reports.css" %}" rel="stylesheet">

<script type="text/javascript" src="{% static "js/d3/d3.v5.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3/d3.legend.js" %}"></script>
<script type="text/javascript" src="{% static "js/mxlive-reports.min.js" %}"></script>
<script>
    var data = {{ data|dict_to_dict }};
    var annotations = [];
    for (i=0; i < data['choices'].length; i++) {
        annotations.push({
            'label': data['choices'][i]['label'],
            'x': data['choices'][i]['energy'],
            'color': '#883a6a',
            'display': true});
    }
    var xy_chart = draw_xy_chart()
        .width(868)
        .height(400)
        .xlabel("{{ data.xlabel }}")
        .y1label("{{ data.y1label }}")
        .y2label("{{ data.y2label }}")
        .xscale('linear')
        .xlimits([null, null])
        .y1limits([null, null])
        .y2limits([null, null])
        .interpolation('linear')
        .notes(annotations)
        .scatter('line');
    var svg = d3.select('#mad-{{ object.pk }}').append("svg")
        .datum(data.data)
        .call(xy_chart);
</script>
{% endif %}