{% load zip %}
{% load markup %}
{% load image_url %}
{% load file_exists %}

{% with object as data %}
<script type="text/javascript" src="/static/js/jquery.diffviewer.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
        // initialize browser and add classes to body tag
        initModals();
	});
</script>

<div id="data-viewer">
    <div class="heading">
	    <h2>
        	<span class="identity">{{data.get_kind_display|capfirst}} Dataset</span> {% if request.user.is_superuser %}{{ data.project }} - {% endif %}{{ data.name }}
	    </h2>
        <div class="object-tools">
            <ul class="toolbar">
                {% if data.download %}
                <li class="download-tool" title="Download Archive">
                    <a href="/download/data/{{data.url}}/{{data.name}}.zip" download="{{data.name}}.zip" target="_blank">Download</a>
                </li>
                {% endif %}
            {% if not request.user.is_superuser %}
                {% if data.is_closable %}
                <li class="close-tool" title="Archive this dataset">
                    <a href="{% url "users-data-close" data.id %}" class="action modal-form">Archive</a>
                </li>
                {% endif %}
                {% if data.is_trashable %}
                <li class="trash-tool" title="Trash this dataset">
                    <a href="{% url "users-data-trash" data.id %}" class="action modal-form">Trash</a>
                </li>
                {% endif %}
            {% endif %}
            </ul>
        </div>
    </div>

<!-- image viewer aspect -->
<div class="data-image">
    <div id="data-image-loading"><div></div></div>
    <div class="image-wrapper">
        <div id="diffviewer" class="viewer"></div>
	</div>
    <!-- image navigation -->
    <div class="image-nav">
	    <div style="float: left;">
		    <button onclick="changeBrightness('dk');">Dark</button>
		    <button onclick="changeBrightness('nm');">Normal</button>
		    <button onclick="changeBrightness('lt');">Light</button>
	    </div>
	    <div style="float: right;">
		    <button onclick="prevClicked();">Prev</button>
		    <button onclick="nextClicked();">Next</button>
	    </div>
    </div> 
</div>

<!-- Display of metaData -->
<div class="meta-data">
    <p>Parameters</p>
	<ul>
		<li><strong>Beamline:</strong> {{ data.beamline }}</li>
		<li><strong>Detector type:</strong> {{ data.detector }}</li>
	    {% if data.experiment %}
	    <li><strong>Experiment:</strong><a href="{% url "users-experiment-detail" data.experiment.pk %}">{{ data.experiment.name }}</a></li>
	    {% endif %}		
		{% if data.crystal %}
		<li><strong>Crystal:</strong><a href="{% url "users-crystal-detail" data.crystal.pk %}"> {{ data.crystal.name }}</a></li>
		{% endif %}	
	
		{% for result in data.result_set.all|slice:":1" %}
			<li><strong>Result:</strong> <a href="{% url "users-result-detail" result.pk %}">{{ result.name }} ({{ result.score|floatformat:2 }})</a></li>
		{% endfor %}
		<li><strong>Resolution Limit:</strong> {{ data.resolution|floatformat:2 }} &#8491;</li>
		<li><strong>Wavelength:</strong> {{ data.wavelength }} &#8491;</li>
		<li><strong>Beam X, Y:</strong>	{{ data.beam_x }}, {{ data.beam_y }}</li>
		<li><strong>Pixel Size:</strong> {{ data.pixel_size }} mm</li>
		<li><strong>Two Theta:</strong> {{ data.two_theta|floatformat:1}} deg</li>
		<li><strong>Exposure time:</strong> {{ data.exposure_time }} sec</li>
		<li id="framename" class="separator">Current: </li>
		<li>Osc: <var id="oscstart"></var> to <var id="oscend"></var></li>
	</ul>
</div>

<div class="frame-list">
    <p>Frames {{ data.frame_sets }}</p>
	<ul {% if data|images_exist %}style="height: {% if data.crystal %}3.7em{% else %}8.3em{% endif %};"{% endif %}>
	{% for frame_id in data.get_frame_list %}
		<li><a onclick="toFrame({{frame_id}});">{{data.name}}_{{ frame_id|stringformat:"04d" }}</a>&nbsp;
        {% if not request.user.is_superuser %}{% if data|is_downloadable:frame_id %}
        <a class="download-tool" href="{% image_url data frame_id %}" title="Download this image"></a>
        {% endif %}{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>
{% if data|images_exist %}
	<div class="xtal-snapshot">
	    <p>Crystal Centering</p>
	    <img id="xtal-pic"
	         src="/download/files/{{data.pk}}/snapshot.gif" 
	         title="Snapshots at {{data.start_angle}} and {{data.start_angle|second_view}} deg" />
	</div>
{% endif %}
<div>
<script type="text/javascript">
	var $current_frame_to_display = {{data.get_frame_list.0}};
	var $current_brightness_to_display = 'nm';
	var $expanded_frame_set = {{ data.get_frame_list }};
    dataViewer.setPars({{data.wavelength}}, {{data.resolution}});
	function changeBrightness(brightness) {
		if (brightness == $current_brightness_to_display) {
			return;
		}
		$current_brightness_to_display = brightness;
        jQuery("#diffviewer").data('diffviewer').loadImage(makeCorrectUrl());
	};

	function makeCorrectUrl() {
		url = '{% image_url data data.get_frame_list.0 "dk" %}';
		// remove the ###-dk.png
		url = url.slice(0, -10);
		// add the frame number, 3 digits.
		var number = '' + $current_frame_to_display;
		while (number.length <  3) {
			number = '0' + number;
		}
		url = url + number + "-" + $current_brightness_to_display + ".png";
		return url;
	}

	function zerofill(number, size) {
        return (number.toString().length >= size) ? number.toString() :('0'*size+number).slice(-size);
    }


	function generateFrameName(frame) {
		name = "{{ data.name }}" + "_" + zerofill(number, 4);
		return name;
	}
	
	jQuery(document).ready( function() {
		$current_frame_to_display = {{ data.get_frame_list.0 }};
		$current_brightness_to_display = "nm";
		updateFrameDetails();
		$expanded_frame_set = {{ data.get_frame_list }};
        jQuery("#diffviewer").diffviewer({
            src: "{% image_url data data.get_frame_list.0 'nm' %}", 
            //update_on_resize: false,
            zoom: 50,
            zoom_min: 50,
            onStartLoad: function() {
                dataViewer.showActivity();
            },
            onFinishLoad: function() {
                $("#diffviewer").data('diffviewer').setCoords(-500,-500);
                dataViewer.hideActivity();
            },
            resFunc: function(r) {
                return dataViewer.calcRes(r);
            }
        });
	});
	
	function updateFrameDetails() {
		// use jQuery to find and update the frame specific elements. 
		element = jQuery('#framename');
		element.text("Current: " + generateFrameName($current_frame_to_display));
		
		osc = ($current_frame_to_display - {{data.first_frame}}) * {{data.delta_angle}} + {{data.start_angle}};
		jQuery('#oscstart').text(osc + " deg");
		
		osc = osc + {{data.delta_angle}};
		jQuery('#oscend').text(osc + " deg");
		
	}	
	
	function nextClicked() {
		// get next frame in set.
        index = jQuery.inArray($current_frame_to_display, $expanded_frame_set); 
		if ((index != -1) && (index < $expanded_frame_set.length -1)) {
			index++;
			$current_frame_to_display = $expanded_frame_set[index];
            jQuery("#diffviewer").data('diffviewer').loadImage(makeCorrectUrl());
			updateFrameDetails();
		}
		return;
	}
	
	function prevClicked() {
		// get previous frame in set
		index = jQuery.inArray($current_frame_to_display, $expanded_frame_set);
		if ((index != -1) && (index > 0)) {
			index--;
			$current_frame_to_display = $expanded_frame_set[index];
            jQuery("#diffviewer").data('diffviewer').loadImage(makeCorrectUrl());
			updateFrameDetails();
		}
		return;
	}		
	
	function toFrame(frame) {
        index = jQuery.inArray(frame, $expanded_frame_set);
		if (index != -1) {
			$current_frame_to_display = $expanded_frame_set[index];
            jQuery("#diffviewer").data('diffviewer').loadImage(makeCorrectUrl());
			updateFrameDetails();
		}
		return;
	}

    function getArchive(url) {
        jQuery.jGrowl("The archive of your dataset is being downloaded and it may take a while to complete this download.  Thank you for your patience!", { life: 10000 });
        jQuery.fancybox.showActivity();
		window.location = url;
		jQuery.fancybox.hideActivity();
    }
        

</script>

{% endwith %}
