{% load progress_extras %}

<div class="list-group-item cursor list-group-item-action
            {% if request.GET.q %}{% if request.GET.q == group.pk|safe %}active{% endif %}{% else %}
            {% if forloop.first %}active{% endif %}{% endif %}" data-toggle="pill" href="#group-{{ group.pk }}">
    <div class="box-tools pull-right" style="padding-right: 0.5em !important;">
        <span class="text-medium">{% if session %}{{ group|num_session_samples:session }}/{% endif %}{{ group.sample_count }}</span>
        {% if group.complete %}
            <span class="pull-right superscript text-superscript" title="All samples marked as complete">
                <span class="badge progress-bar-success"><i class="fa fa-check"></i></span>
            </span>
        {% endif %}
        <br>
        <div class="tool-label text-condensed">Sample{{ group.sample_count|pluralize }}</div>
    </div>
    <div class="box-tools-inline pull-left text-center" style="padding-right: 15px;">
        <div class="text-center">
            <span class="fa-stack" style="margin-top: 5px; margin-bottom: -5px;">
                <i class="fa-stack-2x fa fa-2 fa-fw fa-star"></i>
                {% if group.priority %}<span class="pull-right fa-stack-1x superscript">
                    <span class="badge progress-bar-info">{{ group.priority }}</span>
                </span>{% endif %}
            </span><br>
            <div class="tool-label text-condensed text-muted">Priority</div>
        </div>
    </div>
    <div class="box-info text-condensed">
        <h4 class="narrow-heading overflow ellipsis">{{ group.name }}</h4>
        <small class="overflow ellipsis">{{ group.get_kind_display }} | {{ group.get_plan_display }} {% if group.absorption_edge %}[{{ group.absorption_edge }}]{% endif %} {% if group.energy %}| {{ group.energy }}keV{% endif %}</small>
    </div>
</div>

<script>
    $('[data-toggle="pill"]').on('click', function(e) {
        if (!e.handled) {
            var id = $(this).attr('href').replace('#group-', '');
            window.history.pushState(null, null, '?q=' + id);
            e.handled = true;
        }
    });
</script>