{% load badges %}
{% load humanize %}
{% load markup %}
{% load icons %}
{% load progress_extras %}

{% group_samples group session as samples %}
<table class="table table-sm text-condensed">
    <thead>
    <tr>
        <th>Sample</th>
        <th>Container</th>
        <th>Loaded</th>
        <th>Data&nbsp;Sets</th>
        <th>Analysis&nbsp;Reports</th>
    </tr>
    </thead>
    <tbody>
    {% for sample in samples %}
        <tr>
            <td class="overflow-ellipsis">
                <a href="{% url "sample-detail" sample.pk %}">{{ sample.name }}</a>
            </td>
            <td class="overflow-ellipsis">
                <a href="{% url "container-detail" sample.container.pk %}">{{ sample.container_and_location }}</a>
            </td>
            <td class="overflow-ellipsis">
                <div>{{ sample.dewar.beamline.acronym|default:'&mdash;' }}&nbsp;{{ sample.port }}</div>
            </td>
            <td>
                {% include "users/entries/sample-data.html" %}
            </td>
            <td>
                {% include "users/entries/sample-reports.html" %}
            </td>
        </tr>
        {% if sample.comments or sample.staff_comments %}
            <tr>
                <td colspan="6" class="border-top">
                    {% if sample.comments %}<strong>Comments:</strong> {{ sample.comments }}{% endif %}
                    {% if sample.comments and sample.staff_comments %}<br/>{% endif %}
                    <span class="highlight">{% if sample.staff_comments %}<strong>Collection Notes:</strong> {% endif %}
                        {{ sample.staff_comments|default_if_none:"" }}</span>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>