{% extends "users/base.html" %}
{% load humanize %}
{% load markup %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <strong class="text-muted">{{ object.identity }}</strong> | {{ object.name }}
    </h3>
    <span class="text-muted">
        Group {% if object.shipment %}
            in Shipment <a href="{% url "shipment-detail" object.shipment.pk %}">{{object.shipment.name}}</a>
        {% else %}
            not in a shipment.
        {% endif %}
    </span>
{% endblock %}

{% block object_tools %}
    {% include "users/tools-base.html" %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-2">
                <h3 class="no-vmargin">
                    <span class="label label-{% if object.status == object.STATES.ON_SITE %}info
                                {% elif object.status == object.STATES.DRAFT %}warning
                                {% elif object.status == object.STATES.SENT %}success
                                {% elif object.status == object.STATES.RETURNED and not user.is_superuser %}success
                                {% else %}default{% endif %}">{{ object.get_status_display }}</span>
                </h3>
            </div>
            {% if user.is_superuser %}<div class="col-xs-1">
                <small class="text-muted text-condensed">Project:</small><br>
                {{ object.project }}
            </div>{% endif %}
            <div class="col-xs-2">
                <small class="text-muted text-condensed">Plan:</small><br>
                {{ object.get_plan_display }}
            </div>
            <div class="col-xs-4">
                <small class="text-muted text-condensed">Type:</small><br>
                {{ object.get_kind_display }}
                {% if object.absorption_edge or object.energy %}
                    ({% if object.energy %}{{ object.energy }} keV {% if object.absorption_edge %}/{% endif %}{% endif %}
                    {{ object.absorption_edge }}){% endif %}
            </div>
            <div class="col-xs-2 pull-right text-right">
                <small class="text-muted text-condensed">Number of Samples:</small><br>
                <strong>{{ object.num_samples }}</strong>
            </div>
        </div>
    </div>
    {% include "users/comments.html" with object=object %}
{% endblock %}

{% block full %}

<div class="row">
    <div class="col-sm-12">
        {% if object.status > object.STATES.DRAFT %}
            {% include "users/entries/group-protocol.html" with group=object %}
        {% else %}
            {% include "objlist/object_list.html" with object_list=object.sample_set.all %}
        {% endif %}
    </div>
</div>

{% endblock %}