{% load progress_extras %}
{% load icons %}
    <div class="box-tools pull-right" style="padding-right: 0.5em !important;">
        <span class="text-medium">{% if session %}{{ group|num_session_samples:session }}/{% endif %}{{ group.sample_count }}</span>
        {% if group.complete %}
            <span class="pull-right superscript text-superscript" title="All samples marked as complete">
                <span class="badge badge-success"><i class="fa fa-check"></i></span>
            </span>
        {% endif %}
        <br>
        <div class="tool-label text-condensed">Sample{{ group.sample_count|pluralize }}</div>
    </div>
    <div class="box-tools-inline pull-left text-center" style="padding-right: 15px;">
        {% show_icon label='Priority' icon='ti ti-1x ti-star' badge=group.priority color='info' %}
    </div>
    <div class="box-info text-condensed">
        <h5 class="text-condensed overflow ellipsis">{{ group.name }}</h5>
        <small class="overflow ellipsis">{{ group.get_kind_display }} | {{ group.get_plan_display }} {% if group.absorption_edge %}[{{ group.absorption_edge }}]{% endif %} {% if group.energy %}| {{ group.energy }}keV{% endif %}</small>
    </div>


