{% extends "users/base.html" %}
{% load humanize %}
{% load markup %}
{% load icons %}

{% block page_heading %}
    <h3 class="text-condensed">
        <i class="text-muted ti {% if object.is_editable %}ti-unlock{% else %}ti-lock{% endif %}"></i>
        <span class="text-muted">{% if user.is_superuser %}{{ object.project }} | {% endif %}{{ object.identity }} | </span><strong>{{ object.name }}</strong>
    </h3>
    <span class="text-muted">
        {% if object.shipment %}
            {% with object.shipment.groups.count as count %}
            <strong>1</strong> of <strong>{{ count }}</strong> Group{{ count|pluralize }} in Shipment {{object.shipment.name}}
            {% endwith %}
        {% else %}
            Group not in a shipment.
        {% endif %}
    </span>
{% endblock %}

{% block object_tools %}
    {%  if object.status == object.STATES.DRAFT %}
        <a href="#!" data-form-link="{% url "seat-samples" object.shipment.pk %}" title="Sample Seat Selection">
            {% show_icon label='Samples' icon='ti ti-md ti-paint-bucket' %}
        </a>
        <div class="separator"></div>
    {% endif %}
    {% include "users/tools-base.html" %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col d-flex flex-row">
                <h3 class="align-self-center m-0 p-0">
                    <span class="badge badge-{% if object.status == object.STATES.ON_SITE %}info
                                {% elif object.status == object.STATES.DRAFT %}warning
                                {% elif object.status == object.STATES.SENT %}success
                                {% elif object.status == object.STATES.RETURNED and not user.is_superuser %}success
                                {% else %}primary{% endif %}">{{ object.get_status_display }}</span>
                </h3>
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Shipment:</small><br>
                {% if object.shipment %}<a href="{% url "shipment-detail" object.shipment.pk %}">{{object.shipment.name}}</a>{% endif %}
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Plan:</small><br>
                {{ object.get_plan_display }} {% if object.resolution %}({{ object.resolution }}Å){% endif %}
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Type:</small><br>
                {{ object.get_kind_display }} {% if object.absorption_edge %}({{ object.absorption_edge }}){% endif %}
            </div>
            <div class="col pull-right text-right">
                <small class="text-muted text-condensed">Number of Samples:</small><br>
                <strong>{{ object.num_samples }}</strong>
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}
<div class="row">
    <div class="col-sm-12 bulk-edit">
        {% if object.is_editable %}
        <div class="tools-box float-right">
            <a class="float-right" onclick="reset_inputs();" href="#!">
                {% show_icon label="Reload" icon="ti ti-md ti-reload" %}
            </a>
            <a class="float-right disabled" onclick="submit_changes();" href="#!">
                {% show_icon label="Save" icon="ti ti-md ti-save" %}
            </a>
        </div>
        {% endif %}
        <h3>Samples in {{ object.name }}</h3>
        <div class="error-panel alert alert-warning" style="display: none;"></div>
        {% if object.status == object.STATES.DRAFT %}
            <div class="item-list sortable">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="">Priority</th>
                        <th class="">Name</th>
                        <th class="">Container Location</th>
                        <th class="">Barcode</th>
                        <th class="">Comments</th>
                    </tr>
                </thead>
                <tbody>
                {% for sample in object.samples.all %}
                    <tr data-sample="{{ sample.pk }}">
                        <td><span class='cursor'><i class='movable ti ti-move'></i></span></td>
                        <td><a href="#!" data-form-link="{% url 'sample-edit' sample.pk %}">{{ sample.name }}</a></td>
                        <td>{{ sample.container_and_location }}</td>
                        <td>{{ sample.barcode|default_if_none:"" }}</td>
                        <td>{{ sample.comments|default_if_none:"" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

        {% else %}
            {% load progress_extras %}
            {% group_samples object session as samples %}
            <table class="table table-sm text-condensed">
                <thead>
                    <tr>
                        <th>Sample</th>
                        <th>Container</th>
                        <th>Loaded</th>
                        <th>Data&nbsp;Sets</th>
                        <th>Analysis&nbsp;Reports</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sample in samples %}
                        <tr>
                            <td class="overflow-ellipsis">
                                <a href="{% url "sample-detail" sample.pk %}">{{ sample.name }}</a>
                            </td>
                            <td class="overflow-ellipsis">
                                <a href="{% url "container-detail" sample.container.pk %}">{{ sample.container_and_location }}</a>
                            </td>
                            <td class="overflow-ellipsis">
                                <div >{{ sample.dewar.beamline.acronym|default:'&mdash;' }}&nbsp;{{ sample.port }}</div>
                            </td>
                            <td>
                            {% include "users/entries/sample-data.html" %}
                            </td>
                            <td>
                            {% include "users/entries/sample-reports.html" %}
                            </td>
                        </tr>
                        {% if sample.comments or sample.staff_comments %}
                            <tr>
                                <td colspan="6" class="border-top">
                                    {% if sample.comments %}<strong>Comments:</strong> {{ sample.comments }}{% endif %}
                                    {% if sample.comments and sample.staff_comments %}<br/>{% endif %}
                                    <span class="highlight">{% if sample.staff_comments %}<strong>Collection Notes:</strong> {% endif %}
                                        {{ sample.staff_comments|default_if_none:""  }}</span>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
    {% include "users/comments.html" with object=object %}
{% endblock %}

{% block extra_js %}
<script>

    $(".sortable table").sortable({
        items: "tr",
        handle: ".cursor",
        cursor: 'move',
        opacity: 0.9,
        axis: 'y',
        update: function() {
            prioritize();
        }
    });

    $("input").on('change keyup paste blur', function() {
        if ($(this).attr('initial') !== $(this).val()) {
            $(this).css('color', '#883a6a').css('font-weight', '700');
            $(this).css('border-color', '#883a6a');
            $(this).addClass('changed');
        } else {
            $(this).css('color', 'black').css('font-weight', '400');
            $(this).css('border-color', '#a0c4e3');
            $(this).removeClass('changed');
        }
        if ($('input.changed').length) {
            $('button[name=submit]').removeAttr('disabled');
        } else {
            $('button[name=submit]').attr('disabled', true);
        }
    });

    var strip = function(s) { return s.replace(/^\s*|\s*$/g, ''); }

    $("input").on('paste', function(e) {
        e.stopPropagation();
        var field = e.target.id.split('-')[0];
        var k = parseInt(e.target.id.split('-')[1]);
        var lines = strip(e.originalEvent.clipboardData.getData('Text')).split(/\r?\n/);
        if (lines.length == 1) {
            return;
        }
        for (var i = 1; i <= lines.length; i++) {
            var el = $('#' + field + '-' + k);
            el.val(strip(lines[i-1].split(/\r?\t/)[0] || ''));
            el.blur();
            k++;
        }
    });

    function reset_inputs() {
        $("input").each(function() {
            $(this).val($(this).attr("initial"));
            $(this).blur();
        });
        $('.error-panel').html('').css('display', 'none');
    }

    function prioritize() {
        var order = $(".sortable table").sortable("toArray", {key: 'sample', attribute: 'sample'} );
        $.ajax({
        type: "POST", dataType: "json", url: "{% url 'update-priority' %}",
        data: {
            'group': {{ object.pk }},
            'samples': order
        },
        success: function(response) {
            window.location.href=window.location.href;
        }
        });
    }

    function submit_changes() {
        var data = [];
        $('.sortable table input[id^=name-]').each(function() {
            var idx = this.id.split('-')[1];
            var pk = $(this).parent().parent().data('sample');
            var name = $(this).val() !== $(this).attr('initial');
            var brcd = $("input[id=barcode-"+idx+"]").val() !== $("input[id=barcode-"+idx+"]").attr('initial');
            var cmnt = $("input[id=comments-"+idx+"]").val() !== $("input[id=comments-"+idx+"]").attr('initial');
            if ((name !== null) || (brcd !== null) || (cmnt !== null )) {
                data.push([pk, $(this).val(),  $("input[id=barcode-"+idx+"]").val(), $("input[id=comments-"+idx+"]").val()]);
            }
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{% url 'bulk-edit' %}",
            data: {
                'group': {{ object.pk }},
                'samples': data
            },
            success: function(response) {
                if (response.length) {
                    for(i=0; response[i]; i++) {
                        $('.error-panel').html(response.join('<br/>')).css('display', 'block');
                    }
                } else {
                    window.location.reload();
                }
            }
        });
    }

</script>
{% endblock %}