{% load math_filters %}


<div id="unipuck"  title="Drag and Drop into this region">
{% for loc, crystal in object.location_and_crystal %}
    <p
        {% if crystal %}
               class="occupied circle loc-{{ loc }} {% if crystal.is_started %}started{% endif %} crystal {{object.json_dict.type}}"
               title="<strong>{{ crystal.name }} ({{ crystal.identity }})</strong><br>{{ crystal.is_started }}"
               href="{% url "crystal-detail" crystal.id %}"
        {% else %}
               class="empty circle container droppable droppable-add loc-{{ loc }} {{object.json_dict.type}}"
               accept="crystal"
               parent="{{ object.id }}"
               rel="{% url "container-detail" object.id %}"
               container_location="{{ loc }}"
        {% endif %}>
        {{ loc }}
    </p>
{% endfor %}
</div>
