{% load static %}
{% load layout %}

<script type="text/javascript" src="{% static "js/d3.v3.min.js" %}"></script>
<script>
    var locations = {{ kind.layout|kind_json:object }};

    var container_width = 1;
    var container_height = 1;
    if (locations.height) {
        container_height = locations.height;
    }
    var selector = {% if selector %}"#{{ selector }}-"{% else %}"#layout-"{% endif %};
    var size = {% if size %}{{ size }}{% else %}$(selector+'{{ object }}').parent().width(){% endif %};

    var svgContainer = d3.select(selector+'{{ object }}').append("svg")
        .attr("width", size * container_width)
        .attr("height", size * container_height)
        .attr('id', '{{ object }}')
        .attr('kind', '{{ kind.pk }}');

    function createNodes(data, envelope, calc_width, calc_height) {
        var nodes = [], x, y;
        for (var key in data) {
            var coords = data[key];
            if(envelope=="circle") {
                y = (coords[0] * calc_height / 2 * Math.cos(coords[1])) + calc_height / 2;
                x = (coords[0] * calc_width / 2 * Math.sin(coords[1])) + calc_width / 2;
            } else {
                x = coords[0]*calc_width;
                y = coords[1]*calc_height;
            }
            nodes.push({'id': key, 'x': x, 'y': y, 'sample': coords[2], 'accepts': coords[4], 'group': coords[3]});
        }
        return nodes;
    }

    function drawLocations(id, nodes, labels, radius, svg) {
        var labels = svg.selectAll("text")
            .data(labels)
            .enter()
            .append("text");
        var labelsAttributes = labels
            .text(function(d) { return d.id; })
            .attr("text-anchor", "middle")
            .attr("port", function(d) { return d.id; })
            .attr("r", radius + "%" )
            .attr('dx', function(d) { return d.x; })
            .attr('dy', function(d) { return d.y + 3; });
        var circles = svg.selectAll("circle")
            .data(nodes)
            .enter()
            .append("circle");
        var circleAttributes = circles
            .attr("cx", function (d) { return d.x; })
            .attr("cy", function (d) { return d.y; })
            .attr("r", radius + "%" )
            .attr("port", function(d) { return d.id })
            .attr("title", function(d) {
                if(d.sample) {
                    return d.id + ': ' + d.sample;
                } else {
                    return d.id
                }
            })
            .attr("id", function(d) { return 'id-'+id+'-' + d.id; })
            .style("fill", "none")
            .style("opacity", 0.75)
            .attr("sample", function(d) { return d.sample; })
            .attr("group", function(d) { return d.group; })
            .attr("accepts", function(d) { return d.accepts; })
            .attr("class", function(d) {
                if(d.sample) {
                    if(d.accepts) {
                        return d.accepts;
                    }
                    return 'full';
                }
                return 'empty';
            });
    }

    function drawChild(svg, info, accepts) {
        var svgLocation = svg.append("svg")
            .attr("width", info.size.width)
            .attr("height", info.size.width)
            .attr("x", info.coords[0])
            .attr("y", info.coords[1])
            .attr('id', 'id-'+info.parent+'-'+info.location);

        if (!(accepts)) {
            drawLocations(info.parent, info.nodes, info.labels, info.radius, svgLocation);
        }

        var svgLocationEnvelope = svgLocation.append(info.envelope)
            .attr('id', 'envelope' + '-' + info.parent + '-' + info.location)
            .attr("width", info.size.width)
            .attr("height", info.size.width)
            .attr("cx", "50%")
            .attr("cy", "50%")
            .attr("r", '50%')
            .attr("title", info.name)
            .style("pointer-events", "all")
            .attr("class", "cursor")
            .style("stroke", function () {
                if (info.envelope == 'circle') {
                    return "#bbb";
                }
                return "none";
            })
            .style("fill", "none");

        if (accepts) {
            drawLocations(info.parent, info.nodes, info.labels, info.radius, svgLocation);
        }


        return svgLocation;
    }

    if (locations) {
        var width = $(selector+'{{ object }}'+' svg').width();
        var height = $(selector+'{{ object }}'+' svg').height();
        var nodes = createNodes(locations.locations, "{{ kind.envelope }}", width, height);
        if (locations.labels) {
            var labels = createNodes(locations.labels, "{{ kind.envelope }}", width, height);
        } else {
            var labels = nodes;
        }
        drawLocations("{{ object }}", nodes, labels, locations.radius, svgContainer);

        var svgEnvelope = svgContainer.append("{{ kind.envelope }}")
                                    .attr("width", size * container_width)
                                    .attr("height", size * container_height)
                                    .attr("cx", "50%")
                                    .attr("cy", "50%")
                                    .attr("r", '50%')
                                    .style("stroke", {% if kind.envelope == 'circle' %}"#bbb"{% else %}"none"{% endif %})
                                    .style("fill", "none");

        {% for child in object|get_children %}

            var child_locations = {{ child.kind.layout|kind_json:child.pk }};
            var child_envelope = '{{ child.kind.envelope }}';
            var child_size = d3.select('#id-{{ child.parent.pk }}-{{child.location }}').node().getBBox();
            var child_nodes = createNodes(child_locations.locations, child_envelope, child_size.width, child_size.height);
            var child_labels = {% if not child.has_children %}[]{% else %}child_nodes{% endif %};
            if (child_locations.labels && child_size.width > 100) {
                var child_labels = createNodes(child_locations.labels, child_envelope, child_size.width, child_size.height);
            }

            {% with child.parent.kind|get_coords:child.location as cc %}
                var cx = size * container_width * {{ cc.0 }} - child_size.width / 2;
                var cy = size * container_height * {{ cc.1 }} - child_size.height / 2;
            {% endwith %}

            var child_info = {
                'nodes': child_nodes,
                'envelope': '{{ child.kind.envelope }}',
                'size': child_size,
                'labels': child_labels,
                'radius': {{ child.kind.layout.radius }},
                'name': "{{ child.project.username|upper }} | {{ child.name }}",
                'coords': [cx, cy],
                'location': "{{ child.location }}",
                'parent': "{{ child.parent.pk }}-{{ child.pk }}",
            };

            var child_accepts = {% if child.accepts_children %}true{% else %}false{% endif %};

            var svgChild = drawChild(svgContainer, child_info, child_accepts);

            {% for grandchild in child.pk|get_children %}
                var grand_locations = {{ grandchild.kind.layout|kind_json:grandchild.pk }};
                var grand_envelope = '{{ grandchild.kind.envelope }}';
                var grand_size = d3.select('#id-{{ child.parent.pk }}-{{ child.pk }}-{{ grandchild.location }}').node().getBBox();
                var grand_nodes = createNodes(grand_locations.locations, grand_envelope, grand_size.width, grand_size.height);

                {% with child.kind|get_coords:grandchild.location as cc %}
                    var gx = child_size.width * {{ cc.0 }} - grand_size.width / 2;
                    var gy = child_size.height * {{ cc.1 }} - grand_size.height / 2;
                {% endwith %}

                var grandchild_info = {
                    'nodes': grand_nodes,
                    'envelope': '{{ grandchild.kind.envelope }}',
                    'size': grand_size,
                    'labels': [],
                    'radius': {{ grandchild.kind.layout.radius }},
                    'name': "{{ grandchild.project.username|upper }} | {{ grandchild.name }}",
                    'coords': [gx, gy],
                    'location': "{{ grandchild.location }}",
                    'parent': "{{ child.pk }}-{{ grandchild.pk }}",
                };

                drawChild(svgChild, grandchild_info);

            {% endfor %}
        {% endfor %}
    }

</script>