{% extends "users/base.html" %}

{% load static %}
{% load json_to_dict %}
{% load stats %}
{% load get_version %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <strong class="text-muted">{{ object.username|upper }}</strong> | Statistics
    </h3>
    <span class="text-muted">
        Your history at {{ "BL_NAME"|get_from_settings }} in numbers
    </span>
{% endblock %}

{% block object_status %}
{% endblock %}


{% block full %}

<div class="row">
    <div id="data-stats" class="col-xs-12"></div>
</div>


<link href="{% static "css/reports.css" %}" rel="stylesheet">

<script type="text/javascript" src="{% static "js/d3.v4.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.legend.js" %}"></script>
<script type="text/javascript" src="{% static "js/showdown.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/live-reports.js" %}"></script>

<script>
    var json = {% get_project_stats object %};
    build_report('#data-stats', json);
</script>
{% endblock %}