{% load static %}
{% load json_to_dict %}

<div id="report-builder"></div>

<script type="text/javascript" src="{% static "js/d3.v5.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.legend.js" %}"></script>
<script type="text/javascript" src="{% static "js/showdown.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/mxlive-reports.min.js" %}"></script>

<script>

$.getJSON("{% url 'fetch-report' object.pk %}", function(json) {
        build_report('#report-builder', json);
});

</script>