{% extends "users/base.html" %}

{% load humanize %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading overflow ellipsis">
        <span class="text-muted">{{ object.identity }}</span> | <strong>{{ object.data.name }}</strong>
    </h3>
    <span class="text-muted">
        Collected {{ object.created|naturaltime }} {% if object.sample %}on <strong>{{ object.sample.name }}</strong>{% endif %}
    </span>
{% endblock %}

{% block full %}
    {{ object.details }}
{% endblock %}