{% load static %}
{% load json_to_dict %}

<div id="report-builder"></div>

<script type="text/javascript" src="{% static "js/d3.v4.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.legend.js" %}"></script>
<script type="text/javascript" src="{% static "js/showdown.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/live-reports.js" %}"></script>

<script>

var report = {{ object.details|json_to_dict }};

var converter = new showdown.Converter(),
    text      = '#hello, markdown!',
    html      = converter.makeHtml(text);

$.each(report, function(i, section) {
    $('#report-builder').append('<div class="row" id="row-'+i+'"></div>');
    var row = $('#row-'+i);

    row.append("<h3 class='text-condensed col-xs-12'>"+section['title']+"</h3>");

    if (section['style']) {
        row.addClass(section['style']);
    }
    if (section['description']) {
        row.append("<small class='text-muted col-xs-12'>" + converter.makeHtml(section['description']) + "</small>");
    }

    $.each(section['content'], function(j, entry) {
        row.append("<div id='entry-"+i+"-"+j+"'></div>");
        var div = $('#entry-'+i+'-'+j);
        if (entry['style']) {
            div.addClass(entry['style']);
        }
        if (entry['title']) {
            if (entry['kind'] == 'table') {
                div.append("<h4 class='text-center'>Table " + ($('table').length + 1) + '. ' + entry['title'] + "</h4>")
            } else {
                div.append("<h4 class='text-center'>Graph " + ($('svg').length + 1) + '. ' + entry['title'] + "</h4>")
            }
        }
        if (entry['description']) {
            div.append("<span class=text-center text-muted>" + converter.makeHtml(entry['description']) + "</span>")
        }
        if (entry['kind'] == 'table') {
            if(entry['data']) {
                var table = $("<table id='table-" + i + "-" + j + "' class='table table-hover report-table'></table>");
                var thead = $('<thead></thead>');
                var tbody = $('<tbody></tbody>');

                $.each(entry['data'], function (l, line) {
                    if (line) {
                        var tr = $('<tr></tr>');
                        for (k = 0; k < line.length; k++) {
                            if ((k == 0 && entry['header'] == 'column') || (l == 0 && entry['header'] == 'row')) {
                                var td = $('<th></th>').text(line[k]);
                            } else {
                                var td = $('<td></td>').text(line[k]);
                            }
                            tr.append(td);
                        }
                        if (entry['header'] == 'row' && l == 0) {
                            thead.append(tr);
                        } else {
                            tbody.append(tr);
                        }
                    }
                });
                table.append(thead);
                table.append(tbody);
                div.append(table);
            }
        } else if (entry['kind'] == 'lineplot' || entry['kind'] == 'scatterplot') {
            var data = [];
            var xlabel = entry['data']['x'].shift();
            var xscale = entry['data']['x-scale'] || 'linear';
            var y1label = '', y2label = '';
            $.each(entry['data']['y1'], function(l, line) {
                y1label = line.shift();
                data.push({'label': y1label, 'x': entry['data']['x'], 'y1': line});
            });
            $.each(entry['data']['y2'], function(l, line) {
                y2label = line.shift();
                data.push({'label': y2label, 'x': entry['data']['x'], 'y2': line});
            });
            var width = row.width();
            y1label = entry['data']['y1-label'] || y1label;
            y2label = entry['data']['y2-label'] || y2label;

            var xy_chart = draw_xy_chart()
                .width(width)
                .height(500)
                .xlabel(xlabel)
                .y1label(y1label)
                .y2label(y2label)
                .xscale(xscale)
                .notes([])
                .scatter(entry['kind'] == 'scatterplot' && 'scatter' || entry['kind'] == 'lineplot' && 'line');
            var svg = d3.select('#entry-'+i+'-'+j).append("svg").attr('id','plot-' + i + "-" + j)
                .datum(data)
                .call(xy_chart) ;
        }
        if (entry['data'] && entry['notes']) {
            div.append("<div class='caption'>" + converter.makeHtml(entry['notes']) + "</div>");
        }
    });

    if (section['notes']) {
        row.append("<small class='col-xs-12 text-muted'>" + convert.makeHtml(section['notes']) + "</small>");
    }
});

</script>
