{% extends "users/base.html" %}

{% load humanize static %}
{% load score_colors %}

{% block extra_css %}
    <link href="{% static "css/reports.css" %}" rel="stylesheet">
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-2">
                <h3 class="no-vmargin">
                    <span title="Score" class="label label-{{ object.score|label_score }}">{{ object.score|floatformat:2 }}</span>
                </h3>
            </div>
            {% if user.is_superuser %}
                <div class="col-xs-1">
                    <small class="text-muted text-condensed">Project:</small><br>
                    {{ object.project }}
                </div>
            {% endif %}
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Sample:</small><br>
                <a href="{% url "sample-detail" object.sample.pk %}">{{ object.sample.name }}</a>
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Data:</small><br>
                <a data-url="{% url "data-detail" object.data.pk %}">{{ object.data.name }}</a>
            </div>
            <div class="col-xs-3 text-right">
                <small class="text-muted text-condensed">Uploaded:</small><br>
                {{ object.modified }}
            </div>
        </div>
    </div>
    {% include "users/comments.html" with object=object %}
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading overflow ellipsis">
        <span class="text-muted">{{ object.identity }}</span> | <strong>{{ object.kind }} Report for {{ object.data.name }}</strong>
    </h3>
    <span class="text-muted">
        Report from {% if object.session %}Session <a href="{% url "session-detail" object.session.pk %}">{{ object.session.name }}</a>{% else %}an unrecorded session{% endif %}
    </span>
{% endblock %}

{% block full %}
    {% include "users/entries/report-builder.html" %}
{% endblock %}