{% extends "users/base.html" %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <strong class="text-muted">{{ object.identity }}</strong> | {{ object.name }}
    </h3>
    <span class="text-muted">
        {% if object.container.shipment %}
            Sample in Shipment <a href="{% url "shipment-detail" object.container.shipment.pk %}">{{object.container.shipment.name}}</a>
        {% else %}
            Sample not in a shipment.
        {% endif %}
    </span>
{% endblock %}

{% block object_tools %}
    {% include "users/tools-base.html" %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-2">
                <h3 class="no-vmargin">
                    <span class="label label-{% if object.container.status == object.container.STATES.ON_SITE %}info
                                             {% elif object.container.status < object.container.STATES.ON_SITE %}warning
                                             {% else %}default{% endif %}">
                        {% if object.container.status < object.container.STATES.SENT %}Draft
                        {% elif object.container.status < object.container.STATES.RETURNED %}{{ object.dewar|default:"Pending" }}
                        {% else %}Done{% endif %}
                    </span>
                </h3>
            </div>
            {% if user.is_superuser %}<div class="col-xs-1">
                <small class="text-muted text-condensed">Project:</small><br>
                {{ object.project }}
            </div>{% endif %}
            <div class="col-xs-2 pull-right text-right">
                <small class="text-muted text-condensed">Location:</small><br>
                <strong>{{ object.dewar|default_if_none:"" }} {{ object.port }}</strong>
            </div>
            <div class="col-xs-3 pull-left">
                <small class="text-muted text-condensed">Group:</small><br>
                <a href="{% url "group-detail" object.group.pk %}">{{ object.group }}</a>
            </div>
            <div class="col-xs-4 pull-left">
                <small class="text-muted text-condensed">Container:</small><br>
                <a href="{% url "container-detail" object.container.pk %}">{{ object.container }}</a>
            </div>

        </div>
    </div>
    {% include "users/comments.html" with object=object %}
{% endblock %}

{% block full %}
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group list-group-hover">
                {% for data in object.data_set.all %}
                    {% include "users/entries/data-thumbnail.html" with detail=True %}
                {% empty %}
                    <div class="list-group-item empty">No data collected for this sample yet.</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

