{% extends "users/base.html" %}
{% load humanize %}
{% load static %}
{% load time_extras %}
{% load data_server %}

{% block extra_css %}
    <link href="{% static "objlist/objlist.css" %}" rel="stylesheet"/>
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading overflow ellipsis">
        <span class="text-muted">{% if user.is_superuser %}{{ object.project }} | {% endif %}{{ object.beamline.acronym }}</span> | <strong>{{ object.name }}</strong>
    </h3>
    <span class="text-muted">
        Beamline Session started {{ object.created|naturalday }}
    </span>
{% endblock %}

{% block object_tools %}
{% if object.data_set.all %}
<span class="box-tools pull-right">
    <a class="pull-right" href="{% get_session_archive object %}?{% for d in object.data_set.all %}urls%5B%5D={{ d.url }}{% if not forloop.last %}&{% endif %}{% endfor %}"><!-- onclick="download_all({{ object.data_set.all|get_data_keys }});"-->
        <span class="pull-right">
            <span class="fa-stack">
                <i class="fa-stack-2x fa fa-2 fa-fw fa-download"></i>
            </span><br>
            <span class="tool-label">Download</span>
        </span>
    </a>
</span>
{% endif %}
<span class="box-tools pull-right">
    <a class="pull-right" data-url="{% url "session-history" object.pk %}">
        <span class="pull-right">
            <span class="fa-stack">
                <i class="fa-stack-2x fa fa-2 fa-fw fa-history"></i>
            </span><br>
            <span class="tool-label">History</span>
        </span>
    </a>
    <a class="pull-right" href="{% url "session-data" object.pk %}" title="Go to Data from this session">
        <span class="fa-stack">
            <i class="fa-stack-2x fa fa-2 fa-fw fa-th"></i>
            {% if object.data_set.count %}
                <span class="fa-stack-1x superscript">
                    <span class="badge progress-bar-info">{{ object.data_set.count }}</span>
                </span>
            {% endif %}
        </span><br>
        <span class="tool-label">Data</span>
    </a>
    <a class="pull-right" href="{% url "session-reports" object.pk %}" title="Go to Reports from this session">
        <span class="fa-stack">
            <i class="fa-stack-2x fa fa-2 fa-fw fa-area-chart"></i>
            {% if object.num_reports %}
                <span class="fa-stack-1x superscript">
                    <span class="badge progress-bar-info">{{ object.num_reports }}</span>
                </span>
            {% endif %}
        </span><br>
        <span class="tool-label">Reports</span>
    </a>
</span>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            {% if object.is_active %}
                <div class="col-xs-2">
                    <h3 class="no-vmargin">
                        <span class="label label-info">Active</span>
                    </h3>
                </div>
            {% endif %}
            <div class="col-xs-2 pull-left">
                <small class="text-muted text-condensed">Datasets:</small><br>
                {{ object.data_set.count }}
            </div>
            <div class="col-xs-2 pull-left">
                <small class="text-muted text-condensed">Reports:</small><br>
                {{ object.num_reports }}
            </div>
            <div class="col-xs-3 pull-right text-right">
                <small class="text-muted text-condensed">Total Time:</small><br>
                {{ object.total_time }} hour{{ object.total_time|pluralize }}
            </div>
            <div class="col-xs-3 pull-right text-right">
                <small class="text-muted text-condensed">Start:</small><br>
                {{ object.start|naturalday }}
            </div>

        </div>
    </div>
{% endblock %}

{% block full %}

    <div class="row">
        <div class="col-xs-4 col-lg-3 col-xl-2">
            {% if object.groups %}
                <h3>Groups</h3>
                <hr/>
                <div class="list-group">
                {% for group in object.groups %}
                    {% include "users/entries/group-nav.html" with session=object %}
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-xs-8 col-lg-9 col-xl-10">
            <div class="tab-content" style="border-left: 1px solid #ddd; padding-left: 15px;">
                {% for group in object.groups %}
                    {% include "users/entries/group-tab.html" with session=object %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script>
    function download_all(urls) {
        $.get("{% get_session_archive object %}", {'urls': urls}, null, 'attachment');
    }
</script>
{% endblock %}