{% extends "users/base.html" %}
{% load icons %}
{% load static %}
{% load humanize %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading overflow ellipsis">
        <i class="text-muted fa fa-fw {% if shipment.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <span class="text-muted">{% if user.is_superuser %}{{ shipment.project }} | {% endif %}</span><strong>{{ shipment.name }}</strong>
    </h3>
    <span class="text-muted">
        Data from Beamline Session
    </span>
{% endblock %}

{% block object_tools %}
    <span class="box-tools pull-right">
        <a class="pull-right" href="{% url "session-reports" shipment.pk %}" title="Go to Reports from this session">
            {% show_icon label='Reports' icon='ti ti-1x ti-bar-chart-alt' badge=shipment.num_reports %}
        </a>
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-4">
                <small class="text-muted text-condensed">Session:</small><br>
                <a href="{% url "session-detail" shipment.pk %}">{{shipment.name}}</a>
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Datasets:</small><br>
                {{ shipment.datasets.count }}
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Reports:</small><br>
                {{ shipment.num_reports }}
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Total Time:</small><br>
                {{ shipment.total_time|floatformat }} hour{{ shipment.total_time|pluralize }}
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Start:</small><br>
                {{ shipment.start|naturalday }}
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}

    <div class="row">
        <div class="col-sm-12">
            {% include "itemlist/embed_list.html" %}
        </div>
    </div>

{% endblock %}