{% extends "users/entries/session-data.html" %}
{% load static %}
{% load icons %}
{% block page_heading %}
    <h3 class="text-condensed narrow-heading overflow ellipsis">
        <i class="text-muted fa fa-fw {% if shipment.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <span class="text-muted">{% if user.is_superuser %}{{ shipment.project }} | {% endif %}{{ shipment.identity }}</span> | <strong>{{ shipment.name }}</strong>
    </h3>
    <span class="text-muted">
        Reports from Beamline Session
    </span>
{% endblock %}

{% block object_tools %}
    <span class="box-tools pull-right">
        <a class="pull-right" href="{% url "session-data" shipment.pk %}" title="Go to Data from this session">
            {% show_icon label='Data' icon='ti ti-1x ti-layout-grid3' badge=shipment.datasets.count %}
        </a>
    </span>
{% endblock %}
