{% extends "users/entries/session.html" %}
{% load icons %}
{% load static %}
{% load jsutils %}
{% load tz %}



{% block object_tools %}
    <a href="#!" class="pull-right" data-link="{% url "session-history" object.pk %}">
        {% show_icon label='History' icon='ti ti-md ti-timer' %}
    </a>
{% endblock %}

{% block extra_css %}
    <link href="{% static "css/c3.min.css" %}" rel="stylesheet">
    <link href="{% static "css/reports.min.css" %}" rel="stylesheet">
    <style> /* set the CSS */
    .indicator, .indicator-box {
      position: absolute;
    }
    </style>
{% endblock %}

{% block full %}
<div class="row">
    <div id="data-stats" class="col-12"></div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="section-title">{{ object.start|date }} {% if object.is_active %}to {% now "N j, Y"%}{% else %}{% ifnotequal object.start|date object.end|date %}to {{ object.end|date }}{% endifnotequal %}{% endif %}</h4>
    </div>
    <div class="col-12">
        <h5>
            <span class="badge" style="background-color: rgb(174,199,232);">Session Open</span>
            <span class="badge" style="background-color: rgb(31,119,180);">Data Collection</span>
        </h5>
        <div id="timeline" data-toggle="tooltip" title="Session Timeline"></div>
    </div>

    {% comment %}
    {% get_session_gaps object.datasets.all as gaps %}
    {% if gaps %}
        <div class="col-12">
            <h4 class="section-title">Time Gaps</h4>
        </div>
        <div class="col-12">
            <p>Periods of possible inactivity while the session was open, greater than 10 minutes</p>
        </div>
        <div class="col-12">
            <table class="table table-sm">
                <thead>
                <tr><th>Start</th><th>End</th><th>Duration</th></tr>
                </thead>
                <tbody>
                {% for gap in gaps %}
                    <tr><td>{{ gap.0 }}</td><td>{{ gap.1 }}</td><td>{{ gap.2 }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% endcomment %}
</div>

{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="{% static "js/d3/d3.v5.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3/d3.legend.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/d3/d3-timelines.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/misc/showdown.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/misc/c3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/mxlive-report.min.js" %}"></script>
    <script type="text/javascript">
        var report = {{ report | safe }};
        $(document).ready(function() {
            $('#data-stats').liveReport({
                data: report
            });

            var testData = [
                {
                    label: "person a", times: [
                        {"starting_time": 1355752800000, "ending_time": 1355759900000},
                        {"starting_time": 1355767900000, "ending_time": 1355774400000}]
                },
                {
                    label: "person b", times: [
                        {"starting_time": 1355759910000, "ending_time": 1355761900000}]
                },
                {
                    label: "person c", times: [
                        {"starting_time": 1355761910000, "ending_time": 1355763910000}]
                }
            ];
            var chart = d3.timelines();

            var svg = d3.select("#timeline").append("svg").attr("width", 500)
                .datum(testData).call(chart);
        });
    </script>
{% endblock %}
