{% load humanize %}

<div class="list-group-item">
    <div class="row">
        <div class="col">
            <div class="pull-right box-tools">
                <a class="pull-right" href="{% url "session-reports" session.pk %}" title="Go to Reports from this session">
                    <span class="fa-stack">
                        <i class="fa-stack-2x fa fa-2 fa-fw fa-area-chart"></i>
                        {% if session.num_reports %}
                            <span class="fa-stack-1x superscript">
                                <span class="badge badge-pill badge-info">{{ session.num_reports }}</span>
                            </span>
                        {% endif %}
                    </span><br>
                    <span class="tool-label">Reports</span>
                </a>
                <a class="pull-right" href="{% url "session-data" session.pk %}" title="Go to Data from this session">
                    <span class="fa-stack">
                        <i class="fa-stack-2x fa fa-2 fa-fw fa-th"></i>
                        {% if session.data_set.count %}
                            <span class="fa-stack-1x superscript">
                                <span class="badge badge-pill badge-info">{{ session.data_set.count }}</span>
                            </span>
                        {% endif %}
                    </span><br>
                    <span class="tool-label">Data</span>
                </a>
            </div>
            <div class="overflow ellipsis">
                <div class="box-status pull-left text-center text-muted" title="Total time {{ session.total_time|floatformat:0 }} hours">
                    <span class="fa-stack">
                        <i class="fa-stack-2x fa fa-clock-o"></i>
                            <span class="fa-stack-1x superscript">
                                <span class="badge badge-pill badge-success">{{ session.total_time|floatformat:0 }}</span>
                            </span>
                    </span>
                    <br><span>{{ session.start.date|date:"M j" }}</span>
                </div>
                <div class="box-info">
                    <h5 class="text-condensed narrow-heading overflow ellipsis">
                        <a class="text-muted" href="{% url "session-detail" session.pk %}" title='View Session "{{ session.name }}"'>
                        <strong>{{ session.beamline.acronym }}</strong>{% if user.is_superuser %} | {{ session.project.name.upper }}{% endif %} | {{ session.name }}
                        </a>
                    </h5>
                    <span class="text-muted overflow ellipsis">Last record {{ session.data_set.last.modified|naturaltime }}</span>
                </div>
            </div>
        </div>
    </div>
</div>