{% extends "users/entries/session.html" %}
{% load icons %}
{% load static %}
{% load json_to_dict %}
{% load stats %}
{% load tz %}

{% block object_tools %}
    <a class="pull-right" data-link="{% url "session-history" object.pk %}">
        {% show_icon label='History' icon='ti ti-1x ti-timer' %}
    </a>
{% endblock %}

{% block full %}

<div class="row">
    <div id="data-stats" class="col-12"></div>
</div>
<div class="row">
    <div class="col-12">
        <section class="container col-12">
            <div class="col-12">
                <h3 class="section-title">{{ object.start|date }} {% if object.is_active %}to {% now "N j, Y"%}{% else %}{% ifnotequal object.start|date object.end|date %}to {{ object.end|date }}{% endifnotequal %}{% endif %}</h3>
            </div>
            <div class="col-12">
                <p>
                    <span class="label" style="background-color: rgb(174,199,232);">Session Open</span>
                    <span class="label" style="background-color: rgb(31,119,180);">Data Collection</span>
                </p>
                <div id="timeline" data-toggle="tooltip" title="Session Timeline"></div>
            </div>
        </section>
    </div>
    {% get_session_gaps object.datasets.all as gaps %}
    {% if gaps %}
    <div class="col-12">
        <section class="container col-12">
            <div class="col-12">
                <h3 class="section-title">Time Gaps</h3>
            </div>
            <div class="col-12">
                <p>Periods of possible inactivity while the session was open, greater than 10 minutes, </p>
            </div>
            <div class="col-12">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr><th>Start</th><th>End</th><th>Duration</th></tr>
                    </thead>
                    <tbody>
                    {% for gap in gaps %}
                        <tr><td>{{ gap.0 }}</td><td>{{ gap.1 }}</td><td>{{ gap.2 }}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    {% endif %}
</div>


<link href="{% static "css/reports.css" %}" rel="stylesheet">

<script type="text/javascript" src="{% static "libs/d3/dist/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.legend.js" %}"></script>
<script type="text/javascript" src="{% static "js/showdown.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/live-reports.js" %}"></script>
<style> /* set the CSS */

.indicator, .indicator-box {
  position: absolute;
}

</style>
<script>
    var json = {% get_session_stats object.datasets.all object %};
    build_report('#data-stats', json);


</script>


<script src="{% static 'js/d3-timeline.js' %}"></script>
<script>
    var endDate = {{ object.end|date:'U' }}000;
    var cycleData = [
        {% for stretch in object.stretches.with_duration %}
        {
            times: [{
                "starting_time": {{ stretch.start|date:'U' }}000,
                "ending_time": {{ stretch.end|date:'U' }}000,
                "color": "rgb(174,199,232)"
            }],
            hover: "Beamline Stretch ({{ stretch.duration }})"
        },
        {% endfor %}
        {% if object.is_active %}
            {
                times: [{
                    "starting_time": {{ object.stretches.first.start|date:'U' }}000,
                    "ending_time": {% now "U" %}000,
                    "color": "rgb(174, 199, 232)"
                }],
                hover: "Active Beamline Stretch"
            },
        {% endif %}
        {% for data in object.datasets %}
            {
                times: [{
                    "starting_time": {{ data|started|date:'U' }}000,
                    "ending_time": {{ data.created|date:'U' }}000,
                    "y": {{ data.num_frames }},
                    "color": "rgb(31,119,180)"
                }],
                hover: "{{ data.get_kind_display }} | {{ data }}"
            },
        {% endfor %}
        {% if object.due_date %}
            {
                times: [{
                    "starting_time": {{ object.due_date|date:'U' }}000,
                    "display": "circle",
                    "color": "rgb(31,119,180)"
                }],
                hover: "Reviews Due {{ object.due_date|date:'D, M j' }}"
            },
        {% endif %}
    ];

    function cycleTimeline() {
        var chart = d3.timeline()
                .margin({left: 15, right: 15, top: 15, bottom: 15})
                .itemHeight(100)
                .tickFormat({
                    format: d3.timeFormat("%-I %p"),
                    tickTime: d3.timeHour,
                    numTicks: Math.min({{ object.total_time }}, 24),
                    tickInterval: 1,
                    tickSize: 5
                })
                .showToday()
                .showTodayFormat({width: 2, marginTop: 2, marginBottom: 0, color: "rgba(254,128,40,0.5)"})
                .hover(function (d, i, datum, x, t){
                    var format = d3.timeFormat("%-I:%M %p");
                    $('line[x1]').attr('x1', x).attr('x2', x);

                    d3.select('.indicator').style("opacity", 1);
                    d3.select('.indicator-box').style("opacity", 1);
                    if (datum.times[0].y) {
                        var text = format(t);
                        var fill = "rgb(31, 110, 180)";
                        $('#timeline').attr("title", datum.hover);
                    } else {
                        var text = format(t);
                        var fill = "black";
                    }

                    d3.select('.indicator').html(text);
                    var boxwidth = Math.max($('.indicator').width(), 55) + 10;
                    d3.select('.indicator')
                        .attr('x', Math.max(x - boxwidth/2, 0) + 7)
                        .attr('y', 137)
                        .attr('fill', 'white');

                   d3.select('.indicator-box')
                       .attr('x', Math.max(x - boxwidth/2, 0))
                       .attr('y', 120)
                       .attr('fill', fill)
                       .attr('width', boxwidth)
                       .attr('height', 25);
                });
        var width = $("#timeline").width();
        var svg = d3.select("#timeline")
                .append("svg")
                .attr("width", width)
                .datum(cycleData).call(chart);

        function resize(e){
            var width = $('#timeline').width();
        }
        $(window).on('resize', resize);
    }
    cycleTimeline();
</script>

{% endblock %}