{% extends "base.html" %}
{% load humanize %}
{% load markup %}

{% block headline %}
<h2><span class="identity {% if not object.is_editable %}locked{% endif %}">{{object.identity}}</span> {{object.name}}</h2>
{% endblock %}

{% block object-tools %}
<div class="object-tools">
    {% include "users/tools.html" %}
</div>
{% endblock %}

{% block content %}

{% with object as shipment %}   
    <div class="shipment droppable droppable-replace" {% if shipment.is_editable %}accept="dewar" title="Drag and drop onto this image"{% else %}accept=""{% endif %}></div>
    <table class="entrysummary" cellpadding="0" cellspacing="0" border="0">
        {% if request.user.is_superuser %}
            <tr valign="top"><th>Project:</th><td>{{ shipment.project }}</td></tr>
        {% endif %}
        <tr valign="top"><th>Status:</th><td>{{ shipment.get_status_display }}</td></tr>
        {% ifequal shipment.status shipment.STATES.DRAFT %}
            <tr valign="top"><th>Shippable:</th><td>{{shipment.shipping_errors|yesno:"No,Yes"}}</td></tr>
        {% endifequal %}
        {% if shipment.date_shipped %}
        	<tr valign="top"><th>Carrier:</th><td>{{ shipment.carrier }}</td></tr>
        	<tr valign="top"><th>Shipped:</th><td>{{shipment.date_shipped|naturalday}} at {{shipment.date_shipped|date:"H:i T"}}</td></tr>
        	<tr valign="top"><th NOWRAP>Tracking Code:</th>
        	   <td>{% if shipment.tracking_code %}{% if shipment.carrier %}
                   <a href="{{ shipment.carrier.url }}{{ shipment.tracking_code }}" title="Track with {{ shipment.carrier }}">{{ shipment.tracking_code }}</a>
               {% else %}{{ shipment.tracking_code }}{% endif %}{% endif %}</td></tr>
        {% endif %}
        {% if shipment.date_received %}
        	<tr valign="top"><th>Received:</th><td>{{shipment.date_received|naturalday}} at {{shipment.date_received|date:"H:i T"}}</td></tr>
        {% endif %}
        {% if shipment.date_returned %}
        	<tr valign="top"><th>Returned:</th><td>{{shipment.date_returned|naturalday}}</td></tr>
        	<tr valign="top"><th NOWRAP>Return Code:</th>
        	   <td>{% if shipment.return_code %}{% if shipment.carrier %}
        	       <a href="{{ shipment.carrier.url }}{{ shipment.return_code }}" title="Track with {{ shipment.carrier }}">{{ shipment.return_code }}</a>
      	       {% else %}{{ shipment.return_code }}{% endif %}{% endif %}</td></tr>
        {% endif %}
        <tr valign="top"><th>Processed:</th><td>{#% if shipment.is_processed %}Yes{% else %} No {% endif %#}</td></tr>
    </table>

{% if shipment.comments or shipment.shipping_errors or shipment.staff_comments %}
    <div class="entrycomment">
    <span class="left-pointer"></span>
    <h3>Comments</h3>
    <div class="user">{{ object.comments|restructuredtext}}</div>
    {% if object.staff_comments %}
    <h3>On-site Comments</h3>
    <div class="staff">{{ object.staff_comments|restructuredtext}}</div>
    	{% if shipment.shipping_errors %}
    	<div class="errors">
    	{% for error in shipment.shipping_errors %}
        {% if forloop.counter != 1 %}; 
        {% endif %}
        {{error|capfirst}}
        {% endfor %}
        </div>
    	{% endif  %}
    {% endif %}
    </div>
{% endif  %}

    <div class="clear"></div>
    
    <div class="object-list">
    <h3>Dewars</h3>

    {% with shipment.dewar_set as dewars %}
        {% if dewars.count %}
            {% load dewar_table %}
            {% for dewar in dewars.all %}
                {% dewar_table dewar request.user.is_superuser "shipment" %}
            {% endfor %}
        {% else %}
            <table width="100%">
            <tr><td colspan="20" align="center" class="list-empty">(No dewars assigned to this shipment)</td></tr>
            </table>
        {% endif %}
    {% endwith %}
    </div>
    <div class="clear"></div>
{% endwith %}

{% load experiment_table %}
{% experiment_table object request.user.is_superuser %}

<div class="clear"></div>
{% if object.component_set.all %}
<div class="object-list">
    <h3>Miscellaneous Items</h3>
    <table cellspacing="0" cellpadding="2" border="0" width="100%" id="objlist-list-table">
        <thead>
            <tr class="header">
                <th>Item</th>
                <th>Description</th>
                {% if not request.user.is_superuser %}<th>Label</th>{% endif %}
				{% if object.is_editable %}<th></th>{% endif %}
            </tr>
        </thead>
        <tbody>
		{% for item in object.component_set.all %}
			<tr class="{% cycle 'odd' 'even'%} link-row">
				<td class="modal-form" href="{% url "users-component-edit" item.pk %}" title="Edit this item">{{ item.name }}</td>
				<td class="modal-form" href="{% url "users-component-edit" item.pk %}" title="Edit this item">{{ item.description }}</td>
				{% if not request.user.is_superuser %}<td class="modal-form" href="{% url "users-component-edit" item.pk %}" title="Edit this item">
					{% if item.label %}Yes{% else %}No{% endif %}</td>{% endif %}
				{% if object.is_editable %}
					<td class="action">
						<a class="delete modal-form delete-tool" title="Delete" href="{% url "users-component-delete" item.pk %}"></a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}

{% block sidebar %}
    {% if not request.user.is_superuser %} {# We don't want these to show on the staff side #}
        {% if object.is_editable %}
            <div id="dewars" class="widget droppable-remove parent-stop" data="{% url "users-dewar-basic-list" %}?orphan_field=shipment">
	           <div class="widget-title">
	           <span>Dewars</span><a href="{% url "users-dewar-new" %}" class="modal-form add-action" title="Add New Dewar"><img src="/static/img/small-add-icon.png" /></a>
	           </div>
                <ul>
                    <p class="list-empty">( Not loaded )</p>
                </ul>
            </div>

            <div id="containers" class="widget droppable-remove parent-stop" data="{% url "users-container-basic-list" %}?orphan_field=dewar">
	           <div class="widget-title">
	           <span>Container</span><a href="{% url "users-container-new" %}" class="modal-form add-action" title="Add New Container"><img src="/static/img/small-add-icon.png" /></a>
	           </div>
                <ul>
                    <p class="list-empty">( Not loaded )</p>
                </ul>
            </div>
        {% else %}
            {% include "users/entries/comments_form.html" %}
        {% endif %}
    {% else %}
        {% include "staff/entries/comments_form.html" %}
    {% endif %}
    {% include "users/individual_history.html" %}
{% endblock %}
