{% extends "users/base.html" %}

{% load static %}

{% block extra_css %}
<link href="{% static "objlist/objlist.css" %}" rel="stylesheet">
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading overflow ellipsis">
        <i class="text-muted fa fa-fw {% if shipment.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <span class="text-muted">{% if user.is_superuser %}{{ shipment.project }} | {% endif %}{{ shipment.identity }}</span> | <strong>{{ shipment.name }}</strong>
    </h3>
    <span class="text-muted">
        Data from Shipment
    </span>
{% endblock %}

{% block object_tools %}
    <span class="box-tools pull-right">
        <a class="pull-right" href="{% url "shipment-protocol" shipment.pk %}">
            <span class="pull-right">
                <span class="fa-stack">
                    <i class="fa-stack-2x fa fa-2 fa-fw fa-file-text-o"></i>
                </span><br>
                <span class="tool-label">Progress</span>
            </span>
        </a>
        <a class="pull-right" href="{% url "shipment-reports" shipment.pk %}" title="Go to Reports from this shipment">
            <span class="fa-stack">
                <i class="fa-stack-2x fa fa-2 fa-fw fa-area-chart"></i>
                {% if shipment.num_results %}
                    <span class="fa-stack-1x superscript">
                        <span class="badge progress-bar-info">{{ shipment.num_results }}</span>
                    </span>
                {% endif %}
            </span><br>
            <span class="tool-label">Reports</span>
        </a>
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Shipment:</small><br>
                <a href="{% url "shipment-detail" shipment.pk %}">{{shipment.name}}</a>
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Samples:</small><br>
                {{ shipment.num_samples }}
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Groups:</small><br>
                {{ shipment.group_set.count }}
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Comments:</small><br>
                {{ shipment.comments }}
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}

    <div class="row">
        <div class="col-sm-12">
            <div class="no-border">
                {% include "objlist/object_list.html" %}
            </div>
        </div>
    </div>

{% endblock %}