<div class="list-group-item list-group-item-{% if object.status == object.STATES.ON_SITE %}info
            {% elif object.status == object.STATES.DRAFT %}warning
            {% elif object.status == object.STATES.SENT %}success
            {% elif object.status == object.STATES.RETURNED and not user.is_superuser %} empty
            {% else %}default{% endif %}">
    <div class="row">
        <div class="col-xs-12">
            {% if user.is_superuser and object.status <= object.STATES.ON_SITE and object.status >= object.STATES.SENT %}
                {% if object.status == object.STATES.ON_SITE %}
                    <div class="pull-right box-tools">
                        <a class="pull-right" data-url="{% url "shipment-return" object.pk %}" title="Return shipment">
                            <span class="fa-stack">
                                <i class="fa-stack-2x fa fa-2 fa-fw fa-paper-plane"></i>
                            </span><br/>
                            <span class="tool-label">Return</span>
                        </a>
                    </div>
                {% else %}
                    <div class="pull-right box-tools">
                        <a class="pull-right" data-url="{% url "shipment-receive" object.pk %}" title="Receive shipment" style="padding-left: 0.25em">
                            <span class="fa-stack">
                                <i class="fa-stack-2x fa fa-2 fa-handshake-o"></i>
                            </span><br/>
                            <span class="tool-label">Receive</span>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            {% if object.status >= object.STATES.ON_SITE %}
                <div class="pull-right box-tools">
                    <a class="pull-right" href="{% url "shipment-reports" object.pk %}" title="Go to Reports from this shipment">
                        <span class="fa-stack">
                            <i class="fa-stack-2x fa fa-2 fa-fw fa-area-chart"></i>
                            {% if object.num_results %}
                                <span class="fa-stack-1x superscript">
                                    <span class="badge progress-bar-info">{{ object.num_results }}</span>
                                </span>
                            {% endif %}
                        </span><br>
                        <span class="tool-label">Reports</span>
                    </a>
                    <a class="pull-right" href="{% url "shipment-data" object.pk %}" title="Go to Data from this shipment">
                        <span class="fa-stack">
                            <i class="fa-stack-2x fa fa-2 fa-fw fa-th"></i>
                            {% if object.num_datasets %}
                                <span class="fa-stack-1x superscript">
                                    <span class="badge progress-bar-info">{{ object.num_datasets }}</span>
                                </span>
                            {% endif %}
                        </span><br>
                        <span class="tool-label">Data</span>
                    </a>
                </div>
            {% endif %}

            <div class="box-status pull-left text-muted">
                <div class="text-center text-muted">
                    <div title="{% if object.status == object.STATES.ON_SITE %}On-site with location: {{ object.storage_location }}
                                {% elif object.status == object.STATES.SENT %}Sent on {{ object.date_shipped }}
                                {% elif object.status == object.STATES.RETURNED %}Returned on {{ object.date_returned }}{% endif %}"
                         class="fa fa-2x {% if object.status == object.STATES.DRAFT %}fa-clipboard
                                         {% elif object.status == object.STATES.SENT %}fa-plane
                                         {% elif object.status == object.STATES.ON_SITE %}fa-map-marker
                                         {% elif object.status == object.STATES.RETURNED %}fa-plane
                                         {% elif object.status == object.STATES.ARCHIVED %}fa-archive{% endif %}"></div>
                    <div><small>{% if object.status == object.STATES.DRAFT %}DRAFT
                                {% elif object.status == object.STATES.SENT %}{{ object.date_shipped|date:"M d"|upper }}
                                {% elif object.status == object.STATES.ON_SITE %}{{ object.date_received|date:"M d"|upper }}
                                {% elif object.status >= object.STATES.RETURNED %}{{ object.date_returned|date:"M d"|upper }}{% endif %}</small></div>
                </div>
            </div>
            <div class="box-info text-muted">
                <h4 class="text-condensed narrow-heading overflow ellipsis"><a class="text-muted" href="{% url "shipment-detail" object.pk %}" title='View Shipment "{{ object.name }}"'>
                    <strong>{% if user.is_superuser %}{{ object.project }}{% else %}{{ object.identity }}{% endif %}</strong> |
                    {{ object.name }}
                </a></h4>
                <span class="overflow ellipsis">
                    <strong>{{ object.num_containers }}</strong> Container{{ object.num_containers|pluralize }} /
                    <strong>{{ object.groups.count }}</strong> Group{{ object.groups.count|pluralize }} /
                    <strong>{{ object.num_samples }}</strong> Sample{{ object.num_samples|pluralize }}</span>
            </div>
        </div>
    </div>
</div>