{% extends "users/entries/shipment-data.html" %}

{% load icons %}
{% load static %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading overflow ellipsis">
        <i class="text-muted fa fa-fw {% if shipment.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <span class="text-muted">{% if user.is_superuser %}{{ shipment.project|upper }} | {% endif %}</span><strong>{{ shipment.name }}</strong>
    </h3>
    <span class="text-muted">
        Reports from Shipment
    </span>
{% endblock %}

{% block object_tools %}
    <a href="{% url "shipment-data" shipment.pk %}" title="Go to Data from this shipment">
        {% show_icon label="Data" icon="ti ti-md ti-layout-grid3" badge=shipment.num_datasets %}
    </a>        <a href="{% url "shipment-protocol" shipment.pk %}">
        {% show_icon label="Progress" icon="ti ti-md ti-layout-media-overlay" %}
    </a>
{% endblock %}
