{% extends "users/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print"/>
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading overflow ellipsis">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <span class="text-muted">{% if user.is_superuser %}{{ object.project }} | {% endif %}{{ object.identity }}</span> | <strong>{{ object.name }}</strong>
    </h3>
    <span class="text-muted">
        Collection Protocol
    </span>
{% endblock %}

{% block object_tools %}
    <span class="box-tools pull-right">
        <a class="pull-right" href="{% url "shipment-data" object.pk %}" title="Go to Data from this shipment">
            <span class="fa-stack">
                <i class="fa-stack-2x fa fa-2 fa-fw fa-th"></i>
                {% if object.num_datasets %}
                    <span class="fa-stack-1x superscript">
                        <span class="badge badge-pill badge-info">{{ object.num_datasets }}</span>
                    </span>
                {% endif %}
            </span><br>
            <span class="tool-label">Data</span>
        </a>
        <a class="pull-right" href="{% url "shipment-reports" object.pk %}" title="Go to Reports from this shipment">
            <span class="fa-stack">
                <i class="fa-stack-2x fa fa-2 fa-fw fa-area-chart"></i>
                {% if object.num_results %}
                    <span class="fa-stack-1x superscript">
                        <span class="badge badge-pill badge-info">{{ object.num_results }}</span>
                    </span>
                {% endif %}
            </span><br>
            <span class="tool-label">Reports</span>
        </a>
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Shipment:</small><br>
                <a href="{% url "shipment-detail" object.pk %}">{{object.name}}</a>
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Samples:</small><br>
                {{ object.num_samples }}
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Groups:</small><br>
                {{ object.group_set.count }}
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Comments:</small><br>
                {{ object.comments }}
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}

    <div class="row">
        <div class="col-xs-4 col-lg-3 col-xl-2">
            <h3>Groups</h3>
            <hr/>
            <div class="list-group">
            {% for group in shipment.group_set.all %}
                {% include "users/entries/group-nav.html" %}
            {% endfor %}
            </div>
        </div>
        <div class="col-xs-8 col-lg-9 col-xl-10">
            <div class="tab-content" style="border-left: 1px solid #ddd; padding-left: 15px;">
                {% for group in shipment.group_set.all %}
                    {% include "users/entries/group-tab.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

