{% extends "users/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print"/>
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed narrow-heading overflow ellipsis">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <span class="text-muted">{{ object.project|upper }}</span> | <strong>{{ object.name }}</strong>
    </h3>
    <span class="text-muted">
        Collection Protocol
    </span>
{% endblock %}

{% block object_tools %}
    <span class="box-tools pull-right">
        <a class="pull-right" href="{% url "shipment-detail" object.pk %}">
            <i class="fa fa-2 fa-f2 fa-bookmark"></i><br>
            <span class="tool-label">Shipment</span>
        </a>
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Samples:</small><br>
                {{ object.num_samples }}
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Containers:</small><br>
                {{ object.container_set.count }}
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Groups:</small><br>
                {{ object.group_set.count }}
            </div>
            <div class="col-xs-3">
                <small class="text-muted text-condensed">Comments:</small><br>
                {{ object.comments }}
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}

    <div class="row">
        <div class="col-xs-12">
            {% for group in shipment.group_set.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="box-tools pull-right">
                                <a class="pull-right" data-toggle="collapse" data-target="#group-{{ group.pk }}" onclick="$(this).find('i').toggleClass('fa-expand').toggleClass('fa-compress');">
                                    <i class="fa fa-1 fa-compress"></i><br/>
                                    <span class="tool-label"><small>Show/Hide</small></span>
                                </a>
                            </span>
                            <h4>
                                <a href="{% url "group-detail" pk=group.pk %}">
                                    {% if group.name %}<span class="badge" title="Priority {{ group.priority }}">{{ group.priority }}</span> | {% endif %}<strong>{{ group.name }}</strong>
                                </a>

                                <span class="pull-right">
                                    <small><strong>{{ group.get_kind_display }}
                                        {% if group.absorption_edge or group.energy %}
                                            ({{ group.absorption_edge }}{% if group.absorption_edge and group.energy %} / {% endif %}
                                            {{ group.energy }}{% if group.energy %}keV{% endif %})
                                        {% endif %}</strong>/ {{ group.get_plan_display }}</small>
                                </span>
                            </h4>

                        </div>
                    </div>
                    {% if group.comments %}<div class="panel-body"><p>{{ group.comments }}</p></div>{% endif %}
                    {% include "users/entries/group-protocol.html" with group=group %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $('.table-hover tr').hover(function() {
            var sample = $(this).attr('sample');
            $('[sample="'+sample+'"]').addClass('active-sample');
        },
        function() {
            $('.active-sample').removeClass('active-sample')
        });
    </script>
{% endblock %}