{% extends "users/base.html" %}
{% load static %}
{% load humanize %}
{% load icons %}


{% block extra_css %}
    <link href="{% static "css/c3.min.css" %}" rel="stylesheet">
    <link href="{% static "css/reports.min.css" %}" rel="stylesheet">
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed">
        <span class="text-muted">{{ object.name|upper }}</span> | <strong>{{ object.first_name }} {{ object.last_name }}</strong>
    </h3>
    <span class="text-muted">
        Beamline User since {{ object.created|naturalday }}
    </span>
{% endblock %}

{% block object_tools %}
{% if user.is_superuser %}
    <a href="{% url "project-labels" object.username %}" title="Get Shipping Labels">
        {% show_icon label="Labels" icon="ti ti-md ti-tag" %}
    </a>
    <a href="#!" data-form-link="{% url "edit-profile" object.username %}" title="Edit Profile">
        {% show_icon label="Edit" icon="ti ti-md ti-pencil-alt" %}
    </a>
{% endif %}
    <a href="{% url "data-list" %}?search={{ object.username }}" title="Go to Data for {{ object.username }}">
        {% show_icon label="Data" icon="ti ti-md ti-layout-grid3" badge=object.datasets.count %}
    </a>
    <a class="pull-right" href="{% url "result-list" %}?search={{ object.username }}" title="Go to Reports for {{ object.username }}">
        {% show_icon label="Reports" icon="ti ti-md ti-bar-chart-alt" badge=object.reports.count %}
    </a>
    <a class="pull-right" href="{% url "session-list" %}?search={{ object.username }}" title="Go to Sessions for {{ object.username }}">
        {% show_icon label="Sessions" icon="ti ti-md ti-time" badge=object.sessions.all.count %}
    </a>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-2">
                <h3 class="m-0">
                    <div class="badge badge-{% if object.active_status == 'Active' %}info{% else %}{% if object.active_status == 'Idle' %}secondary{% else %}success{% endif %}{% endif %}"
                         title="Last session on {{ object.last_session }}"><span class="text-thin">{{ object.kind }} | </span>{{ object.active_status }}</div>
                </h3>
            </div>
            <div class="col-3 pull-right text-right">
                <small class="text-muted text-condensed">Groups:</small><br>
                {{ object.sample_groups.count }}
            </div>
            <div class="col-2 pull-right text-right">
                <small class="text-muted text-condensed">Shipments:</small><br>
                {{ object.shipments.count }}
            </div>
            <div class="col-2 pull-right text-right">
                <small class="text-muted text-condensed">Samples:</small><br>
                {{ object.samples.count }}
            </div>

        </div>
    </div>
{% endblock %}

{% block full %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-8">
                        {% include "users/address.html" with user=object %}
                        <div class="mini-profile">{{ object.contact_email|default_if_none:"" }}<br/>
                        <pre>{{ object.contact_phone|default_if_none:"" }}</pre>
                        </div>
                    </div>
                    <div class="col-4 text-center align-items-center">
                        <div>
                            <img src="/static/img/{{ object.carrier|default_if_none:'walking'|slugify }}.png" title="{{ object.carrier|default_if_none:'User'|title }}">
                            <h5>{{ object.account_number|default:"-- --- --- --" }}</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div id="data-stats" class="col-12"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static "js/d3/d3.v5.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3/d3.legend.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/d3/d3.timeline.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/misc/showdown.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/misc/c3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/mxlive-report.min.js" %}"></script>

    <script type="text/javascript">
        var report = {{ report | safe }};
        $(document).ready(function() {
            $('#data-stats').liveReport({
                data: report
            });
        });
    </script>
{% endblock %}
