{% extends "users/base.html" %}
{% load humanize %}
{% load icons %}
{% block page_heading %}
    <h3 class="text-condensed">
        <span class="text-muted">{{ object.name|upper }}</span> | <strong>{{ object.first_name }} {{ object.last_name }}</strong>
    </h3>
    <span class="text-muted">
        Beamline User since {{ object.created|naturalday }}
    </span>
{% endblock %}

{% block object_tools %}
{% if user.is_superuser %}
    <a href="{% url "project-labels" object.username %}" title="Get Shipping Labels">
        {% show_icon label="Labels" icon="ti ti-md ti-tag" %}
    </a>
    <a href="#!" data-form-link="{% url "edit-profile" object.username %}" title="Edit Profile">
        {% show_icon label="Edit" icon="ti ti-md ti-pencil-alt" %}
    </a>
    <a href="#!" data-form-link="{% url "user-delete" object.username %}" title="Delete User">
        {% show_icon label="Delete" icon="ti ti-md ti-trash" %}
    </a>
{% endif %}
    <a href="{% url "data-list" %}?search={{ object.username }}" title="Go to Data for {{ object.username }}">
        {% show_icon label="Data" icon="ti ti-md ti-layout-grid3" badge=object.datasets.count %}
    </a>
    <a class="pull-right" href="{% url "result-list" %}?q={{ object.username }}" title="Go to Reports for {{ object.username }}">
        {% show_icon label="Reports" icon="ti ti-md ti-bar-chart-alt" badge=object.reports.count %}
    </a>
    <a class="pull-right" href="{% url "session-list" %}?q={{ object.username }}" title="Go to Sessions for {{ object.username }}">
        {% show_icon label="Sessions" icon="ti ti-md ti-time" badge=object.sessions.all.count %}
    </a>
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-2">
                <h3 class="m-0">
                    <span class="badge badge-{% if object.active_status == 'Active' %}info{% else %}{% if object.active_status == 'Idle' %}secondary{% else %}success{% endif %}{% endif %}" title="Last session on {{ object.last_session }}">{{ object.active_status }}</span>
                </h3>
            </div>
            <div class="col-3 pull-right text-right">
                <small class="text-muted text-condensed">Groups:</small><br>
                {{ object.groups.count }}
            </div>
            <div class="col-2 pull-right text-right">
                <small class="text-muted text-condensed">Shipments:</small><br>
                {{ object.shipments.count }}
            </div>
            <div class="col-2 pull-right text-right">
                <small class="text-muted text-condensed">Samples:</small><br>
                {{ object.samples.count }}
            </div>

        </div>
    </div>
{% endblock %}

{% block full %}

    <div class="row">
        <div class="col-12 col-sm-9">
            {% include "users/address.html" with user=object %}
            <div class="mini-profile">{{ object.contact_email|default_if_none:"" }}<br/>
                {{ object.contact_phone|default_if_none:"" }}
            </div>
        </div>
        <div class="col-12 col-sm-3 text-center">
            {% if object.carrier %}
                <img src="/static/img/{{ object.carrier|slugify }}.png" title="{{ object.carrier|default_if_none:'User'|title }}">
            {% else %}
                <img src="/static/img/walking.png" title="{{ object.carrier|default_if_none:'User'|title }}">
            {% endif %}
            <h5><span class="text-muted">{{ object.account_number|default:"No account number" }}</span></h5>
        </div>
    </div>

{% endblock %}
