@font-face {
    font-family: 'Encode Sans Compressed';
    src: url('../fonts/encodesanscompressed-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans Compressed';
    src: url('../fonts/encodesanscompressed-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans Compressed';
    src: url('../fonts/encodesanscompressed-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans Compressed';
    src: url('../fonts/encodesanscompressed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Encode Sans Condensed';
    src: url('../fonts/encodesanscondensed-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: url('../fonts/encodesanscondensed-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: url('../fonts/encodesanscondensed-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: url('../fonts/encodesanscondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Encode Sans Narrow';
    src: url('../fonts/encodesansnarrow-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Narrow';
    src: url('../fonts/encodesansnarrow-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Narrow';
    src: url('../fonts/encodesansnarrow-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Narrow';
    src: url('../fonts/encodesansnarrow-extralight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Narrow';
    src: url('../fonts/encodesansnarrow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans';
    src: url('../fonts/encodesans-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans';
    src: url('../fonts/encodesans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans';
    src: url('../fonts/encodesans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans';
    src: url('../fonts/encodesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans Wide';
    src: url('../fonts/encodesanswide-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Wide';
    src: url('../fonts/encodesanswide-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Wide';
    src: url('../fonts/encodesanswide-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Wide';
    src: url('../fonts/encodesanswide-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* DECIMA MONO PRO */
@font-face {
    font-family: 'Decima Mono Pro';
    src: url('../fonts/decimamonopro-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Decima Mono Pro';
    src: url('../fonts/decimamonopro-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Decima Mono Pro';
    src: url('../fonts/decimamonopro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Decima Mono Pro';
    src: url('../fonts/decimamonoprolt-italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Decima Mono Pro';
    src: url('../fonts/decimamonoprolt-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Decima Mono Pro';
    src: url('../fonts/decimamonopro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
