{% if weekly_filter %}
<ul class="weekly-filter">
    <li class="previous">
        <a class="filter" href="{{ url }}{{ previous.query_string }}">{{previous.display|escape}}</a>
    </li>
    <li class="current"}>
    {% if current.query_string|length > 1 %}
        <a class="filter" href="{{ url }}" title="Go back to Current Week">{{current.display|escape}}</a>
    {% else %}
        {{current.display|escape}}
    {% endif %}
    </li>
    <li class="next">
        <a class="filter" href="{{ url }}{{ next.query_string }}">{{next.display|escape}}</a>
    </li>
</ul>
{%endif %}

