{% load humanize %}
    <div class="header">
    <table width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td nowrap="nowrap">
        {{ object.identity }}
        </td>
        <td style="border-right: 1px solid #eee;"></td>
        <td style="width: 100%;">
        <div class="h3">{{ object.name }}</div>
        </td>
    </tr>
    </table>
    </div>
    
        <table class="entrysummary" cellpadding="2" cellspacing="0" border="0" width="60%" style="float:left; clear: left;">
        <tr valign="top"><th>Created:</th><td>{{object.created|naturalday}} at {{object.created|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Modified:</th><td>{{object.modified|naturalday}} at {{object.modified|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Lattice:</th><td>{{object.space_group}}</a></td></tr>
        <tr valign="top"><th>Cell:</th><td>
         {{object.cell_a|default:"Unknown"}},
         {{object.cell_b|default:"Unknown"}},
         {{object.cell_c|default:"Unknown"}},
         {{object.cell_alpha|default:"Unknown"}},
          {{object.cell_beta|default:"Unknown"}},
         {{object.cell_gamma|default:"Unknown"}}</td></tr>
        </td></tr>
        </table>   
        <img src="/img/samples-crystalform.png" style="float:right;clear: right; margin: 0.5em; padding-right: 2em; "/> 
        <div class="clearall"></div>
 
