{% load truncate_filters %}

<div id="{{ side }}" 
     class="runlist-detail" 
     accept="container">

    <div class="title">
        <h3 class="runlist">{{ side|capfirst }}</h3>
    </div>
    

    {% if cassette %}
        <div class="runlist-column2 runlist-cassette">
            <ul><li class="Cassette">
            <a href="{% url "staff-container-detail" cassette.pk %}" title="Go to Container {{cassette.name }}">{{ cassette.name|truncate_chars:9 }} {% if cassette %}({{cassette.project|capfirst|truncate_chars:4}}){% endif %}</a>
            {% if object.is_editable %}
                <a class="remove"
                   rel="{% url "staff-runlist-remove-container" object.pk cassette.pk %}"
                   href="#"
                   onclick="remove_item(this);"
                   title="Remove container from automounter"></a>
            {% endif %}
            </li></ul>
            <table class="cassette">
                <thead>
                {% for letter in "ABCDEFGHIJKL" %}
                    <th style="color: #777;">&nbsp;{{letter}}</th>
                {% endfor %}
                </thead>
                <tr>
                {% for loc, crystal in cassette.location_and_crystal %}
                    {% if crystal %}
                        <td class="occupied-xs crystal {% if crystal.is_started %}started{% endif %}"
                            title="<strong>({{loc}}) {{ crystal }}</strong><br>{{ crystal.is_started }}">&nbsp;</td>
                    {% else %}
                        <td class="empty-xs container" 
                            container_location="{{ loc }}">&nbsp;</td>
                    {% endif %}
                    {% if forloop.counter|divisibleby:"12" %}</tr><tr>{% endif %}
                {% endfor %}
                </tr>
            </table>
        </div>
    {% else %}
        {% load runlist_extras %}{% with object|pos_full:side as location %}
        <table class="unipuck">
            <tr>
                {% automounter_position object side 0 'A' %}
                {% automounter_position object side 2 'C' %}
            </tr>
            <tr>
                {% automounter_position object side 1 'B' %}
                {% automounter_position object side 3 'D' %}
            </tr>
        </table>{% endwith %}
    {% endif %}
</div>

