{% extends "base.html" %}

{% load humanize %}
{% load markup %}

{% block headline %}
<h2><span class="identity {% if not object.is_editable %}locked{% endif %}">{{object.identity}}</span> {{object.name}}</h2>
{% endblock %}

{% block object-tools %}
<div class="object-tools">
    {% include "lims/tools.html" %}
</div>
{% endblock %}

{% block content %}

{% with object as runlist %}
    
    <div class="runlist droppable droppable-add" {% if object.is_editable %}accept="experiment project" title="Drag and drop onto this image"{% else %}accept=""{% endif %}></div>    

    <!-- width set to 70% to give the image space to sit side by side -->
    <table class="entrysummary" cellpadding="2" cellspacing="0" border="0">
        <tr valign="top"><th>Modified:</th><td>{{object.modified|naturalday}} at {{object.modified|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Status:</th><td>{{ object.get_status_display }}</td></tr>
        <tr valign="top"><th>Beamline:</th><td>{{ object.beamline }}</td></tr>

        
    </table>

{% if object.comments %}
    <div class="entrycomment">
        <span class="left-pointer"></span>
        <h3>Comments</h3>
        <div class="user">{{ object.comments|default:""|restructuredtext}}</div>
    </div>
{% endif %}
<div class="clear"></div>
    
<div class="object-list">
<h3>Automounter Configuration</h3>
</div>

{% load runlist_extras %}
{% auto_location object "left" %}
{% auto_location object "middle" %}
{% auto_location object "right" %}

{% endwith %}
    <div style="clear: both;"></div>
{% experiment_table object request.user.is_superuser %}

{% endblock %}

{% block sidebar %}
        <div id="projects" class="widget droppable-remove parent-stop" data="{% url "staff-project-basic-list" object.pk %}">
           <div class="widget-title">
           <span>Projects</span></div>
            <ul>
                <p class="list-empty">( Not loaded )</p>
            </ul>
        </div>
        <div id="containers" class="widget droppable-remove parent-stop" data="{% url "staff-container-basic-list" object.pk 0%}">
	       <div class="widget-title">
	        <a class="back-tool runlist-experiment" id="0" exp="All Containers" title="Show All On-site Containers">&nbsp;</a>
	        <span class="container-widget-title">All Containers</span></div>
            <ul>
                <p class="list-empty">( No containers )</p>
            </ul>
        </div>
        {% include "staff/entries/comments_form.html" %}
{% endblock %}


