{% load objlist %}
{% load markup %}
{% load runlist_extras %}

<div class="object-list">
    <div class="list-tools">
        {% if ol.is_paginated %}
            {% include "objlist/pagination.html" %}
        {% endif %}
        {% if not ol.all_shown %}
            Showing {{ol.result_count}} of {{ol.total_count}} total | <a href="?all=1">Show all</a>
        {% endif %}
        {% if form.errors %}
            <div class="error">{{form.primary_error_message}}</div>
        {% endif %}
        {% if form %}
            <form method="post">{% csrf_token %}
        {% endif %}
    </div>

    <table cellspacing="0" cellpadding="2" border="0" width="100%" id="objlist-list-table">
        <thead>
            <tr class="header">
                {% for header in ol.header_list %}
                    <th{{ header.class_attrib }} >
                        {% if header.sortable %}<a class="header" href="{{ handler }}{{ header.url }}">{% endif %}
                            {{ header.text|capfirst }}
                        {% if header.sortable %}</a>{% endif %}
                    </th>
                {% endfor %}
                <th colspan=4>Left</th>
                <th colspan=4>Middle</th>
                <th colspan=4>Right</th>                
                {% if form %}
                    <th{{ header.class_attrib }}>Select</th>
                {% endif %}
                {% if delete_inline %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for object in ol.object_list %}
            <tr {% if link %}
			        class="link-row redirect {% cycle "odd" "even" %} {{ ol.object_type|lower }}
			               {% if object.is_closed %}closed {% endif %} 
                           {% if object.is_editable %}un{% endif %}loaded"
			        href="{{ handler }}{{ object.pk }}/"
			{% endif %}>
			
		    {% load truncate_filters %}
	        <td>{{ object.name }}</td>
	        <td>{{ object.beamline }} </td>
	        <td>{{ object.created|date:"d M y" }}</td>
	        <td>{{ object.get_status_display }}</td>
	        {% if object.left|length %}
	           {% for pos in object.left %}
	               <td {% if pos %}title="{{ pos|get_container_project }}"
	                   class="{{ pos|get_container_type }}"{% else %}
	                   class="empty"{% endif %}></td>
	           {% endfor %}
		    {% else %}{% with object.left as pos %}
                <td colspan=4 {% if pos %}title="{{ pos|get_container_project }}"
                    class="{{ pos|get_container_type }}"{% else %}
                    class="empty"{% endif %}></td>
	        {% endwith %}{% endif %}
            {% if object.middle|length %}
               {% for pos in object.middle %}
                   <td {% if pos %}title="{{ pos|get_container_project }}"
                       class="{{ pos|get_container_type }}"{% else %}
                       class="empty"{% endif %}></td>
               {% endfor %}
            {% else %}{% with object.middle as pos %}
                <td colspan=4 {% if pos %}title="{{ pos|get_container_project }}"
                    class="{{ pos|get_container_type }}"{% else %}
                    class="empty"{% endif %}></td>
            {% endwith %}{% endif %}
            {% if object.right|length %}
               {% for pos in object.right %}
                   <td {% if pos %}title="{{ pos|get_container_project }}"
                       class="{{ pos|get_container_type }}"{% else %}
                       class="empty"{% endif %}></td>
               {% endfor %}
            {% else %}{% with object.right as pos %}
                <td colspan=4 {% if pos %}title="{{ pos|get_container_project }}"
                    class="{{ pos|get_container_type }}"{% else %}
                    class="empty"{% endif %}></td>
            {% endwith %}{% endif %}
			    {% if delete_inline %}
			        {% if object.is_deletable %}
			            <td class="action">
			                <a href="{{ handler }}{{object.pk}}/delete/" class="delete modal-form delete-tool" title="Delete"></a>
			            </td>
			        {% else %}
			            <td class="action">
			            </td>       
			        {% endif %}
			        
			    {% endif %}
			</tr>

            
        {% empty %}               
            <tr><td colspan="20" class="list-empty">No {{ol.object_type}} to show</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% if ol.object_list|length > 20 %}
    <div class="list-tools">
        {% if ol.is_paginated %}
            {% include "objlist/pagination.html" %}
        {% endif %}
    </div>
    {% endif %}
</div>

{% if form %}
    <input style="float: right; margin-top: 5px;" type="submit" value="Refine Runlist >>"></input>
    </form>
{% endif %}
