{% extends "forms/modal.html" %}

{% load misc_tags %}

{% block form_title %}Delete?{% endblock %}
{% block form_body %}
<h5>Are you sure you want to delete the following {{ object|verbose_name|title }} "{{object}}"?</h5>
<!--div class="minitron">
	<h4><strong>{{object.title}}</strong></h4>
	{% for member in object.details.team_members %}{{member.last_name}}, {{member.first_name}}{% if not forloop.last %} &middot; {% endif %}{% endfor %}
	<hr/>
	Created, {{object.created}}<br/>
	Last Modified, {{object.modified}}<br/>
</div-->
<div class="row">
	<div class="modal-footer">
  		<form action="{% if form_action %}{{ form_action }}{% else %}delete/{% endif %}" method="post">{% csrf_token %}
   			<input type="hidden" name="post" value="yes" />
			<button type="submit" value="Submit" class="btn btn-danger">Yes, I'm sure</button>
		</form>
	</div>
</div>
{% endblock %}
