{% extends "forms/modal.html" %}

{% load misc_tags %}

{% block form_title %}Delete?{% endblock %}
{% block form_body %}
<h5>Are you sure you want to delete the following {{ object|verbose_name|title }} "{{object}}"?</h5>
<p>{{ object.delete_warning }}</p>
<div class="row form-action">
  		<form action="{% if form_action %}{{ form_action }}{% else %}delete/{% endif %}" method="post">{% csrf_token %}
   			<input type="hidden" name="post" value="yes" />
            <div class="col-xs-12">
			    <button type="submit" value="Submit" class="btn btn-danger pull-right">Yes, I'm sure</button>
            </div>
		</form>
</div>
{% endblock %}
