{% load msgs %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static "css/chosen.css" %}" media="screen" />
<script src="{% static "jquery/chosen.jquery.js" %}"></script>
<script src="{% static "jquery/jquery.form.min.js" %}"></script>
<script src="{% static "jquery/repeatable-fields.js" %}"></script>
<script src="{% static "jquery/jquery.scrollbar.js" %}"></script>

{% block form_assets %}
{% endblock %}

<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="Form" aria-hidden="true">
    <div class="modal-dialog {% block modal_size %}modal-md{% endblock %}">
        <div class="modal-content">
            <div class="modal-header bg-light text-dark">
                {% block form_title_tools %}{% endblock %}
                <h4 class="modal-title">
                    {% block form_title %}{{ form.helper.title }}{% endblock %}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="CLose">
                    <span class="ti ti-1 ti-close p-1" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body"  id="form-content">
                {% block form_body %}{% crispy form form.helper %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block form_init %}
<script type="text/javascript">
function initForm() {
	// If you overwrite this block you must implement this function with exact
	// same name
}
</script>
{% endblock %}

{% block form_js %}
<script type="text/javascript">

function reload_js(src) {
    $('script[src="' + src + '"]').remove();
    $('<script>').attr('src', src).appendTo('head');
}

function initModal() {
    var myform = $('#modalForm');
	myform.find(".chosen").chosen({
		placeholder_text_single: "Select an option",
		search_contains: true,
		allow_single_deselect: true,
        disable_search_threshold: 8,
	});
    myform.find(".chosen").trigger("change");
	myform.modal({backdrop: 'static'});
	myform.find(':submit').click(function(e){
		e.preventDefault();
		$(this).html('<i class="fa fa-spinner fa-spin"></i>');
		myform.find("form").ajaxSubmit({
			type: 'post',
			success: showResponse,
			data : {'submit': $(this).attr('value')}
		});
	});
    myform.find('[data-toggle="collapse"]').click(function(e){
        e.preventDefault();
        e.stopPropagation();
        myform.find($($(this).attr('href'))).toggleClass('in');
    });

	// Enable popovers
	myform.find("[data-toggle='popover']").popover({
			container: 'body'
	});

	// enable tooltips
	myform.find("[title]:not([data-toggle='popover'])").tooltip({
    		container: '#modal-target',
    		viewport: {selector: '#modal-target', padding: 5}
    });

    // Remove modal content after it is hidden
    $(myform).on('hide.bs.modal', function (e) {
        $(this).remove();
        reload_js('{% static "bootstrap/js/bootstrap.min.js" %}');
    });

	// configure pretty scrollbars
    myform.find('.scrollbar-outer').scrollbar();
    myform.find('.scrollbar-inner').scrollbar();

    // configure next urls
    myform.find("a.next-url").each(function(){
        var url = $(this).attr("href");
        $(this).attr("href", url + '?next=' + window.location.href)
    });
	// load custom init
	initForm();
}
function showResponse(response, statusText, xhr, $form) {
	var newForm = $(response).find('.modal-content'); // Body of new form
    var myform = $("#modalForm");
	myform.find("[data-original-title]:not([data-toggle='popover'])").tooltip('dispose');
	if (newForm.length) {
		myform.find(".modal-content").html(newForm.first().html());  // replace only content
		initModal();
	} else {
		if (response.pk != null) {
			myform.attr('data-new-object-pk', response.pk);
			myform.attr('data-new-object-name', response.name);
		}
		if (response.url != null){
			if (response.target != null) {
				$(response.target).load(response.url, function(){
					myform.modal('hide');
				});
			} else if (response.url) {
				window.location.replace(response.url);
			} else {
				window.location.reload();
			}
		} else {
		    myform.modal('hide');
		    window.location.reload();
		}
	}
}

{% if not form.errors %}
	initModal();
{% endif %}

</script>
{% endblock %}

