{% load msgs %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static "css/chosen.css" %}" media="screen" />
<link href="{% static "fontawesome/css/font-awesome.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/font-awesome-animation.min.css" %}">
<link rel="stylesheet" href="{% static "themify-icons/themify-icons.css" %}">

<script src="{% static "jquery/jquery.min.js" %}"></script>
<script src="{% static "jquery/jquery-ui.min.js" %}"></script>
<script src="{% static "jquery/chosen.jquery.min.js" %}"></script>
<script src="{% static "jquery/jquery.form.min.js" %}"></script>
<script src="{% static "jquery/repeatable-fields.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

{% block form_assets %}
{% endblock %}

<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="Form" aria-hidden="true">
    <div class="modal-dialog {% block modal_size %}modal-md{% endblock %}">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    {% block form_title %}{{ form.helper.title }}{% endblock %}
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">
                        <i class="ti ti-close"></i></button>
                </h3>
            </div>
            <div class="modal-body"  id="form-content">
                {% block form_body %}{% crispy form form.helper %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block form_init %}
<script type="text/javascript">
function initForm() {
	// If you overwrite this block you must implement this function with exact
	// same name
}
</script>
{% endblock %}
{% block form_js %}
<script type="text/javascript">
function initModal() {
    var myform = $('#modalForm');
	myform.find(".chosen").chosen({
		placeholder_text_single: "Select an option",
		search_contains: true,
		allow_single_deselect: true,
        disable_search_threshold: 8,
	});
    myform.find(".chosen").trigger("change");
	myform.modal({backdrop: 'static'});
	myform.find(':submit').click(function(e){
		e.preventDefault();
		$(this).html('<i class="fa fa-spinner fa-spin"></i>');
		myform.find("form").ajaxSubmit({
			type: 'post',
			success: showResponse,
			data : {'submit': $(this).attr('value')}
		});
	});
    myform.find('[data-toggle="collapse"]').click(function(e){
        e.preventDefault();
        e.stopPropagation();
        myform.find($($(this).attr('href'))).toggleClass('in');
    });

	/*
	//Date picker
	myform.find('.dateinput').datepicker({
		format: "yyyy-mm-dd",
		autoclose: true,
		todayHighlight: true,
        clearBtn: true
	});

	//Date time picker
	myform.find('.datetimeinput').datetimepicker({
		format: "yyyy-mm-dd hh:ii",
		autoclose: true,
		todayHighlight: true,
        minuteStep: 15,
        clearBtn: true
	});

    //Time picker
    myform.find('.timeinput').each(function(){
        $(this).timepicker({
            template: false,
            minuteStep: $(this).data('minstep'),
            showSeconds: false,
            showMeridian: false,
            defaultTime: false
        });
    });


    myform.find('.shift_input').datepicker({
		format: "yyyy-mm-dd",
		autoclose: true,
		todayHighlight: true,
        orientation: "auto",
        clearBtn: true
	});

    myform.on('keypress keydown keyup', '.dateinput, .datetimeinput, .shift_input', function(e) {
        e.stopPropagation(); // Don't allow direct editing
        return false;
    });
    */
	// Enable popovers
	myform.find("[data-toggle='popover']").popover({
			container: 'body'
	});

	// enable tooltips
	myform.find("[title]:not([data-toggle='popover'])").tooltip({
    		container: '#modal-form',
    		viewport: {selector: '#modal-form', padding: 5}
    });

    /*
	// configure niceScrollers
	myform.find(".scrollbox").niceScroll({
        cursorborder: "3px solid transparent",
        cursorwidth: "12px",
        autohidemode: "leave",
        cursoropacitymax: 0.7
    });
    myform.find(".scrollbox").scroll(function(){
        $(this).getNiceScroll().resize()
    });
    */
    // configure next urls
    myform.find("a.next-url").each(function(){
        var url = $(this).attr("href");
        $(this).attr("href", url + '?next=' + window.location.href)
    });
	// load custom init
	initForm();
}
function showResponse(response, statusText, xhr, $form) {
	var newForm = $(response).find('.modal-content'); // Body of new form
    var myform = $("#modalForm");
	myform.find("[title]:not([data-toggle='popover'])").tooltip('destroy');
	if (newForm.length) {
		myform.find(".modal-content").html(newForm.first().html());  // replace only content
		initModal();
	} else {
	    console.log(response.pk);
		if (response.pk != null) {
			myform.attr('data-new-object-pk', response.pk);
			myform.attr('data-new-object-name', response.name);
		}
		if (response.url != null){
			if (response.target != null) {
				$(response.target).load(response.url, function(){
					myform.modal('hide');
				});
			} else if (response.url) {
				window.location.replace(response.url);
			} else {
				window.location.reload();
			}
		} else {
		    myform.modal('hide');
		    window.location.reload();
		}
	}
}


// Handle Repeats
(function($) {
    $.fn.extend({
        repeatable: function(options) {
            options = $.extend( {}, $.repeatable.defaults, options );
            this.each(function() {
                new $.repeatable(this,options);
            });
            return this;
        }
    });

    // ctl is the element, options is the set of defaults + user options
    $.repeatable = function( ctl, options ) {
    	var rp_sel = $(ctl).attr("data-repeat-add");
    	var all_rp = $(ctl).siblings(rp_sel);
    	var all_rp_rm = all_rp.find(options.remove);

    	function updateRepeat(section){
            console.log(section);
            console.log(section.index())

    		section.find('.repeat-html-index').each(function() {
    			$(this).html(section.index());
    		});
    		section.find('.repeat-value-index').each(function() {
    			$(this).attr('value', section.index());
    		});
    		section.find('[data-repeat-index]').each(function() {
    			$(this).attr('data-repeat-index', section.index());
    		});
    		section.find(':input').each(function() {
    			$(this).attr('id', $(this).attr('id') + "_" + section.index());
    		});
    		section.attr('id', section.attr('id') + "_" + section.index())

    		all_rp = $(ctl).siblings(rp_sel);

    		all_rp_rm = all_rp.find(options.remove);

			if (all_rp.length > 1 ) {
				all_rp_rm.removeAttr("disabled");
			} else {
				all_rp_rm.attr("disabled", "disabled");
			}

        	// rename multi-valued field names so values are kept separate
    		all_rp.each(function(idx, obj){
    			$(this).find("[data-repeat-name]").each(function(){
        			$(this).attr("name", $(this).attr("data-repeat-name") + "." + idx);
        		});
    		});
    	};

    	$(ctl).click(function(e){
    	    console.log('take one');
        	var rp_el = all_rp.last();
         	var field_cnt = $(ctl).closest(".df-field-runtime");
        	// first destroy any chosen fields
        	field_cnt.find(".chosen").chosen("destroy");
            var cloned = rp_el.clone(true);
            cloned.insertAfter(rp_el);
            if (options.clearNew) {
            	cloned.find(":input:not(.chosen)").each(function(){
            		$(this).val('').removeAttr('checked').removeAttr('selected');
            	});
            }
        	updateRepeat(cloned);
        	// rebuild chosen fields
        	//cloned.find("select.chosen option").removeAttr('selected');
        	cloned.find("select.chosen").each(function(){
        		$(this).val('');
        		$(this).trigger('change')
        	});
        	field_cnt.find(".chosen").chosen({allow_single_deselect: true, display_disabled_options: false, search_contains: true});
    	});

    	all_rp_rm.each(function() {
        	$(this).click(function(e){
        	    console.log('take two');
	    		var del_el = $(this).closest(rp_sel);
	            var others = del_el.siblings(rp_sel);
	            if (others.length > 0){
	            	del_el.slideUp('fast', function(){
	            		del_el.remove();
	            		others.each(function(){
	                		updateRepeat($(this));
	                	});
	            	});
	            } else if (options.clearIfLast) {
	            	del_el.find(":input").each(function(){
	            		$(this).val('').removeAttr('checked').removeAttr('selected');
	            	})
	            };
        	});
        });

		if (all_rp.length > 1 ) {
			all_rp_rm.removeAttr("disabled");
		} else {
			all_rp_rm.attr("disabled", "disabled");
		}

		// Keep multi valued fields separate, by renaming them, __# can be stripped when cleaning
		// the data
		all_rp.each(function(idx, obj){
			$(obj).find("select[multiple]:not([data-repeat-name])").each(function(){
				$(this).attr("data-repeat-name", $(this).attr("name"));
    			$(this).attr("name", $(this).attr("data-repeat-name") + "." + idx);
    		});
		});

    };

    // option defaults
    $.repeatable.defaults = {
        remove: ".remove-repeat",
        clearIfLast: true,
        clearNew: true
    };
})(jQuery);




{% if not form.errors %}
	initModal();
{% endif %}

</script>
{% endblock %}

