{% extends "forms/modal.html" %}

{% load static %}
{% load msgs %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form_title %}
    Create a Shipment: Easy as {% for i in wizard.steps.all %}
        {% if forloop.counter == wizard.steps.step1 %}
            <strong style="color: dodgerblue;">{{ forloop.counter }}</strong>
        {% else %}{{ forloop.counter }}
        {% endif %}
        {% if not forloop.last %} - {% endif %}{% endfor %}!
{% endblock %}

{% block form_body %}
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {% if form.errors %}
                    <div id="form-errors" class="alert alert-warning"><strong>It looks like there's a problem!</strong> Please correct the errors below.</div>
                {% endif %}
                {% crispy form form.helper %}
            {% endfor %}
        {% else %}
                {% if wizard.form.errors %}
                    <div id="form-errors" class="alert alert-warning"><strong>It looks like there's a problem!</strong> Please correct the errors below.</div>
                {% endif %}
            {% crispy wizard.form wizard.form.helper %}
        {% endif %}
        <div class="form-actions">
            <hr />
            <div class="pull-right">
            {% if wizard.steps.prev %}
                <!--button class="btn btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "Back to Start" %}</button-->
                <!--button class="btn btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button-->
            {% endif %}
            <input class="btn btn btn-primary" type="submit" value="{% if wizard.steps.next %}{% trans "Continue" %}{% else %}{% trans "Finish" %}{% endif %}"/>
            </div>
        </div>
    </form>

<script src="{% static "jquery/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static 'js/live-forms.js' %}"></script>
<script>
    jQuery(function() {
        {% if wizard.form.repeated_data %}
            setInitial({{ wizard.form.repeated_data|safe }});
        {% endif %}
        {% if wizard.form.forms %}
            {% for form in wizard.form.forms %}
                {% if form.repeated_data %}
                    setInitial({{ form.repeated_data|safe }});
                {% endif %}
            {% endfor %}
        {% endif %}
    });
</script>

{% endblock %}