{% extends "forms/modal.html" %}

{% load static %}
{% load msgs %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form_title %}
    Create a Shipment: <span class="text-muted">Step <strong style="color: dodgerblue;">{{ wizard.steps.step1 }}</strong> of {{ wizard.steps.count }}</span>
        {% comment %}Easy as {% for i in wizard.steps.all %}{% if forloop.counter == wizard.steps.step1 %}
            <strong style="color: dodgerblue;">{{ forloop.counter }}</strong>
        {% else %}{{ forloop.counter }}
        {% endif %}
        {% if not forloop.last %} - {% endif %}{% endfor %}!{% endcomment %}
{% endblock %}

{% block form_body %}
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {% if form.errors %}
                    <div id="form-errors" class="alert alert-warning"><strong>It looks like there's a problem!</strong> Please correct the errors below.</div>
                {% endif %}
                {% crispy form form.helper %}
            {% endfor %}
        {% else %}
                {% if wizard.form.errors %}
                    <div id="form-errors" class="alert alert-warning"><strong>It looks like there's a problem!</strong> Please correct the errors below.</div>
                {% endif %}
            {% crispy wizard.form wizard.form.helper %}
        {% endif %}
    </form>

<script src="{% static "jquery/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static 'js/live-forms.js' %}"></script>
<script>
    jQuery(function() {
        {% if wizard.form.repeated_data %}
            setInitial({{ wizard.form.repeated_data|safe }});
        {% endif %}
        {% if wizard.form.forms %}
            {% for form in wizard.form.forms %}
                {% if form.repeated_data %}
                    setInitial({{ form.repeated_data|safe }});
                {% endif %}
            {% endfor %}
        {% endif %}
    });
</script>

{% endblock %}

{% block form_init %}
<script type="text/javascript">
function initForm() {
    var extra_modal = $('.extra-modal');
    extra_modal.each(function() {
       $(this).detach().appendTo($('#modal-form'));
    });
}
</script>
{% endblock %}