{% load humanize %}

<h2>Recent Activity</h2>

<ul>
    {% if logs %}
        {% for log in logs %}
        <li class="{{log.get_action_type_display|lower}}-log">
            {{log.content_type|capfirst}}: 	&lsquo;{{ log.object_repr }}&rsquo;
            {% if log.user.is_admin or log.user.is_staff %}
            by {{ log.user|capfirst }} 
            {% endif %}
            {{ log.created|date:"d/m/y" }}
        </li>
        {% endfor %}
    {% else %}
        <li class="list-empty">No Activity</li>
    {% endif %}
</ul>