{% load objlist %}
<div id="activity-log">
    <h2>Activity Log</h2>
    <div id="activity-search">
        <form class="search-object-list" style="display: inline;" action="{{handler}}" method="get">
            <input class="field search" type="text" size="20" name="q" id="searchbar" value="Search . . ." id="searchbar" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
        </form>
    </div>
    <div id="activity-filters">
        {% show_all_filters ol handler %}
    </div>
    <div class="clear"></div>
    {% include "objlist/basic_list.html" %}
</div>
