{% load humanize %}
<div id="sidebar-activity-log">
<h2>Recent Activity</h2>
<ul>
    {% if logs %}
        {% for log in logs %}
        <li class="{{log.get_action_type_display|lower}}-log">
            &lsquo;<a href="{{log.affected_item.pk}}/">{{ log.affected_item.identity }}|  {{ log.affected_item }}</a>&rsquo;<br />
            {% if log.user.is_admin or log.user.is_staff %}
            by {{ log.user|capfirst }} 
            {% endif %}
            <em>{{ log.created|date:"M jS @ P" }}</em>
        </li>
        {% endfor %}
    {% else %}
        <li class="list-empty">No history</li>
    {% endif %}
</ul>
</div>
