{% load truncate_filters %}

<ul id="news">
<li class="title">News...</li>
{% for link in links %}
    {% if link.category == 0 %}
        <li><a rel='#news-modal' class="modal-{{ link.get_frame_type_display }}" href='{% if link.url %}{{ link.url }}{% else %}media/{{ link.document }}{% endif %}'>{{ link.description|truncate_chars:60 }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<ul id="help">
<li class="title">How to...</li>
{% for link in links %}
    {% if link.category == 1 %}
        <li><a rel='#howto-modal' class="modal-{{ link.get_frame_type_display }} swf" href='{% if link.url %}{{ link.url }}{% else %}media/{{ link.document }}{% endif %}'>{{ link.description|truncate_chars:60 }}</a></li>
    {% endif %}
{% endfor %}
</ul>
