{% load humanize %}
{% load objlist %}

<h2>Messages</h2>

<div class="tiny-list-tools">
    {% include "objlist/pagination.html" %}
        <form class="search-object-list" style="display: inline;" action="" method="get">
        <input class="search field" type="text" size="15" name="q" value="" id="searchbar" />
        </form>
{% if not ol.all_shown %}
    {{ol.result_count}} of {{ol.total_count}} total | <a href="?all=">All</a>
{% endif %}
</div>

<div class="object-list">
    <table width="100%"><tr><td>
<ul class='tiny-list'>
{% if ol.object_list %}
    {% for message in ol.object_list %}
    <li class="{{message.get_status_display|lower}}-message" >
    <div class="link-row" onclick="load_page('popup-window', '/lims/message/{{ message.id }}', ''); ModalPopup('popup-window');">
        <div class="message-subject" >{{ message.subject }}</div><div class="message-date">{{ message.date_sent|date:"P T" }}, {{ message.date_sent|naturalday:"N d" }}</div>
        <div class="clearall"></div>
    </div> 
    </li>
    {% endfor %}
{% else %}
    <li class="list-empty">No messages</li>
{% endif %}
</ul>
</td></tr></table></div>
{% show_all_filters ol request.path %}

