{% load boxes %}
{% load humanize %}
{% contentbox "Pending Tasks" "box5 left" %}        
<ul class='tiny-list'>
{% if tasks %}
    {% for task in tasks %}
    <li>
    <div class="link-row">
        <div><a href='{{ task.url }}'>{{ task.action.name }}</a></div>
        <div>{{ task.get_state_display }}</div>
        <div>{{ task.date_due|timeuntil }}</div>
    </div>
    </li>
    {% endfor %}
{% else %}
    <li class="list-empty">No pending tasks</li>
{% endif %}
</ul>
{% endcontentbox %}

{% contentbox "Shipments in Transit" "box5 right" %}        
<ul class='tiny-list'>
{% if shipments %}
    {% for shipment in shipments %}
    <li class="{{shipment.get_status_display|lower}}-shipment" title="{{shipment.get_status_display}}">
    <div class="link-row" onclick="linkto('/project/shipping/shipment/{{shipment.id}}/');" title="{{ shipment.comments}}">
        <span>&ldquo;{{ shipment.label }}&rdquo;</a></span>[<span>{{ shipment.carrier }}</span>]
    </div>
    </li>
    {% endfor %}
{% else %}
    <li class="list-empty">No Shipments in transit</li>
{% endif %}
</ul>
{% endcontentbox %}
