{% load nav %}
<table id="mt" cellspacing="0" cellpadding="0" width="100%" border="0">
 <tr>
 <th class='{% active request "^/(project/)?$" %}'>
 <div class="tc1"><div class="tc2"><div class="tc3"></div></div></div>
 <div class="tT"><a href="/project/">Project&nbsp;Home</a></div>
 </th><td>&nbsp;&nbsp;</td>
 <th class='{% active request "^/project/samples/" %}'>
 <div class="tc1"><div class="tc2"><div class="tc3"></div></div></div>
 <div class="tT"><a href="/project/samples/">Samples</a></div>
 </th><td>&nbsp;&nbsp;</td>
 <th class='{% active request "^/project/experiment/" %}'>
 <div class="tc1"><div class="tc2"><div class="tc3"></div></div></div>
 <div class="tT"><a href="/project/experiment/">Experiments</a></div>
 </th><td>&nbsp;&nbsp;</td>
 <th class='{% active request "^/project/shipping/" %}'>
 <div class="tc1"><div class="tc2"><div class="tc3"></div></div></div>
 <div class="tT"><a href="/project/shipping/">Shipping</a></div>
 </th><td>&nbsp;&nbsp;</td>
 <!--
 <th class='{% active request "^/project/result/" %}'>
 <div class="tc1"><div class="tc2"><div class="tc3"></div></div></div>
 <div class="tT"><a href="/project/result/">Results</a></div>
 </th><td>&nbsp;&nbsp;</td>
 <th class='{% active request "^/project/report/" %}'>
 <div class="tc1"><div class="tc2"><div class="tc3"></div></div></div>
 <div class="tT"><a href="/project/report/">Reports</a></div>
 </th><td>&nbsp;&nbsp;</td> 
 -->
 <td width="100%">&nbsp;</td>
 </tr>
</table>

