{% extends "base.html" %}

{% block content %}
    <h2>Welcome, {{ user }}</h2>
    {% include "lims/project_help.html" %}
    <div class="content-list" id="inbox">
        {% comment %}
        The content for this div is loaded via ajax in the script block below.
        {% endcomment %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include "lims/project_summary.html" %}    
{% endblock %}

{% block script %}
<script>
jQuery(function() {
    jQuery("#inbox").load("{% url lims-inbox %}", function() {});
});
</script>
{% endblock %}

