{% extends "base.html" %}

{% block headline %}
<h2>Welcome, {{ user }}</h2>
{% endblock %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="toolbar">
            <li class="template-tool"><a class="modal" rel="#xls-modal" href="{{handler}}" title="Download spreadsheet template">Get Template</a>
            <li class="upload-tool"><a class="modal" rel="#xls-modal" href="{% url lims-shipment-upload %}" title="Upload shipment from spreadsheet">Upload</a>
            <li class="feedback-tool"><a class="modal" rel="#feedback-modal" href="{{ handler }}" title="Send us feedback">Feedback</a></li>
            <li class="profile-tool"><a class="modal" rel="#xls-modal" href="{{ handler }}" title="Edit your profile">Profile</a>
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content-override %}
    <!-- left region -->
	<div id="left-content" class="col-4">
	<p>This CMCF LIMS is a web application for managing sample, shipping and experiment information related to macromolecular crystallography experiments at the synchrotron.</p>
    <p>The LIMS is divided into the following sections:</p>
    <dl>
    <dt>&ldquo;Samples&rdquo;</dt>
    <dd>Enables you to manage crystals, their contents and associated hazard information.
    </dd>
    <dt>&ldquo;Experiments&rdquo;</dt>
    <dd>Provides tools for creating experiment requests, associating requests with crystals and viewing results of already performed experiments.
    </dd>
    <dt>&ldquo;Shipping&rdquo;</dt>
    <dd>Here you prepare samples to send to the sychrotron by organising them in Containers and Dewars.
    </dd>
    </dl>
    </div>
	<!-- end left region -->
    <!-- middle region -->
	<div id="middle-content" class="col-4">
    {% include "lims/project_summary.html" %}   
	</div>
	<!-- end middle region -->
    <!-- right region -->
	<div id="right-content" class="col-4">
        <div class="content-list" id="inbox">
            <h2>News and Instructions</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<ul>
	<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem dolor sit amet</a></li>
	<li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam tincidunt mauris</a></li>
	<li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi in sem quis duii</a></li>
	<li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent dapibus, neque id</a></li>
	<li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque fermentum dolor</a></li>
</ul>	               </div>
	</div>
	<div class="clear"></div>
    <!-- bottom region -->
	<div id="bottom-content" class="col-12">
	{% with activity_log as ol %}
    {% include "lims/activity_history.html" %}
    {% endwith %}
	</div>
	<!-- end botom region -->
{% endblock %}	

{% block script %}
{{ block.super }}
<script>
jQuery(function() {
    
    jQuery(function() {
        // handles all the '+ add' buttons.
        jQuery("a.modal").live("click", function() {
            var $button = jQuery(this);
            var contentURL = $button.attr("href");
            var $modal = jQuery($button.attr("rel"));
            // this attempts to preload the content
            if(!$modal.find("a.close").length) {
                $modal.append("<div class='content'></div>");
                $modal.append('<a href="#" class="close" id="close_x">close</a>');
            }

            $modal.find('.content').load(contentURL, function(e, status) {
                if(status === "success") {
                    $modal.lightbox_me({
                        centered: true,
                        destroyOnClose: true,
                        overlaySpeed: "fast",
                        overlayDisappearSpeed: "fast",
                        lightboxSpeed: "fast",
                        lightboxdisappearSpeed: "fast",
                        onLoad: function() {
                            // FIXME: find a better place for this
                            jQuery(".slideview").slideView();
                        },
                        onClose: function() {
                            // reload the relevant forms that have been updated
                            loadWidgets();
                            //refreshDatalist();
                            // loadDatalists();
                        }
                    });
                }
            });
            return false;
        });
	});
});
</script>
{% endblock %}

