<table class="stats" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr><th colspan="10">Status Overview</th></tr>
    <tr><td class="outgoing">Outgoing</td>
    <td class="links"><p class="number">({{statistics.shipments.outgoing}})</p><p><a href="{% url lims-shipment-list %}?status__exact=1">Shipments</a></p></td>
    <td class="links"><p class="number">({{statistics.crystals.outgoing}})</p><p><a href="{% url lims-crystal-list %}?status__exact=1">Crystals</a></p></td>
    <td>&nbsp;</td>
    </tr>

    <tr><td class="incoming">Incoming</td>
    <td class="links"><p class="number">({{statistics.shipments.incoming}})</p><p><a href="{% url lims-shipment-list %}?status__exact=3">Shipments</a></p></td> 
    <td class="links"><p class="number">({{statistics.crystals.incoming}})</p><p><a href="{% url lims-crystal-list %}?status__exact=4">Crystals</a></p></td>
    <td>&nbsp;</td>
    </tr>

    <tr><td class="on-site">On-site</td>
    <td class="links"><p class="number">({{statistics.shipments.on_site}})</p><p><a href="{% url lims-shipment-list %}?status__exact=2">Shipments</a></p></td> 
    <td class="links"><p class="number">({{statistics.crystals.on_site}})</p><p><a href="{% url lims-crystal-list %}?status__in=2,3">Crystals</a></p></td>
    <td class="links"><p class="number">({{statistics.experiments.active}})</p><p><a href="{% url lims-experiment-list %}?status__in=1,2,3">Requests</a></p></td>
    </tr>
    <tr><td class="on-site">New!</td>
    <td class="links"><p class="number">({{statistics.datasets.new}})</p><p><a href="{% url lims-dataset-list %}?modified__gte={{statistics.datasets.start_date|date:'Y-m-d'}}">Datasets</a></p></td> 
    <td class="links"><p class="number">({{statistics.reports.new}})</p><p><a href="{% url lims-result-list %}?modified__gte={{statistics.reports.start_date|date:'Y-m-d'}}">Reports</a></p></td>
    <td>&nbsp;</td>
    </tr>
</table>
