<div class="help">
<p>
This section provides tools for dealing with crystals you are preparing, their contents and associated hazard information. 
</p>
<p>This section divided into the following sub-sections:</p>
<dl>
<dt>&ldquo;Constituents&rdquo;</dt>
<dd>A constituent is the smallest component of your sample for which you would like to provide hazard information. This could be a protein, salt, buffer, organic molecule or precipipant. You need at least one constituent to be able to create Cocktails. Examples of Constituents could be "Ammonium Sulphate", "PEG 4000", "Tris-HCL", "Lysozyme" etc.<br/>
</dd>
<dt>&ldquo;Cocktails&rdquo;</dt>
<dd>A cocktail is a mixture of of constituent which makes up a crystal sample. For example, a typical crystal is made up of "protein", "precipitant" and "buffer" constituents. A cocktail can consist of any number of constituents (at least one) and a constituent can be part of any number of cocktails. Each crystal must have a cocktail.<br/>
</dd> 
<dt>&ldquo;Crystal Forms&rdquo;</dt>
<dd>A crystal form contains information about the lattice symmetry, space/point group and cell dimensions for a crystal sample. <br/>
</dd>
<dt>&ldquo;Crystals&rdquo;</dt>
<dd>In the context of the LIMS, a crystal represents a mounted crystal in a loop. A crystal must have a cocktail associated with it. Optionally, it can have a crystal form as well. Crystals can optionally also be associated with sample containers.<br/>
</dd>
</dl>

<span style="font-variant: small-caps; font-weight: bold; font-size: 120%;">Note</span>
<blockquote>
<i>Although this LIMS is designed to protect your private information, you are not required to provide information you would rather keep private. You can always replace names with code-words which make sense only to you. The only requirement is for you to provide accurate hazard information for the contents of the crystal.</i></blockquote>
</div>
