{% extends "base.html" %}

{% block content %}
    <h2>Crystals</h2>
    <div class="content-list datalist requires-dragdrop" id="crystals-list" data="{% url lims-crystal-list %}">
        {% comment %}
            The content for this div is loaded via ajax in the script block below.
        {% endcomment %}
    </div>
    <div id="add-cocktail" class="hidden modal-content"></div>
    <div id="add-constituent" class="hidden modal-content"></div>
    <div id="add-crystalform" class="hidden modal-content"></div>
{% endblock %}

{% block sidebar %}
    <div id="cocktails" class="widget droppable droppable-remove parent-stop" accept="cocktail" data="{% url lims-cocktail-basic-list %}">
        <h3>Cocktails</h3>
        <ul>
            <li><a href="#">Content Not Loaded.</a></li>
        </ul>
        <a href="{% url lims-cocktail-new %}" rel="#add-cocktail" class="action add modal">add cocktail</a>
    </div>
    <div id="constituents" class="widget droppable droppable-remove parent-stop" accept="constituent" data="{% url lims-constituent-basic-list %}">
        <h3>Constituents</h3>
        <ul>
            <li><a href="#">Content Not Loaded.</a></li>
        </ul>
        <a href="{% url lims-constituent-new %}" rel="#add-constituent" class="action add modal">add constituent</a>
    </div>
    <div id="crystalforms" class="widget droppable droppable-remove parent-stop" accept="crystal_form" data="{% url lims-crystalform-basic-list %}">
        <h3>Crystal Forms</h3>
        <ul>
            <li><a href="#">Content Not Loaded.</a></li>
        </ul>
        <a href="{% url lims-crystalform-new %}" rel="#add-crystalform" class="action add modal">add crystal form</a>
    </div>
   {{ block.super }}
{% endblock %}