{% load nav %}
<ul class="subnav">
	<li class='tab {% active request "/samples/?$" %}'><a href="/project/samples/" >Summary</a></li>
	<li class='tab {% active request "/samples/constituent/" %}'><a href="/project/samples/constituent/" >Constituents</a></li>
	<li class='tab {% active request "/samples/cocktail/" %}'><a href="/project/samples/cocktail/" >Cocktails</a></li>
	<li class='tab {% active request "/samples/crystalform/" %}'><a href="/project/samples/crystalform/" >Crystal Forms</a></li>
	<li class='tab {% active request "/samples/crystal/" %}'><a href="/project/samples/crystal/">Crystals</a></li>
</ul>

