{% load nav %}
<ul class="subnav">
	<li class='tab {% active request "/shipping/?$" %}'><a href="/{{request.user.is_superuser|yesno:"staff,project"}}/shipping/" >Summary</a></li>
	<li class='tab {% active request "/container/" %}'><a href="/{{request.user.is_superuser|yesno:"staff,project"}}/shipping/container/" >Containers</a></li>
	<li class='tab {% active request "/dewar/" %}'><a href="/{{request.user.is_superuser|yesno:"staff,project"}}/shipping/dewar/" >Dewars</a></li>
	<li class='tab {% active request "/samples/crystalform/" %}'><a href="/{{request.user.is_superuser|yesno:"staff,project"}}/samples/crystalform/" >Crystal Forms</a></li>
	<li class='tab {% active request "/shipment/" %}'><a href="/{{request.user.is_superuser|yesno:"staff,project"}}/shipping/shipment/" >Shipments</a></li>
</ul>

