<div class="help">
<p>
This section provides tools for organizing samples you intend to send to the sychrotron in Containers, Dewars, and Shipments. This section divided into the following sub-sections:</p>
<dl>
<dt>&ldquo;Containers&rdquo;</dt>
<dd>
A "container" where frozen crystals are stored. A container can be one of several types, "Cane", "Cassette", or "Uni-Puck". Each container type has predefined capacities. For example, a Puck can store up to 16 samples, a Cassette can store up to 96 samples and a cane can store up to 6 samples. A crystal can be part of only one container at a given moment, although it can always be reassigned from one container to another.<br/>
For each container, the sample positions must be unique and within certain allowed ranges as determined by the container. For example, Cassette sample positions must be two characters long of the format "[A-L][1-8]" ("A1" to "L8"). For the other container types, sample positions are simply integers. For canes, sample positions are numbered from the bottom starting at 1.<br/>
</dd>
<dt>&ldquo;Dewars&rdquo;</dt>
<dd>Here you define shipping dewars. A dewar can contain any number of containers. However, a container can be part of only one shipment at a given moment.<br/>
</dd> 
<dt>&ldquo;Shipment&rdquo;</dt>
<dd>A shipment is made up of one or more dewars being sent to the synchrotron. A dewar can be part of only one shipment at a given moment. Once a shipment is created it will exist in the system in the "Draft" state until sent to the CLS at which point it the state becomes "Out-going". The normal life-cycle of a shipment is "Draft" &rarr; "Out-going" &rarr; "Received" &rarr; "In-coming" &rarr; "Closed". Only "Draft" shipments can be edited.<br/>
</dd>
</dl>
</div>
