{% load nav %}
<ul class="nav">
	<li class='tab {% active request "^/(staff/)?$" %}'><a href="/staff/">Staff&nbsp;Home</a></li>
	<li class='tab {% active request "^/staff/samples/" %}'><a href="/staff/samples/">Samples</a></li>
	<li class='tab {% active request "^/staff/experiment/" %}'><a href="/staff/experiment/">Experiments</a></li>
	<li class='tab {% active request "^/staff/shipping/" %}'><a href="/staff/shipping/">Shipping</a></li>
	<li class='tab {% active request "^/staff/runlist/" %}'><a href="/staff/runlist/">Run Lists</a></li>
</ul>