{% load nav %}
<ul id="nav">
<li class='nav-menu {% active request "^/(staff/)?$" %}'><a href="/staff/">Staff&nbsp;Home</a></li>
<li class='nav-menu {% active request "^/lims/shipping/" %}'><a href="{% url staff-shipment-list %}">Shipping</a>
    <ul class="nav-submenu">
        <li><a href="{% url staff-shipment-list %}">Shipments</a></li>
        <li><a href="{% url staff-dewar-list %}">Dewars</a></li>
        <li><a href="{% url staff-container-list %}">Containers</a></li>
    </ul>
</li>
<li class='nav-menu {% active request "^/staff/experiment/" %}'><a href="{% url staff-experiment-list %}">Experiments</a></li>
<li class='nav-menu {% active request "^/staff/runlist/" %}'><a href="{% url staff-runlist-list %}">Run Lists</a></li>
</ul>

