{% extends "base.html" %}

{% load stats_extras %}

{% block headline %}
<h2>Usage Statistics - {{month.1}} {{ month.2 }}</h2>
{% endblock %}

{% block content %}

<div class="object-list">
	<div class="list-tools">
	    <h3 class="current">
	        <a class="prev" href='{% url staff-stats-other month=prev_month %}' title="Previous Month">
	            <img src="/img/prev.png" alt="Previous Month"></a>
	        <a class="current" href='{% url staff-stats-current %}'>
	            Back to Current Month</a>
	        <a class="next" href='{% url staff-stats-other month=next_month %}' title="Next Month">
	            <img src="/img/next.png" alt="Next Month"></a>
	    </h3>
	</div>

    <h3>{{month.1}} {{ month.2 }}</h3>

<table id="calendar">
    <thead>
        <tr>
		    <th></th>
		    <th class="weekday">Monday</th>
		    <th class="weekday">Tuesday</th>
		    <th class="weekday">Wednesday</th>
		    <th class="weekday">Thursday</th>
		    <th class="weekday">Friday</th>
		    <th class="weekday">Saturday</th>
		    <th class="weekday">Sunday</th>
        </tr>
    </thead>
    <tbody>
        {% for week in dates %}
            {% for name in display %}
            <tr>
                <td class="{% if name %}blabel header{% else %}date header{% endif %}">
                    <span>{{ name|bl_name }}</span></td>
            {% if not name %}
                {% for day in week %}
                <td class="date
                    {% ifequal month.0 day.1 %}current-month{% endifequal %} 
                    {% ifequal current_date day.0 %}today{% endifequal %}">{{day.0}}</td>
                {% endfor %}
            {% else %}
                {% for day in week %}
                <td class="stats
                    {% ifequal month.0 day.1 %}current-month{% endifequal %} 
                    {% ifequal current_date day.0 %}today{% endifequal %}">
                {% with day.2|format_data:name as data %}
                    {% for item in data %}
                        <b>{{ item.0 }}</b>({{ item.1 }})- 
                            {% ifequal item.2 item.3 %}
                                ({{ item.2 }})
                            {%else %} 
                                ({{item.2 }}-{{ item.3 }})
                            {% endifequal %}
                        <br>
                    {% endfor %}
                {% endwith %}</td>
                {% endfor %}
            {% endif %}
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

{% block sidebar %}
<h2>{{ month.1 }} {{ month.2 }} Usage</h2>
<table class="entrysummary statistics">
<tbody>
<tr><th class="heading" colspan=3>Totals</th></tr>
<tr><th class="subheading">Screening:</th><td colspan=2 class="info">{{ data|by_kind:0 }}</td></tr>
<tr><th class="subheading">Collection:</th><td colspan=2 class="info">{{ data|by_kind:1 }}</td></tr>
{% for user in data|user_project %}
    <tr><th class="heading" colspan=3></th></tr>
    <tr><th class="heading" colspan=3>{{ user }}</th>
    <tr><th class="subheading">Total Screening:</th>
        <td class="info" colspan=2>{{ data|by_project:user|by_kind:0 }}</td>
    <tr><th class="subheading">Total Collection:</th>
        <td class="info" colspan=2>{{ data|by_project:user|by_kind:1 }}</td>        
    <tr><th class="subheading">Total Reports:</th>
        <td class="info" colspan=2>{{ month|report_filter:user }}</td>
    <tr><th class="subheading">Total Scans:</th>
        <td class="info" colspan=2>{{ month|scan_filter:user }}</td>  
    <tr><th></th>  
        {% for name in display %}{% if name %}
            <th class="subheading info">{{ name|bl_name }}</th>{% endif %}{% endfor %}</tr>
    <tr><th class="subheading">Number of Shifts:</th>
        {% for name in display %}{% if name %}<td class="info">
            {{ data|by_bl:name|by_project:user|num_shifts:month }}</td>{% endif %}{% endfor %}
    <tr><th class="subheading">Screening:</th>
        {% for name in display %}{% if name %}<td class="info">
            {{ data|by_bl:name|by_project:user|by_kind:0 }}</td>{% endif %}{% endfor %}
    <tr><th class="subheading">Collection:</th>
        {% for name in display %}{% if name %}<td class="info">
            {{ data|by_bl:name|by_project:user|by_kind:1 }}</td>{% endif %}{% endfor %}
    {% endfor %}
</tbody>
</table>

{% endblock %}
