{% comment %}
    defines a common toolbar for object_list entities
    note: this file defines tools for both staff and users
{% endcomment %}

<ul class="tools">
    {# STAFF TOOLS #}
    {% if request.user.is_superuser %}
        {% if object.is_receivable %}
            <li>
                <a href="{{ handler }}receive/?title=Recieve%20Shipment&tracking_code=" rel="#receive-object" class="action modal edit-tool">
                    Receive
                </a>
            </li>
        {% endif %}
        {% if object.is_returnable %}
            <li>
                <a href="{{handler}}return/?title=Return%20Shipment" rel="#return-object" class="action modal edit-tool">
                    Return
                </a>
            </li>
        {% endif %}
    {# USER TOOLS #}
    {% else %}
        {% if object.is_sendable %}
            <li>
                <a href="{{handler}}send/?title=Send%20Shipment" rel="#send-object" class="action modal send-tool">
                    Send
                </a>
            </li>
        {% endif %}
        {% if object.is_pdfable %}
            <li>
                <a onclick="window.open('{{handler}}pdf/');" class="pdf-tool">
                    PDF
                </a>
            </li>
        {% endif %}
        {% if object.is_xlsable %}
            <li>
                <a onclick="window.open('{{handler}}xls/');" class="xls-tool">
                    XLS
                </a>
            </li>
        {% endif %}
        {% if object.is_closable %}
            <li>
                <a href="{{handler}}close/" rel="#close-object" class="action modal close-tool">
                    Close
                </a>
            </li>
        {% endif %}
        {% comment %}
        <li>
            <a onclick="linkto('{{ handler }}new/?clone={{object.id}}');" class="clone-tool">
                Clone
            </a>
        </li>
        {% endcomment %}
        {% if object.is_editable %}
            <li>
                <a href="{{ handler }}edit/" rel="#edit-object" class="action modal edit-tool">
                    Edit
                </a>
            </li>
        {% endif %}
        {% if object.is_deletable %}
            <li>
                <a href="{{ handler }}delete/" rel="#delete-object" class="action modal delete-tool">
                    Delete
                </a>
            </li>
        {% endif %}
    {% endif %}
</ul>

