{% comment %}
    defines a common toolbar for object_list entities
    note: this file defines tools for both staff and users
{% endcomment %}

<ul class="toolbar">
    {# STAFF TOOLS #}
    {% if request.user.is_staff %}
        <li class="feedback-tool">
            <a href="{% url staff-staffcomments-add object.pk %}" class="action modal-form">
                Add Comments
            </a>
        </li>
        {% if object.is_reviewable %}
            <li class="review-tool">
                <a href="{% url staff-experiment-complete object.pk %}"  class="action modal-form">
                    Review
                </a>
            </li>
        {% endif %}
        {% if object.is_receivable %}
            <li class="receive-tool">
                <a href="{% url staff-dewar-receive %}?label={{object.label}}"  class="action modal-form">
                    Receive
                </a>
            </li>
        {% endif %}
        {% if object.is_returnable %}
            <li class="return-tool">
                <a href="{{handler}}return/?title=Return%20Shipment"  class="action modal-form">
                    Return
                </a>
            </li>
            <li class="pdf-tool">
                <a href="{{handler}}label/" class="">
                    Labels
                </a>
            </li>
        {% endif %}
        {% if object.is_pdfable %}
            <li class="pdf-tool">
                <a href="{{handler}}protocol/">
                    Protocol
                </a>
            </li>
        {% endif %}
    {# USER TOOLS #}
    {% else %}
        {% if object.is_sendable %}
            <li class="send-tool">
                <a href="{{handler}}send/?title=Send%20Shipment"  class="action modal-form">
                    Send
                </a>
            </li>
        {% endif %}
        {% if object.has_labels %}
            <li class="pdf-tool">
                <a {% if object.project.address and object.project.city and object.project.province and object.project.country and object.project.postal_code %}
                    href="{{handler}}label/" class=""
                    {% else %}
                    href="{% url lims-profile-edit %}?warning=label" class="modal-form{% endif %}">
                    Labels
                </a>
            </li>
        {% endif %}
        {% if object.is_xlsable %}
            <li class="template-tool">
                <a href="{{handler}}xls/">
                    Spreadsheet
                </a>
            </li>
        {% endif %}
        {% if object.is_closable %}
            <li class="close-tool">
                <a href="{{handler}}close/" class="action modal-form">
                    Archive
                </a>
            </li>
        {% endif %}
        {% comment %}
        <li class="clone-tool">
            <a href="{{ handler }}../new/?clone={{object.id}}" class="action modal-form">
                Clone
            </a>
        </li>
        {% endcomment %}
        {% if object.is_editable %}
            <li class="edit-tool">
                <a href="{{ handler }}edit/"  class="action modal-form">
                    Edit
                </a>
            </li>
        {% endif %}
        {% if object.is_deletable %}
            <li class="delete-tool">
                <a href="{{ handler }}delete/"  class="action modal-form">
                    Delete
                </a>
            </li>
        {% endif %}
    {% endif %}
</ul>

