{% comment %}
    defines a common toolbar for object_list entities
    note: this file defines tools for both staff and users
{% endcomment %}

<ul class="toolbar">
    {# STAFF TOOLS #}
    {% if request.user.is_staff %}
        {% comment %}
        <li class="feedback-tool">
            <a href="{{ handler }}staff_comments/add/" class="action modal-form">
                Add Comments
            </a>
        </li>
        {% endcomment %}
        {% if object.is_loadable %}
            <li class="load-tool">
                <a href="{{ handler }}load/" class="action modal-form">
                    Load
                </a>
            </li>
        {% endif %}
        {% if object.is_unloadable %}
            <li class="unload-tool">
                <a href="{{ handler }}unload/"  class="action modal-form">
                    Unload
                </a>
            </li>
        {% endif %}
        {% if object.is_reviewable %}
            <li class="review-tool">
                <a href="{% url staff-experiment-complete object.pk %}"  class="action modal-form">
                    Review
                </a>
            </li>
        {% endif %}
        {% if object.is_receivable %}
            <li class="receive-tool">
                <a href="{% url staff-dewar-receive %}?name={{object.name}}"  class="action modal-form">
                    Receive
                </a>
            </li>
        {% endif %}
        {% if object.is_returnable %}
            <li class="return-tool">
                <a href="{{handler}}return/?title=Return%20Shipment"  class="action modal-form">
                    Return
                </a>
            </li>
            <li class="pdf-tool">
                <a href="{{handler}}label/" class="">
                    Labels
                </a>
            </li>
        {% endif %}
        {% if object.is_pdfable %}
            <li class="pdf-tool">
                <a href="{{handler}}protocol/">
                    Protocol
                </a>
            </li>
        {% endif %}
    {# USER TOOLS #}
    {% else %}
        {% if object.is_processing %}
            <li class="process-tool" title="View the updated progress report for this shipment">
                <a href="{{handler}}progress/">
                    Detailed Report
                </a>
        {% endif %}
        {% if object.is_sendable %}
            <li class="send-tool" title="Send this shipment">
                <a href="{{handler}}send/?title=Send%20Shipment"  class="action modal-form">
                    Send
                </a>
            </li>
        {% endif %}
        {% if object.has_labels %}
            <li class="pdf-tool" title="Generate PDF labels for printing">
                <a {% if object.project.address and object.project.city and object.project.province and object.project.country and object.project.postal_code %}
                    href="{{handler}}label/" class=""
                    {% else %}
                    href="{% url lims-profile-edit %}?warning=label" class="modal-form{% endif %}">
                    Labels
                </a>
            </li>
        {% endif %}
        {% if object.is_xlsable %}
            <li class="template-tool" title="Download a spreadsheet of this entry">
                <a href="{{handler}}xls/">
                    Spreadsheet
                </a>
            </li>
        {% endif %}
        {% if object.is_closable %}
            <li class="close-tool" title="Archive this entry">
                <a href="{{handler}}close/" class="action modal-form">
                    Archive
                </a>
            </li>
        {% endif %}
        {% comment %}
        <li class="clone-tool" title="Create a new entry using this one as a template">
            <a href="{{ handler }}../new/?clone={{object.id}}" class="action modal-form">
                Clone
            </a>
        </li>
        {% endcomment %}
		{% if object.add_component %}
			<li class="component-tool" title="Add a special item to this shipment">
				<a href="{{ handler }}component/" class="action modal-form">
					Add Item
				</a>
			</li>
		{% endif %}
        {% if object.is_editable %}
            <li class="edit-tool" title="Edit this entry">
                <a href="{{ handler }}edit/"  class="action modal-form">
                    Edit
                </a>
            </li>
        {% endif %}
        {% if object.is_deletable %}
            <li class="delete-tool" title="Delete this entry">
                <a href="{{ handler }}delete/"  class="action modal-form">
                    Delete
                </a>
            </li>
        {% endif %}
    {% endif %}
    <li class="toolbar-separator"></li>
    {% if list_url %}
        <li class="back-tool" title="Show the full list of entries">
            <a href="{{list_url}}">
                Show all
            </a>
        </li>
    {% endif %}        
    <li class="help-tool" title="Show user guide">
        <a class="modal-iframe" href="/help/index.html">
        Help
        </a>
    </li>
</ul>

