{% if runlist.experiments %}
    <li><a href="{% url staff-experiment-list %}" class="open">Experiments</a></li>
    <li>
    <ul>{% for experiment in runlist.experiments %}
        <li><a href="{% url lims-experiment-detail experiment.pk %}">{{experiment.name}} : {{experiment.get_plan_display}} for {{experiment.get_kind_display}}</a>
        {% include "staff/entries/experiment_detail.html" %}
        </li>
        {% endfor %}
    </ul>
    </li>
{% else %}
    <li><a href="{% url lims-experiment-list %}">No Experiments</a></li>
{% endif %}
