{% extends "project_base.html" %}
{% block content-tools %}
<table width="100%" cellpadding="5">
<tr>
    <td width="70%"><i>{{ project.name }} - {{ project.title }}</i></td>
    <td align="right"><i>{{ user.first_name}} {{ user.last_name }}</i> (PI)</td>
</tr>
</table>
{% endblock %}
{% block content %}
<table width="100%">
<td><td width="60%" valign="top">
{% include "project_help.html" %}
{% include "project_summary.html" %}
</td><td width="*" valign="top">
{% with inbox as ol %}
<div id="inbox">
{% include "inbox.html" %}
</div>
{% endwith %}
{#% include "calendar.html" %#}
</td></tr>
</table>
{% endblock %}

