<div class="help">
<p>
Hello and welcome to the CMCF LIMS. The CMCF LIMS is a web application for managing sample, shipping and experiment information related to macromolecular crystallography experiments at the Canadian Light Source, Inc. It will assists you to prepare crystal samples for shipping to the CLS, request experiments to be performed automatically on those samples, manage experimental parameters, inspect and download results and data, all from a single location.
</p>
<p>The LIMS is divided into the following sections:</p>
<dl>
<dt>&ldquo;Samples&rdquo;</dt>
<dd>This tab provides tools for dealing with crystals you are preparing, their contents and associated hazard information.<br/>
</dd>
<dt>&ldquo;Experiments&rdquo;</dt>
<dd>This tab provides tools for creating experimental requests and associating requests with crystals. It also provides tools for viewing results of already performed experiments.<br/>
</dd>
<dt>&ldquo;Shipping&rdquo;</dt>
<dd>This tab provides tools for organizing samples you intend to send to the sychrotron in Containers, Dewars, and Shipments.<br/>
</dd>
</dl>
</div>
