{% extends "lims/sidebox.html" %}
{% block sidebox-title %} Associated Crystals {% endblock %}
{% block sidebox-content %}
    <table cellspacing="0" cellpadding="3" border="0" width="100%">
    <tbody>
{% if crystals %}
    {% for crystal in crystals %}
    <tr>
    <td onclick="linkto('{% url lims-crystal-detail crystal.id %}');" class="link-row">
    <strong>{{crystal.identity}}</strong> : {{crystal.name|escape}} <br/>
    {{crystal.code|escape}} {%if crystal.comments %} &ndash; {% endif %}{{crystal.comments|truncatewords:8}}
    </td>
    <td style="text-align: right;">
    </td>
    </tr>
    <tr><td colspan="2" class="rule"></td></tr>
    {% endfor %}
{% else %}
    <tr><td colspan="20" align="center" style="padding: 3em;">No associated crystals</td></tr>
{% endif %}
    <tr><td style="height: 2em; text-align: center;" colspan="2"><a href="{% url lims-crystal-list %}">show all crystals</a></td></tr>
    </tbody>
    </table>
    
{% endblock %}
