{% load humanize %}
{% with object as constituent %}
    <table class="entrysummary" cellpadding="2" cellspacing="0" border="0">
        <tr valign="top"><th>Created:</th><td>{{constituent.created|naturalday}} at {{constituent.created|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Modified:</th><td>{{constituent.modified|naturalday}} at {{constituent.modified|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Acronym:</th><td>{{constituent.acronym|escape}}</td></tr>
        <tr valign="top"><th>Source/Type:</th><td>{{constituent.get_source_display}}/{{constituent.get_kind_display}}</td></tr>
        <tr valign="top"><th>Safety information:</th><td style="font-size: 180%; font-weight: bold;">{{constituent.get_hazard_designation}} </td></tr>
        <tr valign="top"><th>Comments:</th><td>{{constituent.comments|default:"No Comments."}} </td></tr>
    </table>
{% endwith %}
