{% load humanize %}
{% with object as constituent %}
    <div class="header">
    <table width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td nowrap="nowrap">
        {{ constituent.identity }}
        </td>
        <td style="border-right: 1px solid #eee;"></td>
        <td style="width: 100%;">
        <div class="h3">{{ constituent.name }}</div>
        <i>{{ constituent.comments }}</i> 
        </td>
    </tr>
    </table>
    </div>
    
        <table class="entrysummary" cellpadding="2" cellspacing="0" border="0" width="60%" style="float:left; clear: left;">
        <tr valign="top"><th>Created:</th><td>{{constituent.created|naturalday}} at {{constituent.created|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Modified:</th><td>{{constituent.modified|naturalday}} at {{constituent.modified|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Acronym:</th><td>{{constituent.acronym|escape}}</td></tr>
        <tr valign="top"><th>Source/Type:</th><td>{{constituent.get_source_display}}/{{constituent.get_kind_display}}</td></tr>
        <tr valign="top"><th>Safety information:</th><td style="font-size: 180%; font-weight: bold;">{{constituent.get_hazard_designation}} </td></tr>
        </table>
        <img src="/img/samples-constituent.png" style="float:right;clear: right; margin: 0.5em; padding-right: 2em; "/> 
        <div style="clear: both;"></div>
{% endwith %}   
