{% load humanize %}
    <div class="header">
    <table width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td nowrap="nowrap">
        {{ object.identity }}
        </td>
        <td style="border-right: 1px solid #eee;"></td>
        <td style="width: 100%;">
        <div class="h3">{{ object.label }}</div>
        <i>{{ object.comments }}</i> 
        </td>
    </tr>
    </table>
    </div>
    
        <table class="entrysummary" cellpadding="2" cellspacing="0" border="0" width="60%" style="float:left; clear: left;">
        <tr valign="top"><th>Type:</th><td>{{object.get_kind_display}}</td></tr>
        <tr valign="top"><th>Capacity:</th><td>{{object.capacity}}</td></tr>
        <tr valign="top"><th>Created:</th><td>{{object.created|naturalday}} at {{object.created|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Modified:</th><td>{{object.modified|naturalday}} at {{object.modified|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Dewar:</th><td>
        {% if object.is_assigned %}
        <a href="{% url lims-dewar-detail object.dewar.id %}">{{object.dewar.identity}}</a>
        {% else %}
        Not assigned to any dewar.
        {% endif %}
        </td></tr>
        <tr valign="top"><th>Status:</th><td>{{object.get_status_display}}</td></tr>
        </table>    
        <img src="/img/container-{{object.get_kind_display|lower}}.png" style="float:right;clear: right; margin: 0.5em; padding-right: 2em; "/> 
        <div style="clear: both;"></div>

