{% extends "base.html" %}

{% load humanize %}

{% block headline %}
<h2><span class="identity {% if not object.is_editable %}locked{% endif %}">{{object.identity}}</span> {{object.name}}</h2>
{% endblock %}

{% block object-tools %}
<div class="object-tools">
    {% include "lims/tools.html" %}
    <ul class="toolbar">
        <li class="back-tool">
            <a href="{% url lims-container-list %}">Full List</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% ifequal object.json_dict.type "Cane" %}
    {% include "lims/entries/cane.html" %}
{% endifequal %}{% ifequal object.json_dict.type "Cassette" %}
    {% include "lims/entries/cassette.html" %}
{% endifequal %}{% ifequal object.json_dict.type "Uni-Puck" %}
    {% include "lims/entries/unipuck.html" %}
{% endifequal %}
{% endblock %}

{% block sidebar %}
	{% if not user.is_superuser %}
		<div id="crystals" class="widget droppable-remove parent-stop" data="{% url lims-crystal-container-list %}">
		   <div class="widget-title">
		   <span>Crystals</span><a href="{% url lims-crystal-new %}" class="modal-form add-action" title="Add New Crystal" ><img src="/img/small-add-icon.png" /></a>
		   </div>
		    <ul>
                <p class="list-empty">( Not loaded )</p>
		    </ul>
		</div>
    {% endif %}
{% endblock %}

{% block script %}
{{ block.super }}
<script>
		function remove_item(element) {
			jQuery.ajax({
                type: "POST",
                url: element.rel,
                data: "",
                success: function() {
                    window.location.reload();
                }
            });
        }
</script>
{% endblock %}
