<div class="object-list {{object.json_dict.type|lower}}-detail">
    <h3>Crystals in {{object.json_dict.type|lower}} &ldquo;{{object.name}}&rdquo;</h3>
    <table cellspacing="0" cellpadding="2" border="0" width="100%" id="crystal-list-table">
        <thead>
            <tr class="header">
             	<th>Location</th>
                <th>Crystal</th>
                <th>Experiment</th>
                <th>Comments</th>
                {% if not admin %}<th></th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% ifnotequal object.num_crystals 0 %}
            {% for loc, crystal in object.location_and_crystal %}
                {% if crystal %}
                    <tr class="{% cycle 'odd' 'even'%}">
                        <td>{{ loc }}</td>
                        <td><a href="{% url lims-crystal-detail crystal.pk %}">{{ crystal.name }}</a></td>
                        {% if crystal.experiment %}
                        <td><a href="{% url lims-experiment-detail crystal.experiment.pk %}">{{ crystal.experiment.name }}</a></td>
                        {% else %}
                        <td>(None)</td>
                        {% endif %}
                        <td class="redirect"
                            href="{% url lims-crystal-detail crystal.pk %}">{{ crystal.comments|default:"" }}</td>
                        <td>
                            {% if not admin %}
                                <a class="remove"
                                   rel="{% url lims-container-remove-crystal object.pk crystal.pk %}"
                                   href="#"
                                   onclick="remove_item(this);"
                                   title="Remove crystal from container"><span class="remove"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}                
                <tr><td colspan="20" align="center" class="list-empty">(No crystals in this container)</td></tr>
        {% endifnotequal %}           
        </tbody>
    </table>
</div>

