{% load humanize %}

<h3>Crystals</h3>

<div id="view-result" class="hidden modal-content"></div>
<div id="view-data" class="hidden modal-content"></div>

{% if crystals %}
	{% if admin %}
	<form id="action_form" method="post">{% csrf_token %}
		<button style="float:right;">Perform Action</button>
		<select id="selector" style="float:right; font-size:100%; border-width: 2px;" name="action">
			<option value="default" selected="selected">Select Action</option>
			<option value="rescreen">Re-Screen</option>
			<option value="recollect">Re-Collect</option>
			<option value="complete">Complete</option>
		</select> 
		
		<br/>
	{% endif %}

   <table cellspacing="0" cellpadding="2" border="0" width="100%" id="crystal-list-table">
        <thead>
            <tr class="header">
            	{% if admin %}
           			<th style="border-left: 0pt none; width: 0.1em;"></th>
           		{% endif %}
                <th>Name</th>
                {% if admin %}
                	<th>Collect, Screen</th>
                {% else %}
            		<th>Status</th>
            	{% endif %}
                <th>Data</th>
                <th>Results</th>
                {% if not admin %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for crystal in crystals %}
            <!-- "odd" if loop_count % 2 == 1 else "even" -->
	            <tr class="{% cycle 'odd' 'even'%}">
	            	<!-- checkbox for actions, only admin -->
	            	{% if admin %}
            			<td><input type="checkbox" class="checkbox" name="crystal_chk" value="{{crystal.pk}}" {{checked|yesno:"checked='checked',,"}}/></td>
            		{% endif %}
	            	<td>{{ crystal.name }}</td>
	            	{% if admin %}
	            		<td>
	            			{% if crystal.collect_status != Crystal.EXP_STATES.IGNORE %}
	            				{{ crystal.get_collect_status_display }}
	            			{% endif %}
	            			{% if crystal.collect_status != Crystal.EXP_STATES.IGNORE %}
	            				{% if crystal.screen_status != Crystal.EXP_STATES.IGNORE %}
	            				, 
	            				{% endif %}
	            			{% endif %}
	            			{% if crystal.screen_status != Crystal.EXP_STATES.IGNORE %}
	            				{{ crystal.get_screen_status_display }}
	            			{% endif %}
	            			
	            		</td>
	            	{% else %}
	            		<td>{{ crystal.get_status_display }}</td>
	            	{% endif %}
	            	<td>
	            	{% for data in datasets %}
	            		{% if data.crystal == crystal %}
	            			<a href="{% url lims-dataset-detail data.pk %}" class="modal" rel="#view-data">{{ data.name }}</a><br/> 
	            			
	            		{% endif %}
	            	{% endfor %}
	            	</td>
	            	<td>
	            	{% for result in results %}
	            		{% if result.crystal == crystal %}
	            			<a href="{% url lims-result-detail result.pk %}" {% comment %}class="modal" rel="#view-result"{% endcomment %}>{{ result.name }} ({{ result.score|floatformat:2 }})</a><br/> 
	            		{% endif %}
	            	{% endfor %}
	            	</td>
	            	{% if not admin %}
	            		<td>
	            			<a rel="{% url lims-experiment-remove-crystal experiment 0 crystal.pk %}" href="#" onclick="remove_item(this);">Remove</a>
	            		</td>
	            	{% endif %}
	            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if admin %}
    	</form>
    {% endif %}

{% else %}
    (No crystals associated).
{% endif %}

	<script>
		jQuery('#action_form').submit(function() {
			// check what action to do
			var $action_id = document.getElementById('selector').selectedIndex;
			var $url = "/lims/experiment/crystal/";
			jQuery('.checkbox').filter(':checked').each( function()
			{
				$url = "/lims/experiment/crystal/";
				var $crys_id = jQuery(this).val();
				$url = $url + $crys_id;
				if ($action_id == 1) {
					// rescreen
					$url = $url + '/rescreen/';
				};
				if ($action_id == 2) {
					// recollect
					$url = $url + '/recollect/';
				};
				if ($action_id == 3) {
					// complete
					$url = $url + '/complete/';
				};
				jQuery.ajax({
					type: "POST",
					url: $url,
					dataType: "script",
					success: function() {
						// loadWidgets();
						// refreshDatalist();
                        // window.location.reload();
					},
					error: function() {
						// error, just reload the widget
						loadWidgets();
					}
				});
			});
			document.getElementById('selector').selectedIndex = 0;
			return false;
		});
	
		function remove_item(element) {
			jQuery.ajax({
                type: "POST",
                url: element.rel,
                data: "",
                success: function() {
                    // refreshDatalist();
                    // loadWidgets();
                    window.location.reload();
                }
            });
        }
    </script>
