{% extends "lims/entries/samples_entry.html" %}
{% load humanize %}

{% block title %} Container {{ container.identity }}{% endblock %}

{% block entry-summary%}
{% include "lims/entries/crystalform_summary.html" %}
{% endblock %}

{% block entry-info %}
{# include "lims/entries/crystal_info.html" #}
{% endblock %}

{% block entry-contents %}
{% with object.crystal_set.all as crystals %}
{% include "lims/entries/associated_crystals.html" %}
{% endwith %}
{% endblock %}

{% block entry-scratchpad %}
{% include "lims/entries/crystal_treeview.html" %}
{% endblock %}

