{% load humanize %}

<li>
    <table class="entrysummary" cellpadding="2" cellspacing="0" border="0">
        <tr valign="top">
            <th>Created:</th>
            <td>{{object.created|naturalday}} at {{object.created|date:"H:i T"}}</td>
        </tr>
        <tr valign="top">
            <th>Modified:</th>
            <td>{{object.modified|naturalday}} at {{object.modified|date:"H:i T"}}</td>
        </tr>
        <tr valign="top">
            <th>Lattice:</th>
            <td>{{object.space_group}}</a></td>
        </tr>
        <tr valign="top">
            <th>Cell:</th>
            <td>
                {{object.cell_a|default:"Unknown"}},
                {{object.cell_b|default:"Unknown"}},
                {{object.cell_c|default:"Unknown"}},
                {{object.cell_alpha|default:"Unknown"}},
                {{object.cell_beta|default:"Unknown"}},
                {{object.cell_gamma|default:"Unknown"}}
            </td>
        </tr>
    </table>
</li>
