<li>
    <ul>
        {% if crystal.experiment_set.count %}
            <li>
                <a href="{% url lims-experiment-list %}" class="open">Experiments</a>
                <ul>
                    {% for experiment in crystal.experiment_set.all %}
                        <li>
                            <a href="{% url lims-experiment-detail experiment.pk %}">{{experiment.name}} : {{experiment.get_plan_display}} for {{experiment.get_kind_display}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{% url lims-experiment-list %}">No Experiments</a>
            </li>
        {% endif %}
        <li>
            <ul>
                {% if crystal.container %}
                    <a href="{% url lims-container-detail crystal.container.pk %}" class="open">Container : {{crystal.container|default:"None"}}</a>
                {% else %}
                    <a href="{% url lims-container-list %}">Unassigned</a>
                {%endif%}
                <ul>
                    <li>
                        {% if crystal.container.dewar %}
                            <a href="{% url lims-dewar-detail crystal.container.dewar.pk %}" class="open">Dewar : {{crystal.container.dewar|default:"None"}}</a>
                        {% else %}
                            <a href="{% url lims-dewar-list %}">Unassigned</a>
                        {% endif %}

                        <ul>
                            <li>
                                {% if crystal.container.dewar.shipment %}
                                    <a href="{% url lims-shipment-detail crystal.container.dewar.shipment.pk %}" class="open">Shipment : {{crystal.container.dewar.shipment|default:"None"}}</a>
                                {% else %}
                                    <a href="{% url lims-shipment-list %}">Unassigned</a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </li>
    </ul>
</li>