{% load humanize %}

{% include "lims/tools.html" %}

<h3>{{ object.name }} ({{ object.identity }})</h3>
<img src="/img/samples-crystal.png" style="float:right;clear: right; margin: 0.5em; padding-right: 2em; "/>

<table class="entrysummary" cellpadding="2" cellspacing="0" border="0" width="60%">
    <tr valign="top"><th>Created:</th><td>{{object.created|naturalday}} at {{object.created|date:"H:i T"}}</td></tr>
    <tr valign="top"><th>Modified:</th><td>{{object.modified|naturalday}} at {{object.modified|date:"H:i T"}}</td></tr>
</table>

<h3>Cocktail</h3>
<img src="/img/samples-cocktail.png" style="float:right;clear: right; margin: 0.5em; padding-right: 2em; "/>

{% if object.cocktail %}
    <ul class="treeview">
        <li class="cocktail draggable-link-parent">
            <a class="cocktail" href="{% url lims-cocktail-detail object.cocktail.id %}">{{object.cocktail.name}} ({{ object.cocktail.identity }})</a>
        </li>
    </ul>
{% else %}
    (No cocktail assigned to this Crystal).
{% endif %}

<h3>Crystal Form </h3>
<img src="/img/samples-crystalform.png" style="float:right;clear: right; margin: 0.5em; padding-right: 2em; "/>

{% if object.crystal_form %}
    <ul class="treeview">
        <li class="crystal_form draggable-link-parent">
            <a class="crystal_form" href="{% url lims-crystalform-detail object.crystal_form.id %}">{{object.crystal_form.name}} ({{ object.crystal_form.identity }})</a>
        </li>
    </ul>
{% else %}
    (No Crystal Form assigned to this Crystal).
{% endif %}

{% comment %}
    {% include "lims/entries/associated_experiments.html" %}
    {% include "lims/entries/crystal_treeview.html" %}
{% endcomment %}
