{% load zip %}
{% load image_url %}

{% with object as data %}
<script type="text/javascript" src="/js/shiftzoom/shiftzoom.js"></script>

<div id="data-viewer">
<div class="heading">
	<h2 id="maintitle">
	{% if data.kind == Data.DATA_TYPES.SCREENING %}
		Screening Dataset
	{% else %}
		Full Dataset
	{% endif %} - {{ data.name }}
	</h2>
</div>

<!-- image viewer aspect -->
<div class="data-image">
    <div id="data-image-loading"><div></div></div>
    <div class="image-wrapper">
	<!-- making assumption that data.url will be filled, with the key, and it's data name -->
	<img id="shiftzoomimg" src="{% image_url data 1 'nm' %}" onLoad="shiftzoom.add(this);" class="shiftzoom loading" width="512" height="512">
	</div>
    <!-- image navigation -->
    <div class="image-nav">
	    <div style="float: left;">
		    <button onclick="changeBrightness('dk');">Dark</button>
		    <button onclick="changeBrightness('nm');">Normal</button>
		    <button onclick="changeBrightness('lt');">Light</button>
	    </div>
	    <div style="float: right;">
		    <button onclick="prevClicked();">Prev</button>
		    <button onclick="nextClicked();">Next</button>
	    </div>
    </div> 
</div>

<!-- Display of metaData -->
<div class="meta-data">
    <p>Parameters</p>
	<ul>
	    {% if data.experiment %}
	    <li><strong>Experiment:</strong><a href="{% url lims-experiment-detail data.experiment.pk %}">{{ data.experiment.name }}</a></li>
	    {% endif %}		
		{% if data.crystal %}
		<li><strong>Crystal:</strong><a href="{% url lims-crystal-detail data.crystal.pk %}"> {{ data.crystal.name }}</a></li>
		{% endif %}		
		{% for result in data.result_set.all %}
			<li><strong>Result:</strong> <a href="{% url lims-result-detail result.pk %}">{{ result.name }} ({{ result.score|floatformat:2 }})</a></li>
		{% endfor %}
		<li><strong>Resolution Limit:</strong> {{ data.resolution|floatformat:2 }} &#8491;</li>
		<li><strong>Frame set:</strong> {{ data.frame_sets }}</li>
		<li><strong>Wavelength:</strong> {{ data.wavelength }} &#8491;</li>
		<li><strong>Beam X:</strong>	{{ data.beam_x }}</li>
		<li><strong>Beam Y:</strong> {{ data.beam_y }}</li>
		<li><strong>Pixel Size:</strong> {{ data.pixel_size }} mm</li>
		<li><strong>Two Theta:</strong> {{ data.two_theta }} deg</li>
		<li><strong>Exposure time:</strong> {{ data.exposure_time }} sec</li>
		<li><strong>Detector type:</strong> {{ data.detector }}</li>
		<li id="framename" class="separator">Current: </li>
		<li id="oscstart">Osc. Start: </li>
		<li id="oscend">Osc. End: </li> 
	</ul>
</div>

<div class="frame-list">
    <p>Frames</p>
	<ul>
	{% for frame_id in data.get_frame_list %}
		<li onclick="toFrame({{frame_id}});"><a>{{data.name}}_{{ frame_id|stringformat:"03d" }}</a></li>
	{% endfor %}
	</ul>
</div>
<div>
<script type="text/javascript">
	var $current_frame_to_display = 1;
	var $current_brightness_to_display = 'nm';
	var $expanded_frame_set = {{ expanded_frame_set }};
    shiftzoom.defaultPercentcoords = true;
    shiftzoom.defaultShowcoords = true;
    shiftzoom.defaultPixelcoords = false;
    dataViewer.setPars({{data.wavelength}}, {{data.resolution}});
	function changeBrightness(brightness) {
		if (brightness == $current_brightness_to_display) {
			return;
		}
		$current_brightness_to_display = brightness;
		shiftzoom.source(document.getElementById('shiftzoomimg'), makeCorrectUrl(), true);
	};

	function makeCorrectUrl() {
		url = '{% image_url data 1 "dk" %}';
		// remove the 001-dk.png
		url = url.slice(0, -10);
		// add the frame number, 3 digits.
		var number = '' + $current_frame_to_display;
		while (number.length <  3) {
			number = '0' + number;
		}
		url = url + number + "-" + $current_brightness_to_display + ".png";
		return url;
	}
	
	function generateFrameName(frame) {
		name = "{{ data.name }}" + "_";
		number = '' + frame;
		while (number.length <  3) {
			number = '0' + number;
		}
		name = name + number;
		return name;
	}
	
	jQuery(document).ready( function() {
		$current_frame_to_display = {{ data.first_frame }};
		$current_brightness_to_display = "nm";
		updateFrameDetails();
		$expanded_frame_set = {{ data.get_frame_list }};
	});
	
	function updateFrameDetails() {
		// use jQuery to find and update the frame specific elements. 
		element = jQuery('#framename');
		element.text("Current: " + generateFrameName($current_frame_to_display));
		
		osc = ($current_frame_to_display - {{data.first_frame}}) * {{data.delta_angle}} + {{data.start_angle}};
		jQuery('#oscstart').text("Osc. Start: " + osc + " deg");
		
		osc = osc + {{data.delta_angle}};
		jQuery('#oscend').text("Osc. End: " + osc + " deg");
		
		jQuery('#maintitle').text("{% if data.kind == Data.DATA_TYPES.SCREENING %}Screening Dataset{% else %}Full Dataset{% endif %} - {{ data.name }} : " 
			+ generateFrameName($current_frame_to_display)	);
	}	
	
	function nextClicked() {
		// get next frame in set.
		index = $expanded_frame_set.indexOf($current_frame_to_display);
		if ((index != -1) && (index < $expanded_frame_set.length -1)) {
			index++;
			$current_frame_to_display = $expanded_frame_set[index];
		
			shiftzoom.source(document.getElementById('shiftzoomimg'), makeCorrectUrl(), true);
		
			updateFrameDetails();
		}
		return;
	}
	
	function prevClicked() {
		// get previous frame in set
		index = $expanded_frame_set.indexOf($current_frame_to_display);
		if ((index != -1) && (index > 0)) {
			index--;
			$current_frame_to_display = $expanded_frame_set[index];
		
			shiftzoom.source(document.getElementById('shiftzoomimg'), makeCorrectUrl(), true);
		
			updateFrameDetails();
		}
		return;
	}		
	
	function toFrame(frame) {
		index = $expanded_frame_set.indexOf(frame);
		if (index != -1) {
			$current_frame_to_display = $expanded_frame_set[index];
			shiftzoom.source(document.getElementById('shiftzoomimg'), makeCorrectUrl(), true);
		
			updateFrameDetails();
		}
		return;
	}
	
</script>

{% endwith %}
