{% extends "lims/entries/shipping_entry.html" %}
{% load humanize %}

{% block title %} Dewar {{ dewar.identity }}{% endblock %}

{% block entry-toolbox-defaults %}
    {% if request.user.is_superuser %}
        <span onclick="load_page('entry-scratchpad', '../{{object.id}}/edit/', '');" class="edit-tool">Edit</span>
    {% endif %}
    {% if not request.user.is_superuser %}
        <span onclick="linkto('../new/?clone={{object.id}}');" class="clone-tool">Clone</span>
        {% if object.is_editable %}
            <span onclick="load_page('entry-scratchpad', '../{{object.id}}/edit/', '');" class="edit-tool">Edit</span>
        {% endif %}
        {% if object.is_deletable %}
            <span onclick="load_page('entry-scratchpad', '../{{object.id}}/delete/', '');" class="delete-tool">Delete</span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block entry-summary%}
{% include "lims/entries/dewar_summary.html" %}
{% endblock %}

{% block entry-info %}
{# include "lims/entries/dewar_info.html" #}
{% endblock %}

{% block entry-contents %}
{% include "lims/entries/dewar_contents.html" %}
{% endblock %}

{% block entry-scratchpad %}
{% include "lims/entries/dewar_treeview.html" %}
{% endblock %}

