{% extends "base.html" %}
 
{% load humanize %}

{% block headline %}
<h2>{{object.name}} ({{object.identity}})</h2>
{% endblock %}

{% block object-tools %}
<div class="object-tools">
    {% include "lims/tools.html" %}
    <ul class="toolbar">
        <li class="back-tool" >
            <a href="{% url lims-dewar-list %}">Full List</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}

<img src="/img/dewar.png" class="dewar droppable" accept="container" style="float:right;clear: right; margin: 0.5em; padding-right: 2em; "/>

{% with object as dewar %}

    <table class="entrysummary" cellpadding="2" cellspacing="0" border="0" width="60%">
        <tr valign="top">
            <th>Status:</th>
            <td>{{dewar.get_status_display}}</td>
        </tr>
        {% ifequal dewar.status dewar.STATES.ON_SITE %}
            <tr valign="top">
                <th>Location:</th>
                <td>{{dewar.storage_location|default:"Unknown"}}</td>
            </tr>
        {% endifequal %}
    </table>

    {% if dewar.container_set.count %}
        {% for container in dewar.container_set.all %}
            <li id="{{ container.id }}" class="container draggable-link-parent parent-stop ui-draggable" 
                rel="{% url lims-container-detail container.id %}">
                <a href="{% url lims-container-detail container.id %}">{{ container.label }} ({{ container.identity }})</a>
            </li>
        {% endfor %}
    {% else %}
        (No containers are assigned to this Dewar).
    {% endif %}

{% endwith %}

<div id="add-container" class="hidden modal-content"></div>

{% include "lims/entries/popup.html" %}

{% endblock %}

{% block sidebar %}
    {% if not request.user.is_superuser %} {# We don't want these to show on the staff side #}
        <div id="containers" class="widget droppable droppable-remove parent-stop" accept="container" data="{% url lims-container-basic-list %}?dewar__isnull=True">
            <h3>Containers</h3>
            <ul>
                <li><a href="#">Content Not Loaded.</a></li>
            </ul>
            <a href="{% url lims-container-new %}" class="action add modal" rel="#add-container">add container</a>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
