{% load humanize %}
{% with object as dewar %}
    <div class="header">
    <table width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td nowrap="nowrap">
        {{ dewar.identity }}
        </td>
        <td style="border-right: 1px solid #eee;"></td>
        <td style="width: 100%;">
        <div class="h3">{{ dewar.label }}</div>
        <i>{{ dewar.comments }}</i> 
        </td>
    </tr>
    </table>
    </div>
        <table class="entrysummary" cellpadding="2" cellspacing="0" border="0" width="60%" style="float:left; clear: left;">
        <tr valign="top"><th>Created:</th><td>{{dewar.created|naturalday}} at {{dewar.created|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Modified:</th><td>{{dewar.modified|naturalday}} at {{dewar.modified|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Shipment:</th><td>
        {% if dewar.is_assigned %}
        <a href="{% url lims-shipment-detail dewar.shipment.id %}">{{dewar.shipment.identity}}</a>
        {% else %}
        Not assigned to any shipment.
        {% endif %}
        </td></tr>
        <tr valign="top"><th>Status:</th><td>{{dewar.get_status_display}}</td></tr>
        {% ifequal dewar.status dewar.STATES.ON_SITE %}
        <tr valign="top"><th>Location:</th><td>{{dewar.storage_location|default:"Unknown"}}</td></tr>
        {% endifequal %}
        </table>    
        <img src="/img/dewar.png" style="float:right;clear: right; margin: 0.5em; padding-right: 2em; "/> 
        <div style="clear: both;"></div>
{% endwith %}
