{% load objlist %}

{% ifequal page "shipment" %}
<div id="{{dewar.id}}" 
     class="dewar dewar-detail droppable droppable-add" 
     accept="container" 
     rel="{% url lims-dewar-detail dewar.id %}">
    <div class="title">
        <img src="/img/dewar.png"/>
        <p class="dewar droppable droppable-add" 
            accept="container" 
            rel="{% url lims-dewar-detail dewar.id %}"><a href="{% url lims-dewar-detail dewar.id %}">{{ dewar.label }}</a>
        <a class="remove"
           rel="{% url lims-dewar-remove dewar.shipment.pk dewar.pk %}" 
           href="#"
           onclick="remove_item(this);"
           title="Remove dewar from shipment"></a></p> 
    </div>
    <ul class="dewar droppable droppable-add" 
     accept="container" 
     rel="{% url lims-dewar-detail dewar.id %}">
        {% for container in containers %}
            <li class="draggable-link-parent {{ container.json_dict.type}}">
                <div class="{{ container.json_dict.type}}"></div>
                <a href="{% url lims-container-detail container.id %}">{{ container.name }}</a>
                <a class="remove"
                   rel="{% url lims-dewar-remove-container dewar.pk container.id %}"
                   href="#"
                   onclick="remove_item(this);"
                   title="Remove container from dewar"></a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endifequal %}

{% ifequal page "dewar" %}
<div class="object-list">
    <h3>Containers</h3>
    <table cellspacing="0" cellpadding="2" border="0" width="100%" id="crystal-list-table">
        <thead>
            <tr class="header">
                <th></th>
             	<th>Name</th>
                <th>Barcode</th>
           		<th>Capacity</th>
                <th># of Crystals</th>
                <th></th>
            </tr>
        </thead>
        <body>
            {% for container in containers %}
                <tr class="{% cycle 'odd' 'even'%} link-row modal"
                    title="Go to Container {{container.pk}}">
                    <td class="modal"
                        redirect="{% url lims-container-detail container.pk %}"><div class="{{ container.json_dict.type }}"></div></td>
                    <td class="modal"
                        redirect="{% url lims-container-detail container.pk %}">{{ container.name }}</td>
                    <td class="modal"
                        redirect="{% url lims-container-detail container.pk %}">{% if container.code %}{{ container.code }}{% else %}Undefined{% endif %}</td>
                    <td class="modal"
                        redirect="{% url lims-container-detail container.pk %}">{{ container.capacity }}</td>
                    <td class="modal"
                        redirect="{% url lims-container-detail container.pk %}">{{ container.num_crystals }}</td>
                    <td><a class="remove"
                       rel="{% url lims-dewar-remove-container dewar.pk container.id %}"
                       href="#"
                       onclick="remove_item(this);"
                       title="Remove container from dewar"><span class="remove"></span></a></td>
                </tr>
            {% endfor %}
        </body>
    </table>
</div>
{% endifequal %}

<script>
	function remove_item(element) {
		jQuery.ajax({
            type: "POST",
            url: element.rel,
            data: "",
            success: function() {
                window.location.reload();
            }
        });
    }
</script>
