{# these divs get loaded with the associated action pages for this object_list.html #}

<div id="edit-modal" class="hidden modal-content"></div>
<div id="add-modal" class="hidden modal-content"></div>
<div id="xls-modal" class="hidden modal-content"></div>

<div id="receive-object" class="hidden modal-content"></div>
<div id="return-object" class="hidden modal-content"></div>
<div id="send-object" class="hidden modal-content"></div>
<div id="close-object" class="hidden modal-content"></div>
<div id="clone-object" class="hidden modal-content"></div>
<div id="edit-object" class="hidden modal-content"></div>
<div id="delete-object" class="hidden modal-content"></div>

<script>
    jQuery(function() {
        // handles all the 'edit' buttons.
        jQuery(".modal").live("click", function() {
            if(jQuery(this).attr("href")) {
                var $button = jQuery(this);
                var contentURL = $button.attr("href");
                var $modal = jQuery($button.attr("rel"));
                // this attempts to preload the content
                if(!$modal.find("a.close").length) {
                    $modal.append("<div class='content'></div>");
                    $modal.append('<a href="#" class="close" id="close_x">close</a>');
                }

                $modal.find('.content').load(contentURL, function(e, status) {
                    if(status === "success") {
                        $modal.lightbox_me({
                            centered: true,
                            destroyOnClose: true,
                            overlaySpeed: "fast",
                            overlayDisappearSpeed: "fast",
                            lightboxSpeed: "fast",
                            lightboxdisappearSpeed: "fast",
                            onLoad: function() {
                                // FIXME: find a better place for this
                                jQuery(".slideview").slideView();
                            },
                            onClose: function() {
                                // reload the relevant forms that have been updated
                                // loadWidgets();
                                // refreshDatalist();
                                // loadDatalists();
                                window.location.reload();
                            }
                        });
                    }
                });
            }

            // handles redirecting to individual object pages
            if(jQuery(this).attr("redirect")) {
                // fetch the contents of the href and rel attributes
                var $row = jQuery(this);
                var contentURL = $row.attr("redirect");
                window.location.href = contentURL;
            }
            return false;
        });
    });
</script>
