{# these divs get loaded with the associated action pages for this object_list.html #}

{% block script %}
{{ block.super }}
<script>
    jQuery(function() {
        // handles all the 'edit' buttons.
        jQuery(".modal").live("click", function() {
            if(jQuery(this).attr("href")) {
                var $button = jQuery(this);
                var contentURL = $button.attr("href");
                var $modal = jQuery($button.attr("rel"));
                // this attempts to preload the content
                if(!$modal.find("a.close").length) {
                    $modal.append("<div class='content'></div>");
                    $modal.append('<a href="#" class="close" id="close_x">close</a>');
                }

                $modal.find('.content').load(contentURL, function(e, status) {
                    if(status === "success") {
                        $modal.lightbox_me({
                            centered: true,
                            destroyOnClose: false,
                            overlaySpeed: "fast",
                            overlayDisappearSpeed: "fast",
                            lightboxSpeed: "fast",
                            lightboxdisappearSpeed: "fast"
                        });
                    }
                });
            }

            // handles redirecting to individual object pages
            if(jQuery(this).attr("redirect")) {
                // fetch the contents of the href and rel attributes
                var $row = jQuery(this);
                var contentURL = $row.attr("redirect");
                window.location.href = contentURL;
            }
            return false;
        });
    });
</script>
{% endblock %}
