{% extends "base.html" %}
{% load zip %}
{% load split_char %}
{% load list_dir %}
{% load flot_extras %}
{% block extrastyle %}
    <script type="text/javascript" src="/js/imm-reports.flot.js"></script>
{% endblock %}
{% block headline %}
<h2 class="process">{% if object.details.anomalous %}Anomalous {% endif %}Data Processing Report - &ldquo;{{object.name}}&rdquo;</h2>
{% endblock %}
{% block object-tools %}
<div class="object-tools">
    {% include "lims/tools.html" %}
    <ul class="toolbar">
        <li class="print-tool" >
            <a href="javascript:window.print();">Print</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content-override %}
<!-- maincol -->
<div id="content" class="col-12">

<div id="result-page">   
    <h3>Summary</h3>
    <div id="result-summary">
        <table id="result-table">
            <colgroup>
                <col class="result-labels"/>
            </colgroup>
            <tbody>
                <tr><td>Score<sup class="footnote">[1]</sup></td><td>{{object.score|floatformat:"-2"}}</td></tr>
                <tr><td>Wavelength (A)</td><td>{{object.wavelength}}</td></tr>
                <tr><td>Space Group<sup class="footnote">[2]</sup></td><td>{{object.space_group.name}} </td></tr>
                <tr><td>Unit Cell (A)</td><td>{{object.cell_a|floatformat:"-2"}} {{object.cell_b|floatformat:"-2"}} {{object.cell_c|floatformat:"-2"}}<br/>
                {{object.cell_alpha|floatformat:"-1"}} {{object.cell_beta|floatformat:"-1"}} {{object.cell_gamma|floatformat:"-1"}}</td></tr>
                <tr><td>Resolution (A)<sup class="footnote">[3]</sup></td><td>{{object.resolution|floatformat:"-2"}}</td></tr>
                <tr><td>All Reflections</td><td>{{object.reflections}}</td></tr>
                <tr><td>Unique Reflections</td><td>{{object.unique}}</td></tr>
                <tr><td>Multiplicity</td><td>{{object.multiplicity|floatformat:"-1"}}</td></tr>
                <tr><td>Completeness</td><td>{{object.completeness|floatformat:"-2"}} %</td></tr>
                <tr><td>Mosaicity</td><td>{{object.mosaicity}}</td></tr>
                <tr><td>I/Sigma(I)</td><td>{{object.i_sigma}}</td></tr>
                <tr><td>R-meas<sup class="footnote">[4]</sup></td><td>{{object.r_meas}}</td></tr>
                {% if object.cc_half %}
                <tr><td>CC(&frac12;)<sup class="footnote">[5]</sup></td><td>{{object.cc_half}}</td></tr>
                {% else %}
                <tr><td>R-mrgd-F<sup class="footnote">[5]</sup></td><td>{{object.r_mrgd}}</td></tr>
                {% endif %}
                <tr><td>Spot deviation</td><td>{{object.sigma_spot}}</td></tr>
                <tr><td>Spindle deviation</td><td>{{object.sigma_angle}}</td></tr>
                {% ifnotequal object.ice_rings -1 %}
                    <tr><td>Ice Rings</td><td>{{object.ice_rings}}</td></tr>
                {% endifnotequal %}           
            </tbody>
        </table>
    </div>

    <div id="summary-notes">
        <table id="result-table">
            <colgroup>
                <col class="result-labels"/>
            </colgroup>
            <tbody>
                <tr><th colspan=2>Related Entries</th></tr>  
                {% if request.user.is_superuser %}
                    <tr><td>Project</td><td>{{ object.project }}</td></tr>
                {% endif %}
                <tr><td>Crystal</td><td>{% if object.crystal %}<a href={% url lims-crystal-detail object.crystal.id %}>{{object.crystal}}</a>{% else %} &mdash; {% endif %}</td></tr>   
                <tr><td>Experiment</td><td>{% if object.experiment %}<a href={% url lims-experiment-detail object.experiment.id %}>{{object.experiment.name}}</a>{% else %} &mdash; {% endif %}</td></tr>     
                <tr><td>Dataset</td><td>{% if object.data %}<a class="modal" href={% url lims-data-detail object.data.id %}>{{object.data}}</a>{% else %} &mdash; {% endif %}</td></tr>                  
            </tbody>
        </table>
        <div class="clear spacer"></div>
        <table id="result-table">
            <colgroup>
                <col class="result-labels"/>
            </colgroup>
            <tbody>
                <tr><th colspan=2>Downloads</th></tr>              
                {% if object.url|get_ls:object.details.output_files %}
	                <tr><td>Output Files</td>
	                    <td>{% for file in object.details.output_files %}{% with file|split_char:"/" as filename %}<a href="/download/files/{{ object.url }}/{{ filename }}" title="Download {{ filename }}">{{ filename }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endwith %}{% endfor %}</td></tr>   
	                <tr><td>Input Files</td>
	                    <td>
	                    {% with "XDS.INP" as file %}<a href="/download/files/{{ object.url }}/{{ file }}" title="Download {{ file }}">{{ file }}</a>{% endwith %}, 
	                    {% with "XDSCONV.INP" as file %}<a href="/download/files/{{ object.url }}/{{ file }}" title="Download {{ file }}">{{ file }}</a>{% endwith %}, 
	                    {% with "XSCALE.INP" as file %}<a href="/download/files/{{ object.url }}/{{ file }}" title="Download {{ file }}">{{ file }}</a>{% endwith %}
	                    </td></tr>   
	                <tr><td style="width: 80px; vertical-align: top;">
	                        <a class="more" href="javascript:displayFiles(true)">More...</a>
	                        <a class="less" href="javascript:displayFiles(false)" style="display: none;">Hide</a>
	                    </td><td><p id="all-files"</p></td></tr>
                {% else %}
                    <tr><td colspan=2>Files Moved - contact CMCF for assistance</th></tr>
                {% endif %}  
            </tbody>
        </table>
        <div class="clear spacer"></div>
        <div class="tablenotes">
        <h3>Notes</h3>
            <dl class="note-list">
            <dt>[1] -<dt>
            <dd>
                Data Quality Score for comparing similar data sets. Typically, values >
                0.8 are excellent, > 0.6 are good, > 0.5 are acceptable, > 0.4
                marginal, and &lt; 0.4 are Barely usable
            </dd>
            <dt>[2] -<dt>
            <dd>
                This space group was automatically assigned using POINTLESS (see P.R.Evans,
                Acta Cryst. D62, 72-82, 2005). This procedure is unreliable for incomplete datasets
                such as those used for screening. Please Inspect the detailed results below.
            </dd>
            <dt>[3] -<dt>
            <dd>
                Resolution selected based on a cut-off of I/sigma(I) > 1.0. Statistics presented
                reflect this resolution.
            </dd>
            <dt>[4] -<dt>
            <dd>Redundancy independent R-factor. (see Diederichs & Karplus, 1997, Nature Struct. Biol. 4, 269-275.)</dd>
            <dt>[5] -<dt>
            {% if object.cc_half %}
            <dd>Percentage correlation between intensities from random half-datasets. (see Karplus & Diederichs (2012), Science. 336 (6084): 1030-1033)</dd>
            {% else %}
            <dd>Quality of amplitudes. (see Diederichs & Karplus, 1997, Nature Struct. Biol. 4, 269-275.)</dd>
            {% endif %}
        </dl>
        </div>
    </div>

    <div class="clear spacer"></div>

    <h3>Compatible bravais lattice types</h3>
    <table class="rtable full">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Lattice type</th>
                <th scope="col">Cell Parameters</th>
                <th scope="col">Quality</th>
                <th scope="col">Cell Volume</th>
            </tr>
        </thead>
        <tbody>
        {% with object.details.compatible_lattices as lattices %}
        {% zip lattices.id  lattices.type  lattices.unit_cell lattices.quality lattices.volume as tbl %}
        {% for rows in tbl %}
            <tr>
                <td>{{rows.0}}</td>
                <td>{{rows.1}}</td>
                <td>{{rows.2}}</td>
                <td>{{rows.3}}</td>
                <td>{{rows.4|floatformat:"-1"}}</td>
            </tr>
        {% endfor %}
        {% endwith %}
        </tbody>
        <tfoot>
        <tr><td colspan=5></td></tr>
        </tfoot>
    </table>

    <h3>Automatic Space-Group Selection</h3>
    
    <table class="rtable full">
        <thead>
            <tr>
                <th scope="col">Selected</th>
                <th scope="col">Candidates</th>
                <th scope="col">Space Group No.</th>
                <th scope="col">Probability</th>
            </tr>
        </thead>
        <tbody>
        {% with object.details.spacegroup_selection as spacegroups %}
        {% zip spacegroups.name  spacegroups.space_group  spacegroups.probability as tbl %}
        {% for rows in tbl %}
            <tr>
            <td>
            {% ifequal forloop.counter 1 %}
            *
            {% endifequal %}
            </td>
                <td>{{rows.0}}</td>
                <td>{{rows.1}}</td>
                <td>{{rows.2|floatformat:"-1"}}</td>
            </tr>
        {% endfor %}
        {% endwith %}
        </tbody>
        <tfoot>
        <tr><td colspan=4></td></tr>
        </tfoot>
    </table>
    <div class="tablenotes">
        <h3>Notes</h3>
        <p>The above table contains results from POINTLESS (see Evans, Acta Cryst. D62, 72-82, 2005).</p>
        <p>Indistinguishable space groups will have similar probabilities. If two or more of the top candidates have the same probability, the one with the fewest symmetry assumptions is chosen. This usually corresponds to the point group,  trying out higher symmetry space groups within the top tier does not require re-indexing the data as they are already in the same setting.</p>
        <p>For more detailed results, please inspect the output file 'pointless.log'.</p>
    </div><div class="clear spacer pagebreak"></div>
    
    <h3>Standard errors of reflection intensities by resolution</h3>
    <div id="stderr-chi2" class="report-flot" style="height: 225px;"></div>
    <div id="stderr-rfac" class="report-flot" style="height: 225px;"></div>
    <div class="tablenotes">
        <h3>Notes</h3>
        <dl class="note-list">
        <dt>I/Sigma    - </dt><dd>Mean intensity/Sigma of a reflection in shell</dd>
        <dt>&chi;&sup2;  - </dt><dd>Goodness of fit between sample variances of symmetry-related intensities and their errors (&chi;&sup2; = 1 for perfect agreement).</dd>
        <dt>R-observed - </dt><dd>&Sigma;|I(h,i)-I(h)| / &Sigma;[I(h,i)]</dd>
        <dt>R-expected - </dt><dd>Expected R-FACTOR derived from Sigma(I)</dd>
        </dl>
    </div>
    <div class="clear spacer pagebreak"></div>
    
    <h3>Statistics of final reflections by shell</h3>
    <div id="shell-comp" class="report-flot" style="height: 225px;"></div>
    <div id="shell-isig" class="report-flot" style="height: 225px;"></div>
    {% if object.cc_half %}
    <table class="rtable full">
        <thead>
            <tr>
                <th scope="col">Shell</th>
                <th scope="col">Completeness</th>
                <th scope="col">R<sub>meas</sub></th>
                <th scope="col">CC<sub>&frac12;</sub></th>
                <th scope="col">I/sigma(I)<sup class="footnote">[1]</sup></th>
                <th scope="col">Sig<sub>ano</sub><sup class="footnote">[2]</sup></th>
                <th scope="col">CC<sub>ano</sub><sup class="footnote">[3]</sup></th>
            </tr>
        </thead>
        <tbody>
        {% with object.details.shell_statistics as stats %}
        {% zip stats.shell  stats.completeness  stats.r_meas stats.cc_half stats.i_sigma stats.sig_ano stats.cor_ano as tbl %}
        {% for rows in tbl %}
            <tr>
            {% for col in rows %}
                <td>{{col|floatformat:"2"}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        {% endwith %}
        </tbody>
        <tfoot>
        <tr><td colspan=7></td></tr>
        </tfoot>
    </table>
    <div class="tablenotes">
        <h3>Notes</h3>
        <dl class="note-list">
            <dt>[1] -<dt>
            <dd>
                Mean of intensity/Sigma(I) of unique reflections
                (after merging symmetry-related observations). Where Sigma(I) is
                the standard deviation of reflection intensity I estimated from sample statistics.
            </dd>
            <dt>[2] -<dt>
            <dd>
                mean anomalous difference in units of its estimated standard
                deviation (|F(+)-F(-)|/Sigma). F(+), F(-) are structure factor estimates
                obtained from the merged intensity observations in each parity class.
            </dd>
            <dt>[3] -<dt>
            <dd>
                Percentage of correlation between random half-sets of anomalous intensity differences.
            </dd>
        </dl>
    </div>    
    {% else %}
    <table class="rtable full">
        <thead>
            <tr>
                <th scope="col">Shell</th>
                <th scope="col">Completeness</th>
                <th scope="col">R<sub>meas</sub></th>
                <th scope="col">R<sub>mrgd-F</sub></th>
                <th scope="col">I/sigma(I)<sup class="footnote">[1]</sup></th>
                <th scope="col">Sig<sub>ano</sub><sup class="footnote">[2]</sup></th>
            </tr>
        </thead>
        <tbody>
        {% with object.details.shell_statistics as stats %}
        {% zip stats.shell  stats.completeness  stats.r_meas stats.r_mrgdf stats.i_sigma stats.sig_ano as tbl %}
        {% for rows in tbl %}
            <tr>
            {% for col in rows %}
                <td>{{col|floatformat:"2"}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        {% endwith %}
        </tbody>
        <tfoot>
        <tr><td colspan=6></td></tr>
        </tfoot>
    </table>
    <div class="tablenotes">
        <h3>Notes</h3>
        <dl class="note-list">
            <dt>[1] -<dt>
            <dd>
                Mean of intensity/Sigma(I) of unique reflections
                (after merging symmetry-related observations). Where Sigma(I) is
                the standard deviation of reflection intensity I estimated from sample statistics.
            </dd>
            <dt>[2] -<dt>
            <dd>
                mean anomalous difference in units of its estimated standard
                deviation (|F(+)-F(-)|/Sigma). F(+), F(-) are structure factor estimates
                obtained from the merged intensity observations in each parity class.
            </dd>
        </dl>
    </div>
    {% endif %}

    <div class="clear spacer"></div>

    {% if object.details.frame_statistics or object.details.diff_statistics %}
	    <h3>Statistics of final reflections by frame number and frame number difference</h3>
	    {% with object.details.frame_statistics as data %}
		    {% if data.scale or data.mosaicity %}<div id="frame-1" class="report-flot" style="height: 175px;"></div>{% endif %}
		    {% if data.divergence or data.i_sigma %}<div id="frame-2" class="report-flot" style="height: 175px;"></div>{% endif %}
		    {% if data.unique or data.r_meas %}<div id="frame-3" class="report-flot" style="height: 175px;"></div>{% endif %}
		    {% if object.details.diff_statistics %}<div id="diff" class="report-flot" style="height: 300px;"></div>{% endif %}
		    <div class="tablenotes">
		    <h3>Notes</h3>
		        <p>The above plot was calculated by XDSSTAT. See See Diederichs K. (2006) Acta Cryst D62, 96-101.</p>
		        <dl class="note-list">
		        <dt>Divergence - </dt><dd>Estimated Standard Deviation of Beam divergence</dd>
		        <dt>R<sub>d</sub> - </dt><dd>R-factors as a function of frame difference. An increase in R-d with frame difference is suggestive of radiation damage.</dd>
		        </dl>
		    </div>
		{% endwith %}
	{% endif %}


    <h3>Wilson Plot</h3>
    <div id="wilson" class="report-flot" style="height: 400px;"></div>
    <div class="clear spacer"></div>

    <h3>L Test for twinning</h3>
    <div id="twinning" class="report-flot" style="height: 400px;"></div>
    <div class="clear spacer"></div>
    <div class="tablenotes">
        <h3>Notes</h3>
        <p>L-test: See J. E. Padilla and T. O. Yeates, Acta Cryst. D59, 1124-1130 (2003)</p>
        <p>The above L-Test was calculated using PHENIX.XTRIAGE. The test uses acentric data only.</p>
        {% if object.details.twinning_l_zscore %}
        <p>The L-test multivariate Z-score for this dataset is <b>{{object.details.twinning_l_zscore|floatformat:"-3"}}</b>. 
        The Z-score should be less than 3.5 for good data.</p>
        {% endif %}                        
    </div>
    
    {% if object.details.twin_laws %}

    <h3>Possible twin laws and corresponding twin fractions</h3>
    <table class="rtable full">
        <thead>
            <tr>
                <th scope="col">Operator</th>
                <th scope="col">Type</th>
                <th scope="col">R<sub>obs</sub></th>
                <th scope="col">Britton fraction</th>
                <th scope="col">H-test fraction</th>
                <th scope="col">Max.Likelihood fraction</th>
            </tr>
        </thead>
        <tbody>
        {% for row in object.details.twin_laws %}
            <tr>
            <td>{{row.operator}}</td>
            <td>{{row.type}}</td>
            <td>{{row.r_obs|floatformat:"2"}}</td>
            <td>{{row.britton_alpha|floatformat:"3"}}</td>
            <td>{{row.H_alpha|floatformat:"3"}}</td>
            <td>{{row.ML_alpha|floatformat:"3"}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr><td colspan=6></td></tr>
        </tfoot>
    </table>
    <div class="clear spacer"></div>
    <div class="tablenotes">
        <h3>Notes</h3>
        <p>The above analysis was calculated using PHENIX.XTRIAGE. See the detailed output in xtriage.log.</p>
        <p>Twin-law types: PM - Pseudo-merohedral, M - Merohedral</p>                      
        {% if object.details.twinning_l_zscore < 3.5 %}
        <p>The intensity statistics appear to be good. A high twin fraction for any of the twin laws above may indicate wrong symmetry.</p>
        {% endif %}                        
    </div>
    {% endif %}

</div>
</div>
<!-- end maincol -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
    
        function displayFiles(display) {
            var files = '';
            if(display) {
	            {% for file in object.url|get_ls:object.details.output_files %}
	                files = files + '<a href="/download/files/{{ object.url }}/{{ file }}" title="Download {{ file }}">{{file}}</a>';
	                {% if not forloop.last %}files = files + ', ';{% endif %}
	            {% endfor %}
	            var more = "none", less = "";
	        } else {
	            var more = "", less = "none";
	        }
	            jQuery(".more").css("display", more);
	            jQuery(".less").css("display", less);
	            jQuery("#all-files").css("display", less);
	            jQuery("#all-files").html(files);
        }
        jQuery(document).ready(function() {
            displayFiles(false);
            
            var c = ["#FF0000","#0000FF","#007700","#B300B2","#00CCCC","#CCCC0C"];
            var lines = { show: true, lineWidth: 1};
            var points = { show: true, radius: 0.75, fill: true };
            var laxis = { position: "left", labelWidth: 20, reserveSpace: true, tickColor: "#dddddd" };
            var raxis = { position: "right", labelWidth: 20, reserveSpace: true, tickColor: "#dddddd" };
            
            /**************** Plot Error Stats ********************************/
            var chi_sq = {{object.details.standard_errors.chi_sq|get_data}};
            var i_sigma = {{object.details.standard_errors.i_sigma|get_data}};
            var r_obs = {{object.details.standard_errors.r_obs|get_data}};
            var r_exp = {{object.details.standard_errors.r_exp|get_data}};
            var shell_labels = [];
            {% for r in object.details.standard_errors.shell %}{% if forloop.counter0|divisibleby:"8" %}
                shell_labels.push([{{forloop.counter0}},{{r|floatformat:2}}]);
            {% endif %}{% endfor %}

            plot_data($("#stderr-chi2"), [
                { data: chi_sq, color: c[0], yaxis: 1, lines: lines },
                { data: i_sigma, color: c[1], yaxis: 2, lines: lines }
                ], shell_labels, [
                    $.extend(laxis, { axisLabel: 'Chi\u00B2', color: c[0] }),
                    $.extend(raxis, { axisLabel: 'I/Sigma', color: c[1] })], '', [], false);

            plot_data($("#stderr-rfac"), [
                { data: r_obs, color: c[2], yaxis: 1, label: 'R-observed', lines: lines },
                { data: r_exp, color: c[3], yaxis: 1, label: 'R-expected', lines: lines }
                ], shell_labels, [
                    $.extend(laxis, { axisLabel: 'R-factors (%)', color: null }),
                    { position: "right", labelWidth: 38, reserveSpace: true}], '', [], false);
            
            /**************** Plot Shell Stats ********************************/
            var completeness = {{object.details.shell_statistics.completeness|get_data}};
            var r_meas = {{object.details.shell_statistics.r_meas|get_data}};
            var cc_half = {% if 'r_mrgdf' in object.details.shell_statistics.keys %}{{object.details.shell_statistics.r_mrgdf|get_data}}
                        {% else %}{{object.details.shell_statistics.cc_half|get_data}}{% endif %};
            var i_sigma = {{object.details.shell_statistics.i_sigma|get_data}};
            var sig_ano = {{object.details.shell_statistics.sig_ano|get_data}};
            var shell_labels = [];
            {% for r in object.details.shell_statistics.shell %}{% if forloop.counter0|divisibleby:"1" %}
                shell_labels.push([{{forloop.counter0}},{{r|floatformat:2}}]);
            {% endif %}{% endfor %}
            
            plot_data($("#shell-comp"), [
                { data: completeness, color: c[0], lines: lines, yaxis: 1 },
                { data: r_meas, color: c[1], lines: lines, yaxis: 2, label: 'R-meas' },
                { data: cc_half, color: c[2], lines: {show: true, lineWidth: 0.5 }, yaxis: 2, label: {% if 'r_mrgdf' in object.details.shell_statistics.keys %}'R-mrgd-F'{% else %}'CC<sub>1/2</sub>'{% endif %} }
                ], shell_labels, [
                    $.extend(laxis, { axisLabel: 'Completeness (%)', color: c[0], min: 0, max: 100 }),
                    $.extend(raxis, { axisLabel: 'R-factors (%)', color: null, max: 100 })], '', [], false);
            $.extend(laxis, { max: null });
            $.extend(raxis, { max: null });

            plot_data($("#shell-isig"), [
                { data: i_sigma, color: c[3], lines: lines, yaxis: 1 },
                        { data: sig_ano, color: c[4], lines: lines, yaxis: 2 }
                ], shell_labels, [
                    $.extend(laxis, { axisLabel: 'I/Sigma(I)', color: c[3], min: 0 }),
                    $.extend(raxis, { axisLabel: 'SigAno', color: c[4] })], 'Resolution Shell', [], false);
            $.extend(laxis, { min: null });

            /**************** Plot Frame Stats ********************************/
            {% with object.details.frame_statistics as data %}
                {% with data|get_from_key:'frame_no' as frame_no %}
                    var scale = {{data.scale|get_data:frame_no}};
                    var mosaicity = {{data.mosaicity|get_data:frame_no}};
                    var divergence = {{data.divergence|get_data:frame_no}};
                    var i_sigma = {{data.i_sigma|get_data:frame_no}};
                    var r_meas = {{data.r_meas|get_data:frame_no}};
                    var unique = {{data.unique|get_data:frame_no}};
                {% endwith %}
                       
                {% if data.scale or data.mosaicity %}                       
		            plot_data($("#frame-1"), [
		                {% if data.scale %}{ data: scale, color: c[0], yaxis: 1, lines: {show: false}, points: points },{% endif %}
		                {% if data.mosaicity %}{ data: mosaicity, color: c[2], yaxis: 2, lines: {show: false}, points: points }{% endif %}
		                ], null, [
		                    $.extend(laxis, { axisLabel: 'Scale Factor', color: c[0] }),
		                    $.extend(raxis, { axisLabel: 'Mosaicity', color: c[2] })], '', [], false);
                {% endif %}
                {% if data.divergence  or data.i_sigma %}	
		            plot_data($("#frame-2"), [
		                {% if data.divergence %}{ data: divergence, color: c[3], yaxis: 1, lines: {show: false}, points: points },{% endif %}
		                {% if data.i_sigma %}{ data: i_sigma, color: c[1], yaxis: 2, lines: {show: false}, points: points }{% endif %}
		                ], null, [
		                    $.extend(laxis, { axisLabel: 'Divergence', color: c[3] }),
		                    $.extend(raxis, { axisLabel: 'I/Sigma(I)', color: c[1] })], '', [], false);
	            {% endif %}
	            {% if data.r_meas or data.unique %}
		            plot_data($("#frame-3"), [
		                {% if data.r_meas %}{ data: r_meas, color: c[4], yaxis: 1, lines: {show: false}, points: points },{% endif %}
		                {% if data.unique %}{ data: unique, color: c[5], yaxis: 2, lines: {show: false}, points: points }{% endif %}
		                ], null, [
		                    $.extend(laxis, { axisLabel: 'R-meas', color: c[4] }),
		                    $.extend(raxis, { axisLabel: 'Unique Reflections', color: c[5] })], 'Frame Number', [], false);     
	           {% endif %}
           {% endwith %} 

            /**************** Plot Diff Stats *********************************/
            {% if object.details.diff_statistics %}
	            {% with object.details.diff_statistics as data %}
		            var all = {{data.rd|get_data:data.frame_diff}};
		            var friedel = {{data.rd_friedel|get_data:data.frame_diff}};
		            var non_friedel = {{data.rd_non_friedel|get_data:data.frame_diff}};
	            {% endwith %}
	            plot_data($("#diff"), [
	                { data: all, color: c[0], label: "All", lines: lines },
	                { data: friedel, color: c[3], label: "Friedel", lines: lines },
	                { data: non_friedel, color: "#000000", label: "Non-Friedel", lines: lines }
	                ], null, [
	                    $.extend(laxis, { axisLabel: 'R<sub>d</sub>', color: null }),
	                    {position: "right", labelWidth: 38, reserveSpace: true}], 'Frame Difference', [], false);                
            {% endif %}

            /**************** Plot Wilson***** ********************************/
            
          	var wilson_obs = {{object.details.wilson_plot.mean_i|get_data}};
          	var wilson_exp = {{object.details.wilson_plot.expected_i|get_data}};
          	var shell_labels = [];
            {% for dat in object.details.wilson_plot.inv_res_sq %}{% if forloop.counter0|divisibleby:"4" %}
                shell_labels.push([{{forloop.counter0}},{{dat|sq_root|floatformat:2}}]);
            {% endif %}{% endfor %}
            plot_data($("#wilson"), [
                { data: wilson_obs, color: c[0], points: points, lines: lines, label: "&lt;I&gt;<sub>observed</sub>" }{% if object.details.wilson_plot.expected_i %},
                { data: wilson_exp, color: c[1], points: points, lines: lines, label: "&lt;I&gt;<sub>expected</sub>"}{% endif %}
                ], shell_labels, [
                	$.extend(laxis, { axisLabel: '&lt;I&gt;', color: null, labelWidth: 38 })], 'Resolution', [], true, legend_pos='ne');
            
            /**************** Plot Twinning Analysis **************************/
            {% if object.details.twinning_l_test %}
            {% with object.details.twinning_l_test as data %}
	            var observed = {{data.observed|get_data:data.abs_l}};
	            var untwinned = {{data.untwinned|get_data:data.abs_l}};
	            var twinned = {{data.twinned|get_data:data.abs_l}};
	        {% endwith %}
            plot_data($("#twinning"), [
                { data: observed, color: c[3], points: points, lines: lines },
                { data: untwinned, color: c[0], lines: lines },
                { data: twinned, color: c[1], lines: lines }
                ], null, [$.extend(laxis, { axisLabel: 'P(L>=1)', max: 1 })], '|L|', [], false);
                
            var stats = '';
            {% with object.details.twinning_l_statistic as lstat %}
                stats = stats + '<a style="color: '+ c[3]+';">Observed: {{lstat.0|floatformat:3}}</a><br>'
                stats = stats + '<a style="color: '+ c[0]+';">Untwinned: {{lstat.1|floatformat:3}}</a><br>'
                stats = stats + '<a style="color: '+ c[1]+';">Perfect Twin: {{lstat.2|floatformat:3}}</a>';
            {% endwith %}
            $("#twinning").append('<div class="annotate" style="right:100px; top:230px;">'+stats+'</div>');
            {% endif %}
        });
    </script>
{% endblock %}


            
           
             
