{% extends "lims/entries/shipping_entry.html" %}
{% load humanize %}

{% block title %} Shipment {{ shipment.identity }}{% endblock %}
    {% block entry-toolbox%}
                <span onclick="load_page('entry-scratchpad', '../{{object.id}}/send/', '');" class="edit-tool">Send</span>
    {% endblock %}
{% block entry-summary%}
{% include "lims/entries/shipment_summary.html" %}
{% endblock %}

{% block entry-info %}
{# include "lims/entries/shipment_info.html" #}
{% endblock %}

{% block entry-contents %}
{% include "lims/entries/associated_dewars.html" %}
{% endblock %}

{% block entry-scratchpad %}
{% include "lims/entries/shipment_treeview.html" %}
{% endblock %}

