{% load humanize %}
{% with object as shipment %}
    <div class="header">
    <table width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td nowrap="nowrap">
        {{ shipment.identity }}
        </td>
        <td style="border-right: 1px solid #eee;"></td>
        <td style="width: 100%;">
        <div class="h3">{{ shipment.label }}</div>
        <i>{{ shipment.comments }}</i> 
        </td>
    </tr>
    </table>
    </div>
    
        <table class="entrysummary" cellpadding="0" cellspacing="0" border="0" width="60%" style="float:left; clear: left;">
        <tr valign="top"><th>Created:</th><td>{{shipment.created|naturalday}} at {{shipment.created|date:"H:i T"}}</td></tr>
        <tr valign="top"><th>Modified:</th><td>{{shipment.modified|naturalday}} at {{shipment.modified|date:"H:i T"}}</td></tr>
        {% if shipment.date_shipped %}
        <tr valign="top"><th>Shipped:</th><td>{{shipment.date_shipped|naturalday}} at {{shipment.date_shipped|date:"H:i T"}}</td></tr>
        {% if shipment.date_received %}
        <tr valign="top"><th>Received:</th><td>{{shipment.date_received|naturalday}} at {{shipment.date_shipped|date:"H:i T"}}</td></tr>
        {% if shipment.date_returned %}
        <tr valign="top"><th>Returned:</th><td>{{shipment.date_returned|naturalday}}</td></tr>
        {% endif %}
        {% endif %}
        {% endif %}
        <tr valign="top"><th>Status:</th><td>{{shipment.get_status_display}}</td></tr>
        {% ifequal shipment.status shipment.STATES.DRAFT %}
            <tr valign="top"><th>Shippable:</th><td>{{shipment.shipping_errors|yesno:"No,Yes"}}
            {% if shipment.shipping_errors %}
                <span style="color: red"> : {{shipment.shipping_errors.0}}</span></td></tr>
            {% endif %}
        {% endifequal %}
        </td></tr>
        </table>  
        <img src="/img/shipment.png" style="float:right;clear: right; margin: 0.5em; padding-right: 2em;"/> 
        <div style="clear: both;"></div>
{% endwith %}
