<div class="box4">
<div class="boxcontent">
<div class="heading">
    <h2>{{info.title}}</h2>
    {{info.sub_title}}
</div>
{% if info.message %}
    <div>{{info.message}}</div>
{% endif %}
<form 
        method="post"
        id="lims-form" 
        class="objform ajax"
        action='{{info.action}}'  
>{% csrf_token %}
<ul>
<li><input id="id_id" type="hidden" value="{{id}}" name="id"/></li>
<li class="submit-row">
<input id='submit_btn' type="submit" value="{{confirm_action}}" name="_confirmed" /></li>
</ul>
</form>
<img src="/img/blank.png" width=1 height=1 onload="init_form('lims-form'); " />
</div>
</div>

